[2020-06-09 21:43] leroidauphin opened #398 "Remove imports from `__future__`"
The Python standard library includes a module called `__future__`, which contains function definitions which document (among other things) when breaking changes were introduced into the Python language. This module was of particular value around the Python 2/Python 3 boundary.

The TF-Agents project no longer supports Python 2, and includes code which is only valid in Python 3. Given that there is

[2020-06-10 12:23] TylerHomer commented on #396
Thank you @leroidauphin. Works great now.

[2020-06-10 12:23] #396 closed, assigned to nobody

[2020-06-11 13:55] vonadz opened #400 "AttributeError: 'NoneType' object has no attribute 'dumps' for tf_py_environment"
OS: 5.6.15-arch1-1 (Arch Linux)
Python: 3.8
Pip list:

Following this guide: https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial

These lines:
`train_env = tf_py_environment.TFPyEnvironment(train_py_env)
eval_env = tf_py_environment.TFPyEnvironment(eval_py_env)`

Produce this error:
`Exception ignored in: <function Pool.__del__ at 0x7f4ba9686670>
Traceback (most recent call last):
  File "/

[2020-06-12 00:24] vonadz commented on #400
This same error pops up with non-nightly builds, in a virtual env, on the same machine, with the following packages:

[2020-06-12 14:32] RossKohler opened #401 "Extending Replay Buffer to prioritise certain trajectories"
Could someone provide me advice on how I could extend the ReplayBuffer class found here https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/replay_buffer.py to prioritise sampling trajectories with a metric such as those with higher rewards? Is there any documentation or examples that can help me? Is extending the ReplayBuffer class the correct way to achieve this?

Thanks!

[2020-06-19 11:22] fedor-chervinskii opened #402 "Is there a way to keep Replay Buffer on disc rather than in RAM?"
Basically, save the episodes on disc, maybe indexing it properly (tf-records?) and then loading batches from storage (in parallel to training)? Or is there other way how we can manage Replay Buffer with images that do not fit into RAM?

[2020-06-19 15:51] oars commented on #402
Take a look at: https://github.com/tensorflow/agents/blob/master/tf_agents/utils/example_encoding_dataset.py

You can save data to disk when doing data collection and then use dataset tools to train from it.

[2020-06-19 15:51] #402 closed, assigned to nobody

[2020-06-21 22:51] qw245roar commented on #186
Any updates on this?

[2020-06-23 17:21] tfboyd commented on #398
This is totally logical. Unfortunately, we have a couple teams still using Python2 internally our internal build system works a bit differently than most and they cannot really pin to a specific "release" like an external user as a temp solution. My educated guess is we can remove __future__ in 2021.

[2020-06-24 07:33] dtransposed opened #404 "Getting TFRecordObserver to work properly in the training routine."
This is sort of the follow-up to the issue:
#402

Hey @oars thank your for your help. It is so great that the solution has already been implemented. I have followed your advice and successfully implemented the functionality.
However, I still have three questions related to the "write-to-disk" replay buffer properties:

1. In the code you have provided, I fail to see some argument, which will allow

[2020-06-24 16:21] oars commented on #404
The `example_dataset` utilities are not meant to be used as an actual replay buffer, but more as a way to generate datasets that can be used for off-policy learning.

We will be releasing examples as you suggest with an actor/learner architecture that simplifies doing distributed work. For data management across jobs we will rely on https://github.com/deepmind/reverb take a look at it as it is alr

[2020-06-24 19:59] summer-yue commented on #401
We are working on open sourcing our new replay buffer using Reverb(https://github.com/deepmind/reverb) that supports your use case. We are looking at a July release. Stay tuned :)

[2020-06-25 04:13] summer-yue commented on #390
Hi, thanks for raising this! We are aware that many replay buffers can contain boundary conditions that get processed by the agent. The agents would mask out these boundary conditions. Agree that this is a bit complex, but shouldn't be causing any problems.

For our newest version of API that we plan to soft launch in July, by default the replay buffer will contain full episodes without boundary t

[2020-06-25 04:13] #390 closed, assigned to nobody

[2020-06-25 04:23] summer-yue commented on #387
Sorry about the delay. Sounds like you have a pretrained saved model (trained on some simulated environment similar to your practical environment with proper time steps), and you want to try to deploy it in your environment?

If that's the case, you can convert the observations and rewards to a time step. That should be straight forward. You can manually create the tuple, with the same format as t

[2020-06-25 04:50] summer-yue commented on #394
Not 100% sure on this one but I thought SquashToSpecNormal from tfp can not be converted to a CompositeTensor and saved. I'm not sure if TFP plans to support this (or whether it's possible to support).

I have seen code that wraps sac_agent.policy with a GreedyPolicy before saving that works.
+Oscar who knows more about this

[2020-06-25 06:19] dtransposed commented on #404
Thanks! Could you estimate when can we expect those actor/learners examples in the master?

[2020-06-25 08:02] RossKohler commented on #401
Looking forward to it! thanks @summer-yue 🥳

[2020-06-25 15:10] oars commented on #404
Our goal is to have most pieces open sourced by end of July. We will be adding an experimental directory while these changes go out to make it clear it's still WIP.

[2020-06-25 15:10] #404 closed, assigned to nobody

[2020-06-25 16:05] oars commented on #394
Can you try also updating tensorflow_probability?

[2020-06-25 23:12] tanliboy opened #405 "Do we have a plan to develop a GAIL agent?"
I noticed that we are developing the `BehavioralCloningAgent`. Do we have a plan to develop [GAIL](https://arxiv.org/abs/1606.03476) agent as well?

[2020-06-25 23:56] leroidauphin opened #406 "common.create_variable does not pass the dtype to the initializer"
The `common.create_variable` method accepts both a `dtype` argument and an `initializer` argument. The initializer is required to be a `callable`, where the `__call__` method accepts a `shape` argument. If an initializer is passed to this method, it is not possible to specify a dtype other than the default dtype of the initializer.

[2020-06-25 23:58] leroidauphin commented on #406
There are three "initializer" interfaces in TensorFlow: `init_ops.Initializer`, `init_ops_v2.Initializer` and `tf.keras.initializers.Initializer`. Each of these objects is a `callable`, where the `__call__` method requires a shape as the first argument, but all of these also accepts an optional `dtype`.

The `common.create_variable` method defines a default value for the `dtype`, and so it would a

[2020-06-26 12:45] jrabary opened #408 "How to use PPO with minibatch and compute_value_and_advantage_in_train ?"
The master version of PPO seems to have a new option to train PPO on mini batches.
In the documentation we have

[code]

I'm trying to figure out how it works and what is missing currently.

Here is my first attempt :

After setting `compute_value_and_advantage_in_train=False` I changed the `train_step` in the PPO V2 example as follow:

[code]

This produces the following error:

[code]

What I un

[2020-06-26 14:01] jrabary commented on #408
Here is the current change I made for the example. I'm not sure whether it is the best solution :

[code]

[code]

[2020-06-27 01:05] summer-yue commented on #408
Thanks for the question. You can use `tf_agent.preprocess_sequence` to perform advantage calculation on a sequence of trajectories. This is the public method that calls `agent._preprocessing` under the hood. It's defined in the TFAgent base class. Note that preprocessing needs to happen before the data gets split into mini batches (since advantage calculation requirers longer sequences).

The erro

[2020-06-27 06:46] jrabary commented on #408
Thanks for your answer. It really helps.

I have some more thoughts

I understand this fact. So ideally, I should run `preprocess_sequence` with the output of `replay_buffer.gather_all`. I found two problems here: 1) `gather_all` is marked deprecated, 2) `dataset.map` is for me the best way to go but on has somehow to split the data here.

What about having a callback in the driver that gets calle

[2020-06-27 06:53] jrabary commented on #408
Just found this in the documentation of `ReplayBuffer`

[code]

What I understand is that I just have to pass `preprocess_sequence` here and voilà! Am I correct ?

Further more, in this situation ` EpisodicReplayBuffer` is maybe the best option.

[2020-06-27 18:57] summer-yue commented on #408
Good questions. I am not sure which replay buffer you are using right now, but very likely that `replay_buffer.as_dataset()` with `sequence_preprocess_fn` isn't supported. We are pushing out a new replay buffer in July using Reverb (https://deepmind.com/research/open-source/Reverb) and that'd support the `sequence_preprocess_fn` feature very well.

For now, what you have `as_dataset` with `num_ste

[2020-06-29 16:42] mcmah309 commented on #201
I have this same issue. How did you resolve it?

[2020-06-29 17:05] mcmah309 opened #409 "TimeStep Equivalent Value Error"
I am getting an error between the expected timestep and the given timestep using `utils.validate_py_environment(environment, episodes=5)` although they seem to be exactly the same. This is the error output:

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-232-65ada7661b2e> in <mo

[2020-06-29 17:08] mcmah309 commented on #409
I believe the error was the shape should be (1,100,35) not (100,35)

[2020-06-29 17:08] #409 closed, assigned to nobody

[2020-06-30 16:48] dtransposed opened #410 "Creating a dataset of trajectories using dm-reverb."
First of all I wanted to thank you guys so much for this repository and @oars for the help so far.
As suggested in my previous issue #404 but also #408 or #401, you are planning to incorporate Deepmind's Reverb framework for data management. This is why I am hoping that you could help me with my small issue.

As suggested by @oars in #404, I have started playing with Reverb to alleviate one of my

[2020-06-30 18:18] summer-yue commented on #410
I haven't seen the segfault you described, but here's how we set the dtypes and shapes:

[code]

If that didn't help, you could try making a small example that reproduces this problem, and file an issue for the Reverb folks.

[2020-06-30 18:32] mcmah309 opened #411 "'TensorSpec' object has no attribute 'maximum' In call to configurable 'DdpgAgent'"
I am trying to declare a ddpg agent. When I run this code:

`input=tf.TensorSpec((1,100,35), dtype=tf.dtypes.float32, name=None)
out=tf.TensorSpec((1,), dtype=tf.dtypes.float32, name=None)
#input=array_spec.BoundedArraySpec((1,100,35), dtype=np.float32, name=None, minimum=0,maximum=1)
#out=array_spec.BoundedArraySpec((1,), dtype=np.float32, name=None, minimum=0,maximum=96)

actor=agents.ddpg.actor

[2020-06-30 19:19] sguada commented on #411
I think you need to use

[code]

Also make sure that `train_env.action_spec()` returns `BoundedSpecs`

[2020-06-30 21:22] mcmah309 commented on #411
Thank you that fixed it. I thought there had to be a bounded tensor spec but I could not find any mention of it on the tensorflow specs page. Here is where its located for anyone wondering `from tensorflow.python.framework import  tensor_spec` . Is there a way to discretize the action space in tensorflow?

[2020-06-30 21:30] sguada commented on #411
you can also use `from tf_agents.specs import tensor_spec`

You can wrap the PyEnvironment with [`ActionDiscretizeWrapper`](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py#L332)

[2020-06-30 21:54] mcmah309 commented on #411
When you say `BoundedSpecs` do you mean `BoundedArraySpec`? I do not see it in the docs either.
I was thinking more so for the agent, because I am getting this error with the changes you suggested to the code above and I'm not sure how to resolve it. My environment is already discretized.

`---------------------------------------------------------------------------
ValueError

[2020-06-30 21:54] renan-cunha commented on #374
Maybe is a browser problem? Here is working fine
![image](https://user-images.githubusercontent.com/32102378/86180748-221f6400-bb03-11ea-96f6-98d12d98b79d.png)

[2020-06-30 22:05] sguada commented on #411
Sorry DDPGAgent only works for continuous and bounded action spaces, aka they are defined as as bounded range of floats `[-1.0, 1.0]` and not discretize space .

Yeah for environments I meant `BoundedArraySpec`

[2020-06-30 22:25] mcmah309 commented on #411
Okay thank you for the help!

[2020-06-30 22:25] #411 closed, assigned to nobody

[2020-07-01 09:51] dtransposed commented on #410
Hey @summer-yue!
Thanks for your help. I have tried to reproduce the problem using minimal example. Could you take a look?
https://github.com/dtransposed/TF-Agents_reverb_investigation/blob/master/investigation.ipynb

Edit: Perhaps I should also check my environment? Because dm requires TF 2.3 (nightly), I am also using current TF-Agents nightly release. This could also be a possible source of som

[2020-07-01 17:22] onurcanbektas commented on #258
Have you been able to solve the issue? and if so how?

[2020-07-01 17:47] IbraheemNofal commented on #258
I unfortunately wasn't able to. I ended up using a different reinforcement learning library with a different DQN implementation. Though looking back at it now, I probably wasn't shaping my observations correctly at the time. It'd help if you posted your configuration, showing what your observations look like and the specific error message you're getting, as that might shed more light on the issue

[2020-07-01 17:53] onurcanbektas commented on #258
In my case, this is the shape of the `observation_spec`

`BoundedTensorSpec((10,10), np.int32, minimum=0, maximum=2)`

and this is my custom agent class

class singleAgent(DqnAgent):

[code]

and in the end, I am calling them like this

[code]

where the `act` method is implemented like

[code]

The exact error message is the following

So, basically it is failing in the `policy.action(time_step,

[2020-07-01 17:54] mcmah309 commented on #362
Any update on the prioritized replay buffer release?

[2020-07-01 18:55] IbraheemNofal commented on #258
I haven't dealt a lot with the TF-Agents or TF in general, as I use a different library, but I think the issue lies within your observation spec, where your observations are a Tensor of rank 2, meaning it has 2 dimensions, while it expects a 3 dimensional shape, probably because your network uses a 2D convolutional neural net which takes input tensors of rank 3 (rank 4 actually if you count the ba

[2020-07-01 19:25] onurcanbektas commented on #258
@IbraheemNofal  thanks you very much for the response; there is no convolutional layer, and the input shape is indeed `(10,10)`. I have just tried `(1,10,10)` but no avail; the error is the same.

[2020-07-01 19:44] summer-yue commented on #410
There is a typo in your example: **shapes=dtypes**

[code]

[2020-07-02 00:39] #374 closed, assigned to nobody

[2020-07-02 06:07] dtransposed commented on #410
Oh, that's embarrassing! Sorry for this. Just changed the typo and the minimal example is running smoothly, thank you so much! I think we can close!

[2020-07-02 18:26] #410 closed, assigned to nobody

[2020-07-03 01:41] mcmah309 opened #412 "Bandits Do Not Work With TF Wrapped Py Environments"
My code works when implementing and training an agent. When I try to add a bandit to my algorithm, I get a mismatch. I believe this is because bandits were made to work in base TF environments. My Environment is a python environment wrapped in a TF environment. The bandits compile with my environments `action_spec` and `time_step_spec`, same as my regular agent, but fail on execution. Is this an e

[2020-07-04 02:47] JCMiles commented on #394
last update:
tf_agents_nightly-0.6.0.dev20200702
tfp-nightly-0.11.0.dev20200703

the warning persist:

WARNING: Could not serialize policy.distribution() for policy "<tf_agents.policies.actor_policy.ActorPolicy object at 0x000001AAB69A1A88>". Calling saved_model.distribution() will raise the following assertion error: Unable to make a CompositeTensor for "tfp.distributions.SquashToSpecNormal("Acto

[2020-07-04 14:04] XiaomingY opened #414 "problem running bandits_tutorial.ipynb"
Under session "Training an Agent", I got the following error

Trajectory(step_type=tf.int32, observation=tf.int64, action=tf.int32, policy_info=(), next_step_type=tf.int32, reward=tf.float32, discount=tf.float32)
vs.
Trajectory(step_type=tf.int32, observation=tf.int32, action=tf.int32, policy_info=(), next_step_type=tf.int32, reward=tf.float32, discount=tf.float32)

I am very new to tf-agent and s

[2020-07-05 22:35] wookayin commented on #412
Could you please use backticks (```) to make the log messages more readable? Also, it would be helpful to provide a part of the code (your bandit environments and how you wrapped with the TFPyEnvironment wrapper), to better know your usage.

[2020-07-06 02:07] mcmah309 commented on #412
Here's is an example of one of the bandit algorithms I tried:

[code]

Environment:

[code]
Declare Env:
[code]

Some more information on the error:

[code]

Collect Step:
[code]

[2020-07-06 02:12] mcmah309 commented on #412
Depending one which bandit I use, the type of error is the same, but what threw the error changes.

[2020-07-07 20:16] summer-yue commented on #408
Seems like this is resolved?

[2020-07-09 23:06] summer-yue commented on #408
ReverbReplayBuffer is now open sourced! You may use that as a permanent solution now :)(https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/reverb_replay_buffer.py)

[2020-07-09 23:06] #408 closed, assigned to summer-yue

[2020-07-09 23:07] summer-yue commented on #401
Check out the newly open sourced Reverb Replay Buffer (https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/reverb_replay_buffer.py) that supports priorities! :D

[2020-07-09 23:07] #401 closed, assigned to summer-yue

[2020-07-10 11:41] JCMiles opened #415 "tensor_spec.sample_spec_nest with unique values"
Hi Team,

I'm working on a project where I'm dealing with sparse binary tensor as inputs.
To simplify my observation spec looks like this:

    observation_spec = tensor_spec.BoundedTensorSpec(shape=[5,], dtype=tf.int64, minimum=0, maximum=20)

Where the values in my observation represent the indices of non-zero values in the dense representation.
When I run a driver to collect data from the envir

[2020-07-10 12:11] mouadouad commented on #373
Thank you so much for your answers, I really appreciate it. Sorry for being late for my answer, I had to prepare my exams.
I will gladly try your recommandations. And hopefully it would work.
Thank you again!

[2020-07-10 12:54] JCMiles commented on #415
if there is no direct solution the only workaround I'm thinking about would be something like this

- create a sub class UniqueBoundedTensorSpec from BoundedTensorSpec  with a "unique'' param  in addition to min, max.
- wrap sample_spec_nest in a new func so it will be able to recognize the new class UniqueBoundedTensorSpec
- sample using the proposed function below.

      dense_dims=20
      bat

[2020-07-10 16:38] #406 closed, assigned to nobody

[2020-07-11 13:24] rschiewer opened #419 "ParallelPyEnvironment fails silently"
When I'm trying to use the PPO agent with a ParallelPyEnvironment, execution stops at the line of the environment instantiation and never returns from there:

[code]

The last logging message is :  `INFO:absl:Spawning all processes.` When debugging, I got the following error message:

[code]

I am using Windows 10 on my current workstation.
tf_agents version: 0.5
tensorflow version: 2.2.0

I am ha

[2020-07-13 00:03] NullVoxPopuli opened #420 "Is there a javascript version of this?"
I'm making an in-browser demonstration of reinforcement learning, and have been looking for something to use. There are a lot of standalone learning libs out there, but no examples of integrating with tensorflow neural networks

[2020-07-14 13:15] tdavchev opened #421 "Citing in LaTeX leads to error and may have bad formatting"
Current bibtex reference provided in Readme uses commas in author listing.

LaTeX interprets all comma separated names as first names which leads to using only author initials (see attached screen). This does not comply with some paper formatting conventions. Further, it may also result in: 'Error in .bib entry, “Too many commas”' error.

**Fix**: the provided referencing should list authors using

[2020-07-14 13:16] tdavchev commented on #421
<img width="369" alt="Screenshot 2020-07-14 at 14 15 57" src="https://user-images.githubusercontent.com/2574005/87430079-9581a500-c5dc-11ea-9ecb-c28f1affca18.png">

referencing with author listing using `and`

[2020-07-14 13:37] #139 closed, assigned to nobody

[2020-07-14 18:43] JCMiles commented on #415
solved with:

    observation_spec = tensor_spec.BoundedTensorSpec(
        shape=[ndims,],
        dtype=tf.int64,
        minimum=[0],
        maximum=[dense_dims])

      observation = tensor_spec.sample_bounded_spec(observation_spec, outer_dims=(x, y))

[2020-07-14 18:44] #415 closed, assigned to nobody

[2020-07-15 21:30] jasonmayes commented on #420
Hi there, I am not on the agents team (I am with TensorFlow.js), and have not used this before so this is by no means the official answer but wanted to provide some other thought starters too in the mean time in case they are of use.

If you can export this resulting model to saved model format in Python you can load SavedModel format in Node.js without any conversion which you could then talk to

[2020-07-15 22:25] NullVoxPopuli commented on #420
Thanks for the information! I'll take a look through the resources, but the goal of my side project is to be entirely contained within the browser -- I don't want to set up a python development environment :)
I'm using the WebGL backend with tensorflow right now, and performance is pretty good:tm:

I think I'll start with looking through tf_agent -- and maybe also this [q-learning blog post](https

[2020-07-16 01:32] ayansengupta17 commented on #387
Thanks @summer-yue. I exactly did the same thing and its working. I was just wondering if tf-agents had some similar in-built functions.

[2020-07-16 01:32] #387 closed, assigned to nobody

[2020-07-16 02:00] sguada commented on #387
We have some functions that create TimeSteps given observations, such as [time_step.restart](https://github.com/tensorflow/agents/blob/master/tf_agents/trajectories/time_step.py#L108) at the beginning of the episode, [time_step.transition](https://github.com/tensorflow/agents/blob/master/tf_agents/trajectories/time_step.py#L178) for the middle transitions and [time_step.termination](https://github

[2020-07-17 10:10] kleinli2020 commented on #91
tfp version =0.7 tensorflow==1.15 solved this issue

[2020-07-17 12:03] zroug opened #422 "`PPOAgent` ignores network.losses"
`PPOAgent` does not use regularization losses that are defined in the `value_net` and `actor_net`. It should add them to the other losses.

[2020-07-18 08:52] elliotwoods commented on #363
Any notes on what to do if you're not using a gym environment?
e.g. this complains with the `'tuple' object has no attribute 'rank'` error:

[code]

[2020-07-18 09:05] elliotwoods commented on #363
Fixed it.. need to use `TensorSpec` and `BoundedTensorSpec` instead of `ArraySpec`, e.g.:

[code]

[2020-07-18 19:33] ayansengupta17 opened #423 "How to use Tensorboard with tf-agents?"
Let us take the example of SAC minitaur tutorial. Now, I would like to see the loss of actor and critic on tensorboard. What is easiest way of doing it?
Thanks in advance

[2020-07-19 04:35] wookayin commented on #423
You can find a full example here: https://github.com/tensorflow/agents/blob/master/tf_agents/agents/sac/examples/v2/train_eval.py

Tensorboard event files will be written into `train_dir` (or `root_dir`), so you can launch tensorboard on the log directory.

[2020-07-19 19:05] veds12 opened #426 "Add Adavanced actor critic agent"
Several Deep RL agents that are missing such as A2C, A3C which can be added. Further work could also adding MARL agents such as MAA2C or MADDPG

[2020-07-20 06:22] saahiluppal opened #428 "why always num_steps = 2 while extracting dataset from replay buffer"
can anyone please explain me the significance of num_steps = 2 in the following snippet
[code]
I am watching that everyone is using num_steps = 2.

[2020-07-20 08:47] fteufel opened #429 "PPO Agent can't handle observations with a 0 dimension"
`[:, -1]` indexing in `compute_return_and_advantage` in `agents/ppo/ppo_agent.py` seems to cause an error when observations are of shape `(1,0)` , as -1 indexing in the 0 dimension is not permitted.

Such observations cause `self._collect_policy.apply_value_network` to return `value_preds` of shape:

 `<tf.Tensor: shape=(5, 0), dtype=float32, numpy=array([], shape=(5, 0), dtype=float32)>` (5 being

[2020-07-20 09:07] ayansengupta17 opened #430 "How to handle Drivers and Replay buffer while implementing separate policies for each action?"
I have a custom RL environment. The action space is (a1, a2).  I need to implement  two different algorithm for the policy of each action. Suppose a1 comes from policy p1 and a2 comes from policy p2.
I am not sure how to handle this in tf-agents. Even if I create two agents and two policies, what is the way of handling the drivers and Replay buffer?

[2020-07-20 09:42] fteufel commented on #429
sorry for opening, problem is arising from missing call to collect_driver.run().
Unrelated to PPO apparently.

[2020-07-20 09:42] #429 closed, assigned to nobody

[2020-07-20 10:33] saahiluppal opened #431 "Unable to use GPU with tf-agents"
Running this simple code takes same time on GPU and CPU, here is the link to colab
https://gist.github.com/saahiluppal/9c9501c92cc2c3e66ba957793b122d8c

Am i doing something wrong? Because as far as i know, tensorflow automatically runs on gpu if available.
Can anyone take a look?

[2020-07-20 10:33] ayansengupta17 commented on #428
Usually RL Agent needs both the current and next observation to compute the loss, so this code snippet samples two adjacent rows for each item in the batch by setting num_steps=2. So basically it sampling batches of 16 element, each with 2 timesteps.

[2020-07-20 10:39] #428 closed, assigned to nobody

[2020-07-20 17:54] rschiewer commented on #419
Duplicate of #219

[2020-07-20 18:20] kbanoop commented on #423
Thanks @wookayin for the answer. Closing the issue, please feel free to reopen if you have more questions.

[2020-07-20 18:20] #423 closed, assigned to nobody

[2020-07-20 18:23] kbanoop commented on #430
Depends on the specifics of the algorithm and policy. But one way could be to create a joint policy that takes your two policys in the constructor, and creates a compound action by applying the 2 policies to each time step.

[2020-07-20 18:26] kbanoop commented on #422
@summer-yue Can you PTAL at this?

[2020-07-20 18:26] wookayin commented on #431
Looks like CUDA-related logs are not appearing. I think the tensorflow package installed does not have GPU enabled. You may find the following APIs useful:

[code]

[2020-07-20 18:33] kbanoop commented on #421
Thanks for the suggestion!

[2020-07-20 18:42] summer-yue commented on #422
Could you please elaborate? I see that the `l2_regularization_loss` includes the regularization losses and was added to total_loss. The coefficients are default to 0, but if you wish to use regularization losses, you should be able to change the `value_function_l2_reg` and `policy_l2_reg`.

[2020-07-20 18:47] #421 closed, assigned to nobody

[2020-07-20 21:14] zroug commented on #422
I mean regularization that was added to the network with the `add_loss` function. For example activity regularization and other more advanced regularization can be done with this function.

The losses can be obtained with the member `losses` of the `Network` class. `DqnAgent` for example uses them instead of implementing its own regularization:

https://github.com/tensorflow/agents/blob/dc7417b577

[2020-07-20 21:18] summer-yue commented on #422
Oh I see. Thanks for explaining. So you are pointing at the inconsistency in the implementation between PPO and other agents in terms of where losses are calculated, not that PPO doesn't do regularization.

We are checking with the team. There might be some historical reasons for this.

[2020-07-20 21:26] jasonmayes commented on #420
Fair enough! In that case I shall leave this for the agents team to answer as I have not yet touched RL myself although some folk in the community are experimenting with it in JS for browser based self driving cars etc. If you do get it working though do let me know - would love to see any new creations.

[2020-07-20 21:42] zroug commented on #422
Yes, exactly.

I formulated it that way because I had a network that had its regularization defined during the creation of the network via said function and they weren't applied, which is a bit surprising. Regularization that is defined in the `PPOAgent` constructor is applied just fine.

A drawback of the current implementation is that it can only do l1 and l2 regularization and that it can't be

[2020-07-22 12:24] saahiluppal commented on #431
getting True for both the instructions.

It's weird, this new snippet is faster on cpu rather on cuda
you can find the new gist here.
https://gist.github.com/saahiluppal/9b93c149bae236606be044af3e48d7cf

Thanks

[2020-07-22 12:47] saahiluppal commented on #431
Everything seems right, i guess *drivers* are taking time to complete loops or something.

[2020-07-22 13:17] Strateus commented on #132
Is there any other solution for this? I want to use 2 critic and 1 actor network in a stochastic env, to avoid Q-learning overestimation, but cannot find any suitable agent for this.

[2020-07-22 17:18] kbanoop commented on #431
Its possible that GPU may not be much faster than CPU, or could be even slower (assuming things are actually running on GPUs). Sometimes when you have e.g. small networks, there is not much speed up from using a GPU and there is extra overhead from copying data back and forth in memory

[2020-07-23 00:16] sguada commented on #132
You can build a dedicated agent that has 2 critics and use the TD3 trick to avoid overstimulation, but you cannot directly propagate the gradients from the critics to the actor, unless the actor uses a continuous space, your will need to use re-parametrization tricks.

[2020-07-23 01:26] mjlbach opened #432 "Gym wrapper and preprocessing_combiner: KeyError: 0"
I'm wrapping a pybullet environment in the gym wrapper with multiple different observations returned from the environment
[code]

I'm trying to filter and feed certain observations into an actor network (some are withheld). I assumed I could use a preprocessing_combiner to do this.
[code]

However, I get a key error:

[code]

This is happening in the call to preprocessing_combiner in the encoding

[2020-07-23 02:46] Strateus commented on #132
Thanks, been trying to do it, but cannot understand how and where should i reparameterize.  Modified both TD3Agent and CriticNetwork in different ways, but i am probably getting the idea incorrectly:
1. for TD3Agent i removed two policies, keeping ActorPolicy with int32 spect and clip=True
2. removed add_noise_to_action from critic_loss
3. as i understand CriticNetwork should transform actions thr

[2020-07-23 17:32] Strateus commented on #132
I had a SAC example (here: https://github.com/kengz/SLM-Lab/blob/master/slm_lab/agent/algorithm/sac.py) and still it fails. I added this to `_actions_and_log_probs`:
[code]
where `_gumbel` is:
[code]
and added this to `actor_loss`:
[code]

I tried different combinations of parameters (for example i passed actions instead of action distribution), but it was failing with very different reasons (one

[2020-07-23 20:28] mcmah309 opened #433 "Model Hangs Indefinitely with ParallelPyEnvironment"
My model can run correctly with
[code]
But when I change it to this
[code]
The program hangs here forever with this output
[code]
When I use CTRL-C I get this
[code]
The last calls changes when I exit the program. This makes me think there is an error in tensorflow which makes it get stuck. Here's what I mean from another run.
[code]
I've also tried all the following
[code]
max_line_length is an o

[2020-07-24 22:25] Strateus commented on #275
Any updates on this? I am not using mentioned environments, but given there might be internal issues in the framework sounds concerning

[2020-07-25 00:08] sguada commented on #433
You need to pass a list of callables to `parallel_py_environment.ParallelPyEnvironment()`

[2020-07-25 02:00] mcmah309 commented on #433
I did that in the examples of what I tried at the bottom and I still have the same problem

[2020-07-27 00:48] wookayin commented on #419
@rschiewer In a recent commit 15c61b41254a739a22ed01ac3ec4aed0d060a38c, more multiprocessing support was added. This is available in tf-agents-nightly (not included in v0.5.0); could you please try with the latest nightly version and see what happens?

[2020-07-30 16:39] peidaqi opened #435 "Why do we need to fill the replay buffer with random actions before the main loop?"
It seems for the framework to work, we have to pre-fill the replay buffer with some random actions before we enter the main loop - or it will report a "TFUniformReplayBuffer is empty" error.

But I don't quite understand why this is the case? In the main loop, the program logic will first call "collect_step", and wouldn't that fill the replay buffer?

Also what is this magic number "steps=100"? It

[2020-08-02 18:50] darkmatter2222 opened #436 "ImportError: cannot import name 'network' from 'tensorflow.python.keras.engine'"
What I did:

Implementation:

Error:

    from tf_agents.agents.behavioral_cloning.behavioral_cloning_agent import BehavioralCloningAgent
  File "C:\Users\ryans\source\repos\venvs\Python375x64CPUTensorflow\lib\site-packages\tf_agents\agents\behavioral_cloning\__init__.py", line 17, in <module>
    from tf_agents.agents.behavioral_cloning import behavioral_cloning_agent
  File "C:\Users\ryans\sourc

[2020-08-02 20:44] signalprime commented on #436
Also searching for the replacement
Ref: [41988](https://github.com/tensorflow/tensorflow/issues/41988)

[2020-08-03 06:42] Axel-CH opened #437 "Multiprocessing usage for hyperoptimisation"
Hello,

I was using tf-agent succesfully with hyperopt in order to perform hyperparameter optimisation, with python 2.7.
To be able to use the latest features, I've decided to upgrade to python 3 and use the nightly version of tf-agent.

But now when I start my hyperopt worker I get this eror;

**Since my train_eval function is a python module directly called by hyperopt like this**:

    best = f

[2020-08-03 08:52] gsdt opened #438 "Can I use tensorflow 1.14.0 to load tf-agent model file for prediction?"
I would like to train an agent using tf-agent (latest version) and save completed model in a local file. After that, I want to use tensorflow 1.14.0 load this model file and using later. How can I do this?

[2020-08-04 17:47] v-sivak opened #439 "PPO bug on nested actions"
Hi!

Sorry I wasn't able to put together a simple repro for this issue, but I pinned down where the error happens and will try to describe it here.

I have an actor distribution network which produces nested action with `action_spec` like this
[code]
So it is a dictionary with 3 keys, and the values have different shapes (2,), (2,) and (1,). The problem in PPO arises in `ppo_utils.nested_kl_diverg

[2020-08-04 20:26] developeralgo8888 opened #440 "any colab notebook sample on creating Trading Environment for stock trading using TF-Agents ?"
Financial algorithmic Trading problem using RL

any colab Sample on creating Trading Environment for stock trading or Forex trading?

[2020-08-05 06:32] alek5k opened #441 "Action space conversion from OpenAI environment causes exception"
Tensorflow version: 1.15.0
TF-Agents version: 0.3.0

I am generating a PyEnvironment using an OpenAI environment:

`train_env = tf_agents.environments.gym_wrapper.GymWrapper(env)`

My action space in my openAI environment is:
[code]

When I try to run the code to instantiate a DQN agent as per the code below:
[code]
I get the following exception shown below. Ive also provided the data inside `acti

[2020-08-07 19:41] v-sivak commented on #439
Anyways, the fix is to replace in` ppo_utils.py`
[code]
with
[code]

[2020-08-12 02:41] Axel-CH opened #443 "Feature Request: support Priority Replay buffer with reverb in a parallel environment"
First of All,
Thank you for this awesome repo, It saved months of my life ;-)

I'm just letting you know that I'm following closely the ongoing implementation of the Priority Replay buffer with Reverb.
I already tried to use it on my workload but unfortunately I can't, because i'm using the "parallel_py_environment".

Regards,
Axel

[2020-08-13 04:25] summer-yue commented on #422
Sorry for the delayed response. We are not sure why this inconsistency exists, probably be some historical reasons. We could look into this once we get some bandwidth. Also feel free to submit a PR and contribute yourself :)

[2020-08-13 19:43] kuanghuei commented on #440
Thanks for the request, but I think we are unlikely to provide examples in that area in the foreseeable future.

[2020-08-13 19:43] #440 closed, assigned to nobody

[2020-08-13 19:52] kuanghuei commented on #435
Most of the RL algorithms have an initial exploration phase. Many of them perform random exploration although it could be other strategy. I think this is probably described in the DQN paper. Consider the number of initial steps a hyper-param. Feel free to re-open if this doesn't answer your question.

[2020-08-13 19:52] #435 closed, assigned to nobody

[2020-08-13 21:10] kuanghuei commented on #441
Hi that happens with python spec. Can you try wrapping with tf_py_environment and see if that solves the issue?
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py#L145

[2020-08-13 21:16] kuanghuei commented on #438
I think you can try that as you normally train and load checkpoints with the same tf version as long as you use the same TF-Agent version? Note that there's no guarantee as tf properties also change over time. Please feel free to reopen if this doesn't answer the question.

[2020-08-13 21:16] #438 closed, assigned to nobody

[2020-08-14 04:35] alek5k commented on #441
Thanks, that worked. In case people are searching, here is my solution:
[code]

[2020-08-14 04:35] #441 closed, assigned to nobody

[2020-08-14 12:26] Fax3D opened #444 "Cannot convert saved_model to onnx"
Hi,

after saving a model with `tf.saved_model.save`, i need to convert it to onnx format using tf2onnx, but i got the error:
`ValueError: make_sure failure: No signatures found in model. Try --concrete_function instead.`

What's wrong with my model?

Attached there's my python script using TF 2.3.0
[test.py.txt](https://github.com/tensorflow/agents/files/5074517/test.py.txt)

Thanks!

[2020-08-14 12:41] chnagy commented on #388
Hi Dimitry,

I just came across your issue, since I have currently the same problem. Could you provide your solution in case you managed to fix this? Can't figure out what I'm missing.

Thanks

[2020-08-14 18:54] kuanghuei commented on #444
It seems to me that this question should be asked on stackoverflow or, if it is a bug, on tf2onnx repo? We don't really have too much context to be able to help with this question.

[2020-08-14 18:54] #444 closed, assigned to nobody

[2020-08-14 18:55] kuanghuei commented on #443
Do you mean you run into an error? If so, can you provide error logs for more context?

[2020-08-16 01:49] camille-ryan opened #445 "v0.6.0 tag doesn't exist, breaks documentation"
Documentation at https://www.tensorflow.org/agents/api_docs/python/tf_agents is for the current release version, v0.6.0

A r.0.6.0 branch exists, but no tag for it. The "view source on GitHub" links at the documentation point to v0.6.0, which doesn't exist, so all of those links are broken.

For example, https://github.com/tensorflow/agents/blob/v0.6.0/tf_agents/trajectories/time_step.py#L42-L84

[2020-08-17 01:11] peidaqi opened #446 "Is there an efficient way to combine multiple timesteps from a PyEnvironment as one state?"
Hi, I'm trying to build a simulation environment for a recommender system, where multiple timesteps from the environment will be treated as one single state for the Agent to learn the next action - e.g. the user's satisfaction level depends on the time he/she spends on the last 5 videos he/she sees.

Right now I can get it to work by building a custom "real environment" that outputs one step at a

[2020-08-17 07:59] Axel-CH commented on #443
Hello,

I'm using a custom "train_eval' function inspired from "https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py"

Here is the code that I use to initialize the envs:
`tf_env = tf_py_environment.TFPyEnvironment(parallel_py_environment.ParallelPyEnvironment(parrallel_envs_train))
`
Code that initialize the priority replay buffer:
[code]

So, When i exe

[2020-08-17 13:06] DmitryBe commented on #388
hey chnagy,
step method of tf environemnt requires action to be in matrix form (batch, actions);
to make this example work you need to use `e_tf.step(np.array([[1,2]]))`

[2020-08-17 16:24] tfboyd commented on #445
That is my bad Adding it today I missed the final step. A little embarrassing as I also documented the steps and wrote the tool to make it easier.  I will ping back when fixed.

[2020-08-17 16:28] tfboyd commented on #445
Fixed and checked your link.

[2020-08-17 16:28] #445 closed, assigned to tfboyd

[2020-08-17 18:05] kuanghuei commented on #446
Can you use an environment wrapper to stack states using a deque? See the following example:

https://github.com/tensorflow/agents/blob/master/tf_agents/environments/atari_wrappers.py#L32

[2020-08-17 23:17] ben-arnao opened #447 "You are expected to return reward for *next* timestep?"
I'm going through the C51 colab and see that the bulk of where you fit the agent into an environment is in the collect_step method

[code]

I see in the documentation that it seems like the values for reward and discount from *next* time step are used to create the trajectory. Are the values for current time step simply just unused place holders then?

[2020-08-18 21:09] XirenZhou opened #448 "How to wrap a loaded policy as greedy?"
I trained an agent and save its policy using:
`
tf_policy_saver = policy_saver.PolicySaver(tf_agent.policy)
tf_policy_saver.save(policy_dir)
`
And I load it by `tf.saved_model.load(policy_dir)`.
When trying to wrap it as greedy: `deterministic_policy = greedy_policy.GreedyPolicy(policy)`, it throws:
`
AttributeError: '_UserObject' object has no attribute 'time_step_spec'
In call to configurable 'G

[2020-08-19 12:50] jrabary opened #449 "#Actor-Learner Some suggestions"
It's a great idea to have this API that uses the same concept as ACME. Ideally TF-Agent and ACME should be inter-operable.

For the naming `Actor` corresponds more to `EnvrionmentLoop` in ACME. For me `ActorLoop` is more suitable than `Actor`.

In the Learner you use object `Trigger` why not using `Callback`  to keep the same terminology as Keras. Somehow, `Learner` is the `Model` counter part of

[2020-08-19 14:10] TimbusCalin opened #450 "Are there any plans/did I miss possible implementation of Deep Convolutional Q-Learning agents (Doom and other video games?)"

[2020-08-19 17:15] camille-ryan commented on #450
Is this what you're looking for?

https://www.tensorflow.org/agents/api_docs/python/tf_agents/agents/DqnAgent

[2020-08-19 18:27] sguada commented on #450
See example for Atari here https://github.com/tensorflow/agents/blob/v0.6.0/tf_agents/agents/categorical_dqn/examples/train_eval_atari.py

[2020-08-19 18:27] #450 closed, assigned to nobody

[2020-08-20 03:32] ben-arnao opened #451 "Error when trying to use gpu"
[code]

When i set my buffer to use gpu i get error

[code]

[2020-08-20 08:26] bartokg commented on #414
Hi,
Sorry for the late response.
I just ran the tutorial, and for me it runs without any error. The printout shows the observation is of type int32. Do you still face the issue? Can you explain how to reproduce the error?

[2020-08-20 08:47] bartokg commented on #412
Bandit agents should work with tf-wrapped python environments.

From the error message
[code]
It seems that the mismatch between the structures is in the policy_info. The spec has the fields but their values are empty. The actual policy info stored in the replay buffer has to follow the structure: it needs to have the empty fields.

[2020-08-20 19:34] ben-arnao opened #453 "ValueError: Given `time_step` does not match expected `time_step_spec`"
I verify my TimeStep matches the specs provided with is_compatible_with() and still get this error. Please see the colab

https://colab.research.google.com/drive/1Y2yo0CQtP2TACEYShIOmWk_G-apDD63D#scrollTo=6bSyoIxfW9kv&line=5&uniqifier=1

[2020-08-20 21:45] #447 closed, assigned to nobody

[2020-08-20 21:46] #453 closed, assigned to nobody

[2020-08-23 07:02] karishnu commented on #94
I was trying to get the multi agent particle environment working with tf-agents too. This should do the job.

https://github.com/karishnu/tf-agents-multi-particle-envs/commit/e6d5e45e02c37ecebd73c05fcb0556e3e2b79331

@sguada  Is there a chance it could be supported officially? I could make a PR.

[2020-08-24 06:48] bing-zhao opened #454 "Can tf.agent policy return probability vector for all actions?"
I am trying to train a Reinforcement Learning agent using TF-Agent [TF-Agent DQN Tutorial](https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial). In my application, I have 9 discrete actions (labeled 0 to 8), and I would like to get the probability vector contains all actions calculated by the trained policy, and do further processing in other application environments. However, the policy on

[2020-08-24 16:54] #451 closed, assigned to nobody

[2020-08-24 16:57] ben-arnao opened #456 "What is time_step actually used for?"
I see in call() for encoding network time_step is deleted because it is unused. I'm trying to find where in the code time_step is used and what it actually means. For my problem, time_step doesn't really matter so i'd prefer to not use it.

[2020-08-24 17:00] ben-arnao opened #457 "Feature request make it easier to supply custom model"
I tried assigning my own layers to the post_processing variable within my categorical qnetwork but i get a message that weights are shared. when i try to use then create my categorical dqn agent. It would be nice if the main categorical q network constructor allowed a parameter for you to provide a set of keras layers where the q_layer is just appended to the end like it is the the encoding networ

[2020-08-26 00:56] wookayin commented on #456
Would you please provide a specific pointer to this? `time_step` seems to refer to `TimeStep` object which basically contains all information observed in one step of environment interaction. See also: [API docs](https://www.tensorflow.org/agents/api_docs/python/tf_agents/trajectories/time_step/TimeStep)

[2020-08-26 00:58] wookayin commented on #437
I think this is already described well in the documentation: https://github.com/tensorflow/agents/blob/v0.6.0/tf_agents/system/system_multiprocessing.py#L42-L74

[code]

Looks fine to me. Or alternatively you can have `
tf_agents.system.multiprocessing.enable_interactive_mode()` inside your main function.

[2020-08-26 01:36] ben-arnao commented on #456
@wookayin I think I mean step type actually. First, mind, last.

[2020-08-26 19:51] summer-yue commented on #456
We care about the step type in some agent. For example, in PPO, in order to perform advantage calculation on the episode level, we need to know when the episode ends. Step type gives us this information. It's possible that in particular cases that this information is not necessary.

[2020-08-26 19:55] summer-yue commented on #454
Ummm could you print out `env.action_spec()` for your environment?

[2020-08-26 23:14] kbanoop commented on #448
Can you try loading with SavedModelPyTFEagerPolicy(path, ..., load_specs_from_pbtxt=True)

https://github.com/tensorflow/agents/blob/ad98ff51d4a1d1e1d4ac91a09ee7fe135db8971b/tf_agents/policies/py_tf_eager_policy.py#L102

Closing for now, please reopen if this does not resolve the issue.

[2020-08-26 23:14] #448 closed, assigned to kbanoop

[2020-08-27 01:52] bing-zhao commented on #454
Thanks for the response. The output for `env.action_spec()` is as below
`BoundedTensorSpec(shape=(), dtype=tf.int64, name='action', minimum=array(0, dtype=int64), maximum=array(8, dtype=int64))`

By the way, is there a way to return the Q-value for different actions? If that is possible, maybe I can just pass the Q-value into a softmax function and get the probabilities?

[2020-08-27 04:28] ebrevdo commented on #457
Hi @ben-arnao .  We have a new way to declare Networks, including preprocessing layers, that is more flexible and may work better in your case.  We have a new `Sequential` network that accepts Keras layers and `TF-Agents` networks; as well as a new `NestMap` network which acts a bit like `preprocessing_layers`.  You can combine them; and feed the resulting Network into regular DQN.  We can extend

[2020-08-27 04:29] ebrevdo commented on #457
(in the case of your own Sequential layer; you provide the final output layer which projects to `[num_atoms, num_actions]`.  We can put that in an example.)

[2020-08-27 04:32] ebrevdo commented on #443
Just saw this.  Taking a look.

[2020-08-27 04:35] ebrevdo commented on #443
You're close; instead of passing `traj_obs` to observers, pass the list `[traj_obs]`.  Let me know if that works.

[2020-08-27 04:38] ebrevdo commented on #437
@Axel-CH did that work for you?

[2020-08-27 04:39] ebrevdo commented on #436
You probably need a newer version of tf-agents, e.g., the nightly or most recent release.  Each stable version of tf-agents is associated with a stable version of tensorflow; likely updating tensorflow broke the guarantees.  Please reopen if that doesn't help.

[2020-08-27 04:39] #436 closed, assigned to nobody

[2020-08-27 04:46] ebrevdo commented on #432
For now the simplest solution is probably to pass `preprocessing_layers=tf.nest.map_structure(lambda _: tf.keras.layers.Layer(), observation_spec)`

We'll soon make this a bit easier with the new `Sequential` and `NestMap` networks being supported in addition to `ActorDistributionNetwork`.

[2020-08-27 04:47] ebrevdo commented on #432
it's sad that the error message is so ugly.  basically the structure of your `preprocessing_layers` must match that of `observation_spec`; in this case, it must be a `dict`.

[2020-08-27 04:49] ebrevdo commented on #432
(but when you use `tf_agents.networks.Sequential`, the first layer can just be `tf_agents.networks.NestFlatten()` layer.)

[2020-08-27 04:51] ebrevdo commented on #397
@ormandi can you ptal?

[2020-08-27 04:52] ebrevdo commented on #394
This is a warning, not an error.  Sorry it's so scary.  You can ignore it unless you need to use the `distribution` method of the policy `SavedModel`.

If you do need to use it, please reopen the issue.

[2020-08-27 04:52] #394 closed, assigned to oars, JCMiles

[2020-08-27 05:38] clockzhong commented on #329
@JThFr , I don't think it's a good idea to translate a multi-dimensional action_spec to a one-dimensional action_spec. As @vinayjoshi22 explained above, the observation data doesn't relate to this single value, it's much much more difficult to find the connections between the observation data and the human-made one-dimensional action choices than the multi-dimensional action choices directly.
Of c

[2020-08-27 06:30] Axel-CH commented on #437
@ebrevdo I did tried to add a wrapper around the "train_eval" function but it didn't work, maybe I did a mistake in my approach Bellow more details:

wrapper code :

[code]

hyperopt code calling "train_eval" (used as an objective function):

[code]

[2020-08-27 06:56] ormandi commented on #397
Ah, haven't noticed this earlier. Taking a look tomorrow morning.

[2020-08-27 07:01] wookayin commented on #437
Try using `tf_agents.system.multiprocessing.enable_interactive_mode()` only once (or applying the wrapper for the actual `__main__` function) before you start running hypot.

[2020-08-27 08:17] Axel-CH commented on #443
Ok, now i'm getting a new error:

[code]

Note that I have a dictionnary prepocessing layer using multiple tf.keras.models.Sequential([list]) and a tf.keras.models.Sequential([list]) for preprocessing combiner. Apparently it's not a best practice according to this warning:

`WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'list'>`
I d

[2020-08-27 14:39] ben-arnao commented on #457
@ebrevdo Yes that would be great! I could probably find a way to make it work i just wanted to avoid writing too much custom code if possible.

[2020-08-27 16:01] Axel-CH commented on #443
I will rewrite my model using the functional API, and then retry to use reverb. Will keep you updated

[2020-08-27 17:09] ormandi commented on #397
Hi, Wes.

Thank you for opening an issue, and terribly sorry for the long turnaround on this.

TL;DR: Actually, both `py_env` and `tf_env` should support arbitrary nested observation space spec, and the conversion from `py_env` to `tf_env` definitely should not change the *structure* of the input spec which seems to be failing in your case. Once this is fixed, I think the splitter will work just l

[2020-08-28 09:08] breadbread1984 opened #458 "ReplayBuffer add_batch gets "The two structures do not match" error"
I collect episode for ppo without dynamic episode driver due to some limitations of my application. when I add batch with ReplayBuffer's add_batch I get the following error message.

  File "/root/opt/vnpy/lib/python3.8/site-packages/tf_agents/replay_buffers/replay_buffer.py", line 83, in add_batch
    return self._add_batch(items)
  File "/root/opt/vnpy/lib/python3.8/site-packages/tf_agents/repla

[2020-08-29 01:46] breadbread1984 commented on #447
so is the time step a tuple of (r_{t-1}, o_t) or (r_t, o_t)?

[2020-08-29 02:16] breadbread1984 opened #459 "what does TimeStep store"
is TimeStep a tuple of (r_{t-1}, o_t) or (r_t, o_t)?

[2020-08-29 13:06] breadbread1984 opened #460 "where can I get old policy info of PPO agent"
replay buffer for PPO agent requires old policy info for every time step. where I can get old policy logits for PPO agent at every time step if I dont use episode driver. thx

[2020-08-29 22:13] tagomatech commented on #459
If this helps, you can see the definition of the [TimeStep](https://github.com/tensorflow/agents/blob/e74176c4ffb1695314c6dbe98d5f372e67ca82ca/tf_agents/trajectories/time_step.py#L42) class.
If you need an example of use, you can refer to the [DQN](https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial) tutorial. It reads:

[2020-08-29 22:46] breadbread1984 commented on #459
got it. thx

[2020-08-29 22:46] #459 closed, assigned to nobody

[2020-08-30 02:14] sguada commented on #460
The `PPOPolicy` generates the needed information and add it to `policy_info` See
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/ppo_policy.py#L235

[2020-08-30 02:33] breadbread1984 commented on #460
I create a PPOAgent object. I find that its policy of the agent is a greedy_policy object. therefore, the PolicyStep returned by agent.policy.action() has no policy_info. how I can have the PPOAgent object used PPOPolicy? thx

[2020-08-30 02:48] #460 closed, assigned to nobody

[2020-08-30 02:48] #458 closed, assigned to nobody

[2020-08-31 01:26] breadbread1984 opened #461 "checkpointer can't load checkpoint"
I save checkpoint with checkpointer. but when I load the checkpoint files, checkpointer complains that

it seems the checkpointer outputs file in checkpoint format and inputs saved model format. what is the right way to use it to resume training without problem?

[2020-08-31 12:32] Strateus commented on #186
I used `save_weights` for each network separately, which worked prior to 2.3 upgrade, but not anymore

[2020-08-31 15:54] Axel-CH commented on #443
After a longer analysis, I don't think I have the possibility to fix the "sequential format" warning at my model level. Seem to be caused on a higher level in agent. Just to be more clear, here is an update on my issue:

When I execute the train_eval function using the priority replay buffer, i'm getting this warning/error combo:

[code]
(note: the warning is there also without the priority replay

[2020-09-01 03:51] summer-yue commented on #461
Could you paste the code of how you saved the checkpoint files, as well as how you loaded it here? There are a few different versions of check pointers available.

[2020-09-01 09:11] breadbread1984 commented on #461
I create a checkpointer object and resume the context before training with the following code.

[code]

[2020-09-01 09:21] breadbread1984 commented on #461
found the problem, thx

[2020-09-01 09:21] #461 closed, assigned to summer-yue

[2020-09-01 18:46] summer-yue commented on #461
Could you update here with the problem you have found? That way it'd help other people who has the same issue :)

[2020-09-01 21:14] ben-arnao opened #462 "Can we save a replay buffer?"
Is there any way to save a replay buffer to persistent storage to be loaded back up later?

[2020-09-02 00:58] breadbread1984 commented on #461
I was stucked by a silly problem which is not worth mentioning. the above code can load checkpoint without problem. :-P

[2020-09-02 16:06] ormandi commented on #462
Thank you for your question.

Assuming that you are using Reverb replay buffer (https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/replay_buffer.py), you can perform checkpointing using the API provided by Reverb. More on this: https://github.com/deepmind/reverb#checkpointing

[2020-09-02 16:12] oars commented on #462
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py#L215

For the uniform replay.

[2020-09-02 16:12] #462 closed, assigned to nobody

[2020-09-02 22:19] tagomatech commented on #397
Apologies in advance for reviving this closed issue with the maybe irrelevant comment that follows.

I came across @wes-turner's issue above while writing myself a python environment with mixed-type observations, Using @ormandi's code as a template, `self._observation_spec` would be a 2-column array, hence of `shape=(2,)` (if I am being correct), 1 element would be a `np.float64 `and the other one

[2020-09-03 16:21] singagan opened #463 "Constrained action space"
Hi,
I have built my own custom environment in python following environments/py_environment.PyEnvironment and use it with tf-agent.
Earlier I had a simple environment and now I am diving deeper.

I have divided my states into epochs (certain time interval) and inside that interval I want agent to always take the same action for a state if it has seen it once. However, in the next epoch, it can take

[2020-09-05 17:33] kamalojasv181 commented on #400
@vonadz facing the same issue with the same tutorial. Is it working on the nightly build though?

[2020-09-05 17:41] vonadz commented on #400
Not sure. I haven't checked on this for a while.

[2020-09-05 17:54] ben-arnao opened #464 "Providiing batched data for a driver?"
I am taking a look at the PPO example https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval_clip_agent.py

I'm not sure if this is a PPO specific question, but i see in the example a Driver is used to collect data. I tried to use a driver instead of coded out collect iter on my customer environment, and i'm being told that the environment required to have a "

[2020-09-07 12:47] erm96 opened #465 "tf_summaries only supports tf.summary.scalar"
Hi,

I have a question regarding tf_summaries, is it intended to only support scalars?

I would like to log a custom metric that is a string but i am getting
`UnimplementedError: Cast string to float is not supported [Op:Cast]`
since the line
`tf.compat.v2.summary.scalar(name=tag, data=result, step=train_step`
in  tf_metric.tf_summaries tries to convert it  to a float.

Did I overlook another way

[2020-09-09 17:51] ormandi commented on #397
Hello, thank you so much for your comment.

Would it be possible to define what exactly mean by "python environment with mixed-type observations"? Or, even better, can you share (a relevant piece of) your code to make it easier identify the culprit?

In general, an observation can be an arbitrary nested structure. This structure is defined by the person who implements the environment in order to h

[2020-09-10 03:39] n3011 opened #466 "Error in loading policy from saved model."
I was trying to load a saved model policy using the following code, but it ends with errors pasted below

`saved_policy = tf.saved_model.load('policy_0') `

Software versions:

- Tensorflow =2.3.0
- tf-agents = 0.6.0

  File "<stdin>", line 1, in <module>
  File "/lib/python3.6/site-packages/tensorflow/python/saved_model/load.py", line 603, in load
    return load_internal(export_dir, tags, option

[2020-09-10 04:19] summer-yue commented on #456
Please let us know if you have any followup questions. If not I will close this in a week.

[2020-09-10 04:52] #439 closed, assigned to nobody

[2020-09-10 14:17] ben-arnao commented on #456
I think i understand now. Thanks for the explanation!

[2020-09-10 14:17] #456 closed, assigned to summer-yue

[2020-09-10 14:17] #464 closed, assigned to nobody

[2020-09-10 17:09] kbanoop commented on #466
Can you try these:
https://github.com/tensorflow/agents/blob/master/tf_agents/policies/policy_loader.py
https://github.com/tensorflow/agents/blob/bdf6694dec482f8f894ee61dea750e1c0d48ad3e/tf_agents/policies/py_tf_eager_policy.py#L102

[2020-09-10 21:20] maggawron commented on #258
@onurcanbektas Try feeding (10, 10, 1) as input shape.  The images are represented as (height, width, num_channels), for example RGB image of 512x512 will be (512, 512, 3) as RGB has 3 channels.

[2020-09-11 03:21] n3011 commented on #466
Using `tf_agents.policies.policy_loader.load` I can load policy. Thanks.

In this case, my concern is how I can use TF Serving if the policy can not be loaded with standard `saved_model.load`?

[2020-09-12 21:06] tagomatech commented on #397
@ormandi Thank you for kindly adding new insights.
With "mixed-type observations", I meant the agent e.g. is a car driver who observes whether it is raining (first observation is boolean) and car speed (second observation is a float). So we would have "mixed-type observations.
What you wrote down above suggests that I go for a nested structure that would (in my car driver toy example) contains a b

[2020-09-15 17:01] chokosabe opened #467 "tf-agents-nightly installed on colab seems very different from the master branch"
tf-agents-nightly installed on colab seems very different from the master branch. The experimental examples folder is missing . Not 100% if this is a colab issue or a tf-agents issue.

[2020-09-15 17:23] kbanoop commented on #467
@tfboyd Can you PTAL?

[2020-09-15 18:41] tfboyd commented on #467
The colab install `tf-agents` not `tf-agents nightly`.  This is because tensorflow.org copies the colabs into https://www.tensorflow.org/agents/tutorials/2_environments_tutorial.  In a perfect world the github would install tf-agents-nightly and tensorflow.org tf-agents but that makes it harder to push smaller changes automatically to tensorflow.org and requires branches and merges that just take

[2020-09-16 04:23] ormandi commented on #397
Thanks again for the feedback. Yes, I think something like a tuple of two scalars one being `bool` while the other `float` will do the job.

[2020-09-16 04:23] #397 closed, assigned to ormandi

[2020-09-16 04:31] ormandi commented on #465
Thank you for the comment.

I think `tf.summary.text` should do the work: https://www.tensorflow.org/api_docs/python/tf/summary/text

Btw, there is summary support for more complex data (e.g. [histogram](https://www.tensorflow.org/api_docs/python/tf/summary/histogram), [images](https://www.tensorflow.org/api_docs/python/tf/summary/image), or [audio](https://www.tensorflow.org/api_docs/python/tf/su

[2020-09-16 04:31] #465 closed, assigned to nobody

[2020-09-16 09:21] chokosabe commented on #467
Thanks for the replay @tfboyd. Tried your suggestion above and still the same issue. Can you give some more details on how you guys verify that colab works with nightly? There are clearly folders missing when I install nightly on Colab. It doesn't match the master branch at all.

Thanks.

A.

[2020-09-16 12:11] chokosabe commented on #467
I can confirm I am seeing this behaviour locally. The tf-agents-nightly build isn't using the master branch.

[2020-09-16 13:49] erm96 commented on #465
Hey, thanks for the quick response.
Yes I am in general aware of the different summary supports from `tf.summary`.

My problem is that the class `TFStepMetric` in `tf_metric.py` in `TF Agents` only supports scalars/histograms and not text.
(https://github.com/tensorflow/agents/blob/4db8de39092d83ed9dab698ff253f5a4fce7024b/tf_agents/metrics/tf_metric.py)

[2020-09-16 14:27] tfboyd commented on #467
@chokosabe
Can you share how you confirm? What command are you running that is not working. It is really hard to debug the statement "There are clearly folders missing when I install nightly on Colab". I know it can be frustrating but if you share the exact python command you are trying I can verify the problem and hopefully the solution without ambiguity.

The build runs nightly and is built from

[2020-09-16 21:51] tfboyd commented on #467
One wild guess but I would still like to see what is not working.  You cannot import (I did not try but without the __init__.py it seems unlikely to work) the experimental packages because there isn't an init.py file. I used the experimental SAC to run 50+ tests over Labor Day Weekend for 5 different mujoco envs so we can updated the README with a bunch of data.  I am going to followup on if that

[2020-09-17 01:01] lucifer2288 commented on #467
The same issue happened to me

[2020-09-17 01:03] lucifer2288 opened #468 "Some bugs in experimental.example.ppo.train_eval_lib.py"
line 38 & 39 :
from tf_agents.google.replay_buffers import reverb_replay_buffer
from tf_agents.google.replay_buffers import reverb_utils

from tf_agents.google?

line 208 &212 :
_ReverbAddTrajectoryObserver ?

allow_multi_episode_sequences ?

[2020-09-17 01:38] tfboyd commented on #467
@lucifer2288  and @chokosabe  There is a chance I can fix the problem but I need a repro. What are you trying to do? Can you share a snippet?

[code]
We left out the __init__.py from those folders some what on purpose, but if you want to use the examples in a way we did not expect I can likely address it if I can get some confirmation. But I really cannot do much without more information.

[2020-09-17 10:57] chokosabe commented on #467
A really simple test would be:

from tf_agents.experimental.examples.ppo import ppo_learner

ppo_learner.PPOLearner

this doesn't trigger an import error on master but does on a nightly install

[2020-09-17 14:38] tfboyd commented on #467
Perfect. That is what I thought. Just need to add __init__.py to the
folders so it can be imported. We chatted as a team and this makes sense to
do.  I will add them next week and ping this thread. Nightly is building
from master, there is zero doubt of that.

On Thu, Sep 17, 2020, 3:57 AM chokosabe <notifications@github.com> wrote:

[2020-09-17 16:25] chokosabe commented on #467
It might be more than that, navigation to the folders (in the case above tf_agents/experimental) shows that the /examples folder isn't there.

[2020-09-17 17:12] tfboyd commented on #467
I will verify end to end. It could be excluded from the pip build for some
reason. I will resolve it and verify in a colab. This is a good change to
make and makes it easier to play with the new API.

On Thu, Sep 17, 2020 at 9:26 AM chokosabe <notifications@github.com> wrote:

[2020-09-18 06:49] guachoperez opened #469 "Should time_step_spec of an array valued reward return an array valued discount?"
The time_step_spec function only takes observation_spec and reward_spec array specifications, but if the reward_spec specifies a multidimensional array, shouldn't the discount_spec match its shape or at least accept an argument to know if this should be the case?

[2020-09-18 17:50] ben-arnao opened #470 "Is there anyway to pre-compute states?"
Is there any way to pre-compute states for your environment?

For my particular problem, it's pretty easy to pre-compute states. Instead of having to step through the environment and predict with a batch_size of 1, if I could utilize my GPU and pre-compute with large batches this would greatly increase the efficiency. Then the states could be easily fetched by a few keys/indexes.

[2020-09-21 12:05] DanielWicz opened #471 "[Multi-agent][feature request] TF-agent multi-agent support"
I'm preparing a project which uses RL and trying to choose an appropriate framework for this. Since I was working with SL/UL with Tensorflow, naturally I started looking for some related solution. Nevertheless, In the near future, my project will require a multi-agent approach and there is a question:

- Does the TF-agent support a multi-agent approach?
- If not (which based on my research is the

[2020-09-21 16:35] tfboyd commented on #467
b/169060496  Internal track. I hope to get the situation resolved today for tomorrow's nightly build.

[2020-09-21 17:59] summer-yue commented on #468
Just saw this. I thought I updated this but maybe it didn't go through. I'll look today.

[2020-09-21 21:41] summer-yue commented on #468
Just submitted a fix! Thanks for reporting this issue! https://github.com/tensorflow/agents/commit/545507d1e15a7b828b44784641fb1469dfcdd3ad

[2020-09-21 21:41] #468 closed, assigned to summer-yue

[2020-09-21 22:31] tfboyd commented on #467
Ok adding __init__.py was enough. The whl packager seems to look for that, which is why you don't see it at all. The change it in review and I will ping this bug when the PR is submitted and I see it in nightly. I hope 24 hours.  My simple test is:

[code]

The gin files are not loaded so you will have to call it by including the args you want as params to `train_eval`.  I also made changes to inc

[2020-09-22 08:34] DanielWicz commented on #347
There's any progress?

[2020-09-22 12:23] DylanCope commented on #347
For anyone looking to do multi-agent RL with TF-Agents, I designed a way of initialising "intrinsically motivated" agents where agents compute their reward as a function of their observations, rather than extracting the reward directly from the environment. This allows each of the agents to have different reward functions.

I've written [a tutorial](https://dylancope.github.io/Multiagent-RL-with-T

[2020-09-23 14:19] tfboyd commented on #467
Alright super close. After adding the __init__.py a new test was added for PPO and that test was failing in open source but not internally. I sorted that out and now I am waiting for the final code change to be reviewed and everything should be in place. Who would have thought adding 6 init.py files would take like 3 days. Actually I did but I am way to aware of what goes wrong.

I like to keep th

[2020-09-23 17:21] tfboyd commented on #467
Ok tested and resolved.  @chokosabe

I logged into the colab and this worked, well I get a mujoco error but I suggest using my [mujoco docker](https://github.com/tensorflow/agents/blob/master/tools/docker/ubuntu_1804_mujoco) if you find it useful. I have not tried the notebook with mujoco docker but notebook is installed.

[code]

Ping this thread if you have issues and I can reopen but I think I

[2020-09-23 17:21] #467 closed, assigned to tfboyd

[2020-09-24 17:48] chokosabe commented on #467
Tested this on Colab. Looks ok; all the relevant files now show up on tf-nightly install.

Many thanks.

[2020-09-27 10:03] iirekm opened #472 "Create facade classes to make TF Agents more simpler to use"
Currently in order to use TF Agents I basically have to copy & paste & modify examples (eg those from https://github.com/tensorflow/agents/tree/master/docs/tutorials ). Unfortunately those examples are too long to adapt them to other use cases:
- **very beginner-unfriendly** - I tried to adapt TF Agents to my use case and I gave up because of the complexity, and unfortunately I won't use TF Agents

[2020-09-30 18:07] kuanghuei commented on #470
Agents can be agnostic of how the states being generated. You can specify observation spec to match the pre-compute states, and feed the pre-compute states to agents. You can also just store keys in rb, and replace the observation with the precomputed ones whenever you fetch trajectory from rb. Feel free to reopen if this doesn't answer your question.

[2020-09-30 18:07] #470 closed, assigned to nobody

[2020-09-30 19:07] guachoperez opened #474 "Why do we have to implement the observation_spec and action_spec in PyEnvironment but in TFEnvironment we can simply pass them to the superclass constructor?"
When subclassing PyEnvironment, we have to implement the observation_spec and action_spec methods. When subclassing TFEnvironment, we pass time_step_spec and action_spec to the superclass constructor. For consistency, could we not pass these specifications to the PyEnvironment superclass when subclassing as well?

[2020-09-30 19:40] ben-arnao commented on #470
Is there an easy way to then use your policy to make predictions in batches
so you can cache them and access within your environment?

On Wed, Sep 30, 2020 at 2:07 PM Kuang-Huei Lee <notifications@github.com>
wrote:

[2020-09-30 23:07] tfboyd opened #475 "Checkpoint the data and reload SAC example in the case of preemption."
The internal bug for this is b/165023684

The default setup does not checkpoint the policy or data. If the
pipeline gets preempted, training and evaluation will start over. You may
observe more than one learning curves in this situation. If you enable policy
checkpointing, the learner will reload the most recent saved policy. However,
because we are not yet checkpointing the data from Reverb, we r

[2020-10-01 09:26] Stentaur opened #476 "agent.train --> TypeError: call() missing 1 required positional argument: 'network_state'"
I'm trying to use a DDPG agent with actor and critic networks, and a TFUniform replay buffer, training on my custom environment.

I've extracted a training experience from the buffer using:
[code]

but when I call
`agent.train(experience)`
I get a TypeError:
[code]

[2020-10-01 16:46] guachoperez opened #477 "array_spec.sample_bounded_spec does not work with mixed broadcast bounds"
As an example:
[code]
returns
[code]
Looking at the code it looks like there is no support for broadcasting from only one endpoint.

[2020-10-03 03:30] signalprime opened #481 "[Question] How to use preprocessing_layers when concatenating blocks"
Hi everyone, I am trying to build the **EncodingNetwork** using the **preprocessing_layers** argument.  It works great, but how can we use a more complicated sequence like a convnet that concatenates blocks without using Keras' Functional API.  I've tried scripts to flatten a nested model, subclassing layers to represent blocks, etc. A layer is only built if it has an input, but not specifying inp

[2020-10-04 00:22] kuanghuei commented on #481
Sorry I'm a little confused. Aren't you supposed to concat layer outputs instead of concat layers? Can you provide the error message?

[2020-10-04 00:35] kuanghuei commented on #472
Thanks for your suggestion.

Please check the new [actor/learner API](https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/train) ([SAC tutorial](https://www.tensorflow.org/agents/tutorials/7_SAC_minitaur_tutorial)), which might be closer to what you're looking for. Should be easier to start with.

My belief is that one-line model.fit() is a "magic" that looks **easy** at the fi

[2020-10-04 00:35] #472 closed, assigned to nobody

[2020-10-04 01:39] signalprime commented on #481
Thanks friend, you're correct.  I must have copied the wrong cell, here is a copy that runs until the next to last line defining the concatenate layer, where it raises the AttributeError, that Layer "fire2/expand3x3" has no inbound nodes... refereing to the layer output of the Right branch .  Wondering how to accomplish this design while abiding by the Sequential API requirements of the EncodingNe

[2020-10-04 03:27] kuanghuei commented on #481
I think there might be a way if you want to use keras Sequential API. It seems easier if you don't use Sequential. Just call tf.concat in forward pass. I think this is a tf.keras question and should probably be asked on stackoverflow or the tf repo instead of here. Closing it for now. Please feel free to reopen if I misunderstood. Thanks.

[2020-10-04 03:27] #481 closed, assigned to nobody

[2020-10-04 15:53] gbuonamico opened #482 "Error using a trained PPO policy"
Hello,
I'm trying to use a PPO tf-agent with a trained policy, but I get the following error

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-32-ce4bd2600ed2> in <module>()
      1
----> 2 evaluate(environment_eval, eval_env, eval_policy, num_episodes=3)

<ipython-input-31-dcef422

[2020-10-04 17:27] kuanghuei commented on #471
#347

[2020-10-04 17:33] #431 closed, assigned to nobody

[2020-10-05 03:30] signalprime opened #483 "Additional GPUs appear to degrade performance"
Hi all, [Tutorial #7 - SAC minitaur](https://github.com/tensorflow/agents/blob/master/docs/tutorials/7_SAC_minitaur_tutorial.ipynb) demonstrates the distributed training strategy API for multiple GPUs and TPUs.

I ran speed tests using 1 to 4 GPUs and found that was performance degraded with each added GPU.  I wonder why?  Please don't laugh at the speeds ;) they're older cards.

tensorflow==2.3.0

[2020-10-05 08:56] kuanghuei commented on #470
tf-agents policy does support batches. An additional outer dimension not specified in spec is treated as batch dimension.

[2020-10-05 09:02] kuanghuei commented on #483
Sometimes when you have small networks like this case, GPU could be slower than CPU, and multi-GPU can be slower than single GPU because of extra overhead from copying data back and forth in memory through data bus. The SAC-minitaur tutorial is a demo. Multi-GPU isn't necessarily faster for this task.

[2020-10-05 09:02] #483 closed, assigned to nobody

[2020-10-05 19:34] summer-yue commented on #482
Should your observation spec in your environment be TensorShape([960, 18]) instead of TensorShape([1, 960, 18])?

[2020-10-05 22:09] alekrul opened #484 "Change initial state observation values"
I'm learning RL with tensor flow and `tf_agents` and right now i'm working with the cart-pole env from `suite_gym` in a `tf_py_environment`.

I have this initial time step that i got from `time_step = eval_env.reset():`

[code]
And i would like to change the initial values of the numpy array of the observation tf.Tensor. Is there anyway to do this?

I was looking in the py_environment class and th

[2020-10-06 04:16] gbuonamico commented on #482
_**Hello, thank you for replying. No because using LSTM in actor and value Network needs an additional dimension. The train works fine. This is the portion of code I use for training**_
***************************************************************************************
def train_step():
       trajectories = replay_buffer.gather_all()
       return tf_agent.train(experience=trajectories)

coll

[2020-10-06 08:27] iirekm commented on #472
if you make everything configurable like `xxxx = Xxxx(param1=..., param2=...); xxxx.fit()`, then both beginners and more advanced users who need to override something are happy, just like done in sklearn / Keras / Stable Baselines.
This gives faster project start, easier backwards compatibility (less details revealed), and when something doesn't work, I can blame only my `paramN=...`, I can tempor

[2020-10-06 17:15] PieroCV opened #486 "Problem with DqnAgent and Dqnetwork shapes and dtypes on Atari Gym."
Hi everyone!
I'm starting with this amazing package and having some fun with it.
I was trying to work with Atari Pong-v1 environment and I had some problems with it in order to instantiate the agent, as I present below:
Libraries imported:
[code]

Some parameters:
[code]
Environment instance:
[code]

DQNetwork instance
[code]

DQNAgent instance (When error is triggered):
[code]
The error is as fol

[2020-10-07 09:48] jeffheaton opened #487 "Atari Examples in v2?"
Are there any examples of using TF-Agents with Atari?  Just an end-to-end "Hello World" Breakout game would be very helpful.  There used to be:

[code]

But it was dropped back in June 2020 when all the v1 examples were removed.  I did have a V2 [example ](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/t81_558_class_12_04_atari.ipynb)of my own working great, for a deep learning cl

[2020-10-07 12:47] waral opened #488 "Problem with MixtureAgent and partitioned_nested_infos"
I'm getting the following error when running an `Exp3MixtureAgent` with two agents:
[code]

The problem occurs in `_train()` method of `MixtureAgent` below:

[code]

The problem apparently occurs because `partitioned_nested_infos` is an empty list (the other lists in the loop are fine, I checked that). The thing is that I'm not using any info (i.e. just the default one) for all the sub-policies an

[2020-10-09 04:15] gbuonamico commented on #482
Hello, any suggestion will be appreciated....

[2020-10-09 12:57] florentdelgrange opened #489 "Simple way to recover all transitions from a replay buffer"
Hello,

I am working with tensorflow agents 0.5.0 and I was wondering if there is a simple way to retrieve **all _transitions_** from a `TFUniformReplayBuffer`.
At the end of each episode, I need to retrieve **all** transitions of the form <observation, action, next observation> from the replay buffer, and then remove them from it.
I thought that the argument `num_steps=2` of the method `as_datase

[2020-10-09 17:41] summer-yue commented on #482
Sorry about the delay. Let me take a closer look at this today afternoon.

[2020-10-09 19:50] gbuonamico commented on #482
Not a problem. I think the problem come from the use of the wrapper "train_step=common.function(train_step)" in the training phase. keep this in mind tomorrow and let me know please...

[2020-10-09 23:00] summer-yue commented on #482
The ValueError you're seeing is saying that your input time_step into `policy.action` is not aligned with the spec it is expecting. Could you try not including the additional dimension in your spec for observations, despite it being LSTM? I think the agent handles that by checking the network later on.

I also tried running your code on Cartpole and it finished successfully, so the issue seems lik

[2020-10-10 08:10] gbuonamico commented on #482
I agree on the fact that time_step and policy_state are not aligned. time_step is **batched**, while policy_state (initial state) is **not**.

If I not include the additional dimension in the observation space I got the following error
"ValueError: Shapes (960, 18) and (1, 960, 18) are incompatible"
while trying to load the checkpoint (which is what I expected).

If you look at the error, both ten

[2020-10-11 14:25] Queeq opened #491 "Td3Agent: Invalid reduction dimension on actor_loss calculation"
Hi,

I have a custom environment with multiple inputs. Because of this I had to craft custom actor and critic networks.

I'm not sure if this is a bug or I'm feeding the TD3 agent wrong, but I'm getting the following error in the very beginning of training process:
[code]

So it's basically this block in td3_agent.py:
[code]

Shape of the `actor_loss` at the time of error is `(64, 1)`, so it's ran

[2020-10-13 11:29] Denbergvanthijs opened #492 "Dead links in Bandits intro"
The Google colab link at the bottom of [this notebook](https://github.com/tensorflow/agents/blob/master/docs/tutorials/intro_bandit.ipynb) is dead.

The same link can be found at the top of [this README](https://github.com/tensorflow/agents/blob/master/tf_agents/bandits/README.md).

Kind regards,
Thijs

[2020-10-13 17:29] summer-yue commented on #482
Could you remove the extra dimension in you spec (not in your observation), such that the spec_shapes is [960, 18] and your observation is still [1, 960, 18]?

[2020-10-14 11:35] bartokg commented on #492
Thanks a lot for raising our attention! The fix will be in asap.

[2020-10-14 13:45] #492 closed, assigned to nobody

[2020-10-14 19:00] gbuonamico commented on #482
Sorry but I don't understand what you mean. In my environment the definition of action_spec and observation_spec are the following

******************************************************************************************
**self._action_spec = array_spec.BoundedArraySpec(
            shape=(), dtype=np.int32, minimum=0, maximum=2, name='action')

ns=(1,self.shape[0],self.shape[1])
self._observati

[2020-10-14 19:19] summer-yue commented on #482
Sure. I was suggesting to modify your observation spec to:

[code]

And keep the actual observation data as what you had before.

[2020-10-15 10:54] Jaffeur commented on #198
I agree with @j0rd1smit. I stumbled upon the same error, it is very confusing to have different behaviours between the Py and TF version of the class.

[2020-10-15 13:12] singagan commented on #275
I tried with a custom environment and it seems GPU performs slower than CPU with the latest tf-agent version

[2020-10-15 14:25] bartokg commented on #488
Hey Michal,
Thanks for reporting! This was indeed a bug, the function `_dynamic_partition_of_nested_tensors` in `mixture_agent.py` did not handle empty nests correctly, and returned an empty list instead of a list of empty nests.
This change:
https://github.com/tensorflow/agents/commit/4f05181bf10453073d97d35cbe20dc995e988cdb
should fix it.

[2020-10-15 14:25] #488 closed, assigned to nobody

[2020-10-15 14:31] waral opened #494 "EpsilonGreedyPolicy returns wrong log probabilities"
When `self._emit_log_probability` is set to `True` in `EpsilonGreedyPolicy`, then the policy returns log probabilities as a part of `PolicyStep` (more concretely in `PolicyStep.policy_info`). However, I noticed that the returned log probabilities are not correct. I dug a bit deeper and I think that the way the current implementation works is the following:

Say I use the epsilon greedy with epsilo

[2020-10-15 15:38] tfboyd commented on #275
I have not done the exact testing all of you would want but I do have some data that I think is useful. I want to stress this is not remotely apples-to-apples. I have been doing perf testing with TF since before 1.x and I dislike sharing data that does not answer a question exactly; but I have found some data can be better than no data. I also have learned direct comparisons are really hard and us

[2020-10-15 19:43] gbuonamico commented on #482
Thats what I did as you suggested, and where I got the error I was talking about in my previous comment

"ValueError: Shapes (960, 18) and (1, 960, 18) are incompatible"

[2020-10-16 17:55] rohitderaj commented on #266
Hey,
I would appreciate it a lot if you could help me out. I am stuck in a similar situation.
My  custom environment spec action_spec and observation_spec are as follows:

 self._action_spec = array_spec.BoundedArraySpec(shape=(), dtype=np.int64, minimum=0, maximum=2, name='action')   self._observation_spec = array_spec.BoundedArraySpec(shape=(3,), dtype=np.float32, minimum=[-15, -15, 0],

[2020-10-16 21:07] nectario opened #496 "Why can't TensorFlow support latest CUDA/CUDNN version?"
Why is it so slow for TensorFlow to support the latest version of CUDA and CUDNN? Why does it have to take so long to support a newer version of CUDA and CUDNN?

[2020-10-20 18:46] summer-yue commented on #482
Are you able to provide code to your environment? Better if it's not too complicated. As I cannot reproduce the issue you're seeing in standard environments, it's a bit hard to debug from my end. Thanks!

[2020-10-21 04:31] kuanghuei commented on #496
This question belongs to the TF repo. TF-Agents team does not have an answer for it unfortunately.

[2020-10-21 04:31] #496 closed, assigned to nobody

[2020-10-21 05:01] ninadmore opened #498 "Documentation clarification: What does log_probability mean in DqnAgent and why is it scalar?"
In the tf_agents [DqnAgent docs](https://www.tensorflow.org/agents/api_docs/python/tf_agents/agents/DqnAgent), there is a parameter in the constructor called emit_log_probabilities but the explanation is just "Whether policies emit log probabilities or not."

What does log_probabilites actually mean in this case? Despite having many possible actions in my actions spec why is it a scalar ([code exa

[2020-10-21 11:57] gbuonamico commented on #482
Well, that s not possible as the environment needs a database and additional procedures to run. But it's a standard python environment wrapped into a TFEnvironment. No changes are made to the action_spec and observation_spec you have seen before.
Just for my understanding (then I will stop bother you..): the error message points the difference in the dimension of (in Bold)
Saw tensor_shapes:
[**Te

[2020-10-21 17:45] summer-yue commented on #482
Sorry that the previous suggestions weren't as helpful as I wished. I think I might understand where the confusion is. Let me try again.

The error message shows that the received tensor shape and the spec shape to be "not compatible" - though the word compatible isn't very well defined. If you look closer at the code where it's erring out in **nest_utils.is_batched_nested_tensors**, you will noti

[2020-10-22 20:40] gbuonamico commented on #482
Thank you for your answer.
At the end I m using this workaround (in bold in the code. Not sure is great, but seems to work)

t_step = tf_environment.reset()
t_step=tf.expand_dims(t_step.observation,axis=0)
time_step = ts.restart(t_step, tf_environment.batch_size)
state = policy.get_initial_state(tf_environment.batch_size)
i=0
while not time_step.is_last():
          policy_step: PolicyStep = polic

[2020-10-22 20:41] gbuonamico commented on #482
But I remain frustrated for not really understanding what's the root problem....
Thank you for your patience

[2020-10-23 07:53] tphanson opened #499 "Differences between gamma in agent and discount in transition"
As the title, could you provide a clear explanation about differences between `gamma` in `tf_agents.agents` and `discount` in transitions in `tf_agents.trajectories`? I'm really confused about it.

[2020-10-24 07:55] yiyinying opened #500 "need magic numbers"
replay_buffer = tf_uniform_replay_buffer.TFUniformReplayBuffer(
    data_spec=tf_agent.collect_data_spec,
    batch_size=train_env.batch_size,
    max_length=replay_buffer_capacity)

driver = dynamic_step_driver.DynamicStepDriver(train_env, collect_policy, [replay_buffer.add_batch],
                                               num_steps=1000)
dataset = replay_buffer.as_dataset(sample_batch_size=

[2020-10-24 08:56] yiyinying commented on #500
error is:
Function call stack:
train

[2020-10-26 17:24] tfboyd commented on #367
TF-Agents 0.5.0 was released as was 0.6.0.  I forgot to close this.

[2020-10-26 17:24] #367 closed, assigned to tfboyd

[2020-10-26 17:28] tfboyd commented on #289
Assigning to me to test with the new updated distributed scripts. Using the new distributed collect is the best (maybe only) way to really drive multiple GPUs. ParallelPyEnvironment might work but we do not use that approach very often as we prefer to use a lot of CPU only machines to drive data to the GPU server(s).

https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distribu

[2020-10-27 16:43] ormandi commented on #498
Thank you for your question.

Actually, this is a parameter of the policy (but it is passed through the agent since the underlying policy is created by the agent). So, the parameter is better documented in the [base class of the policies called `tf_policy`](https://github.com/tensorflow/agents/blob/master/tf_agents/policies/tf_policy.py#L144-L148). It basically decides if the logarithms of the pro

[2020-10-27 16:43] #498 closed, assigned to nobody

[2020-10-27 18:44] ormandi commented on #500
Thank you for the comment.

TBH, not fully understand the error you mentioned. However, I've noticed that it is related to `TFUniformReplayBuffer`. Since, we are moving away from that implementation in favor of `Reverb`, I'd encourage you to take a look into our Reverb replay buffer based examples.

To see a working example, a good starting point would be the SAC example. [Here](https://github.com

[2020-10-27 18:44] #500 closed, assigned to nobody

[2020-10-28 00:02] summer-yue commented on #487
Same root as https://github.com/tensorflow/agents/issues/486

`assert_matching_dtypes_and_inner_shapes` that was added back in June seems to be breaking DQN Atari. Eugene, could you take a look?

[2020-10-28 22:26] biplavc opened #502 "Rationale behind the type of policies used in evaluating and collecting episodes."
In the dqn tutorial  file `1_dqn_tutorial.py`, the policies are selected as
[code]
The resulting eval policy is a `tf_agents.policies.greedy_policy.GreedyPolicy`, while the collect_policy is `tf_agents.policies.epsilon_greedy_policy.EpsilonGreedyPolicy`. Is there a reason why the eval policy is not an EpsilonGreedyPolicy ?

Does it mean once we have our experiences collected as per greedy epsilon

[2020-10-28 23:14] biplavc opened #503 "Reward discount factor defined in environment compared to defined in environment"
When defining the agent, we can define the reward discount factor as `gamma`

https://github.com/tensorflow/agents/blob/755b43c78bb50e36b1331acc9492be599997a47f/tf_agents/agents/dqn/dqn_agent.py#L113

In case we define a discount factor for future rewards in the environment itself as
`return ts.transition(np.array([self._state], dtype=np.int32), reward = award, discount=1.0)`, ([link](https://www.

[2020-10-29 04:21] lamhoson opened #504 "Time Step Spec Mismatch"
Any know what's wrong or how to fix this?

Given `time_step`: TimeStep(step_type=array(0), reward=array(0., dtype=float32), discount=array(1., dtype=float32), observation=array([[0., 0.]])) does not match expected `time_step_spec`: TimeStep(step_type=ArraySpec(shape=(), dtype=dtype('int32'), name='step_type'), reward=ArraySpec(shape=(), dtype=dtype('float32'), name='reward'), discount=BoundedArray

[2020-10-29 04:23] lamhoson commented on #504
![image](https://user-images.githubusercontent.com/34258914/97525299-694e3080-19e1-11eb-86f3-cb7be8566a77.png)

[2020-11-02 12:43] jeffheaton commented on #487
@summer-yue Agreed, same issue.  **However, it would also be nice if your resurrected your Atari example.**

[2020-11-02 19:02] summer-yue commented on #487
The old Atari example I believe is in TF1 which we have moved away from. I will work on a DQN Atari example based on the new infra with the simpler actor/learner framework. Will need to ensure that it replicates the papers so might need to take some time to be available in OSS. I will aim for by the end of the year.

[2020-11-03 05:44] #504 closed, assigned to nobody

[2020-11-03 15:23] lamhoson opened #506 "pip install --user tf-agents[reverb] for Win10"
Could  tf-agents[reverb] be installed in Win10 system ?

[2020-11-03 20:35] agreenb commented on #503
The `gamma` and `discount` values are [multiplied](https://github.com/tensorflow/agents/blob/755b43c78bb50e36b1331acc9492be599997a47f/tf_agents/agents/dqn/dqn_agent.py#L465) to create the discount in the TD target. Feel free to reopen if you have more questions about this.

[2020-11-03 22:38] #503 closed, assigned to agreenb

[2020-11-03 23:01] agreenb commented on #502
Great question. During collection and learning, we still want to explore and introduce some amount of randomness. During evaluation, we generally use an exploitation policy to always choose the action with the highest Q-value. If we've learned the optimal policy, then we want to use it to yield optimal actions.

But this can depend on the environment -- e.g. an agent can more easily get stuck in A

[2020-11-03 23:03] #502 closed, assigned to agreenb

[2020-11-04 06:21] biplavc commented on #503
So in order to have a general scenario where the discount factor of the future rewards is dictated solely by `gamma`, can we keep the `discount` in the environment as 1 and specify the needed discount in `gamma` ?

[2020-11-04 19:45] agreenb commented on #503
Generally, `discount` is 1 for every step except for the final step, where it is 0 since we only want to include the immediate reward. Here, it ensures that the last step's TD target doesn't include future expected rewards.

`gamma` refers to the importance of future rewards versus immediate ones and is a constant value. Without `discount`, the last step would still include future expected rewards

[2020-11-06 06:10] Kang-SungKu opened #507 "SAC for discrete action (GumbelSoftmax reparameterization trick)"
Hello, I need to make SacAgent work with discrete action, so try to implement GumbelSoftmax parameterization trick by re-defining the relevant classes. However, the calculation of `agent.train(experience).loss` fails after a few iterations, so would like to have some comments to address the issue. I understand that SacAgent is designed to only work with continuous action, but any inputs will be re

[2020-11-08 10:27] lamhoson opened #508 "ValueError: Inputs to TanhNormalProjectionNetwork must match the sample_spec.dtype."
Anyone know what's wrong of using tf-agent here which trigger the ValueError?
ValueError: Inputs to TanhNormalProjectionNetwork must match the sample_spec.dtype.
  In call to configurable 'SacAgent' (<class 'tf_agents.agents.sac.sac_agent.SacAgent'>)

        self._action_spec = array_spec.BoundedArraySpec( #https://www.tensorflow.org/agents/api_docs/python/tf_agents/specs/BoundedArraySpec

[2020-11-09 06:25] ayansengupta17 opened #509 "Return Critic values for states and actions for SAC"
I would like to access the critic values of SAC in tf-agents and return them along with the action. What is the simplest way of doing that?
Thank you in advance for your help.

[2020-11-09 08:48] lamhoson opened #510 "Custom envirnoment - sample_spec ?"
Do i need to specify sample_spec in addition to action_spec for a new custom env created to use tf-agent's SAC agent ?

[2020-11-09 08:50] #506 closed, assigned to nobody

[2020-11-09 09:09] ayansengupta17 commented on #430
It would be really helpful if you can give an example of how to create a joint policy that takes two policies in the constructor, and creates a compound action by applying the 2 policies to each time step?

action_spec = (, 2)
policy1 = SAC_1
policy2 = SAC_2

Now what?

[2020-11-09 09:12] ayansengupta17 commented on #510
As far as I remember I only defined observation_spec and action spec for my custom environment when I was using SAC agent.

[2020-11-09 10:29] lamhoson commented on #510
Thank you for your input!  However, i always get a mismatch error below for both SAC and Reinforce agents.

Any ideas of the reason to trigger the mismatch?

ValueError: Inputs to NormalProjectionNetwork must match the sample_spec.dtype.
  In call to configurable 'ReinforceAgent' (<function ReinforceAgent.__init__ at 0x000001F4D04744C8>)

[2020-11-09 10:34] lamhoson commented on #510
Fyi, the mismatch case in SAC:

![image](https://user-images.githubusercontent.com/34258914/98530589-16fef080-22ba-11eb-9e88-70a9dde473bc.png)

[2020-11-09 17:08] tfboyd commented on #414
We now run these notebooks every night for validation. Closing as the issue is old. If you are still having an issue please provide the error and repro information.  I realized it has been many many months. So it either worked or you moved on. I hope it just worked and you found what you needed or wanted.

[2020-11-09 17:08] #414 closed, assigned to ormandi

[2020-11-09 17:09] tfboyd commented on #412
Closed due to time. I hope you found a solution. It is unlikely if you did not that an answer now would be useful. I hope it worked out.

[2020-11-09 17:09] #412 closed, assigned to nobody

[2020-11-09 18:53] tfboyd commented on #510
@oars  is responding on PR 508.  Closing this as a duplicate.

[2020-11-09 18:53] #510 closed, assigned to nobody

[2020-11-09 18:54] oars commented on #508
It's unclear from the small piece of the error you pasted, but I suspect you are using ArraySpecs where TensorSpecs are expected. Note that py components expect ArraySpecs, but all TF components expect TensorSpecs.

You can convert them to tensor specs with `tensor_spec.from_spec`

If that's not the actual issue, can you add your whole traceback?

[2020-11-09 21:38] summer-yue commented on #509
Thanks for the question. Since you have access to the critic network, the state and action, it should be straight forward to run a forward pass on the critic network to get the critic values.

If you wish to have this emit as part of the returned value from `policy.action`, you would need to modify the policy class such that it will be able to calculate the critic value and then return it, most li

[2020-11-09 21:38] #509 closed, assigned to nobody

[2020-11-09 21:59] summer-yue commented on #491
Thank you for reporting and sorry for just seeing this.

This looks like a bug. Let me investigate a bit more and get back to you.
From first glance, since the line is summing over the time dimension, it should actually instead do:
        actor_loss = tf.reduce_sum(actor_loss, axis=1)

[2020-11-10 00:51] summer-yue commented on #491
Just submitted https://github.com/tensorflow/agents/commit/15b5ab9c351aaecbe313a8e1579201fdbe7889d5 to fix this. Thanks for reporting!

[2020-11-10 00:51] #491 closed, assigned to summer-yue

[2020-11-10 09:34] Queeq commented on #491
Thanks a lot Summer! The fix works fine 🎉

[2020-11-10 18:43] tfboyd commented on #51
I am closing this and we have started do do a much better job in this area. Not where it needs to be.  Here is our new [SAC "readme"](https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/examples/sac) and we are about to launch the new PPO "readme" with similar data.  More envs, e.g. not mujoco is also in the works.  I expect DQN will be after PPO and some distributed collect in

[2020-11-10 18:44] #51 closed, assigned to samfishman, egonina

[2020-11-10 18:46] tfboyd commented on #127
We have added types to a lot of TFA in 2020 and especially in the new[ Actor/Learner API](https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/train); which is about to move out of experimental.  I am closing old issues and I think we also make progress on this one and are committed to using typing going forward where it makes sense.

[2020-11-10 18:46] #127 closed, assigned to nobody

[2020-11-10 18:46] tfboyd commented on #140
Closing as stale.

[2020-11-10 18:46] #140 closed, assigned to sguada

[2020-11-10 18:47] tfboyd commented on #150
Closing as stale.

[2020-11-10 18:47] #150 closed, assigned to nobody

[2020-11-10 18:49] tfboyd commented on #208
I am closing due to being over a year old. I did fix something a while back that made I think network summary work. I wish I could say if this works or not. If you happen to use it again and it doesn't work ping this issue or open a new one. I am sorry there wasn't a resolution.

[2020-11-10 18:49] #208 closed, assigned to nobody

[2020-11-10 18:50] tfboyd commented on #247
Closing stale issues/questions.

[2020-11-10 18:50] #247 closed, assigned to nobody

[2020-11-10 18:54] tfboyd commented on #186
I know a ton of time has passed.  I think the SAC example is very good as far as showing how to save checkpoints. https://github.com/tensorflow/agents/blob/master/tf_agents/experimental/examples/sac/haarnoja18/sac_train_eval.py  I am closing as this issue/questions is stale.  If you come across this issue and are still having an issue with checkpoints please open a new issue with the specific use

[2020-11-10 18:54] #186 closed, assigned to adammichaelwood

[2020-11-10 18:55] tfboyd commented on #187
This happened. Those files are no longer in the github tree.

[2020-11-10 18:55] #187 closed, assigned to kbanoop

[2020-11-10 18:56] tfboyd commented on #281
fixed

[2020-11-10 18:56] #281 closed, assigned to adammichaelwood

[2020-11-10 18:57] tfboyd commented on #305
Closing due to being stale.

[2020-11-10 18:57] #305 closed, assigned to nobody

[2020-11-10 19:00] tfboyd commented on #314
This is working at: https://www.tensorflow.org/agents/tutorials/9_c51_tutorial

and in our nightly tests with pure Jupiter Notebooks.

[2020-11-10 19:00] #314 closed, assigned to nobody

[2020-11-10 19:00] tfboyd commented on #335
Closing due to being stale.

[2020-11-10 19:00] #335 closed, assigned to nobody

[2020-11-10 19:01] tfboyd commented on #345
Closing due to being stale.

[2020-11-10 19:01] #345 closed, assigned to nobody

[2020-11-10 19:01] tfboyd commented on #354
Closing due to being stale.

[2020-11-10 19:01] #354 closed, assigned to nobody

[2020-11-10 19:02] tfboyd commented on #373
Closing due to being stale.

[2020-11-10 19:02] #373 closed, assigned to nobody

[2020-11-10 19:09] tfboyd commented on #14
https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed/examples/sac

The example lacks a lot of documentation, but includes what you need to have a distributed collect setup using Reverb with SAC as the example. The three process represents the parts we use to scale up to 100s of agents.

While the work is not done as far as awesome documentation. I a closing due to th

[2020-11-10 19:09] #14 closed, assigned to egonina

[2020-11-10 19:11] tfboyd commented on #123
I wish I could be sure the issue was fixed. But this is over a year old and the PR was merged.  If you (anyone reading this) have a similar issue please open a new issue.

[2020-11-10 19:11] #123 closed, assigned to samfishman

[2020-11-10 19:12] tfboyd commented on #334
Closing due to being stale.

[2020-11-10 19:12] #334 closed, assigned to nobody

[2020-11-10 19:12] tfboyd commented on #346
Closing due to being stale.

[2020-11-10 19:14] tfboyd commented on #398
This has started to happen and all new code is PY3 only.  I am going to close this as we are not actively watching this issue and future will get removed over time.

[2020-11-10 19:14] #398 closed, assigned to nobody

[2020-11-10 19:15] #6 closed, assigned to nobody

[2020-11-10 19:15] #63 closed, assigned to nobody

[2020-11-10 19:18] tfboyd commented on #95
Update this when we tested the new PPO example.  The new example does checkpoints for sure that are great for doing offline or "sidecare" eval from another process or machine. The caveat is when it is restarted I am not sure it starts off exactly where it left off due to some replay buffer checkpointing.  Assigning to myself.  This issue is over a year old but the ask is valid and we are working o

[2020-11-11 01:14] benalcazardiego opened #511 "Access Environment attributes"
Hello.

I defined my own environment in python and then converted it to tensorflow using tf_py_environment.TFPyEnvironment. However, I need to access attributes and methods different from the standard functions like "myenv.attribute1" during the main code execution. Is this possible? I could not find the attributes listed.

Thank you

[2020-11-12 12:01] HuPeng-Valer opened #513 "How can I change the experience storage policy"
I want to add trajectory to the replay buffer based on the value of the action and part of the observation,but I used tf_py_environment and TFUniformReplayBuffer , the eager tensor can't be compared with constants and I dont know how to modify the replaybuffer.add_batch,how can I do that?

[2020-11-13 00:51] kbanoop commented on #511
Hi,

There are a couple of options:
- Access it through this [function](https://github.com/tensorflow/agents/blob/448ac9c64033055c8b52e6206eac4523ee419809/tf_agents/environments/tf_py_environment.py#L180)
- Access it through the wrapped py environment [property](https://github.com/tensorflow/agents/blob/448ac9c64033055c8b52e6206eac4523ee419809/tf_agents/environments/tf_py_environment.py#L208)

Btw

[2020-11-13 00:56] kbanoop commented on #513
Can you clarify what you meant by eager tensors cant be compared with constants?

Also please checkout the [Reverb Replay Buffer](https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/reverb_replay_buffer.py), which will be our main replay buffer moving forward.

[2020-11-13 04:32] kaiyun717 commented on #423
Is there a way to view the model graph in TensorBoard using TF-agents?
I'd like to see the entire network.

[2020-11-13 15:52] HuPeng-Valer opened #515 "How can I use custom layer in preprocessing_layers"
Hi, I want to add a custom resnet with attention in preprocessing_layers for encoding_net,but I got a valueError:Unknown layer:ResNet,this error occurred while executing function class_and_config_for_serialized_keras_object in file tensorflow.python.keras.utils.generic_utils.py
here is the main code

class ResNet(layers.Layer):

    def __init__(self, blocks, layer_dims=[2,2,2,2]):
        super(R

[2020-11-13 15:54] #513 closed, assigned to nobody

[2020-11-16 18:44] DanielWicz commented on #30
Flatlat (http://flatland-rl-docs.s3-website.eu-central-1.amazonaws.com/index.html) is such an example. Nevertheless, there's a solution to this issue ?

[2020-11-17 17:56] kbanoop commented on #515
Can you try if using the sequential_layer from TF-Agents works?

Please see the tests here for an example:
https://github.com/tensorflow/agents/blob/master/tf_agents/networks/encoding_network_test.py

[2020-11-17 19:19] biplavc opened #516 "Normalizing the states required ?"
The states in my environment are a combination of two observations (i.e. concatenation of two lists), one of which is represented by an integer (shape =  [20\*1]) while the other lists is the probability (shape = [22\*1]) which makes the overall state a list of shape [22\*1]. In such a case, do I need to normalize the first 20 elements or the state as a whole can be used as the way it is?

[2020-11-17 23:55] touramaline opened #517 "Toggling Agents/Policies"
I've been trying to figure out how to interface policy switching with the built-in bandit algorithms for a contextual bandit algorithm that has a cycling piecewise environment that is consistent for each of the pieces and switches between pieces at predictable times.

Was the library designed in mind with the prebuilt agents having the ability to toggle and train policies? Or is it mean to be that

[2020-11-18 00:16] kbanoop commented on #516
Either is possible with TF-Agents. States can be arbitrary nested objects such as a list, dict or nests of these. But you may have to define your own custom network that can process these.

[2020-11-18 08:02] bartokg commented on #517
In general, agent classes can only work with their designated policy classes. That is, a LinUCB agent can only train and serve a LinUCB policy.

However, nothing stops you from instantiating 2 (or more) agents for one problem. You can decide based on your piecewise environment schedule, which agent you want to get involved. you could even decide whether you want all agents to be trained on each ot

[2020-11-18 13:43] #516 closed, assigned to nobody

[2020-11-18 21:24] #511 closed, assigned to nobody

[2020-11-18 21:28] sguada commented on #507
SAC is not designed for discrete actions, maybe it would better to try PPO.

[2020-11-18 21:30] sguada commented on #499
The main difference is that the one in the Agent refers to the discount used by the algorithm to discount future rewards. The one inside trajectories is used to stop using future rewards when the episode ends or is truncated.

[2020-11-18 21:47] sguada commented on #494
Can you create a test with error, so it is easier to verify if there is a bug or not.

[2020-11-20 01:46] sguada commented on #515
Reopen if needed.

[2020-11-20 01:46] #515 closed, assigned to nobody

[2020-11-22 19:17] WangMengqi32C opened #519 "The code is killed without any error in tf_py_environment.TFPyEnvironment.step function"
Dear all,

I have some problems with the tf_py_environment.TFPyEnvironment.step function. it is killed without any error. could you please help me fix it?
 here is my code:
`if __name__ == "__main__":
    figure_save_path="/home/mengqi/TUe/intern/DDPG_practice/deyepump_old_state_11_22fc(10, 200)0"
    best_policy = tf.compat.v2.saved_model.load(figure_save_path+"best policy")
    env_name='gym_dis

[2020-11-22 20:48] ageron opened #520 "env.step(1) => AttributeError: 'int' object has no attribute 'item'"
The following code raises an exception:

[code]

The exception is `AttributeError: 'int' object has no attribute 'item'`, and it occurs on line 212 of the file `environments/gym_wrapper.py` (see the full stacktrace below).

This used to work fine. I ran some tests, and apparently it broke in 0.4.0 (it works fine in 0.3.0).

Here is a simple workaround:

[code]

Here is the full stacktrace:

[code]

[2020-11-22 20:50] ageron commented on #520
See this Colab which reproduces the issue (and also shows that it used to work in 0.3.0):
https://colab.research.google.com/drive/18bWfUtpghrkb7oS-i1fSUECW2a2wIOon?usp=sharing

[2020-11-23 19:04] cosmir17 opened #521 "Custom Env & DQN Policy Returns the same action after 10 seconds (action can be different at each appliction run)"
Hi :)

I enjoy playing Nimble Quest game.
https://store.steampowered.com/app/259780/Nimble_Quest/

I am using 'tensorflow/agents DqnAgent'.
[code]

I am creating A.I bot to play the game. My TF DQN agent yields just one action after 10 seconds it's running! Kindly note that it can be a different action at each application run.
![Screenshot 2020-11-23 at 18 45 56](https://user-images.githubusercont

[2020-11-23 20:58] sguada commented on #521
You may need to collect more initial data with the random policy and annile the epsilon as training advances.

You probably want to make sure to look at the TensorBoard and enable debug summaries to make sure learning is happening, and losses are evolving.

[code]

[2020-11-23 21:03] cosmir17 commented on #521
Hi @sguada,
I set 'initial_collect_steps' to be 10000 and ran for one hour to get RandomPolicyAgent data but the result was same.
Also, I changed 'epsilon_greedy' value in DqnAgent(...) to 0.3, 0.4, 0.8 but it didn't affect the result.

I spent three days (8h each day) and I have no idea what's wrong with my code.

Somehow, it doesn't work for image observation spec.. Do I need to do extra for ima

[2020-11-23 21:52] sguada commented on #521
I'm sorry but debugging somebody else code is very difficult.

My advice is to enable debug_summaries to monitor how the losses, weights, gradients evolve overtime, and upload those to https://tensorboard.dev/ using `tensorboard dev upload --logdir=./logs/`

For instance just skimming your code it seems that you use `batch_size=1` (You will need at least `batch_size=32`) to learn better.
Another t

[2020-11-23 22:14] cosmir17 commented on #521
Although it's not written by a Python dev(myself), I wrote them based on
https://github.com/tensorflow/agents/blob/master/docs/tutorials/1_dqn_tutorial.ipynb
https://github.com/tensorflow/agents/blob/master/docs/tutorials/2_environments_tutorial.ipynb

The only difference here is I feed image.
Thank you for the Atari example!! I shall adapt some techniques there.

I saw your advice and used '1' as

[2020-11-24 05:51] Dongwon-Son opened #522 "How can I get "sample_info" through tf_agents.experimental.train.learner?"
Hello,
I am trying to implement PER(Prioritized Experience Replay) with Reverb and experimental.train.actor & learner, as guided in SAC.
As in title, how can I get "sample_info" (contains priorities and probabilities which are necessary for PER) through learner.run?

FYI,
I found that 'sample_info' is generated from iterator, but not entered to train function of agents instance in function 'single

[2020-11-24 12:27] windmaple commented on #466
+1

I'm trying to convert a policy to TFLite and hit the same error. Not being fully 'Saved Model' is a real barrier.

[2020-11-24 23:44] sguada commented on #466
Does it work on TF 2.4?

[2020-11-24 23:55] sguada commented on #522
You will need to write your own Learner, since in addition to access the sample_info you also need to update the priorities afterwards.

[2020-11-25 02:32] #520 closed, assigned to nobody

[2020-11-25 02:51] windmaple commented on #466
Just tried nightly. Didn't work.

[2020-11-25 17:00] #522 closed, assigned to nobody

[2020-11-25 20:15] ebrevdo commented on #466
`_DistributionTypeSpec` is a Tensorflow Probability object that we use in our policies because we serialize the `_distribution()` method as well.  Tensorflow Probability renamed this object to `_TFPTypeSpec` about 4 months ago: https://github.com/tensorflow/probability/commit/2ffe65af9fbc1f1ce0a66a33073a243f3f089ed3

So in this case, the issue may be due to a policy saved with an older version of

[2020-11-25 20:19] ebrevdo commented on #466
Another possible issue here is that the type spec is only registered if you import `tfp.experimental`; unfortunately may be lazy-loaded (https://github.com/tensorflow/probability/blob/master/tensorflow_probability/python/__init__.py#L118).  If you could run two experiments:

1. Import tensorflow_probability then try to do saved_model.load
2. Import tensorflow_probabitlity.experimental then try to

[2020-11-26 21:10] coleridge72 commented on #469
I am also having the same problem.

Any batched `py_environment.PyEnvironment` seems to require an array of discount_spec and step_type. @guachoperez Did you find any way round this?

[2020-11-27 18:11] cosmir17 commented on #521
Hello @sguada or anyone interested,
I made some improvements (rgb => gray, better score recognition etc)
https://github.com/cosmir17/nimble-quest-tf-agent/blob/master/main.py

I saw TF agents Atari and CartPole examples. The gameplays are accelerated. So, the RL training can be done within 10 to 20 minutes, and the results are promising.

Nonetheless, I have been training an agent with a real game

[2020-11-30 21:51] cosmir17 commented on #235
I am curious.. @oars Does it also load the policy network and agent information automatically?

I have the following code:

[code]

1. I couldn't have 'global_step' in `common.Checkpointer(...)` constructor when running second time and restoring from a checkpoint, because it complained that  `global_step` was None. That's why I had to run `global_step = tf.compat.v1.train.get_global_step()` again.

[2020-12-01 03:13] summer-yue commented on #487
The new Atari example is open sourced now (https://github.com/tensorflow/agents/commit/635af30a6365ec963823d4623f14df25fcefaadd) reproducing "human-level control through deep reinforcement learning" (Mnih 15) thank you for your patience!

[2020-12-01 03:13] #487 closed, assigned to ebrevdo, summer-yue

[2020-12-01 11:08] coolvinay1903 commented on #433
I am also stuck with the same problem. @mcmah309 were you able to find a work-around for this?

[2020-12-01 14:21] cosmir17 commented on #487
@summer-yue Thank you for the examples. I(and we are) am really thankful.
I have a quick question.

I have the following specs for my custom environment. I feed an image numpy array for each episode.
[code]

The following is how I configured my network and agent.
[code]

I saw your examples where you set the q-network manually.
Can I ask if my code is a valid setting for q-network and agent, pleas

[2020-12-01 14:40] mcmah309 commented on #433
@coolvinay1903 I was not. The project as it relates to Tensorflow was cancelled due to this issue. I recommend @sguada that the Tensorflow team take another look at this.

[2020-12-01 20:50] summer-yue commented on #487
@cosmir17 q_network.QNetwork is still a valid way to set QNetwork. In the example I used TF Keras for the networks to demonstrate the new feature we launched recently (We now support Keras networks in TF-Agents not just the TF-Agents classes - many folks are more familiar with Keras networks so this simplifies the interface for them).

[2020-12-01 22:18] cosmir17 commented on #487
I see. Thank you, @summer-yue

[2020-12-02 15:10] WangMengqi32C opened #525 "Is the LSTM’s hidden state zeroed at the start of each update?"
Dear all,

I am new to tf-agent, I want to know whether the LSTM’s hidden state is zeroed at the start of each update when I use dqn agent with LSTM. Can anybody tell me how does the tf-agent manage that?

Thank you in advance!
Mengqi

[2020-12-02 23:00] #521 closed, assigned to nobody

[2020-12-02 23:22] cosmir17 opened #526 "Does CheckPointer load previous agent, policy, and replay buffer data from saved files?"
Hello,

There is a tutorial on `Checkpointer`.
https://github.com/tensorflow/agents/blob/master/docs/tutorials/10_checkpointer_policysaver_tutorial.ipynb

In `Checkpointer` and `Restore checkpoint` sections, I found the following code.
[code]

The last line is where it loads previously saved `global_step` but other than that, we don't see lines of codes to load previously saved agent, policy and r

[2020-12-03 00:36] kbanoop commented on #525
Hi Mengqi,

Please see this for how the state resetting is handled in TF-Agents: https://github.com/tensorflow/agents/blob/f1cae020ba06548b97eb06c146fe540c29497b59/tf_agents/keras_layers/dynamic_unroll_layer.py#L245

Closing for now, feel free to reopen if you have more questions.

[2020-12-03 00:36] #525 closed, assigned to nobody

[2020-12-03 00:44] kbanoop commented on #526
Hi Sean,

Trying to understand your question more. Is your code significantly different from our DQN example:
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py

This shows how to create the global step and saves in the checkpoint as well. The initialize_or_restore will restore it when you run again.

[2020-12-03 01:10] cosmir17 commented on #526
Hi @kbanoop, It looks like, your example only demonstrated how to save state (initialise without restore) without restoration part. Hence, It doesn't contain `global_step = tf.compat.v1.train.get_global_step()`.

Nonetheless, I am already aware that `global_step` gets successfully restored in my example. My question is about `restoration` of other variables as shown in
[code]
I raised this page be

[2020-12-03 09:26] WangMengqi32C commented on #519
ops, my fault. did clean all the list in the reset function so run out of memory ...

[2020-12-03 09:26] #519 closed, assigned to nobody

[2020-12-04 01:21] kbanoop commented on #526
Hi Sean,

Yes the train_checkpointer.initialize_or_restore() in the dqn train_eval I linked is meant to restore the agent, policy variables etc. https://github.com/tensorflow/agents/blob/5ec6898513ed31cdac6819604536a410e1a948d3/tf_agents/agents/dqn/examples/v2/train_eval.py#L220 It can be killed, and when restored, it should continue training from the same place. If that's not happening it is a bu

[2020-12-04 12:27] cosmir17 commented on #526
Hi @kbanoop, thank you for your kind reply. I didn't use Notebook. Everything ran as a python project on Pycharm. So, it's same as running on terminal.
The following is the actual project that I am doing.
https://github.com/cosmir17/nimble-quest-tf-agent/blob/master/main_tf_agents_ddqn.py
(The code can't be used for both the `initial save` and `consequent save & load` states, line 52, 53 and 83 ne

[2020-12-05 19:34] cosmir17 commented on #507
Can the following paper be considered? It suggests such possibilities..
https://arxiv.org/abs/1910.07207

The author also publicised his code.
https://github.com/p-christ/Deep-Reinforcement-Learning-Algorithms-with-PyTorch/blob/master/agents/actor_critic_agents/SAC_Discrete.py

I don't know if they are feasible.

[2020-12-07 21:28] #517 closed, assigned to bartokg

[2020-12-08 19:59] SurferZergy opened #528 "Question: why is a replay buffer required for on-policy RL algos like PPO-clip for tf-agents?"
I think I never seen a replay buffer used for on-policy algos like the PPO-clipping (I understand TRPO might used it), is it really used? or can we eliminate the need for it?

[2020-12-08 23:30] kuanghuei commented on #528
RB is not required. Just a way to cache on-policy experience. You don't have to use it with TF-Agents PPO.

[2020-12-08 23:30] #528 closed, assigned to nobody

[2020-12-09 01:52] Kautenja commented on #476
i get the same thing when plugging a DdpgAgent into the SAC tutorial notebook.

[2020-12-10 17:24] yasser-h-khalil commented on #275
hello, any solutions or walkaround on speed issue with tf.agents?

Help is much appreciated.

[2020-12-10 18:49] tfboyd commented on #275
On CPU I did not see a huge performance difference testing on the same hardware. I have not been able to go back and test GPU apples to apples. We are forming a plan to test the top agents (likely SAC and PPO) against some other leading libraries in Q1 and address any gaps.  If you have a specific use case, that is the most useful to start with.  Doing perf is always difficult and I prefer to stic

[2020-12-10 18:52] ebrevdo commented on #275
Have we resolved @pirobot 's original concern?  If so, we should close this ticket and ask folks to create new ones with their specific code.

[2020-12-10 18:59] tfboyd commented on #275
I am going to close this as it is misleading. If there is an exact use case let's get on it.  We currently do not have proof of a gap in performance but we are going to use our time to look for a gap to be sure in early 2021. As stated above, the process is really hard as apples-to-apples is not as obvious.  If anyone seeing this as a specific use case post it and @tfboyd .  Perf is hard and it ne

[2020-12-10 18:59] #275 closed, assigned to kuanghuei, tfboyd

[2020-12-10 19:03] ebrevdo commented on #275
IMO the [benchmarks link](https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/examples/sac) toby pointed to show that there is no longer a 10x performance drop; but again, please submit any new regressions as a new bug with repro instructions.

[2020-12-12 12:58] KMJ901122 commented on #476
Did you solve it? I also got the same error when I implemented td3agent.

[2020-12-14 16:18] greglira opened #529 "Does TF-Agents support delayed rewards?"
I couldn't find any references in the documentation regarding the support for learning under delayed feedback (https://sites.ualberta.ca/~szepesva/papers/DelayedOnlineLearning.pdf).
For example, in a simple batch-oriented usecase with multi-armed bandits, is there a mechanism to store the action log and then use it during the training when the rewards are collected?

[2020-12-15 22:41] SurferZergy commented on #528
https://www.tensorflow.org/agents/api_docs/python/tf_agents/agents/ppo/ppo_clip_agent/PPOClipAgent
it looks like "experience" is required? or is the idea just to pass an empty experience?

[2020-12-16 23:26] johnamcleod opened #530 "StreamingTensorNormalizer variance estimate is inconsistent with the docstring."
My understanding of the `StreamingTensorNormalizer` is that all of the data should be passed in batches to the `update` method, which will update the internal state so that when the latest batch of data is passed to `normalize` it is normalized with respect to the mean and the (biased) estimate of the variance of all of the previously observed data. At least, this is how I interpret the docstrings

[2020-12-17 04:49] Axel-CH opened #531 "Nested network with PPO Usage (NestMap)"
Hello,
i'm using the PPO algorythm with preprocessing layers and combiner.

As I have various issue with the preprocessing layers due to their complexity,  [details here](https://github.com/tensorflow/agents/issues/443)

I want to use the new way to declare complex networks that you added recently called "NestMap".

As this feature is recent, it seem that the doc and exemples are not yet present.

[2020-12-17 23:06] orshemtov opened #532 "Problem with importing the "reverb" package with Tutorial: SAC minitaur with the Actor-Learner API"
HI,

I am getting an ImportError when trying to import the "reverb" package as done in the tutorial.

[code]

I have tried to export this variable:
export LD_LIBRARY_PATH=/home/orie/Desktop/AI/ai_venv/lib/

I have also tried including this environment variable in my python notebook:
[code]

I also tried:
`sudo ldconfig /home/orie/Desktop/AI/ai_venv/lib
`
I'm using Ubuntu and a virtual environment.

[2020-12-17 23:08] orshemtov commented on #532
Even when I try to run this in the Colab notebook, trying to import reverb is causing this error:

`NotFoundError: /usr/local/lib/python3.6/dist-packages/reverb/cc/ops/libgen_dataset_op_gen_op.so: undefined symbol: _ZN10tensorflow4data15DatasetOpKernel11TraceStringEPNS_15OpKernelContextEb`

This is from this notebook:
https://colab.research.google.com/github/tensorflow/agents/blob/master/docs/tuto

[2020-12-18 09:39] coleridge72 commented on #532
I also had this issue starting from yesterday. I think it is related to the new tensorflow 2.4

It seems to be working if you install tf 2.3.1 just before installing reverb & tf agents in that colab notebook
[code]

[2020-12-18 11:23] FMalerba opened #533 "Does tf-agents support DQN agents with multiple inputs?"
Simple example:
[code]
network to be passed as preprocessing network:
[code]

and `x` should be the input to the Qnetwork's postprocessing layers.

My understanding by looking at `encoding_network.py` is that this is not currently possible because all the layers in `self._flat_preprocessing_layers` get fed the same input. Am I missing something?

This seems like an important feature to have in gen

[2020-12-20 13:38] jeffheaton commented on #532
Also getting this error.

[2020-12-21 16:24] Axel-CH commented on #437
I tried tf_agents.system.multiprocessing.enable_interactive_mode() in the main function, before the hyperoptimisation. I'm able to start the hypersearch.
But now I have a new issue, as I'm using the ray python library for multiprocessing usage. The interactive mode of tf_agent seem to mess with it.
The result is that after each hypersearch iteration I end up with a ghost process from ray consuming

[2020-12-21 22:46] DBraun commented on #507
A more general approach that handles continuous and discrete outputs is described here https://arxiv.org/abs/1912.11077v1

I'm trying to get it working by modifying the SacAgent and the actor network.

[2020-12-22 17:13] cosmir17 commented on #507
This is awesome 👍  @DBraun

[2020-12-23 07:48] DBraun commented on #507
I think it's working! I followed this instruction from the paper (also look at Figure 1).

I interpreted this as an instruction to modify the actor network. In my experiment I modified the `actor_distribution_rnn_network.ActorDistributionRnnNetwork`. In its `call` function:

1. Run the core network (such as an RNN/LSTMs)
2. Pass the output of the core network to the projection networks that lead t

[2020-12-30 08:01] MTDzi commented on #532
Same here.

[2020-12-30 21:31] datistiquo opened #534 "Question to meaning of step_type"
Hey,

I really wonder why nobody has problems with this and/or why there is no clear description of this in the documents of the code. There, it is clear what it is, but not how to use it to make "predictions" of the network. It seems not straightforward to get the q-values of a QNetwork so easily as inside the call() of the networks is this step_type.

I want to get the logits of the network, so

[2021-01-05 17:04] ormandi commented on #534
Thank you for your question.

Here you can find an example of how the `q_network` is used in a DQN agent: https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py#L524-L533 Basically, the high level expectation is that you have a `time_step` which contains both the observation (i.e. input of the observation denoted by `X` in your example), and the information whether this

[2021-01-05 17:04] #534 closed, assigned to nobody

[2021-01-06 21:01] erikbixby commented on #532
Same.

[2021-01-11 10:56] MoritzErtelt opened #535 "is_bandit_env check in dynamic_step_driver fails for custom BanditPyEnvironments wrapped with TFPyEnvironment"
Hey everyone,

I recently tried to use the dynamic_step_driver with a custom BanditPyEnvironment,
which lead the driver (with `steps_per_loop=1` ) to never terminate.
This is caused by the driver only counting steps that lead to a transition and not to an environment reset,
with the later being always the case for Bandit environments.
Normally this behavior is avoided with the `is_bandit_env` chec

[2021-01-11 16:00] Eisfoehniks opened #536 "Getting extra loss data when training a REINFORCE agent doesn't work for me"
Hi,

I'm currently training a reinforce agent using a value network as a baseline. I'm trying to get seperate loss values for the actor network and the value network to evaluate stability seperately. However the tensor which is returned by tf_agent.train(experience).extra seems to contain only the variable names as strings. I attached an example based on the REINFORCE tutorial below.

The example

[2021-01-11 17:05] pm3310 opened #537 "Unable to call action on a loaded Bandit Policy"
Hi team,

Here's the code that trains and saves a Bandit policy
[code]

And here is the code that loads the previously trained Policy

[code]

However, the line `policy.action(time_step=time_step_obj, policy_state=policy.get_initial_state(2))` generates the following error:

[code]

My goal is to have a Bandit in a RESTful endpoint to sample from and train in an online fashion. Do you have any bes

[2021-01-12 10:54] pm3310 commented on #537
I used `policy = tf.saved_model.load('my_awesome_policy')` instead and it worked

[2021-01-12 13:53] TekpreXyz opened #538 "Problem in MSwindows10 due to pyvirtualdisplay incompatibility"
Tutorial issue
https://www.tensorflow.org/agents/tutorials/6_reinforce_tutorial
When try to import
display = pyvirtualdisplay.Display(visible=0, size=(1400, 900)).start()
because pyvirtualdisplay not work in MSwindows10

[2021-01-12 13:54] TekpreXyz opened #539 "display = pyvirtualdisplay.Display(visible=0, size=(1400, 900)).start()"
Tutorial issue
https://www.tensorflow.org/agents/tutorials/6_reinforce_tutorial
When try to import
display = pyvirtualdisplay.Display(visible=0, size=(1400, 900)).start()
because pyvirtualdisplay not work in MSwindows10

[2021-01-13 03:42] summer-yue commented on #536
Thanks for reporting! This looks like a bug. Let me try rolling out a fix and update here.

[2021-01-14 00:43] tfboyd commented on #532
All fixed with TF-Agents release 0.7.1. I tested the colab in tensorflow.org/agents.  I am looking at locking TF-Agents to a specific minor release of TensorFlow to avoid this in the future but only if installing with `[reverb]`.  This will still allow people to try to mix and match TF versions or custom builds but use the `tf-agents[reverb]` directive as the most tested path.  Sorry about that, T

[2021-01-14 00:43] #532 closed, assigned to nobody

[2021-01-14 00:45] tfboyd commented on #535
Assigned to bandits team to take a look including at the possible patch/solution.

[2021-01-14 00:46] tfboyd commented on #537
Assigned to bandits team.  They can close unless they have a comment.

[2021-01-14 00:49] tfboyd commented on #539
I don't like closing issues this way but we are not supporting windows officially. If the package works that is great, but on our team we do not have a setup to debug or for continuous testing. If you know of a solution that works on linux and windows please submit a PR and we can validate it.

[2021-01-14 00:49] #539 closed, assigned to nobody

[2021-01-14 00:49] tfboyd commented on #538
Duplicate https://github.com/tensorflow/agents/issues/539

[2021-01-14 00:49] #538 closed, assigned to nobody

[2021-01-14 09:33] bartokg commented on #535
Thanks for the catch, this is indeed a bug. The main reason for this bug existing is that we always use batched environments for bandits, even when the batch size is 1. To avoid hitting this bug we might decide to enforce all bandit environments to be batched.

Can you please try if you set the `is_batched` function in your environment to return `True`, do you still have the problem? You also have

[2021-01-14 09:35] pm3310 commented on #537
Hey @bartokg , I have 2 questions:
- Why `policy = tf.saved_model.load('my_awesome_policy')` worked but `policy = policy_loader.load('my_awesome_policy')` didn't work?
- Can you pls provide some example on how to deploy a bandit policy to TF-serving? My use case is to incrementally train a bandit every X minutes and re-deploy the policy to a restful service

[2021-01-14 09:47] bartokg commented on #537
Hi Pavlos,
Happy to see you found a working loader function!
I never used policy_loader and it's hard to see why it fails. From the documentation of policy_saver.PolicySaver (https://github.com/tensorflow/agents/blob/master/tf_agents/policies/policy_saver.py), it recommends using
[code]
as you also suggest. I assume the compat.v2 can be omitted now.

[2021-01-14 12:15] pm3310 commented on #537
thank you @bartokg Any suggestion for putting a bandit agent in production for continuous learning?

[2021-01-14 20:04] summer-yue commented on #536
Please let me know if the issue if fixed for you. Thanks!

[2021-01-14 20:49] Eisfoehniks commented on #536
I just tested the fix and it works now. Thank you for your effort!

[2021-01-14 20:49] #536 closed, assigned to summer-yue

[2021-01-16 14:48] MoritzErtelt commented on #535
Hey, thanks for the quick response.
Yes, converting to a batched environment solves the problem for a simple example environment.
However, for my real environment having it batched in combination with using `ParallelPyEnvironment` requires fixing everything downstream in sometimes non-obvious ways, so I am not sure if enforcing batched environments is the most user friendly thing to do.

[2021-01-16 17:07] #535 closed, assigned to bartokg

[2021-01-18 07:52] WhistleWhileYouWork opened #541 "categorical_q_network.CategoricalQNetwork does not appear in the API docs"
Strangely, [categorical_q_network.CategoricalQNetwork](https://github.com/tensorflow/agents/blob/v0.6.0/tf_agents/networks/categorical_q_network.py) is nowhere to be found in the [API docs](https://www.tensorflow.org/agents/api_docs/python/tf_agents/networks) 0.6.0. I noticed it's not imported in `tf_agents/networks/`[`__init__.py`](https://github.com/tensorflow/agents/blob/v0.6.0/tf_agents/networ

[2021-01-20 16:33] tfboyd commented on #541
I will ask and I think the two are related. My guess is because of the manual step to add it to init.py that it was missed. Maybe we missed some others. I also don't know why the explicity imports are in the init.py vs. just happen.

[2021-01-20 18:49] tfboyd commented on #541
Confirmed, this was just an oversight. I will push a commit and will **close this issue when tf-agents-nightly has the fix**. ETA ~48 hours just due to code reviews and such. I am also checking if we missed any other networks.  Thank you for the clear details and links. It we very easy to figure out what was wrong.

[2021-01-20 18:58] WhistleWhileYouWork commented on #541
Excellent! tf-agents is such a great resource, I'm glad to contribute (in my own small way).

Also, now that 0.7.1 is out, should the docs on [tensorflow.org](https://www.tensorflow.org/agents/api_docs/python/tf_agents) be updated to the new version? Although there is no direct indication of the API version on the website, the GitHub source linkbacks still point to the 0.6.0 version.

[2021-01-20 19:04] tfboyd commented on #541
@WhistleWhileYouWork  I will check on the links as well and keep this issue open until I am sure.  The API should be updated for 0.7.1. DevRel handles this and I am good friends with them so it is easy to figure out.  We had some weird stuff with TF 2.4 around the Holiday so it is worth a double check.  Thanks for the extra info. I am glade you like the tool.  FYI the new API is really nice and we

[2021-01-20 19:20] WhistleWhileYouWork commented on #541
I love the examples you linked. Being able to see how each type of RL algo performs on different problems as well as being able to see how they are implemented and perform for the same problems (if applicable) is what will help adoption of `tf-agents`. You can never have too much usage examples. I think that's one of the TensorFlow project's best assets.

I wasn't aware of this new approach with t

[2021-01-21 13:52] bartokg commented on #537
In general what you want is a trainer that consumes data (with the `train()` function of the agent), you save the model periodically, then another binary can periodically load the latest model (policy) and call `action()`. This is all doable by hand.
If you want a fully productionized solution, you can try [TensorFlow Extended](https://www.tensorflow.org/tfx), that integrates well with TF-Agents b

[2021-01-21 13:52] #537 closed, assigned to bartokg

[2021-01-21 18:05] tfboyd commented on #541
Communication over kill here:  Website is fixed to point back to 0.7.1 and the API should be updated for 0.7.1.  https://www.tensorflow.org/agents/api_docs/python/tf_agents.  It will not have the categorical_q_network. The CL/Commit for categorical_q_network should show up in tf-agents-nightly tonight/tomorrow.  I will confirm and then close this issue.  I also found that mask_splitter_network was

[2021-01-22 17:28] tfboyd commented on #541
Alright I tested

`from tf_agents.networks import categorical_q_network` after `pip install tf-agents-nightly[reverb]` and it looks good. And in the previous comment I verified the API docs are 0.7.1.  FYI the API documents will not show `categorical_q_network` until our next release which most likely will not occur until TF 2.5.  Closing as I think all issues in this issue are resolved.  Gotta lo

[2021-01-22 17:28] #541 closed, assigned to tfboyd

[2021-01-22 22:23] kbanoop commented on #533
Sorry for the late reply. This can be done in multiple ways:

1. Use preprocessing layers as you mentioned. See e.g. this [test](https://github.com/tensorflow/agents/blob/117b83882c71d74881a80163ec1ff3c2e2eb4fe3/tf_agents/networks/encoding_network_test.py#L328).

2. Write your own custom network. e.g. the [DDPG example](https://github.com/tensorflow/agents/blob/117b83882c71d74881a80163ec1ff3c2e2eb

[2021-01-22 22:23] #533 closed, assigned to nobody

[2021-01-22 22:25] kbanoop commented on #531
Sorry for the late reply. Please take a look at this [DDPG example](https://github.com/tensorflow/agents/blob/117b83882c71d74881a80163ec1ff3c2e2eb4fe3/tf_agents/agents/ddpg/examples/v2/train_eval.py#L319) showing how to create a custom network using NestMap.

Closing for now, please reopen if you have more questions.

[2021-01-22 22:25] #531 closed, assigned to nobody

[2021-01-24 11:34] touqir14 commented on #529
This feature would really be useful (much of the real world uses include delayed rewards). I was working on an advertisement recommender system for a web platform using Multi-Armed Bandits and was looking for algorithms under the delayed reward setting. I can definitely look into this if there is interest from the project maintainers.

[2021-01-26 07:30] bartokg commented on #529
While there are no agents specifically designed for delayed feedback in the codebase, you can use any of the agents without major hiccups.

Training and serving can be completely decoupled, and you can construct any training schedule. Instead of using the `dynamic_step_driver`, you can collect training data by logging the actions (and context if you have any in your problem), and joining them with

[2021-01-26 08:14] greglira commented on #529
@bartokg just to make sure we're doing it right, because the current solution looks a little bit hacky to me:
1. Get the actions to save for later use:
`actions = agent.collect_policy.action(ts).action`
2. During the training use the actions (`replay_actions`) persisted before to construct a trajectory:
[code]
We created a custom `_loop_body_fn` to do this and redifined the `DynamicStepDriver`. We

[2021-01-27 14:14] okvlam opened #542 "Failed to run the Train_eval_atari.py in categorical DQN example"
I have been trying to run the example by following,

[code]

However, this error occurs...

[code]
Any suggestion to run the example successfully?

[2021-01-28 05:36] sguada commented on #530
Can you create a test to verify if the behavior is correct or not?

[2021-01-28 21:52] johnamcleod commented on #530
I have raised a PR with a test which (I believe) shows that the behaviour is not correct: #543

[2021-01-28 22:05] johnamcleod commented on #530
Here the docstring of the `StreamingTensorNormalizer` says it uses the full history of tensor values:
https://github.com/tensorflow/agents/blob/master/tf_agents/utils/tensor_normalizer.py#L244

Here the docstring in the `_update_ops` method says it maintains a biased estimate of the variance:
https://github.com/tensorflow/agents/blob/master/tf_agents/utils/tensor_normalizer.py#L274

I have written

[2021-01-29 03:33] king821221 commented on #542
I have reproduced this error in my local environment as:

python tf_agents/agents/categorical_dqn/examples/train_eval_atari.py --root_dir=/tmp/atari/pong --alsologtostderr

tensorflow.python.framework.errors_impl.InvalidArgumentError: indices[31] = [31, 140186793017576] does not index into param shape [32,6,51] [Op:GatherNd]
  In call to configurable 'TrainEval' (<class '__main__.TrainEval'>)
2021

[2021-01-29 04:03] king821221 opened #544 "Feature Request: Support Duel DQN"
A feature request proposal to add support of Duel DQN, as suggested in [paper](https://arxiv.org/pdf/1511.06581.pdf) [Dueling Network Architectures for Deep Reinforcement Learning] , which is described as:
"
The main benefit of this factoring is to generalize learning across actions without imposing any
change to the underlying reinforcement learning
algorithm. Our results show that this architect

[2021-01-30 23:29] JacobFV opened #545 "`Distribution` policy_state"
The `tf_agents.policies.*.action` method accepts a recurrent `NestedTensor` `policy_state`. However, I want to recurrently biject and read from a `Distribution` state. Is there a way I can modify the `policy.action` method and signature to accept `tf_agents.typing.types.Distribution` objects?

[code]

[2021-02-01 15:25] biplavc opened #546 "Current DQN example modified for a federated learning case ?"
A simple implementation of Federated Learning based on this example [link](https://towardsdatascience.com/federated-learning-a-step-by-step-implementation-in-tensorflow-aac568283399) requires two `for `loops where the

-  outer loop is for the overall iteration of the global model (where the local models weights are averaged to obtain a global model)

- an inner loop to train the local models.

As

[2021-02-01 21:53] WhistleWhileYouWork commented on #541
@tfboyd Hi, I found two more missing Classes in the [**API**](https://www.tensorflow.org/agents/api_docs/python/tf_agents/specs):
* tf_agents.specs.tensor_spec.BoundedTensorSpec
* tf_agents.specs.tensor_spec.TensorSpec

This time they _are_ imported in [**__init__.py**](https://github.com/tensorflow/agents/blob/r0.7.1/tf_agents/specs/__init__.py) however, unlike *ArraySpec, the *TensorSpec classes

[2021-02-01 23:39] sguada commented on #546
I suppose is possible, I encourage you to copy the colab and implement it for your use case.

[2021-02-01 23:41] sguada commented on #545
I'm not sure I follow what you want to do, but would it be possible to pass the parameters of the Distribution as policy_state and reconstruct the Distribution inside of it?

[2021-02-02 00:35] tfboyd opened #547 "BoundedTensorSpec TensorSpec not in the API"
@WhistleWhileYouWork

@tfboyd Hi, I found two more missing Classes in the [**API**](https://www.tensorflow.org/agents/api_docs/python/tf_agents/specs):
* tf_agents.specs.tensor_spec.BoundedTensorSpec
* tf_agents.specs.tensor_spec.TensorSpec

This time they _are_ imported in [**__init__.py**](https://github.com/tensorflow/agents/blob/r0.7.1/tf_agents/specs/__init__.py) however, unlike *ArraySpec, t

[2021-02-02 00:36] tfboyd commented on #541
I just opened https://github.com/tensorflow/agents/issues/547  and made an internal bug.  I see what you mean.  I will need to ask around to see what is up as I don't have an idea at a glance.

[2021-02-02 02:16] JacobFV commented on #545
No. I want to pass along a `TransformedDistribution`

[2021-02-02 08:40] Fabien-Couthouis opened #548 "ValueError: actor_network output spec does not match action spec"
Hello,
I am trying to train a PPO agent with the default `actor_distribution_network` but I get this error:
[code]
In my Python env, I have: `self._action_spec = BoundedArraySpec((1,), dtype=np.int64, name="action", minimum=0, maximum=126)`. Then I wrap my Python env in a `TFPyEnvironment`.

Note that training is working when I comment the following lines in `tf_agents.agents.ppo.ppo_policy.py`:
[

[2021-02-02 16:02] bartokg commented on #529
In your example I don't see guaranteed that the actions (and the observations) are linked to the right rewards when they arrive. Maybe a good starting point is to implement a replay_buffer that looks at some kind of "time stamp" of the reward and does the joining in the `add_batch` function.

One side note: when you are creating a trajectory for a bandit problem, I suggest using `trajectory.single

[2021-02-04 12:28] FR8803 opened #550 "Explanation observation_and_action_constraint_splitter"
Hey guys,
I'm currently trying to add an observation_and_action_constraint_splitter to my DQN network and don't really understand how to use it. First of all I would highly appreciate if you had any code examples you could share with me so I can try to understand its logic.

I wonder whether the general idea of the splitter is to return both your observation array and the legal moves as a separate

[2021-02-04 13:40] #546 closed, assigned to nobody

[2021-02-04 18:49] egonina commented on #548
Hi, sorry you are having issues running ppo training. When you say "training is working" do you mean it trains to the expected value? Can you dig into the network/action spec mismatch a bit more to see why the output layer spec doesn't match the action_spec? Looks like the shape is mismatched (() vs (1,))

[2021-02-04 19:00] egonina commented on #550
Thanks for reaching out! I dug around a bit and I agree it is not very clear. CC @ebrevdo who is more familiar with the `observation_and_action_constraint_splitter`. Eugene, can you please advise? I agree we should add better documentation about this callable

[2021-02-04 23:25] sguada commented on #545
Currently that is not possible, so you may need to create your own policy.

[2021-02-05 00:35] #545 closed, assigned to nobody

[2021-02-05 08:40] Fabien-Couthouis commented on #548
Hi and thanks for helping!

First, my action specs defined in my env are:  `self._action_spec = BoundedArraySpec((1,), dtype=np.int64, name="action", minimum=0, maximum=126)`.

When I say "training is working", I mean training starts without error, with logits outputs from the actor model having the good shape  (i.e.: `<tf.Tensor: shape=(1, 1, 127), dtype=float32)>`).
However, event_shape of the s

[2021-02-05 09:25] #548 closed, assigned to nobody

[2021-02-05 19:47] bartokg commented on #550
The most common setup with the splitter is that the original observation is a 2-tuple of (observation, legal_moves_mask) and the splitter is just lambda x: (x[0], x[1]). Then you make sure that the observations you generate for the policy are in this structure. I can show you a code snippet from the Bandit library of  TF-Agents.
In this [test](https://github.com/tensorflow/agents/blob/master/tf_ag

[2021-02-08 01:21] jcatanza opened #553 "TypeError: function() got an unexpected keyword argument 'jit_compile'"
**Has anyone encountered this error, and found a workaround?**

Description of the problem: executing the following cell
============================
`from tf_agents.environments import suite_gym` <br>
`env = suite_gym.load("Breakout-v4")` <br>
`env`<br>
============================

Threw this error:
---------------------------------------------------------------------------

TypeError

[2021-02-08 14:36] david942j commented on #466
Facing the same issue with `tensorflow==2.4.1`, `tf_agents==0.7.1`

And adding "import tensorflow_probability" fixes the issue (`tf.saved_model.load` works)

[2021-02-10 06:31] jan-gebauer opened #554 "Tutorial 1: Train a Deep Q Network with TF-Agents and the use of a driver"
Hello,

I believe the tutorial 1_dqn_tutorial.ipynb has an unnecessary import of dynamic_step_driver. The module is not used at all, so the scripts runs just fine when commented out. Furthermore, I think it would be nice if the Data Collecting section explicitly talked about tutorial 4 and that this pattern is called a Driver. It is already somewhat alluding to it:

[code]

Since the tutorial on D

[2021-02-10 07:48] jan-gebauer opened #555 "Tutorial 8: Networks - faulty link to Keras' network.py"
Hello,

in Tutorial 8: Networks, there's a faulty link to Keras' network.py in the section Defining Networks. I am not sure how this bug came about but my guess is that Keras removed this API/file/whatever, reworked it into Layers API, which was then propagated into TF-agents and a new network.py was made here.

I am not sure what the best overall fix is as I don't know who the target audience of

[2021-02-10 10:13] Fabien-Couthouis commented on #507
Hey @DBraun, good work!

Do you still plan to make a PR? It would be awesome to have a discrete version of SAC! I would be very interested by your code even if you did not clean it.

[2021-02-10 12:08] FR8803 commented on #550
Thanks @bartokg  for your quick reply! So am I understanding you right that with the splitter, you are basically giving the agent an observation plus a tuple with legal actions (which can't be observed by the agent)? What happens if the agent chooses an illegal action (not part of the legal action mask)? Is there some way of "telling" him the action was illegal?

Basically I'm looking for a way to

[2021-02-11 20:02] padmaja-kulkarni opened #556 "Error while training TD3 with MountainCarContinuous environment."
I am using python 2.7 and Tensorflow 2.0.0 (Unfortunately, I can not change this).

I am training MountainCarContinuous-v0 with TD3 and I get the following error in the line `total_loss = agent.train(trajectories)`

    290   def wrapper(*args, **kwargs):
    291     with ag_ctx.ControlStatusCtx(status=ag_ctx.Status.DISABLED):
    292       return func(*args, **kwargs)
    293
    294   if inspect

[2021-02-11 20:03] padmaja-kulkarni commented on #556
Full error is:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-8-06633486ee13> in <module>()
      8     trajectories = replay_buffer.gather_all()
      9
---> 10     total_loss = agent.train(trajectories)
     11
     12     #total_loss = agent.train(experience=trajectories)

/h

[2021-02-12 13:55] zhouker94 opened #557 "Error when define vector reward spec"
I was trying to build a multi-agent environment, which could return multi-dimensional rewards -> `R = [ r1, r2, r3 ... r_i, ... ]`. My environment is not a batched environment, but `restart`/`transition`/`termination` functions in [time_step](https://github.com/tensorflow/agents/blob/master/tf_agents/trajectories/time_step.py) wrongly inferring the batch_size/outer_dims from reward.shape or reward

[2021-02-12 21:44] padmaja-kulkarni commented on #556
Changed loss function to default one and this error goes away.

[2021-02-12 21:45] #556 closed, assigned to nobody

[2021-02-13 13:25] ghost opened #558 "Initialize DQN with custom weights"
I have two model files, one a .h5 file for a TF network model and a policy for a separately trained DQN agent (I believe according to the policy saver routine from documentation it is stored as a .pb file). I need to now merge these two models and pre initialize the respective layers with these pre-trained weights to get a single DQN agent for a different experiment (transfer learning in some way)

[2021-02-16 09:56] hstojic opened #560 "`extract_event_log_values` fails if metric was not recorded at step 0"
In practice metrics are often not logged at step 0, which causes `extract_event_log_values` in `tf_agents.benchmark.utils` to fail with:

[code]

Its possible to artificially log metrics at 0th step but thats not a great solution, then we have to remember to scrub (only those that were artifically initialised) from tensorboard files when we are extracting the results.

Better solution is to option

[2021-02-16 16:49] Fabien-Couthouis opened #562 "[PPO] Nan values with entropy regularization and action masking"
Hello,

I am using PPOClipAgent and I have a problem with the entropy_regularization and action masking. I use a MaskSplitterNetwork to mask my actions:

[code]

 In fact, when I set the entropy_regularization parameter in PPOClipAgent to a value > 0.0, I have an error coming from nan values found in  `entropy_reg_loss = tf.debugging.check_numerics(entropy_reg_loss, 'entropy_reg_loss')` in _ppo_ag

[2021-02-17 00:15] XirenZhou commented on #57
FYI, The following is a tested implementation which successfully runs with DQN agent (This is a simple wrapper which only deals with non-stateful models).
[code]
I think this point proposed by @jrabary is fairly valuable and deserves an official feature extension. In terms of making tf-agents more powerful, flexible and scalable as a popular RL library, I believe the support of pre-training & tran

[2021-02-18 00:37] pbautista-apt opened #564 "[PPO] Trajectory action out of range"
Hello,

I'm trying to implement the PPO agent using a custom environment with a Discrete spaces object with bounds [0,4), but the agent policy is choosing a number out of range.
`action_space = spaces.Discrete(4)`

I created two new networks
[code]

[code]

[code]
and verified that the bounds of the action_spec from the resulting agent is [0,4)
![image](https://user-images.githubusercontent.com/79

[2021-02-19 23:15] WhistleWhileYouWork opened #565 "`epsilon_greedy` in class `DqnAgent` type hint should be optional"
[`epsilon_greedy` in class `DqnAgent`](https://github.com/tensorflow/agents/blob/v0.7.1/tf_agents/agents/dqn/dqn_agent.py#L104) and [`CategoricalDqnAgent`](https://github.com/tensorflow/agents/blob/v0.7.1/tf_agents/agents/categorical_dqn/categorical_dqn_agent.py#L65) type hint should be optional like `boltzmann_temperature` since you check for `None` [here](https://github.com/tensorflow/agents/blo

[2021-02-21 14:44] AntoninLagarrigue commented on #553
I have the exact same issue. I think i will just go pytorch, but i'm interested if you found a solution ?

[2021-02-21 22:55] ghost commented on #57
Could you please show an example for using this? It would be really helpful.

[2021-02-22 02:10] sguada commented on #553
It seems a problem with the version of tensorflow_probablity and TensorFlow. Can you check which versions do you have instaled?

[2021-02-22 21:53] ghost commented on #186
Can you explain how that worked for you? I am unable to get the weights for the networks through SavedModel, and not able to use save_weights(), coz the networks are not keras.layers but apparently from the network.Networks class.

[2021-02-23 19:39] Adaickalavan opened #567 "tf_agents.eval.metric_utils.eager_compute() is very slow"
I wrote a reinforcement learning code using tf_agents at https://github.com/Adaickalavan/rl-tfagents/blob/main/tfagent_dqn.py. This code is very similar to the example code of https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py .

My code has the following setup:
+ uses python3.7, nvidia driver: 450.80.02, cuda 11.0
+ runs inside a docker container with

[2021-02-25 15:26] ThorAvaTahr opened #568 "wrappers don't work together with gym"
I was trying to add a history to the observation of a gym environment (in this example taken to be Cartpole).
However I did not get any combination of wrappers to work (note below is only one of the combinations that does not work)
[code]
This particular one fails because with the following error

[2021-02-25 21:52] romandunets opened #569 "Memory leak with DqnAgent"
I have built basic DQN agent to play within CartPole environment by following the DQN tutorial: https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial However, after couple of training hours I noticed that process is increasing memory consumption substantially. I was able to simplify the training script in order to narrow down the problem and figured out that memory leaks whenever driver is us

[2021-02-27 17:20] ThorAvaTahr commented on #568
Ok, found it.
The wrappers work on the PyEnvironment, not on the TFPyEnvironment. So the order is important here, first apply all wrappers and only at the end convert to TFPyEnvironment.

[code]

[2021-02-27 17:20] #568 closed, assigned to nobody

[2021-02-28 22:40] JacobFV commented on #400
I'm facing the same problem. When I run:
[code]
I get:
[code]

My venv:
[code]

[2021-03-02 11:26] ThorAvaTahr commented on #568
it would be graceful to add a check to ensure that train_env is a PyEnvironment and not a TFPyEnvironment and break with an informative error. Would have save me a few hours.

[2021-03-03 16:17] ebrevdo commented on #565
@kbanoop ping.

[2021-03-04 10:03] zamonia500 opened #570 "After deploy Policy using TFServing, Why do you need a discount, reward, step_type for inference?"
I have policy saved using PolicySaver.
After deploy this policy using TFServing, i thought policy requires only observation, but it's not.

Now i have to send the data to TFServing in the following format.
[code]

How can i inference the policy with only `observation` value?

[2021-03-04 20:00] svagier commented on #400
I have the same issue.

[code]

[2021-03-04 22:36] ZakSingh commented on #564
I'm getting the same exact problem with my environment. Were you able to find a solution?

[2021-03-05 15:24] kapilrathore42 commented on #140
i have same issue but nothing works

[2021-03-05 18:07] Mechanacor3 opened #571 "7 SAC Minitaur tutorial pybullet version mismatch"
The current pybullet version (3.0.9) is causing a version mismatch with 7_SAC_minitaur_tutorial.ipynb

Changing
[code]
to the previous version
[code]
fixes things.

[2021-03-05 21:49] Bhaney44 commented on #140
Hi @kapilrathore42 I haven't looked at this since June 18, 2019. As I mentioned in my previous post, I had more success running from the command line than in the Idle interpreter. But overall, I never explored Agents or TensorFlow further. The main reason is because there are too many dependencies and updates, which makes it more efficient to simply write code from scratch yourself. Moreover, the

[2021-03-05 23:52] pbautista-apt commented on #564
@ZakSingh Not yet. The weird thing is that I don't run into the same problem with the DQN.

[2021-03-06 10:48] kapilrathore42 opened #572 "ModuleNotFoundError: No module named 'tf_agents.agents'; 'tf_agents' is not a package"
when i download the tf_agents then everything with tf_agents give me that error i can reinstall but nothing works

[2021-03-06 10:56] kapilrathore42 commented on #572
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import abc
import tensorflow as tf
import numpy as np

from tf_agents.environments import py_environment
from tf_agents.environments import tf_environment
from tf_agents.environments import tf_py_environment
from tf_agents.environments import utils
from tf_agents.specs import array_spec
fr

[2021-03-08 11:34] #572 closed, assigned to nobody

[2021-03-09 01:34] tfboyd commented on #571
I suspect an issue with pybullet.  They just released 3.1.0 on 08-MAR.  I tested https://www.tensorflow.org/agents/tutorials/7_SAC_minitaur_tutorial on the site and it looks good.  Last nights nightly runs also run the colabs and it also looked ok as well.  I think you got unlikely with either pybullet releasing something that was not ready or nighty builds that did not line up.  I think everythin

[2021-03-09 01:35] #571 closed, assigned to tfboyd

[2021-03-09 23:54] #565 closed, assigned to kbanoop

[2021-03-11 15:46] WangMengqi32C opened #573 "AverageReturn metrics doesn't calculate the correct return?"
Dear all,
I'm using tf_agents.metrics.tf_metrics.AverageReturnMetric like the example in PPO algorithm and I found the average return, maximal return and minimal return plotted in tensorboard are different from the one I calculate without metrics. They are on a completely different scale.

Here is the way I define the metrics:
train_metrics = [tf_metrics.NumberOfEpisodes(),
        tf_metrics.Envi

[2021-03-12 09:47] vinits5 commented on #553
This is an issue with tensorflow_probability library. Check the version.
In my case, the version was '0.13.0-dev20210311'. I changed it to 0.12.0 and reinstalled the tf_agents. And it worked.

[2021-03-14 14:14] mitre7 opened #574 "SAC: Critic loss is inf or nan. : Tensor had NaN values"
Dear all,
I'm using the code of agents/tf_agents/agents/sac/examples/v2/train_eval.py to train a SAC agent in a custom environment with an action space of `shape=(12,)` and values within the range `[-10,10]` as well as a state space of shape=(156,) and various min-max limits . I also checked the enviroment behavior using `utils.validate_py_environment(environment, episodes=10)` and it is working a

[2021-03-14 16:10] Bonkersplonk opened #575 "input shape for RnnNetworks"
I have an environment that produces frames of shape (100, 150, 1) (grayscale). After wrapping my environment with the HistoryWrapper, the final output shape is (3, 100, 150, 1).

From what I've seen, when creating the variables for the network, an input is randomly sampled using the input_tensor_spec after adding a batch dimension with a value of 1, and before feeding to the lstm layer, a time dim

[2021-03-16 17:18] morgandu commented on #553
I experienced the same issue. It went away after ```pip uninstall tensorflow``` and replaced with ```pip show tf-nightly```, would like to know if there is a better or other way.

[2021-03-17 18:04] awestlake87 commented on #457
Are there any plans to unify `tf.keras.Model` and `Network`? I'm pretty new to TF-Agents, so I don't really fully understand the difference between the two. It seems to me like you should be able to construct a DQN from any keras model, but maybe I'm missing something.

[2021-03-17 19:25] ebrevdo commented on #457
One fundamental issue with `tf.keras.Model` is that a Model object gives us no indication which output corresponds to an RNN state; so if you're doing, e.g., DQN-RNN, we can't tell which part of the input is the RNN and which part of the output is RNN.  In contrast, `Network` explicitly separates state vs. non-state inputs and outputs.

If you want to use a `Model` with DQN without any RNN parts,

[2021-03-17 19:27] ebrevdo commented on #457
@sguada we should see who can modify the existing CategoricalDQN unit tests / example to use the new Sequential networks, at which point we can link to that here and consider the issue resolved.  Who would you suggest?

[2021-03-17 21:41] awestlake87 commented on #457
@ebrevdo Thanks for clarifying (and for the quick response)! I guess I didn't know `Model` inherits from `Layer`, but that makes total sense now!

[2021-03-18 02:18] awestlake87 commented on #457
I'm having some trouble passing a model to `tf_agents.networks.Sequential([my_model])`. I have a dead simple stateless DNN model for the cartpole agent that takes `Tensor[None, 4]` and outputs `Tensor[None, 2]` for left/right, but I keep getting the following `AssertionError`:

[code]

Here's the keras `Model` summary:
[code]

I have a feeling this has something to do with the `network_state`, but

[2021-03-18 04:39] ebrevdo commented on #457
That sucks.  Looks like `Model` doesn't survive a `copy.deepcopy` operation.  @fchollet this is maybe a bug in keras Functional models?

@awestlake87 for now you can work around this by creating the `target_q_network` yourself.  basically do:

[code]

The key thing is that the q_network and target cannot share the same `tf.Variables`.  Doing this yourself should mean DQN will avoid perfoming the d

[2021-03-18 04:48] ebrevdo commented on #457
Another issue that will come up.  For `agent.train()`, the network needs to be able to handle an additional time dimension, so total input shape e.g. `[B, T, D]`; and when the policy is used, it needs to be able to handle just the batch dimension, e.g., shape `[B, D]`; sadly this means it's hard to declare an `Input` since that seems to require a predetermined known rank.

In order to handle this,

[2021-03-18 04:49] ebrevdo commented on #457
@sguada looks like we'll need to provide a README somewhere on how to use `TF-Agents` with `tf.keras.Model`; specifically, describing the need to use `SquashedOuterWrapper` and the current limitation of not being able to perform `deepcopy` (meaning the user has to manually create target networks).

[2021-03-18 05:00] ebrevdo commented on #575
Just so I understand correctly, are you passing tensors shaped `[B, T, 3, 100, 150, 1]` directly to the network without doing any preprocessing?  If so, LSTMs do not know how to handle this.  One option is to perform an inner reshape in a `preprocessing_layer`, specifically you can use `tf_agents.keras_layers.InnerReshape(current_shape=[None]*3, new_shape=[-1])` to bring the tensors to shape `[B,

[2021-03-18 05:00] #575 closed, assigned to nobody

[2021-03-18 05:01] ebrevdo commented on #574
@kbanoop ptal.

[2021-03-18 05:02] ebrevdo commented on #573
@summer-yue any ideas?

[2021-03-18 05:07] ebrevdo commented on #570
They're not typically used in TF-Agents, but the RL formalism allows for policies to be able to see the last reward, discount, and step type, and make changes "live" (appropriately).  This is a class of algorithms called active learning.  We adhere to this API and try to be consistent across all agents and policies.

As a workaround you can feed dummy values for reward, use step_type `StepType.MID

[2021-03-18 05:18] ebrevdo commented on #569
@romandunets this is a bit hard to debug because it sounds like it takes a while for the issue to appear.

To see if this is caused by something in eager mode, try this:

[code]

that should run the same graph over and over, bypassing eager mode computation for the most part.  let us know if that fixes the leak and if so, we can let TF team know about this.

[2021-03-18 05:21] ebrevdo commented on #567
One possibility is that during evaluation you're constantly going back and forth with the CPU to run your environment, then sending this data back to GPU!  In contrast, when training we can send all the time frames to the GPU at once.

For this reason we recommend that for eval/data collection you use the CPU only.  The cost of copying data back and forth from GPU to CPU for each time step slows e

[2021-03-18 05:21] #567 closed, assigned to kbanoop

[2021-03-18 05:22] ebrevdo commented on #564
@summer-yue PTAL?

[2021-03-18 05:28] ebrevdo commented on #562
Thanks for reporting this!  Can you say a bit about why `per_example_loss` is coming out as `inf`?  I guess you are emitting values that are supposed to be zero-probability?  If you can debug that, it would help us.  In the meantime, I think `multiply_no_nan` makes sense - a discount of 0 means ignore that term.  We'll push a fix.

[2021-03-18 05:31] ebrevdo commented on #562
(typically if you have `sample_weight` of 0 it means you're at an episode boundary or similar... is it possible at this locatoin, you're being fed a mask of all 0s, and this is what leads to the infs?)

[2021-03-18 05:35] awestlake87 commented on #457
Thanks for the heads up on the input shape! That'll save me some time. I'll try creating the `target_q_network` manually as well and see where that gets me.

[2021-03-18 05:36] ebrevdo commented on #558
You'll have to use model surgery to do this, using `tf.saved_model.load`, modifying the associated object's tf.Variables in-place, and re-saving it using `tf.saved_model_save`.  The appropriate location to ask for more details is StackOverflow.

[2021-03-18 05:36] #558 closed, assigned to nobody

[2021-03-18 05:37] ebrevdo commented on #555
Yes; this is outdated.  Thanks for catching!  Keras used to have a semi-public Network class but got rid of it; and we no longer use it.  @tfboyd any cycles to remove this comment and link to Keras' Network class?

[2021-03-18 05:38] summer-yue commented on #573
Thanks for your question. Before I try reproducing this with a standard environment, it'd be very helpful if you can provide some more information. I see that the screenshot you linked when the metrics are of the wrong scale. Seems like this corresponds to the `train_metrics`? Are you seeing the same problem for the eval metrics? (This can help me narrow down whether it's the batch_size argument t

[2021-03-18 05:43] ebrevdo commented on #557
Indeed; we used to infer the batch dimensions from `reward.shape`.  In order to allow for multi-dim rewards, we now accept a `reward_spec` in `restart`, `outer_dims` in `transition` and `termination`.  By passing `reward_spec` to `restart` we can infer the outer_dims from observation shapes and `reward_spec` (or `batch_size`, i suppose).

These are inconsistent because some of these arguments rece

[2021-03-18 05:44] ebrevdo commented on #554
Thanks!  We'd love for you to submit a PR cleaning this up!  It makes a great beginner contribution.

[2021-03-18 05:45] ebrevdo commented on #553
TF-Agents nightlies are tied to tf-nightlies; whereas TF-Agents versioned releases are each associated with a particular TF versioned release.

[2021-03-18 05:46] #553 closed, assigned to nobody

[2021-03-18 05:49] ebrevdo commented on #550
The agents that respect the splitter will take the output of your neural network, and mask out the logits associated with invalid actions.  That way when the agent action is called, it is sure to never take the wrong action.

This does *not* teach the neural network that bad actions are actually bad.  For that you need a more robust/powerful algorithm than what is available in TF-Agents today, *or

[2021-03-18 05:49] #550 closed, assigned to bartokg

[2021-03-18 05:51] ebrevdo commented on #544
Between this and other DQN advances, I think it's better to focus time on implementing and evaluating [IQN](http://proceedings.mlr.press/v80/dabney18a.html) and Distributional variants of CQL-DQN.

[2021-03-18 05:54] #562 closed, assigned to nobody

[2021-03-18 05:58] awestlake87 commented on #457
That appears to have worked! It looks like it's working exactly the same as it was when I was just adding the dense layers to the `tf_agents.networks.sequential.Sequential` network.

[2021-03-18 09:23] Bonkersplonk commented on #575
Hey, thanks for the reply. Actually, 3 is number of time steps, so the shape is `[B, T, 100, 150, 1]` where `T = 3`. The environment actually generates images of shape `[100, 150]` which I expand to `[100, 150, 1]` using a preprocessing layer.

Here is my code:
[code]

With `T = 3`, I expect the input to the lstm to be of shape `[B, 3, 128]`. If the shape set in observation_spec is `[100, 150]`, T

[2021-03-18 15:23] WangMengqi32C commented on #573
@summer-yue  @ebrevdo
hi all, thank you for your help.
 I don't see the same problem for eval metrics. I think the reason is the policy I used. I used agent.collect_policy to collect the data in replay_butter, and I use agent.policy to update the eval metric. If I use greedy_policy.GreedyPolicy(agent.collect_policy) to collect data, then the average return from train metric is same as the average

[2021-03-18 15:46] kbanoop commented on #574
Can you try running with '[debug_summaries](https://github.com/tensorflow/agents/blob/bf40319bb83672f469228923aa31dc2039a7d945/tf_agents/agents/sac/sac_agent.py#L90)' and 'summarize_grads_and_vars' on?

This will add more information to Tensorboard that could provide additional insight into what is going on.

Also adding @kuanghuei to see if he has any suggestions.

[2021-03-18 22:57] awestlake87 commented on #457
Just as an update, when I started trying to create an agent for Breakout, I had to remove the `tf_agents.keras_layers.SquashedOuterWrapper(model, inner_rank=1)` call because it was flattening the image from (210, 160, 3) to (33600, 3). I'm currently training it, but I haven't run into that `[B, T, D]` issue yet. That could just be because I might not have used the code that would trigger it yet.

[2021-03-19 23:55] ageron commented on #123
I just tested the code example above, and it works fine now. Thanks.

[2021-03-20 11:25] zhouker94 commented on #557
Hi @ebrevdo thanks for your reply. I have made a [PR ](https://github.com/tensorflow/agents/pull/577) to improve the docstring.

[2021-03-21 02:51] DBraun commented on #507
@cosmir17  @Fabien-Couthouis I've finally made a PR. You're welcome to try out the code. It's probably pretty close to working.

[2021-03-22 19:08] romandunets commented on #569
@ebrevdo Thanks for response! Actually, the issue is visible just after first 30 seconds of running the script I provided above. Here is the memory usage of that one after running collection loop for the first 100000 iterations:
![memory_1](https://user-images.githubusercontent.com/6966132/112027378-c937a600-8b3f-11eb-94d9-1489b1b97a48.png)

Wrapping `driver.run` into `tf.function` with `autograph

[2021-03-22 22:27] summer-yue commented on #573
`agent.policy` is just the greedy version of`agent.collect_policy` in PPO. You can find the definitions here:  https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/ppo_agent.py#L345

The greedy policy would always take the action with the highest probability, whereas the non greedy counterpart may sample other policies as well. There are situations when they can get drastically di

[2021-03-24 19:28] Ryo-not-rio opened #580 "Ddpg agent: `network_state` and `state_spec` do not have matching structures: . vs. ()"
I'm trying to create a ddpg agent, but I get the following error
    Traceback (most recent call last):
      File "D:/PycharmProjects/SandP_evolution/reinforce_stock.py", line 118, in <module>
        train_loss = agent.train(experience).loss
      File "C:\Users\moter\.conda\envs\tensor\lib\site-packages\tensorflow\python\eager\def_function.py", line 780, in __call__
        result = self._call(

[2021-03-24 20:06] Ryo-not-rio commented on #580
In nest_utils.py, a comparison between Tensor("Squeeze_5:0", shape=(64,), dtype=int32) and () happens after certain steps and that seems to be causing the issue. Any ideas why?

[2021-03-25 00:58] JohnBurden opened #581 "Extracting additional variables from the environment?"
Hi,

I have been adapting the DQN tutorial file for a.custom environment.
It seems to learn fine, however I have an additional metric that I want to extract and plot that isn't reward. It corresponds to "safety" in this environment.
I'm wondering if there is a standard way of extracting this from the evaluation stage. Do I need to extend the TimeStep class or can I do something else?

Thanks.

[2021-03-25 15:30] Fabien-Couthouis commented on #507
Hey @DBraun, thanks for the code! What do you mean by "pretty close to working"? Did you manage to make it converge on some environments?

I personnaly ended up implementing a Discrete Sac agent, based on the continuous version of tf-agents. Note that I changed the loss according to  Delalleau et al., and the default target entropy by what is suggested by Christodoulou et al..
It converges on Cart

[2021-03-25 19:18] DBraun commented on #507
@Fabien-Couthouis Thanks for sharing your code. I haven't tested the standard gym environments. I'm using my code in a custom environment where the output continuous actions are a simple array and the output discrete actions are also a simple array. So things are one-dimensional, ignoring the batch size. If this isn't the case there are issues with my code because the hidden state gets flattened t

[2021-03-28 10:12] khizarsonu commented on #426
@kuanghuei do you have any plan to add this ? do you have any timeline?

[2021-03-28 18:54] mjssimon opened #582 "Custom OpenAI Gym environment wrapped as a PyEnvironment time_step not matching expected time_step_spec"
Greetings. This problem is similar to the one here at: https://stackoverflow.com/questions/57259497/py-environment-time-step-doesnt-match-time-step-spec . However, with the minimal documentation on how the PyEnvironment wrapper works, I'm having some trouble resolving. The custom OpenAI Gym environment works correctly.

I make the gym environment, wrap it, then validate. The error occurs during va

[2021-03-30 06:39] Bahador-Bakhshi commented on #255
Inspired by [these explanations](https://www.debugcn.com/en/article/42238722.html), the following implementation works fine for me.

1) Define the `_observation_spec` as a dictionary that contains the actual observation and also the mask of the valid actions. Somethings like this

[code]

2) Everywhere in the environment (i.e., _reset, _start, _step) that an observation is returned to the agent, f

[2021-03-30 08:27] Veluga commented on #569
I don't think this is an issue with the `DqnAgent`. I've been having the same issue with both the `CategoricalDqnAgent` and `ReinforceAgent`.

[2021-04-01 17:56] #530 closed, assigned to sguada

[2021-04-05 03:34] git4sun commented on #400
Have the same issue. It runs fine in jupyter notebook. But converting it to python script and run, it generates the error.

[2021-04-05 19:27] AbhijeetKrishnan opened #584 "Support for RandomPyPolicy parameters in validate_py_environment"
[`validate_py_environment`](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/utils.py#L51) only accepts a `PyEnvironment` and the number of episodes as arguments. It would be nice to also support arguments to pass to the internal RandomPyPolicy. Specifically, I would like to pass an `observation_and_action_constraint_splitter` to ensure the policy only selects valid actions.

[2021-04-05 23:04] AbhijeetKrishnan opened #585 "validate_py_environment doesn't check that reset() is called on episode termination"
`PyEnvironment` objects assume that the `step()` method calls the `reset()` method if the episode has terminated. `validate_py_environment` only checks that the time_step_spec matches the returned time_step, and does not check if `reset()` is called during `step()` if the episode has ended.

This is difficult to debug when writing a custom environment. For example, my custom environment returns an

[2021-04-06 07:52] Veluga commented on #80
I've been running into the same issue while training a PPO agent. I've run @ChengshuLi 's setup from the OP and get very similar behaviour for an increase in the first training step time, even if the evaluation step is commented out.

[2021-04-06 12:36] sguada commented on #585
Thanks for raising the issue. I can think a couple of solutions, one is to add a parameter `auto_reset` to the base `PyEnvironment` class that makes explicit the handling of auto-reset, although it will be false by default. And then make sure that `validate_py_environment` checks if that auto reset happens when is `True`.

Would you like to do a PR to fix this?

[2021-04-06 16:44] kbanoop commented on #584
That sounds like a good idea. Would you like to submit a PR?

[2021-04-06 16:50] kbanoop commented on #581
Yes one option is to extend the TimeStep class, e.g. you can add an info field. Or you can add a property in the environment that stores the last value of safety every time you make a step.

[2021-04-06 22:32] AbhijeetKrishnan commented on #584
I would be glad to. Is there a style guide for contributors? Or a default code linter? The links in [agents/STYLE_GUIDE.md](https://github.com/AbhijeetKrishnan/agents/blob/master/STYLE_GUIDE.md) no longer work.

[2021-04-06 22:32] AbhijeetKrishnan commented on #585
That sounds like a clean way to implement it. I would be happy to submit a PR.

[2021-04-07 00:18] kbanoop commented on #584
Awesome, thank you! A PR to update the broken links is on the way. In the meantime, they are:

https://www.tensorflow.org/community/contribute/code_style
https://www.tensorflow.org/community/contribute/docs_style

[2021-04-07 03:18] AbhijeetKrishnan commented on #585
I believe a better way to solve this would be to modify [`environments/py_environment.py:200`](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/py_environment.py#L200) as follows -

[code]

This would call `reset()` if the `_current_time_step` (which at this point in the function contains the *previous* time step) is of type `StepType.LAST`, indicating episode end. This chan

[2021-04-08 16:35] jtermaat commented on #244
I am getting a similar issue, does anyone know of a workaround for saving and loading a policy with tf_agents?

[2021-04-08 18:53] sguada commented on #585
Will modify PyEnvironment to allow auto_reset, but keep it False by default to not change the default behavior.

[code]

[2021-04-09 07:47] mitre7 commented on #574
@kbanoop thanks! After debugging the code, I realized that it was caused by the lack of state normalization.

[2021-04-09 07:47] #574 closed, assigned to kbanoop

[2021-04-11 12:45] ergsfe opened #587 "PyEnvironment Methods Incompatible with TF"
The docstring for `tf_py_environment.__getattr__` indicates that certain PyEnvironment methods might be incompatible with TF.

[code]
What makes a Py Environment method incompatible with tensorflow?

I ran across this issue when trying to call `.seed` on the `tf_py_environment`.  I implemented a `.seed` function for my subclass of `py_environment`, but calling `.seed` on the wrapper doesn't lead t

[2021-04-11 15:26] StochasticTF opened #588 "New Actor-Learner API fails with parallel_py_environment"
I've been trying to apply the latest ppo example from:
https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/examples/ppo/schulman17

From my understanding of Schulman 2017 the ppo agent is supposed to support multiple parallel environments and batched trajectories. The older ppo_agent (before the new Actor-Learner API) also worked well with parallel environments.

When I test it

[2021-04-12 21:31] ebrevdo commented on #250
As per Sergio: this is an issue with TF - not TF Agents.  In TF2, the solution is documented [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth).

[2021-04-12 21:31] #250 closed, assigned to nobody

[2021-04-12 21:45] ebrevdo commented on #79
We're no longer using gather_all; we instead either do minibatch PPO or reverb as_dataset.

[2021-04-12 21:45] #79 closed, assigned to nobody

[2021-04-13 01:02] ebrevdo commented on #484
TimeStep is a NamedTuple, you should be able to do surgery via `time_step = time_step._replace(observation=tf.constant(...))`

[2021-04-13 01:02] #484 closed, assigned to nobody

[2021-04-13 01:09] ebrevdo commented on #19
Sadly, this issue has gotten quite old. We've moved to using eager mode to collect data by default. But please let me know if this is not obsolete.

[2021-04-13 01:09] #19 closed, assigned to nobody

[2021-04-13 01:14] ebrevdo commented on #588
I think this has to do with the fact that a parallel py environment has an outer batch dimension. In order to handle this properly, you need to use an observer that can handle batched data. The default reverb observer assumes that there is no batch dimension.

We do have such an observer, but I don't think it's open source. At the least we should raise an error, at best. We should open source that

[2021-04-13 04:16] ebrevdo commented on #363
I hope to unify TensorSpec and ArraySpec under the same object this week.  For now you can convert env specs to tensor specs using [from_spec](https://www.tensorflow.org/agents/api_docs/python/tf_agents/specs/tensor_spec/from_spec).

[2021-04-13 04:41] ebrevdo commented on #405
Not at this time; though we are looking into other offline-friendly variants like BRAC and CQL.  We're not keeping a tracking issue for that though.  For now you can find some external codebases using tf-agents, like [BRAC](https://github.com/google-research/google-research/tree/master/behavior_regularized_offline_rl).

[2021-04-13 04:41] #405 closed, assigned to sguada

[2021-04-13 04:41] ebrevdo commented on #405
(we are looking at imitation learning too, just not GAIL)

[2021-04-13 05:15] ebrevdo commented on #309
@kbanoop this should be easy to fix.

[2021-04-13 17:14] ebrevdo commented on #336
Closing as stale.  @lukepolson if you did solve this, please feel free to reopen and comment.  In our tests, we do not see a performance/quality degradation with ParallelPyEnvironment and cannot reproduce the bug you're seeing without a more detailed example.

[2021-04-13 17:14] #336 closed, assigned to nobody

[2021-04-13 19:12] #309 closed, assigned to kbanoop

[2021-04-14 11:16] StochasticTF commented on #588
Thanks for the quick reply @ebrevdo, looking forward to any updates on this issue.
Hope you can open source that observer :)

[2021-04-14 21:28] singagan commented on #574
Hi,
I am having a similar issue. I have tried everything but is not working for me. Please could you help me with the below error message?

Thanks.

train_loss_in = tf_agent.train(experience)
  File "/root/.local/lib/python3.8/site-packages/tensorflow/python/eager/def_function.py", line 828, in __call__
    result = self._call(*args, **kwds)
  File "/root/.local/lib/python3.8/site-packages/tensorf

[2021-04-14 21:35] singagan opened #589 "Loss is inf or nan : Tensor had NaN values"
Hi,
I am having the below issue.
I have tried changing hyperparameter (learning rate), state normalization, checking for NANs, etc but is not working for me. Please could you help me with the below error message?

Thanks.

train_loss_in = tf_agent.train(experience)
File "/root/.local/lib/python3.8/site-packages/tensorflow/python/eager/def_function.py", line 828, in call
result = self._call(*args,

[2021-04-15 00:26] ebrevdo commented on #574
Can you file a new bug and provide something close to a reproduction case?
This particular case seems to have been fixed.

On Wed, Apr 14, 2021, 2:28 PM singagan ***@***.***> wrote:

[2021-04-15 09:54] singagan commented on #589
I was able to resolve the issue after debugging everything inside out. The problem was with one of the features in my state representation. Thanks!

[2021-04-15 09:54] #589 closed, assigned to nobody

[2021-04-17 00:24] Nafees-060 commented on #400
I received the same issue, if anyone has resolved the issue please share.

[2021-04-17 02:37] ebrevdo commented on #400
Can you help us debug by running in pdb and including the full backtrace?

[2021-04-17 20:29] ebrevdo commented on #443
Have you tried using tf_agents.network.Sequential instead of keras Sequential?  Try that and report back.

[2021-04-17 21:01] ebrevdo commented on #433
We need to see how you call main.  Can you include your __main__ code?

[2021-04-17 21:03] ebrevdo commented on #280
There is now a unit test showing how to use policy saver with tflite converter in policy_saver_test.py.  does it help?

[2021-04-18 02:01] ebrevdo commented on #422
This is simply oversight.  I think we need to add an agent validator and ensure agents properly use layer losses - or raise an exception if they don't support separate losses.

[2021-04-18 02:02] ebrevdo commented on #422
@oars fyi, can you include this in the validator bug?

[2021-04-18 03:19] ebrevdo commented on #457
For images looks like you may need inner_rank=3?  Anyway glad it's working for you!  I'll mark as closed for now but reopen if anything comes up.

[2021-04-18 03:19] #457 closed, assigned to ebrevdo

[2021-04-18 04:43] AbhijeetKrishnan commented on #584
Any follow-up to this?

[2021-04-18 04:44] AbhijeetKrishnan commented on #585
Any follow-up to this?

[2021-04-18 15:28] ebrevdo commented on #329
You can now use your own sequence of Keras layers - one that can emit whatever action distribution you want.  See `tf_agents.network.Sequential` and unit tests.

[2021-04-18 15:28] #329 closed, assigned to nobody

[2021-04-18 15:29] ebrevdo commented on #329
(but DQN is based on a paper that did not consider larger action spaces; and we're trying to faithfully reproduce that algorithm)

[2021-04-18 16:30] MichelangeloConserva opened #591 "Custom and generic PolicyInfo in PolicyStep"
Hello,

I designing a custom TFPolicy and I would like to transmit store information in the PolicyStep object. In more concrete terms I would like to return from the _distribution function the current object
[code]
where self._mask_distribution.sample(self._num_ensembles) is a tensor with the following TensorSpec
[code]
Looking at the source code it seems like the only current usage of PolicyInfo

[2021-04-18 21:02] git4sun commented on #400
In my case, if I ended the code in `train_env = tf_py_environment.TFPyEnvironment(train_py_env)`, it will throw this exception. But if I created the agent and ran the session, it didn't throw any exceptions. I guess it is lazy loaded. If you didn't create a session in the code, it throws exception. If you create a session, the line is executed in the session.

[2021-04-18 23:07] ebrevdo commented on #400
@git4sun please provide a repro example.  i especially want to know what you set the `isolation` flag to.

[2021-04-19 15:13] ebrevdo commented on #298
We're deprecating EpisodicReplayBuffer for Reverb replay buffer, which honestly is much easier to work with and has better features (and easier to debug when it breaks!).  So not sure if this has been fixed, but I'll mark as obsolete. Please reopen if this is a legacy issue that's still biting you.

[2021-04-19 15:13] #298 closed, assigned to ebrevdo

[2021-04-19 15:36] ebrevdo commented on #569
Thanks for the update.  Looks like we should increase the priority of this issue.

[2021-04-19 17:05] kmalhotra7 opened #592 "Probability of all actions in Contextual Bandits (LinUCB)"
Hi,

I am looking for a way to output the probabilities for all the actions for a given context, but cant find a way to do so. The 'emit_log_prob' always gives the value 0 for the action chosen.  i have also tried policy.distribution(context) but that didn't help either.

What I would like to see is the probabilities of all the actions for a particular context and not just for the action chosen by

[2021-04-19 17:18] egonina commented on #591
PolicyInfo can be anything, the example we have is with log probabilities. You can include the mask distribution sample in policy info and return it as part of your policy action return value

[2021-04-19 17:23] egonina commented on #587
cc @kbanoop, can you PTAL at this question about envs? Thanks!

[2021-04-19 17:24] egonina commented on #592
cc @ebrevdo, could you PTAL at this question about LinUCB?

[2021-04-19 18:24] ebrevdo commented on #569
BTW we've been moving to Actor/Learner which takes care of a lot of this for you.  There's a DQN example [here](https://github.com/tensorflow/agents/blob/3448c9e88fbe48d515c85ffab2b96e9f429a3b7d/tf_agents/examples/dqn/dqn_train_eval.py).  Additionally it uses Reverb replay buffer, which is a preferred way to pass data between collection & training.

Can you try using that and seeing if the memory

[2021-04-19 18:35] ebrevdo commented on #592
@bartokg can you ptal?  Issue with the bandits code.

[2021-04-19 18:36] ebrevdo commented on #592
IMO the best way to emit all probabilities is to add a `policy_info` that emits a vector of all probabilities.  The policy can be responsible for filling it out.

[2021-04-19 18:45] efiko commented on #592
The recommended way is to turn on PREDICTED_REWARDS_MEAN in the PolicyInfo.

[2021-04-19 20:48] kmalhotra7 commented on #592
Ok thanks.... will try that now ... and let keep you posted. thanks for the quick response on this.

[2021-04-19 22:46] kmalhotra7 commented on #592
Hi i am using the ClassificationBanditEnvironment provided by TF-agents and applying it to a binary classification problem, so essentially there are only 2 actions in my action space denoted by '0' and '1'. After training the model and enabling PREDICTED_REWARDS_MEAN as part of the policy_info here is the result im getting for when i run 'policy.action(context)' for one of the 'contexts'

PolicySt

[2021-04-19 23:13] alexhiggins732 opened #593 "Python.NET & TensorFlow & CUDA: Could not load dynamic library 'cublas64_11.dll'"
### Environment

-   Pythonnet version:
-   Python version:
-   Operating System:
-   .NET Runtime:
-   GeForce RTX 3080 (computeCapability: 8.6)
-   Windows 10 20H2
-   Net Framework 4.8 (Compiled with Visual Studio 2019)
-   Python 3.7 (64-bit)
-   Nvidia CUDA 11.
-   Tensforflow-gpu 2.4.1
-   Tf-Agents 0.7.1
-   pythonnet 3.0.0-preview2021-04-03
### Details

I am current working on using [Pytho

[2021-04-19 23:39] kbanoop commented on #587
Hi, This docstring is just meant to indicate that the methods in PyEnvironment do not accept/return Tensors or do other things that are not TF compatible.

But calling .seed on TFPyEnvironment should call .seed on self._env, whether that function is compatible or not. If that is not happening, it is likely a bug. What happens if you print(wrapper.seed)?

[2021-04-20 00:22] alexhiggins732 commented on #593
I solved this issue.  It was due to bad Python.Net wiki documentation showing how to use [Python.Net in a virtual environment](https://github.com/pythonnet/pythonnet/wiki/Using-Python.NET-with-Virtual-Environments).

The fix, for others facing this or very similar issues, is to not use the code in the Wiki:
[code]
Doing so will overwrite your `PATH` environmental variable.

Instead, append the pat

[2021-04-20 01:01] #593 closed, assigned to nobody