[2017-09-18 05:51] donamin opened #3 "How to check the agent learning progress?"
Hi

I started the learning a few minutes ago and this is what I got in command prompt:

`E:\agents>python -m agents.scripts.train --logdir=E:\model --c
onfig=pendulum
INFO:tensorflow:Start a new run and write summaries and checkpoints to E:\model\
20170918T084053-pendulum.
WARNING:tensorflow:Number of agents should divide episodes per update.`

It's been like this for about 10 minutes and tensorbo

[2017-09-18 07:02] donamin commented on #3
I changed update_every value from 25 to 30 to resolve this warning:
`Number of agents should divide episodes per update.`
But still it doesn't seem to be working.

Weird thing is that sometimes when I run the code, I get the following exception:
`Traceback (most recent call last):
  File "E:/agents/agents/scripts/train.py", line 165, in <module>
    tf.app.run()
  File "C:\Python\Python35\lib\site

[2017-09-18 07:28] donamin commented on #3
Update: When I change `env_processes` to False, it seems to be working! But I guess it disables all the parallelism that this framework is presenting, right?

[2017-09-18 19:11] fajlflal opened #4 "Modification of network: How to handle multiple inputs"
Hi,  I am modifying this code to write a new function which conditions on both action and state to reduce variance(I know this may introduce bias but can be corrected later like in the Q-prop paper).

I have two batches data, `action` and `observ`, with shape `[batch_size, act_dim]` and `[batch_size, obs_dim]`, respectively, and I want to feed them into `tf.nn.dynamic_rnn`.
Since `tf.nn.dynamic_rn

[2017-09-19 15:49] danijar commented on #4
`tf.nn.dynamic_rnn()` supports tuples of tensors as input. Instead of feeding a tensor of shape `batch x time x observation` you can feed a tuple `(batch x time x observation, batch x time x action)`. Did you try that?

[2017-09-19 16:04] fajlflal commented on #4
Yes, I have tried `tuple_input = [action[:, None], observ[:, None]]` or `tuple_input = (action[:, None], observ[:, None])`  as shown in code sample, they comes with the same error:
`ValueError: Expected input tensor Tensor("main/CheckNumerics_1:0", shape=(2,), dtype=float32, device=/device:CPU:0) to have rank at least 2, but saw shape: (2,)`.

[2017-09-19 21:12] Erichliu00 commented on #4
In my opinion, `observ` here is of shape `[batch_size, obs_dim]`, `action` is of shape `[batch_size, act_dim]`, do what you do `action[:, None], observ[:, None]` is not the same as what @danijar suggests

[2017-09-21 14:25] donamin commented on #3
Hi @danijar
Can you help me with this issue? I cannot run the code with `env_processes` set to `True`

[2017-09-22 12:43] danijar commented on #3
It could be normal that TensorBoard doesn't show anything for a while. The frequency for writing logs is define inside `_define_loop()` in [train.py](https://github.com/tensorflow/agents/blob/master/agents/scripts/train.py#L59). This is set to twice per epoch where one training epoch is `config.update_every * config.max_length` steps and one evaluation epoch is `config.eval_episodes * config.max_l

[2017-09-22 12:48] danijar commented on #4
Can you please post the output of `print(tuple_input)` here? In what line of the code did you make this change?

[2017-09-22 12:57] donamin commented on #3
I worked on that and it seems there's some other problem with the code:
Now it's showing this error:
`Traceback (most recent call last):
  File "E:/agents/agents/scripts/train.py", line 165, in <module>
    tf.app.run()
  File "C:\Python\Python35\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "E:/agents/agents/scr

[2017-09-22 13:10] danijar commented on #3
Please wrap code blocks in 3 back ticks. I need to see your configuration to help you find the problem. Your configuration must be pickable and it looks like yours is not. Try to define it without using lambdas. As alternatives, define external functions, nested functions, or use `functools.partial()`.

[2017-09-22 13:33] donamin commented on #3
Sorry I don't know what you mean by "my configuration being pickable". Can you explain more?

And this is my error in 3 back ticks:
'''
INFO:tensorflow:Start a new run and write summaries and checkpoints to E:\model\
20170922-162642-walker.
Traceback (most recent call last):
  File "train.py", line 150, in <module>
    tf.app.run()
  File "C:\Python\Python35\lib\site-packages\tensorflow\python\pla

[2017-09-22 13:34] donamin commented on #3
Sorry I don't know what you mean by "my configuration being pickable". Can you explain more?

And here's my error log in 3 back ticks:
[code]

[2017-09-22 13:50] donamin commented on #3
OK I got an update:

In train.py, I changed this line:
``` batch_env = utility.define_batch_env(lambda: _create_environment(config), config.num_agents, env_processes) ```
into this:
``` batch_env = utility.define_batch_env(_create_environment(config), config.num_agents, env_processes) ```
Not it doesn't give me that previous error, but now it seems to be freezing after showing this log:
[code]
The

[2017-09-22 14:21] danijar commented on #3
Where is the `env` defined in your config? You should not create the environments in the main process as you did by removing the lambda.

[2017-09-22 16:32] donamin commented on #3
I thought that we give `env` as one of the main arguments in command prompt.
So how should I create the environments? You mean I should the default code structure so I can make the BatchPPO work?

[2017-09-23 01:34] fajlflal commented on #4
Hi @danijar , I guess this was caused by my misunderstanding of RNNCell, problem has been sovled, thanks.

[2017-09-23 01:34] #4 closed

[2017-09-23 09:33] danijar commented on #3
No, I meant you should undo the change you made to the batch env line. You define environments in your config by setting `env = ...` to either the name of a registered Gym environment or to a function that returns an env object.

[2017-09-23 16:16] donamin commented on #3
I did undo the batch env line.
In `configs.py`, there is a function corresponding to each environment (`pendulum` in my case), that sets the `env` to the name of Gym environment accordingly. This function is called once when I hit run, and then the code stops working . Sometimes it just freezes and nothing happens even after 10 hours, and sometimes it crashes with the error log I posted above, say

[2017-09-23 17:56] donamin commented on #3
I think we should remove lambda from the batch env line. Because [here](https://docs.python.org/3/library/pickle.html#what-can-be-pickled-and-unpickled) it says that functions defined using lambda cannot be pickled.
After removing lambda from that line, the code doesn't show me that error again, but it freezes without doing anything.

[2017-09-24 08:26] danijar commented on #3
I've seen it working on many people's computers :)

Please check if YAML is installed:

[code]

And check if the Pendulum environment works:

[code]

If both works please start from a fresh clone of this repository and report your error message again.

[2017-09-24 08:37] donamin commented on #3
Thanks for your reply.

I tried both tests with success.

I cloned the repository again and the code doesn't work. It's not showing me that lambda error but it stays still when it reaches this line of code in wrappers.py:
```self._process.start()```

When I use debugging, stepping into start function eventually takes guides me to this line in context.py (The code hangs when it reaches this line):

[2017-09-24 10:31] danijar commented on #3
Yea, that might be the problem. Processing is quite different between Windows and Linux/Mac and we mainly tested on the latter. I'm afraid I can't be of much help since I don't use Windows. Do you have an idea how to debug this? I'd be happy to test and merge a fix if you come up with one.

[2017-09-24 10:40] donamin commented on #3
OK thanks for your reply. I have no idea right now. But I will work on it because it's kind of important for me to make it work on Windows. I'll let you if it's solved.
Thanks :)

[2017-09-27 06:43] donamin opened #5 "No module named 'mujoco_py.mjlib'"
Hi.
I'm trying to run the code on Linux Mint.
With pendulum environment, it works perfectly. But when I try to run with Mujoco environments, I get the following error (I installed mujoco & mujoco-py):

[code]

[2017-09-27 09:57] donamin commented on #5
I had to install an older version of mujoco_py with mujoco131

[2017-09-27 09:57] #5 closed

[2017-10-03 22:18] danijar commented on #10
Thanks for the detailed bug report!

Could you print the value of `use_gpu` in algorithm.py (both [line 70][line-70] and [line 547][line-547]), please? That way we can see if all instances of the network indeed get placed on the GPU.

You're right about the data transfer being the bottleneck with small networks, so that GPU only pays off for larger networks.

[line-70]: https://github.com/tensorfl

[2017-10-03 22:26] danijar commented on #8
The performance curve is consistent with the paper in number of training steps, but running much slower for you.

Can you verify that this is only running on CPU? For example check whether `nvidia-smi` shows any GPU memory usage. For such small networks running on CPU is quite a bit faster since transferring the data to GPU takes longer than the actual network computation.

Please also measure the

[2017-10-03 22:31] danijar commented on #6
The problem might be that you define the networks first with a control flow statement. To ensure that you're variables are accessible from anywhere, call your network once in the constructor, as done in the PPO implementation for the existing network. If that doesn't help, maybe you can structure your code to only use one RNNCell that wraps the two other cells?

[2017-10-04 00:05] jimfleming commented on #10
New logs: https://gist.github.com/jimfleming/c347d792818799f998e3219fdfadbcf5

Relevant lines look like:

`PPOAlgorithm __init__ use_gpu [u'/gpu:0']` (x1)

and:

`PPOAlgorithm _network use_gpu [u'/gpu:0']` (x6)

Python's semantics here are weird but I verified that the list is evaluated as `True`. The device is set to `'/gpu:0'`.

[2017-10-06 09:39] danijar commented on #10
Thanks for verifying. This seems like it could be a TensorFlow bug since the only thing that changes between the runs is the device assignment.

@ebrevdo Do you have an idea how to debug this further? Do you think it might be related to b/63591557?

[2017-10-07 02:22] AnandS09 commented on #5
Is there any way to know what is causing the issue in the first place? I am getting the same issue on my mac and have followed all the instructions as mentioned in the README.md page.

The older version does not work with Mac as listed here: https://github.com/openai/gym/issues/638

[2017-10-07 10:55] dcnocomment commented on #4
@danijar Hi, when i try tuple input  (batch x time x observation, batch x time x action) in tf.nn.dynamic_rnn(), it gets error: Shape (2, 11, 256) must have rank 2..... is this the correct way?

[2017-10-07 16:44] Erichliu00 commented on #4
Did you try the last release? @danijar [changed it](https://github.com/tensorflow/agents/blob/master/agents/scripts/networks.py#L107) and it no longer directly inherits RNNCell, instead, it uses function.

[2017-10-31 05:38] wookayin commented on #10
Do you guys have any suspect on this? I can reproduce this issue on the latest TensorFlow (1.4.0-rc1) as well. And in terms of wall time gpu versions are always slower.

[2017-10-31 18:55] wookayin commented on #10
I have checked into this a bit, and found that there is some numerical stability issue (like tensorflow/tensorflow#3775).

When we look at the summary, the (scalar) values of

- end_episode/cond/cond/training/adjust_penalty/kl_change
- end_episode/cond/cond/training/adjust_penalty/penalty
- end_episode/cond/cond/training/update_policy/scan_1/while/policy_loss/avg_policy_loss
- ... (and something m

[2017-10-31 19:15] wookayin commented on #10
So, without any cpu placement, the implementation should be obviously in this way:
[code]
and it again works very well on gpu mode. I'll prepare a PR.

[2017-10-31 22:31] danijar commented on #10
Thanks for starting to look into this, that's a good pointer. It trains well on GPU on my machine, so this is quite hard to debug for me. Is the KL computation placed on GPU for you? Only the network computation and RNN states should get placed on GPU ([see constructor](https://github.com/tensorflow/agents/blob/04b32690157e7463d4b92df402ddc7127bd68adf/agents/ppo/algorithm.py#L68:L94)).

I'll updat

[2017-11-09 00:17] danijar commented on #8
Closed due to inactivity and because we cannot reproduce the problem. Please comment again on the issue if you tried these steps and the problem remains.

[2017-11-09 00:18] danijar commented on #6
Closed due to inactivity.

[2017-11-09 00:20] danijar commented on #3
@donamin Where you able to narrow down this issue?

[2017-11-09 05:39] donamin commented on #3
@danijar No I couldn't solve it so I had to switch to linux. Sorry.

[2017-11-09 12:57] danijar commented on #3
Thanks for getting back. I'll keep this issue open for now. We might support Windows in the future since as far as I can see the threading is the only platform-specific bit. But unfortunately, there are no concrete plans for this at the moment.

[2017-11-09 13:00] danijar commented on #17
This is an interesting topic. I would imagine that a simple distribution pattern would be to run multiple instances of the current code on multiple machine, each simulating their own set of environments. The network parameters would need to be shared using parameter servers.

[2017-11-09 13:46] jlewi commented on #17
@danijar So basically you want to do data [parallel replicated training](https://www.tensorflow.org/deploy/distributed#replicated_training) with TensorFlow
each of which is getting data from a set of environments running colocated with TF.

I think that would work out of the box with the [TfJob CRD](https://github.com/tensorflow/k8s). The CRD will take care of provisioning a set of workers and par

[2017-11-10 13:52] danijar commented on #17
I think in many scenarios it makes sense to simulate and train on the same machine, and just scale the number of those machines. That's mainly because it seems to reduce communication overhead significantly by only sharing parameters, not all the collected data. I'd be super curious to know if that works out of the box as you mentioned it might!

In some new scenarios we cannot simulate the enviro

[2017-11-10 14:57] jlewi commented on #17
So would I. Is there a simple example we could try to parallelize across multiple machines using TfJob?

[2017-11-10 23:01] cwbeitel commented on #17
So would you be thinking of having the user make sure there are the right number of workers and remotes or abstract that (i.e. who is calculating N*B)?

[code]
I like the StatefulSets idea but just to understand that more in

Re StatefulSets - So each member member of the stateful set by knowing its own index and the size of the set can determine the names of pods it should connect to? If N=2, B=3

[2017-11-10 23:21] danijar commented on #17
Maybe something like this: https://gist.github.com/danijar/1dde5eb528b61560734c16d4fd0d93a1

We will probably have to modify `agents/scripts/train.py` though.

[2017-11-12 19:37] jlewi commented on #17
@cwbeitel any interest in trying to turn @danijar's gist into an example running on K8s?

[2017-11-13 14:20] alexpashevich commented on #10
I confirm the same problem using tf-nightly-gpu=1.5.0. It looks like that when allocating the network on GPU, the weights of the network are not updated immediately after applying the gradients.

[2017-11-15 22:18] cwbeitel commented on #17
Still working on it! Hit some issues with my kube deployment when trying to re-deploy with accelerators. I'll push a version here in a minute to share for discussion.

[2017-11-15 23:30] cwbeitel commented on #17
So here's the [work in progress](https://github.com/cwbeitel/k8s/commit/dd7cd1935ecb2c79ab5682a5f14ddf4724da1f01), let me know if you guys have thoughts about [this](https://github.com/cwbeitel/k8s/tree/master/examples/agents) model for how model code is built into images and run. It doesn't have to be so prescriptive but this is a workable model for now.

[2017-11-17 22:12] cwbeitel commented on #17
OK so here's a cleaner version of that PR https://github.com/tensorflow/k8s/pull/159. So next up is extending the example with some form of parallelization initially with the environments still running in the same containers as where replicas of the model are being trained. @danijar @jlewi do you guys have thoughts on including the example in tf/k8s vs tf/agents? I don't want to go out of scope on

[2017-11-19 14:50] danijar commented on #17
Cool, I looked at the PR and it looks quite nice. The examples directory of the k8s repo is probably a good place for this code. I'm planning on adding some tutorials for Agents and would be happy to include a page about this and a link to the example.

Did you do a full distributed training run and have some graphs to look at?

[2017-11-19 18:32] cwbeitel commented on #17
Thank you. Also made the example a bit simpler per @jlewi's suggestion, see https://github.com/cwbeitel/k8s/commit/790dfb1fd3ced4ec1b9cfd46221a666c4b1febdd.

That sounds good about the tutorial happy to help user test those.

You should be able to tensorboard the logs from one of the runs (let me know if you can't access it, marked "make public")
[code]
Rendering is running so I'll upload a gif to

[2017-11-19 19:40] danijar commented on #17
Thanks. TensorBoard is getting a 401 Unauthorized return code. Yep, checked the code and saw that it's single-instance training for now. Let me know if you run into problems when working on the distributed version, maybe I can help. For the readme, the graph with the mean score is probably most interesting, or a screenshot of all the scores on TensorBoard.

[2017-11-20 16:08] cwbeitel commented on #17
Ok gs://agents-k8s-share/jobs/... should work going forward including gs://agents-k8s-share/jobs/tensorflow-20171117102413/20171117T182424-pybullet_ant

Figures:

<img width="343" alt="mean_score" src="https://user-images.githubusercontent.com/2348401/32996060-88c8753c-cd32-11e7-9270-3c43445e84cc.png">
<img width="1107" alt="pg1" src="https://user-images.githubusercontent.com/2348401/32996061-88e7

[2017-11-21 13:05] danijar commented on #17
I think we will have multiple machine that each run a batch of environments and an agent. The agents just need to synchronize their gradients. Since most of the time is spent collecting data, this will hopefully be only a small overhead.

[2017-11-21 14:35] jlewi commented on #17
@danijar This sounds like standard [between-graph replication](https://www.tensorflow.org/deploy/distributed#replicated_training) training. Do we need to do anything special?

[2017-11-22 01:18] cwbeitel commented on #17
Agree this sounds like a standard instance of between-graph replication and the remaining task is to put the policy parameters on the parameter servers. Just looking for these and understanding the structure/model of agents and the PPO algorithm. If I understand correctly in this example our policy is a parameterization of `agents.scripts.networks.feed_forward_gaussian`?

[2017-11-22 10:02] danijar commented on #17
Yes, the model parameters are created within the `agents.scripts.networks.feed_forward_gaussian`. Another variable that me might want to share is the current value of the KL penality defined in the PPO constructor, but I think this is probably unnecessary.

[2017-11-22 13:01] cwbeitel commented on #17
Sounds good!

[2017-12-08 19:25] cwbeitel commented on #17
So just to update having some issues with variable initialization, current version [here](https://github.com/cwbeitel/k8s/tree/fc573e3024606cddaf10e20038259f6543698c44).

Currently non-chief nodes hang, repeating:
[code]

Presumably because these variables, which are private to an individual worker, are not initialized by the chief. It seems we should be initializing these variables in the local_i

[2017-12-09 08:11] danijar commented on #17
Hmm, I thought that the `tf.local_variables_initializer()` would do exactly that ([utility.py line 114](https://github.com/tensorflow/agents/blob/master/agents/scripts/utility.py#L114)).

[2017-12-09 20:48] cwbeitel commented on #17
Yeah me too. They don't appear to be on the param servers.

[2017-12-09 21:02] cwbeitel commented on #17
I'm wondering if I'm mixing things up a bit here. Probably shouldn't be putting anything on the master and using that only for initialization of variables on the workers and ps's.

[2017-12-13 01:47] jlewi commented on #17
It really depends on how the code is setup. Running ops on the master("chief") is quite common. Typically worker 0 is the chief and is also running computations.

[2017-12-20 03:56] danijar commented on #10
@alexpashevich Thanks for the pull request; I just merged it.

@jimfleming I'm closing this issue now. Please confirm if the changes solve your problem and re-open this issue if now.

[2017-12-20 04:39] wookayin commented on #10
The PR: #18

[2017-12-21 01:24] danijar commented on #19
Sorry, I just saw this issue now. The network must create an initial state if no state was provided. The currently implemented recurrent policy network actually uses a zero state in this case, but other options would be possible (e.g. training a variable for the initial state). The reason for not providing a state during training is that training happens on whole sequences, so should start from an

[2018-01-05 06:03] danijar commented on #21
PR #18 recently changed training on GPU. It is possible that it puts too many ops on the GPU. What tensors fails? What GPU do you use? Can you please set `use_gpu = False` in the config and verify that CPU-only training works?

[2018-01-05 19:08] dchichkov opened #22 "Support for discrete action spaces"
I'm trying to train an agent in a discrete environment space and I'm getting the following exception:
Is that by design?  If yes, any pointers onto changes required to make it work with discrete space?

[code]

[code]

[2018-01-08 18:55] danijar commented on #22
Thank you for reporting this. We are adding support for discrete action spaces to PPO. I will provide an update once it is working.

[2018-01-11 12:27] danijar commented on #23
Hi @pascalwhoop, thanks for pointing out the typos. I will fix them in the next version.

I think both approaches are valid, although I would question that framework design is complicated by process-level parallelism in Python. It was surprisingly simple and all the process logic is implemented in an [ExternalProcess env wrapper](https://github.com/tensorflow/agents/blob/459c4f88ece996eac3489e6e97

[2018-01-11 12:28] danijar commented on #21
@wwxFromTju Could you provide an update, please?

[2018-01-11 13:19] wwxFromTju commented on #21
@danijar what update?

[2018-01-11 15:07] danijar commented on #21
I asked a few questions in my first comment that could help debug your problem.

[2018-01-29 13:36] danijar commented on #17
@cwbeitel Are you still working on fixing this?

[2018-01-29 13:38] danijar commented on #21
I disabled GPU usage by default and implemented splitting episodes (using the `chunk_length` and `batch_size` config options) to be able to train on episodes with many time steps or large observations.

[2018-01-29 13:39] danijar commented on #22
We are waiting for the CLA to be figured out of this pull request: https://github.com/tensorflow/agents/pull/26

[2018-01-29 18:20] cwbeitel commented on #17
Took a break from it (this has been a bit frustrating) but still mean to fix what can be.

As I was explaining in my email, there is currently an error that occurs at the 10min mark when Saver() is called, caused by expecting Session instead of MonitoredTrainingSession:

[code]

This causes jobs to crash then re-start, logging  to the same directory as the previous run, causing the following error

[2018-01-29 20:30] danijar commented on #17
When using MonitoredTrainingSession, you should disable its logging and checkpointing logic. I was using it in the beginning but it was too restrictive so I switched to a standard session. I believe you can get the underlying session from a MonitoredTrainingSession to make the saver happy.

Instead of SyncReplicasOptimizer, you could also try to manually combine the gradients across workers, but I

[2018-01-29 21:48] cwbeitel commented on #17
Thanks for the suggestion. I'll give that a try.

Yeah that's been in the back of my mind as well that we could go that route. I'd like to do some more investigating with SRO before doing that myself. But it would be interesting! Certainly SRO [provides a clear model](https://www.tensorflow.org/api_docs/python/tf/train/SyncReplicasOptimizer) of how to do this kind of synchronization.

Also it woul

[2018-03-23 14:17] danijar commented on #22
Discrete actions are supported as of #26.

[2018-03-23 14:17] #22 closed

[2018-04-04 12:59] codegank opened #32 "Generalized advantage estimation"
Hi Danijar,

Recently, I was diving into the details of the code and have found some lines of code might be wrong.

1. In the file ppo.py lines 356-358, the function of computing advantage is given five inputs:
    `advantage = utility.lambda_advantage(
          reward, value, length, self._config.discount,
          self._config.gae_lambda)`,
    but in the file utility.py where defined this fun

[2018-04-11 21:51] codegank commented on #32
Hi Danijar, thanks for you reply, I will pull a PR later.

[2018-04-24 01:08] fengredrum commented on #29
The neural network is assigned to GPU, which I've checked in TensorBoard. The problem occurs in `agent/ppo/memory.py`. Cause `self._length` is a `int32` type variable. I try to initialize it as a `tf.float32` type variable then using `tf.to_int32` bypass this problem. The code works fine on CPU. However, When implemented on GPU, it seems doesn't learn anything. Maybe there are some elusive bug in

[2018-04-25 12:49] danijar commented on #29
Thanks for providing more details. I don't think the replay buffer should be placed on GPU, since it can grow quite large, especially when training from pixel observations. All ops should default to CPU because of the `with tf.device('/cpu:0')` block in train.py, and the network an RNN states should be specifically assigned to GPU inside ppo.py. Is that not what is happening for you?

[2018-04-30 07:17] chychen opened #44 "Errors about the regularizer term"
Dear Danijar,

Thanks for your great contribution, this repo help me learn a lot.
And I found some lines of code might be wrong.

in the file ppo.py lines 486~488 as below:

`entropy = policy.entropy()`
`if self._config.entropy_regularization:`
`____ policy_loss -= self._config.entropy_regularization * entropy`

the shape of entropy (batch_size, episode_length) and the shape policy_loss (batch_siz

[2018-04-30 17:41] danijar commented on #44
Thank you for pointing this out. Would you be able to create a PR for us to integrate?

[2018-05-08 09:47] danijar commented on #44
Fixed in #45

[2018-05-08 09:47] #44 closed

[2018-07-01 07:38] colinskow commented on #29
I tried running the default pendulum trainer. When I turn `use_gpu` on, it freezes during step 0 with no error. It runs fine otherwise. TF runs fine with my GPU on other operations.

Tensorflow v1.8, Ubuntu 18.04, Nvidia GTX 1080, Cuda 9.0.

If my understanding is correct, Tensorflow will automatically give priority to GPU on supported ops. Perhaps the `use_gpu` option should be removed if it does

[2018-07-09 02:06] fengredrum commented on #29
I agree with your opinion, the transitions might be very large when training from pixel observations. I used to think storing them in GPU memory to alleviate the communication cost between CPU and GPU. However, It turns out that it may not be the optimal solution when training in a single machine. Thank you for your constructive view.

[2018-07-14 09:19] danijar commented on #29
@colinskow Could you try running without environment processes (`--noenv_processes`), please? When there is a crash in one of the processes it can cause the program to deadlock before anything is printed.

@fengredrum The collected episodes should be stored on CPU memory in almost all scenarios. Is this not the case? We have the config options `batch_size` and `chunk_length` if you don't want to t

[2018-07-16 02:19] fengredrum commented on #29
Yes, it works exactly as your description. I'm implementing Batch-PPO based on my understanding. I've added several DL tricks on it to improve stability and performance. Still debugging, hope it can achieve or even beyond your score, LOL.

[2018-08-12 06:36] darrellenns opened #46 "OpenAI Retro environment support/example"
This is a feature request to add support/examples for OpenAI Retro environments.

The Retro API is the same as the standard gym environments, however the observations consist of screen images. This probably means we need some sort of preprocessing/CNN/downsample stages.

For some environments, it may be necessary to build an input state using multiple past observed images in order to capture compl

[2018-08-12 12:41] danijar commented on #46
Categorical actions is supported, please see `agents.scripts.networks.feed_forward_categorical()` as an example. To you CNNs, you can just modify that function. You can stack multiple past frames using `env = agents.tools.wrappers.FrameHistory(env, [0, 1, 10])`, which combines the current, last, and frame from 10 steps ago. You will have to set the `chunk_length` in your config to avoid training o

[2018-08-12 12:42] danijar commented on #46
Categorical actions is supported, please see `agents.scripts.networks.feed_forward_categorical()` as an example. To you CNNs, you can just modify that function.

You can stack multiple past frames using `env = agents.tools.wrappers.FrameHistory(env, [0, 1, 10])`, which combines the current, last, and frame from 10 steps ago.

You will have to set the `chunk_length` in your config to avoid training

[2018-08-15 13:34] danijar commented on #46
The `config.env` value can be either a string or an environment constructor. If Retro environments can't be created via `gym.make(name)` then you should be able to use `env = create_my_retro_env` and define that function so that it returns an environment instance.

Adding an option for history frames to the config that defaults to `None` is a good idea. The wrapper should be applied in `_create_en

[2018-08-20 18:32] Timen commented on #29
I am currently trying to perform training using the GPU as-well, however I am experiencing different issues than those listed above. My issue is that at a certain step in training I believe when it is going to update the global network. When this happens and I run on CPU everything is fine, I get  some kl cutoff prompts and then it continues. However when I run on GPU everything just stops, CPU us

[2018-09-15 21:52] danijar commented on #49
I haven't used TPU myself yet so I don't have a minimal example that I could share. It should be possible to use TPUEstimator instead of the [current training loop](https://github.com/tensorflow/agents/blob/4b1485150adaefb03dbc03a63d7ca335da810499/agents/scripts/train.py#L122) though.

[2018-09-18 21:32] aidangomez commented on #49
So how do you think we'd go about using TPUEstimator? It requires an input_fn and I'm not totally sure how we would incorporate a gym environment into that since the environment requires the predictions from the model_fn.

[2018-11-21 16:44] danijar commented on #50
Thank you for working on this and please let me know if there are any details I can provide to help.

[2018-11-21 21:50] louis030195 commented on #50
Thank you, the problem is probably just that i don't have enough RAM / CPU is overloaded (i should start using GPU), i admitted that because i had the same issue with other algorithms

[2018-11-22 23:01] danijar commented on #50
In that case, I would make sure that no other heavy applications are running and reduce the number of parallel agents in the configuration, for example `num_agents = 5` in configs.py.

[2018-11-24 06:51] erwincoumans commented on #3
It seems you cannot use the _worker class method for multiprocessing.Process on Windows.
If you use a global def globalworker( constructor, conn):
it will not hang. But then it cannot use getattr.
Is there a way to rewrite _worker to be a globalworker?
[code]

[2018-12-15 18:56] sguada commented on #51
@danijar could you fix that, probably better to move to batch-ppo pypi package to be consistent.

[2018-12-18 17:24] danijar commented on #49
Closing as I don't have the capacity for this. Feel free to send a PR if you get it to work on TPU.

[2018-12-18 17:24] #46 closed

[2018-12-20 08:08] FrigEgg commented on #52
I mean，it need to sample a minibatch of samples from environment before each training iter. But when we already get enough samples but the game is not over yet, how we should do during both training and evaluating. If we should save checkpoints every N steps and just use them to run evaluation, I understand how to do during evaluation.

But how to deal with this problem during training? Such as br

[2018-12-20 19:17] danijar commented on #52
The agent collects multiple episodes and then samples many smaller mini-batches from the stored transitions for training. As a result, the mini-batch size can be smaller than the number of steps collected for each update phase (but not larger). For exact implementation details of the PPO agent that OpenAI used in their paper, you might want to check out their code instead.

[2018-12-22 07:49] FrigEgg commented on #52
Sorry, I didn't find that you have already replied to me. I think I may not understand what you mean. The way you said to get mini-batches seems to be the method used in DQN. Isn't it to perform an update after N interactions with the environment using the current strategy? What I mean N is the steps per epoch. I'm sorry use minibatch to denote it, it makes confuse. What I want to know is if the s

[2019-01-03 03:05] danijar commented on #52
You can set the epoch size larger than the maximum length of the game to avoid this issue.

[2019-01-03 11:46] FrigEgg commented on #52
Oh, I see. Thank you for your help!

[2019-01-07 01:54] DoxasticFox commented on #32
@danijar It's been 9 odd months since @codegank's last comment, and I agree with his suggestion, so I submitted a PR (#53) with his proposed fix.

Unfortunately, it looks like the build is failing. I don't think the failure is related to my change.

[2019-01-08 15:42] #32 closed

[2019-01-08 15:42] danijar commented on #32
Thanks!

[2019-01-08 21:55] sguada commented on #4
Try to restore the checkpoint
[code]

[2019-01-10 17:48] sguada commented on #4
Re-open if needed

[2019-01-12 03:45] danijar commented on #55
Thank for you investigating this! Computing returns on the CPU seems reasonable anyway. Would you like to create a PR with this change? I don't know of any more efficient way to debug deadlocks in TensorFlow -- personally I usually disable code until I can locate the problematic part.

[2019-01-12 05:59] dchichkov commented on #55
I don't really understand why forcing this particular part of the graph onto CPU fixes (or masks) the issue.  So I'll not be able to explain what this PR does ;)

[2019-01-12 20:32] danijar commented on #55
Haha, okay. It seems like there is a problem when running the `tf.scan()` or `tf.reverse()` ops on GPU that are used to compute the return. Placing this loop on CPU should be faster anyway, so this seems like a reasonable change to me.

[2019-01-17 15:10] jrabary opened #6 "How should we set the network to `training` mode ?"
When we have layers with different behaviour in train and test phase (e.g BatchNormalization) inside the network we need to set this mode explicitly. Coming from `tf.keras.Model` we usually set this in the `call` method of the network.
How can we achieve the same thing with tf_agent ? Currently the API of the `call` function in the subclasses of `network.Network` seems to not offer such phase sett

[2019-01-17 17:04] oars commented on #6
Don't think we have any networks being used currently that require a phase to be set.

For now you could add a new `set_phase` method to your network and manually change it in the train_eval.py binary when evaluations start.

[2019-01-27 13:39] jrabary opened #7 "What is your plan about the Agent design and TF 2.0 ?"
Currently, most of the algorithm available in tf_agents work in graph mode and some can be run in eager mode as well. We are trying to run PPOAgent in eager mode because we found it easier for example to set the network phase #6.
The problem is that it is not easy and error prone to maintain the graph and the eager mode at the same time.
Since, TF 2.0 will be by default in eager mode. Is it necess

[2019-01-28 17:46] sguada commented on #7
We are working on this, currently DQNAgent can run in Eager mode, have a prototype for PPOAgent. We'll share a roadmap shortly.

[2019-02-13 04:47] ChengshuLi opened #8 "Potential memory issue with tf_py_environment"
Hi,

First of all, my environment is the following:
Tensorflow version: 1.13.0-dev20190205 (pip install tf-nightly-gpu)
tf-agents version: 0.2.0.dev20190123 (pip install tf-agents-nightly)
CUDA version: 10.0
cuDNN version: 7.4.1
Ubuntu version: 16.04

When I wrapped my customized python environment using tf_py_environment, it seemed to consume more and more cpu memory as time passed until the memo

[2019-02-13 16:54] oars commented on #8
Hi Eric,

Note that you are using a `tf_environment`. The way your code is structured you are generating Tensorflow Ops, but not evaluating them which is causing the increase in memory usage.

You'll want to change the later segment of your code to be:

[code]

[2019-02-13 16:54] #8 closed, assigned to oars

[2019-02-13 17:46] ChengshuLi commented on #8
@oars

Thank you so much for your help! It completely makes sense.

I think I was just following `agents/tf_agents/colabs/environments_tutorial.ipynb` without thinking too much about it and also overlooked `tf.enable_eager_execution()`.

Thanks again.

[2019-02-13 19:42] ChengshuLi commented on #8
@oars After running your code, I actually got an error:
[code]
Do you know how I can fix this?

Also, as I mentioned above, when I ran the code `tf_agents/agents/dqn/examples/train_eval_atari.py` with no modification, the memory usage still fluctuated between 40% to 80+%, in which case my computer also becomes slower. Is that to be expected?

Thanks!

[2019-02-14 03:36] wushaobo opened #9 "tf-agents pip is no longer available"
I think you have noticed that there is no release available now for tf-agents pip library to install. A number of other libraries have been broken by this issue including magenta, tensor2tensor, etc. Would you consider to fix it soon or what's the plan?

[2019-02-14 04:09] sguada commented on #9
Need to pip install tf-agents-nightly.
There will  not be a stable version for a bit.

[2019-02-14 06:36] wushaobo commented on #9
It was quite like a smoke test that anyone who used tf-agents suddenly gets broken then realizes the right name of this library has been updated.  No doubt they have strong Continuous Integration to warn their quick responding developers to fix it, but I just feel that a compatible way may be more graceful than hustle.

[2019-02-16 02:16] ChengshuLi opened #10 "Issue with observation normalization when len(observation_spec) > 1"
Hi,

I am trying to train ppo with observation spec that has len > 1.

E.g. my gym environment looks something like this:
[code]

And the corresponding tf env looks something like this:
[code]
I modified the `tf_agents/networks/actor_distribution_network.py` and `tf_agents/networks/value_network.py` to accept multiple inputs and concatenate the results (drew inspiration from `preprocessing_layers`

[2019-02-18 18:33] ChengshuLi commented on #10
I tentatively solved this issue by changing
https://github.com/tensorflow/agents/blob/beedf60a6fb9cc0f6efdc4d6d74e72613c83236f/tf_agents/policies/py_tf_policy.py#L104-L105
to
[code]
Do you think this is the right approach? Not sure if this will break other things.

Thanks!

[2019-02-19 18:30] oars commented on #8
Can you try updating tf-agents and trying again? I can't reproduce your error. For reference I just re-ran with this code:

[code]

Regarding the memory fluctuations I wouldn't expect that to happen either. Note that your image is fairly large ~280MB as raw float32 so if there are a couple of internal instances of it memory usage will be large.

[2019-02-19 23:13] sguada commented on #9
Sorry for the hustle, we will be more careful in the future.

[2019-02-19 23:13] #9 closed, assigned to nobody

[2019-02-19 23:15] sguada commented on #10
This seems a reasonable fix, feel free to create a PR to fix it.

Thanks,

[2019-02-20 19:58] ChengshuLi commented on #8
It works!

I used `tf.enable_eager_execution()` before and it didn't work.
Sorry I should have spent more time understanding tf eager mode and this error should be obvious. Thanks a lot.

[2019-02-20 23:58] #10 closed, assigned to nobody

[2019-02-21 00:06] oars commented on #10
Normalization should handle the nested inputs now, and the fix you suggested got integrated. Thanks for reporting the issue!

[2019-02-22 21:15] ChengshuLi opened #11 "Multi-gpu training support?"
Hi tf-agents team,

Thanks for answering all of my previous questions.

Does tf-agents support multi-gpu training? If so, is there any recommendation you could give me to achieve this (i.e. which files to consider modifying)? I found these two resources:
https://www.tensorflow.org/guide/using_gpu#using_multiple_gpus
https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_m

[2019-02-25 18:37] ChengshuLi opened #12 "Layer sharing between networks"
Hi,

This is more of a clarification rather than a bug I guess.

I am trying to share my feature extraction / encoder layers across different networks (e.g. ValueNetwork and ActorDistributionNetwork). Here is a minimum example:
[code]
The output is the following:
[code]
**I don't quite understand why there are two Encoder object in my_network.layers. Is this an intended behavior? Would this cause

[2019-02-26 01:36] ChengshuLi commented on #12
If I comment out this line:
https://github.com/tensorflow/agents/blob/e67f7a67d2c455faf468fa2d2705a7de052e4b36/tf_agents/networks/network.py#L86
The layers will no longer be duplicated.

Would someone help me understand what this line is doing? Or in general, how may I share layers between different networks, if what I did above was incorrect? Thanks a ton!

[2019-02-26 16:34] oars commented on #11
We haven't done much to optimize for multi-gpu yet. For now our current plan moving forward is to finish support for TF2.0 across all our agents (including some unreleased ones) and then we will start looking at accelerators and distributed training.

In most cases data collection is the bigger bottleneck which is why we haven't focused to much on accelerators yet, but regular resources for GPUs i

[2019-02-26 16:34] #11 closed, assigned to nobody

[2019-02-26 17:00] oars commented on #12
* Why are there 2 encoders in network.layers:
This happens because Keras automatically captures all layers and exposes them through the `.layers` property. In the network we capture input parameters so that we can generate a copy of the network. Some more work to facilitate and clarify what gets copied is still needed though. I would have expected it to be the same object though so that part I'd n

[2019-02-26 18:02] ChengshuLi commented on #12
@oars Thanks a lot for getting back to me.

- Why are there 2 encoders in network.layers:
Got it. Yes they are the same object because they have the same memory address `0x7f46e9cb3c88`:
[code]
The last example I provided is just an experiment in which I instantiated an encoder, passed it in as a input parameter but didn't use it, then instantiated another encoder in the `__init__` function of `My

[2019-02-28 03:05] ChengshuLi opened #13 "Sample action outside the valid range"
Hi,

NormalProjectionNetwork only normalize the mean of the tfp.distributions.Normal to be within [action_spec.min, action_spec.max].
https://github.com/tensorflow/agents/blob/efc2e3d86b8273283a68b783d39094d695f55d49/tf_agents/networks/normal_projection_network.py#L132

However, since the standard deviation is non-zero, it's possible for the actor to sample an action that is outside the valid rang

[2019-03-07 08:55] karanchahal opened #14 "What is your plan for distributing RL agents over a huge cluster ?"
Is there some paper you're following or a document you refer to to scale RL agents? If so I would love to hear about what strategy you're using.

[2019-03-07 09:12] karanchahal commented on #7
Can you create a github project to track issues ?

[2019-03-07 20:26] ebrevdo commented on #7
This should be mostly done now.  @sguada ?

[2019-03-07 22:11] abdel opened #15 "TF Agents & Dopamine"
There seems to be a lot of overlap between objectives of TF Agents and the [Dopamine framework](https://github.com/google/dopamine), are there any plans to share or combine these frameworks, or are they intentionally made separate?

[2019-03-07 22:59] samfishman commented on #13
Hi Chengshu,

You're correct that it's possible for the NormalProjectionNetwork to generate actions that are outside of the spec. Squashing the mean to be within spec is an approximation meant to keep the actions mostly within spec but it fails when the bounds are too small.

The bug you're seeing with your first possible solution is that the `low` and `high` parameters don't have the same shape a

[2019-03-07 23:03] #13 closed, assigned to nobody

[2019-03-07 23:17] ChengshuLi commented on #13
Thank you very much for your detailed explanation. Yes this fixed my problem. Thanks again.

[2019-03-08 22:04] alaterre commented on #15
I agree with @abdel, it seems that Dopamine and TF-Agent strongly overlap. Although dopamine aims at being used for fast prototyping and benchmarking as the reproducibility has been put at the core of the project, whereas TF-Agent would be more used for production-level reinforcement learning algorithms. I would love seeing the two frameworks merging or at least having strong compatibilities to fa

[2019-03-09 16:10] Sohojoe opened #17 "Support for vectorized environments?"
Do you support vectorized environments?

I am the author of [MaratonEnvs](https://github.com/Unity-Technologies/marathon-envs), a set of continuous control environments built in Unity+ml-agents. I use vectorized environments to scale the number of duplicate agents within the environment which gives a significant performance boost over MPI style strategies. It would be nice to support tf-agents

[V

[2019-03-11 05:15] ebrevdo commented on #15
@psc-g fyi; we could have a discussion about this as a long term goal.

[2019-03-11 07:51] jrabary commented on #17
As far as I know, there is already a process based environment in https://github.com/tensorflow/agents/blob/master/tf_agents/environments/parallel_py_environment.py.
I think it is not using MPI but can be used as a starting point.

[2019-03-11 15:01] Sohojoe commented on #17
@jrabary thanks - I will check it out. I think this is what I need as I have multiple instances of the same environment within the environment (if that makes sense!)

[2019-03-11 15:10] oars commented on #17
Hey @Sohojoe,

@jrabary pointed out the parallel_py_environment which I'm not sure is the right solution here. Parallel envs are aimed at starting multiple instances of an environment. I'm assuming in your case you have multiple arenas in the same unity instance though.

In that scenario I believe the [batched_py_environment](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/

[2019-03-11 16:30] egonina commented on #14
We are working on adding support for distributed data collection (running many parallel Actors that write experience trajectories to a shared replay buffer), similar to the IMPALA architecture (https://arxiv.org/abs/1802.01561).

[2019-03-11 17:06] karanchahal commented on #14
Can I help with this ?

[2019-03-11 21:26] germain-hug opened #18 "Dueling DDQN?"
Hi,

I can see DQN and DDQN have been implemented, any plan for the Dueling DDQN variant?
I am very excited about what TF-Agents has to offer and would love to contribute!

[2019-03-11 22:41] ebrevdo commented on #14
Thanks for reaching out!  We plan to explore and experiment with different strategies before making this work public.  We want to ensure that when we release code, that it's easy to use, fast, and that covers a number of important use cases.  We're not there yet.

After the initial release we'll probably need help getting the orchestration working on various types of distributed systems (e.g. maki

[2019-03-12 02:35] karanchahal commented on #14
Thank you for your response ! All this is very interesting. You can also refer to Pieter Abeel's paper on accelerating RL https://arxiv.org/abs/1803.02811. It was a good read. Looking forward to your release !

[2019-03-12 05:22] karanchahal commented on #14
The above work was released concurrently with IMPALA. Unlike IMPALA, it proposes variations in popular RL algorithms like Deep Q and Policy Gradient methods instead of proposing a new algorithm. I would be very curious to know what worked and what didn't in your research !

[2019-03-12 15:51] jrabary opened #19 "tf.function throws error when used in PP0 TF2.0 GPU example"
I get the following error  when setting `use_tf_functions = True`  in the PPO v2 example.
This error appears in the line
[code]
with TF2.0 GPU installed with `tf-nightly-gpu-2.0-preview` :

[code]

[2019-03-12 16:08] jrabary commented on #19
Setting `tf.config.set_soft_device_placement(True)` seems to solve this problem.

[2019-03-12 18:10] psc-g commented on #15
yeah, i think this would be a great thing to have. i imagine the use-case
would almost exclusively be dopamine -> tf-agents, so we could focus on
that without necessarily worrying about supporting the tf-agents ->
dopamine direction.

On Mon, Mar 11, 2019 at 12:15 AM ebrevdo <notifications@github.com> wrote:

[2019-03-12 18:34] siavash-khodadadeh opened #20 "OOM after a couple of iterations"
I am running DQN on an Atari game (BeamRider-v0). I just get the input image and flatten it and connect it to a fully connected layer with 32 neurons. It runs for 14000 iterations on a Telsa v100 GPU. After 14000 iterations, I get OOM. Is there a memory leak? I am using tf-nightly-gpu-2.0-preview. I have also tried tf-nightly-gpu and the same problem exists. My question is why I don't get the erro

[2019-03-12 18:42] PeterZhizhin opened #21 "Intrinsic rewards"
Thank you for such an amazing work, it is interesting to see what TF-Agents has to offer!

It would be great if we had an ability to encourage exploration with intrinsic motivators.
I would like to see Exploration by Random Network Distillation (https://arxiv.org/abs/1810.12894) as an example of such motivators.

It would be interesting to see your ideas how one could implement it. It should be a

[2019-03-12 19:27] justindujardin opened #23 "MaskedCategorical distribution example?"
I have an existing RL agent that I'd like to re-express with tf_agents, so I can test out a number of different algorithms that I'd struggle to implement myself. Thanks for this work! 👏

My environment has an action-space where not all actions are valid at all timesteps. It looks like [MaskedCategorical](https://github.com/tensorflow/agents/blob/master/tf_agents/distributions/masked.py) class is c

[2019-03-12 19:43] gkvoelkl opened #24 "Collabs for REINFORCE"

[2019-03-12 19:43] gkvoelkl opened #25 "Collabs for REINFORCE"
Is there a collabs or tutorial for using REINFORCE agent?

Thanks

[2019-03-12 20:23] oars commented on #25
You can look at the sample binaries for training and evaluating REINFORCE:

https://github.com/tensorflow/agents/tree/master/tf_agents/agents/reinforce/examples

[2019-03-12 20:23] #25 closed, assigned to nobody

[2019-03-12 20:24] #24 closed, assigned to nobody

[2019-03-12 20:53] sguada commented on #19
Thanks for the report, if you want to add the `tf.config.set_soft_device_placement(True)` to the example please send a PR.

[2019-03-12 20:57] sguada commented on #23
This is meant to be used with QNetworks, not sure it would work with the actor in SAC.

Take a look at [masked_test](https://github.com/tensorflow/agents/blob/master/tf_agents/distributions/masked_test.py)

You would need to pass the boolean mask to the distribution for each time_step.

[2019-03-12 20:57] PeterZhizhin commented on #20
Maybe your experience replay buffer size is large. This will result in consuming all of your available memory.

[2019-03-12 21:00] justindujardin commented on #23
@sguada That's good information, thanks.

I reviewed the masked_test file before opening this issue. It shows how to use the distribution directly, but not in the context of any of the components that tf_agents exposes.

It seems MaskedCategorical is not what I want for limiting to valid actions. I will close this issue, but if you have thoughts on another approach for masking actions in SAC I'd b

[2019-03-12 21:03] siavash-khodadadeh commented on #20
@PeterZhizhin Oh, sorry. I forgot to mention that. The buffer size is 100.
If this was the case, I guess it should have happened in the first 100 iterations. Because after 100 iterations, the size should not increase. I even tried with a buffer size of 2, but the problem still happens.

[2019-03-12 21:08] oars commented on #20
Do you have some code to help debug this? We haven't ported the v1 example for Atari yet:
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v1/train_eval_atari.py

but it might serve as a good starting point for you as well.

[2019-03-12 21:13] siavash-khodadadeh commented on #20
@oars  Thank you so much. I will look at the provided link.
Here is my code:
https://colab.research.google.com/drive/137JrRt2ifwNW51uWL-4osTC1uXM2U9B7

I am getting the error on Google Collab as well as on my own device.
![memory_usage](https://user-images.githubusercontent.com/9966824/54236821-e9f9a980-44ea-11e9-9e5d-a465c6657f76.png)

[2019-03-12 22:56] #23 closed, assigned to nobody

[2019-03-13 00:10] sguada commented on #23
I'm not sure what your environment looks like, but one option would be to create an [PyEnvironmentBaseWrapper](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py#L40) that will have access to what actions are available and filter out the rest.

However it may make learning more challenging.

[2019-03-13 00:27] drozzy opened #26 "Getting import error in TF-Agents Policies Tutorial."
When running a policies [tutorial](https://colab.research.google.com/github/tensorflow/agents/blob/master/tf_agents/colabs/3_policies_tutorial.ipynb#scrollTo=xsLTHlVdiZP3) collab, executing this cell:

[code]

outputs this:

[code]

[2019-03-13 01:32] sibyjackgrove opened #27 "Training TF-agents using custom OpenAI Gym environments"
I created a custom Gym environment. I was wondering if it would possible to use TF-agents with my custom environment? Could you point me to documentation if this feature is available?

[2019-03-13 01:34] sibyjackgrove commented on #26
Did you install the TF nightly build? I think TF-agents only work with TF nightly and TF 2.0

[2019-03-13 11:37] PeterZhizhin commented on #27
Have you tried `tf_agents.environments.gym_wrapper`?

[2019-03-13 14:43] sibyjackgrove commented on #27
No, haven't tried that. Is there any example Colab notebook showing how to use it?

[2019-03-13 15:12] oars commented on #27
You can look at the [suite_gym.py](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/suite_gym.py) to see how the wrapper is used.

If you register your environment with `gym` such that `gym.make('YourCustomEnv`) works, then you can load it through `suite_gym.load('YourCustomEnv`)` and it will apply the `gym_wrapper` @PeterZhizhin referenced.

[2019-03-13 15:12] #27 closed, assigned to nobody

[2019-03-13 15:25] oars commented on #26
Yep, looks like it's not on a nightly build. Thanks @sibyjackgrove!

[2019-03-13 15:25] #26 closed, assigned to nobody

[2019-03-13 16:32] egonina commented on #14
Thank you for the pointer to paper. Similar to that work, we are focusing on variations on existing algorithms that we already support in TF-Agents (DQN, PPO etc.). We will update this issue as we make progress!

[2019-03-13 18:05] PeterZhizhin opened #28 "MultiDiscrete spaces support"
Hello. Thank you for an amazing product, I am experimenting with this right now.

I would like to know, why `MultiDiscrete` spaces for Gym wrappers are not supported. I don't see any reasons why it should be difficult to support the space. It should be similar to a tuple of discrete spaces which you already support.

Could you please provide some clarification?

[2019-03-13 18:30] drozzy commented on #26
Yap, I am using explicitly with a nighly (tf 2.0). As can be seen in tutorial:

[code]

[2019-03-13 18:45] oars commented on #26
Are you running in a local runtime? I just clicked on the link you provided and am able to run the whole notebook on a hosted runtime without any exceptions.

[2019-03-13 18:56] oars commented on #28
Simply need coverage of the space. We haven't had an env that required adding that. It should be a simple mapping of the space to specs which could be added to `_spec_from_gym_space` in the `gym_wrapper` module.

[2019-03-13 19:49] siavash-khodadadeh commented on #20
After some debugging, I guess the problem is from the TFPyEnvironment.

[code]

The reason is that even this code which does not have anything to do with agents still faces the same problem.

[2019-03-13 20:58] sguada commented on #20
Thanks for reducing the problem, it seems that the issue is likely in the TFPyEnvironment, we will look into it.

[2019-03-13 22:45] PeterZhizhin opened #29 "debug_summaries makes PPOAgent fail when observation is a tuple"
When an agent observation is a tuple and `debug_summaries` is set to True, the agent crashes in a `tf.compat.v2.summary.histogram` call.

Let's have a look at the code that creates the problem:
[code]

If `observation` is a tuple, the call crashes.

Probably before fixing this, we should identify other possible instances of this pattern to fix it everywhere.

[2019-03-13 23:16] drozzy commented on #26
No, it was on colab.
Strange, now it works.

[2019-03-13 23:22] oars commented on #26
Glad it works.

[2019-03-13 23:49] PeterZhizhin opened #30 "Training PPO in non-episodic environments"
After reviewing PPOAgent code, I have found the following piece of code:
[code]

This means that if an agent runs in a non-episodic environment (the environment never resets and can be run infinitely), the agent will never learn anything because `weights` will be always zero.

The agent can get some reward, but due to weight being zero, training will not happen.

This also makes it harder to train

[2019-03-14 10:56] PeterZhizhin opened #31 "ParallelPyEnvironment is slow to start"
`ParallelPyEnvironment` starts all environments in different processes, but it does so sequentially.

[code]

[code]

[code]

If `env_constructor` takes, for example, 10 seconds to finish, then for 64 agents I have to wait 640 seconds. It makes it hard to experiment with heavy environments.

It would be better if we first spawned all start processes, and then waited for all of them to finish.

[2019-03-14 14:41] sibyjackgrove commented on #27
Thanks for the solution, @oars I tried it using suite_gym.load('YourCustomEnv') and it works. The only thing I had to do extra was to add `import gym_YourCustomEnv` before using `suite_gym.load()`.
I was also able to convert my environment to the TensorFlow environment using `tf_py_environment.TFPyEnvironment(env)`.

[2019-03-14 21:24] YoussefBenDhieb commented on #18
Hi,

I want to add the Dueling DQN. Should I add it as a separate network in the networks folder or as another class in  q_network.py in agents/dqn?

[2019-03-14 22:08] samfishman commented on #21
Hi Peter,

Thanks for your comment and distillation of the work required to implement RND. I think that the cleanest way to implement this would be something along the following lines.

Computing the intrinsic reward and training the RND networks can be done mostly agent-independently:
1. Implement an environment wrapper (see [here](https://github.com/tensorflow/agents/blob/master/tf_agents/enviro

[2019-03-15 19:20] PeterZhizhin opened #37 "Would you like to see a MultiCategorical projection network?"
I see that existing CategoricalProjectionNetwork supports only with the same number of actions along all dimensions.

So, for example, discrete actions: `[3, 3, 3, 3]` -- good.
Discrete actions: `[3, 3, 2, 3]` -- not supported.

I see in the code of CategoricalProjectionNetwork that you advise to implement more flexible distribution myself. This is not actually that hard to support.

1. We can hav

[2019-03-17 20:13] kyleabeauchamp opened #38 "Notebook tutorials are not py3k-ready"
I noticed that the tutorials (e.g., https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb) use print statements (e.g., `print 'Observation Spec:'`), which are deprecated in python3.

[2019-03-18 20:07] #31 closed, assigned to nobody

[2019-03-18 21:56] oars commented on #37
That generalization should work. I think we just didn't have any envs that required it.

[2019-03-18 22:09] #38 closed, assigned to oars

[2019-03-18 22:12] oars commented on #38
Thanks for the report!

[2019-03-18 23:33] youngalou opened #41 "EncodingNetwork breaks with only one preprocessing layer."
Currently the EncodingNetwork class cannot accept a single preprocessing layer.

When `preprocessing_layers` are passed as an attribute to the `EncodingNetwork` class the outputs of the preprocessing layers are stored in a list `states`.
`states` is passed to the `preprocessing_combiner` layer, which reduces `states` to a single tensor.
This tensor is then passed to the `_postprocessing_layers`.

[2019-03-19 00:19] sguada commented on #37
One question that is not clear to me is if we want to implement `[3, 3, 2, 3]` as `3 * 3 * 2 * 3` joint logits or as independent `3 + 3 + 2 + 3` logits.

The independent logits is easier to implement, probably a good addition.

[2019-03-19 00:23] sguada commented on #41
Another solution would be to pass a lambda layer as a preprocessing_combiner

`tf.keras.layer.Lambda(lambda x: x[0])`

[2019-03-19 00:39] eito-fis commented on #41
Is there a scenario in which one would use a `preprocessing_combiner` with one `preprocessing_layer`? It feels unintuitive to pass a combiner that does nothing when we have only one layer.

[2019-03-19 01:33] wszjzhang opened #42 "Rainbow agent implementation?"
Along the way to enhance DQN, looks like DDQN is also getting implemented. How about the Rainbow algorithm?

[2019-03-20 07:28] Bhaney44 opened #45 "What does the return function do in the _step function?"
I am having trouble understanding this piece of code:

[code]
So, I know the function of `_step` is to apply the action and return the next time_step, which contains a reward and observation. `(self, action)` are parameters, to which arguments may be passed. Here, the agent is traveling to the next state in the environment with its previous action and self. And, if the current state is the final s

[2019-03-20 15:11] PeterZhizhin commented on #37
I have a solution for independent `3 + 3 + 2 + 3` logits. I will prepare a pull-request when I have time.

[2019-03-20 15:21] oars commented on #45
I'm not sure where you are seeing that code, it seems like it's picked from different parts of the code base?

Assuming this is an environment step (on some custom env or wrapper?) then this is generating a `TimeStep` named tuple:

https://github.com/tensorflow/agents/blob/master/tf_agents/environments/time_step.py

[2019-03-20 15:21] #45 closed, assigned to nobody

[2019-03-20 15:24] oars commented on #42
I think we have most of the pieces for rainbow, but we still need to run baselines on it and get code ready for OSS, no promises on when this will come out.

[2019-03-21 15:31] siavash-khodadadeh opened #47 "Should we check for termination in collect step in the dqn_tutorial colab?"
I am looking into [this](https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb) colab document.

I was wondering if we should check for termination In Data Collection section:

[code]

I guess we need to check if the environment is terminated here. Something like this:
[code]

[2019-03-21 16:39] kbanoop commented on #47
Our environments are auto resetting. So at the end of en episode, if you call step again, it will ignore the action and perform a reset instead.

[2019-03-21 16:39] #47 closed, assigned to kbanoop

[2019-03-21 16:55] sguada commented on #42
Hopefully we will release CategoricalDQN (C51) in a couple of weeks and then the other pieces of Rainbow.

[2019-03-21 16:57] sguada commented on #41
We could change the code when only one `preprocessing_layer` is passed and `preprocessing_combiner is None` to default just unpack the list.

[2019-03-21 22:16] Bhaney44 commented on #45
@oars Are there any other resources for learning? Your response didn't help. I am having a hard to time figuring out how to start with Nightly. Some issues I am having:

1. If I run script in Idle, it returns `no module agents` - I then pip installed agents, but it didn't change anything.

2. I want to run the script from the command line. However, I can't because I cannot figure out the syntax fo

[2019-03-21 23:05] oars commented on #45
I'm not sure what you mean with running in Idle, or what you are referring to with Nightly. Right now the release for TF-Agents is `tf-agents-nightly` which depends on `tf-nightly` and `tfp-nightly`

So different issues to try and address:

* Learning how to use TF-Agents:
  * I'd encourage you to work through the colabs that are available. You can run them in a sandbox which will mean the install

[2019-03-21 23:18] Bhaney44 commented on #45
[Idle](https://docs.python.org/3/library/idle.html) is a python interpreter. To run a command in Idle, you select run from the top bar on the screen and then right click 'run module' from the drop down arrow. I'm not sure what you mean by:

1. Right now the release for TF-Agents is tf-agents-nightly which depends on tf-nightly and tfp-nightly

My best guess is you mean TF-Agents is a library calle

[2019-03-21 23:31] kbanoop commented on #45
To run in the sandbox, for each colab there is a link called 'Run in Google Colab' (near the top of the file under Getting Started) which will take you to the sandbox.

e.g. for this colab https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb:

if you click on the 'Run in Google Colab' link, it will take you to

https://colab.sandbox.google.com/github/tensorflow/ag

[2019-03-22 00:56] Bhaney44 commented on #45
That was the most helpful. Thank you so much @kbanoop.

[2019-03-22 15:59] jrabary commented on #19
Finally `tf.config.set_soft_device_placement(True)` doesn't solve this problem!
Maybe, it has to do with the fact that I'm using TFPyEnvironment with parallel_py_environment.

[2019-03-22 22:51] Bhaney44 opened #49 "@abc.abstractmethod"
I have never seen this syntax before. I was reading the TensorFlow Environments code and came across  `@abc.abstractmethod` in the following context:

[code]

What is the purpose and meaning of this syntax? Thanks!

[2019-03-25 16:44] sguada commented on #49
It just mark a method as abstract, what means any subclass has to implement it.
https://docs.python.org/3/library/abc.html#abc.abstractmethod

[2019-03-25 16:45] #49 closed, assigned to nobody

[2019-03-25 17:30] #28 closed, assigned to nobody

[2019-03-25 19:54] jionglearningzhang commented on #42
Are there any pieces missing? I can help.

[2019-03-25 23:52] JCMiles opened #50 "Invalid actions in a custom ActorDistributionNetwork for a DdpgAgent"
Hello team, I will try to generalize my question as much as I can, so maybe it could be useful also for other users. The simplified version of my custom actor network looks like this:

@gin.configurable
class Actor(DistributionNetwork):
    def __init__(self, spec, name='ActorNetwork'):
        super(Actor, self).__init__(
            input_tensor_spec=spec.input_tensor_spec,
            state_spe

[2019-03-26 17:54] kbanoop commented on #50
Yes using valid_actions at the end of `call` to filter logits sounds should work. Assuming `transition` is part of `observation`.

We don't have a single generic way of handling structure in valid actions. In your case, what you suggested seems best to me. In some other cases, valid actions might depend on previously chosen actions, so we can store previously taken actions in the network/policy st

[2019-03-26 17:54] #50 closed, assigned to nobody

[2019-03-26 20:35] PeterZhizhin opened #51 "Performance benchmarks"
Some RL libraries add performance benchmarks on Atari or MoJoCo. Some also have comparisons between typical algorithms with different implementations.
See this for an example: https://github.com/ray-project/rl-experiments

The performance benchmarks will make it more compelling for someone outside Google to use the library. If you had them, someone wouldn't need to do the benchmarks themselves. Th

[2019-03-26 22:34] kbanoop commented on #51
Definitely agree, and we are actually working on this. But we dont have a planned release date yet.

We are first trying to develop some general training/eval infrastructure common across agents, and once we do that we can run these studies in a more unified manner and we can publish results that are easy to reproduce.

[2019-03-27 02:18] ChengshuLi opened #52 "How to load trained model or resume training?"
Hi,

I understand this issue has be raised here #4 , but I think I still have trouble loading trained model or resuming training.

For instance, I ran [train_eval_gym.py](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v1/train_eval_gym.py) until convergence. Then I killed the processes and reran train_eval_gym.py with the same `--root_dir` to resume training. Howeve

[2019-03-27 02:24] idigitopia opened #53 "Reusability for Pytorch"
Is there something similar available for pytorch? (Which I believe there is not.) Can someone guide me to which parts of the project will be reusable for implementations of agents in py-torch ?

[2019-03-27 18:43] batu commented on #12
First of all thank you very much for open sourcing this platform! I wanted to know if you came to a decision whether you will oficially support optionally passing direct models. I believe that would make it easier to experiment with experimental model architectures and would love to see this feature supported!

[2019-03-27 18:49] #29 closed, assigned to nobody

[2019-03-28 03:01] sguada commented on #53
Most of the Python components would be usable, like PyEnvironments, PyMetrics, PyReplayBuffers, PyDrivers, but you would need to define Networks, Policies and Agents.train.

[2019-03-28 03:07] sguada commented on #52
We added the capability to checkpoint metrics at https://github.com/tensorflow/agents/commit/93d940ebbffe1640b26fa2da9bb9a14ec106b150

[2019-03-28 08:41] jionglearningzhang opened #54 "Add a folder for examples?"
How about adding a folder for examples and tutorials like tensorflow/tensorflow/contrib/eager/python/examples?

[2019-03-28 18:02] ChengshuLi commented on #52
@sguada

Thank you for getting back to me.

Is this problem caused by checkpointing metrics? My feeling is that it has to do with loading the policy. The reason is that when I load a previously trained model/policy checkpoint, it performs significantly worse than it did when I stopped the previous training.

For instance, I was training a point-to-point navigation agent in my own customized enviro

[2019-03-28 22:47] sguada commented on #52
It could be that policy is not saved or restored properly. But if you are using the example binaries it should do the right thing.
See
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v1/train_eval_gym.py#L210

[2019-03-29 15:53] sguada commented on #54
Take a look at [Colabs/Tutorials ](https://github.com/tensorflow/agents/tree/master/tf_agents/colabs) and to examples under each Agent, e.g. [DQNAgent/examples](https://github.com/tensorflow/agents/tree/master/tf_agents/agents/dqn/examples/v2)

[2019-03-30 09:59] ankdesh opened #55 "API documentation"
It would be a great help if the APIs and the parameters can be hosted on a site. Currently, we need to reach to the specific python files to understand the definition.

[2019-03-31 11:00] jarlva opened #56 "SimPLe efficient Agent?"
Hi, any chance to port the SimPLe Agent from [https://github.com/tensorflow/tensor2tensor/tree/master/tensor2tensor/rl](url) to work with basic GYM (like cartpole)?

Based on the Google blog, SimPLe  "is significantly more efficient than current state-of-the-art techniques".

[2019-04-01 09:57] jrabary opened #57 "Recommendation and best practice for pre-training and transfer learning ?"
Hi all,
We're looking for some recommendation to do pre-training and transfer learning with tf_agents.
The idea is to perform pre-training on other task domain and use this pre-trained model as an encoder for an agent. For instance, the pre-training task is imagenet classification.
Ideally, we would like to use the original Keras model definition for the encoder network since we have a fullstack o

[2019-04-01 17:54] sguada commented on #57
One simple way would be to create a Network wrapper that takes a keras_model and implements the tf_agents.Network API, most relevant are .copy() and .variables()

[2019-04-01 17:57] sguada commented on #56
That would require some work, and probably not very relevant for a simple problem like cartpole

[2019-04-01 17:58] sguada commented on #55
Thanks for your request, we are working on it. They should be public this week.

[2019-04-01 19:34] jarlva commented on #56
Yes I know that cartpole is a simple one.. I picked cartpols as a simple example that we can learn to apply to more complicated ones.
Again, based on Google's report this agent is unlike others. and will reduce training time more than any other agent to-date. Thus I think it's worth looking at.
The red line is the figure is the Simple agent....

![Untitled](https://user-images.githubusercontent.co

[2019-04-02 20:24] gnperdue opened #59 "What is the recommended way to `render` a TensorFlow Agents TF-Agent?"
I tried to post this question at StackOverflow, but I lack the reputation to create a 'tensorflow-agents' tag. So...

Open AI Gym environments carry a `.render()` method that is directly accessible in the TF-Agents Python environment created by `gym_wrapper.GymWrapper`.

However, when training with an agent in the TensorFlow environment created by `tf_py_environment.TFPyEnvironment`, calling `.ren

[2019-04-03 14:23] sibyjackgrove commented on #56
Yes, adding SimPLe agent would be really beneficial. I am willing to help out if this is feasible with tf-agents.

[2019-04-03 14:30] sibyjackgrove commented on #59
Currently, I think the recommended way is to use `.render()` on the original python environment created using `suite_gym.load()`. This is what they are doing in their Colab tutorials.

[2019-04-03 14:36] sibyjackgrove commented on #57
@sguada I can help with this. I use the QNetwork class in `q_network.py` as a template to come up with below code. Sorry I am very new to this, but I would really like to help out.
Could you suggest how I can the correct the code. I don't uderstand where` .copy()` and `.variables(`) are be used.

[code]

[2019-04-03 14:51] gnperdue commented on #59
Thanks for the suggestion! Calling `.render()` on the original python environment actually does the same thing as my wonky expression above, but is obviously cleaner and shorter.

It doesn't really work though - the render provided is always the _same_, no matter how long training went on. It also looks the same as if I call my more complex expression above with any valid batch index (they all als

[2019-04-03 14:57] sibyjackgrove commented on #59
My feeling is that they don't want the TF-environment to be used for rendering. They only expect it to be used during the agent training and evaluation which doesn't need rendering. Rendering is after all way in which the human user can have visual confirmation of the agent's performance. The agent sees the environment purely through state observations and rewards.

[2019-04-03 16:05] sguada commented on #57
You can start by creating a subclass of [tf_agents.networks.Network](https://github.com/tensorflow/agents/blob/master/tf_agents/networks/network.py#L91) which takes a tf.keras.Model as an additional input and implements the `variables()`, `copy()` and `call()` by forwarding appropriately to the tf.keras.Model.

[2019-04-03 16:05] sguada commented on #7
Yeah Now TF-Agents is fully compatible with TF 2.0

[2019-04-03 16:05] #7 closed, assigned to sguada

[2019-04-03 22:06] sguada commented on #59
As @sidneyyan mentioned the simplest way is to just render in Python-Environment.
But if you want to open a feature request to be able to render on TF-Environment, please let us know.

[2019-04-04 04:43] jarlva commented on #56
That would be awesome! (if it can be applied to GYM (non-Atari/ALE) environments.
Thanks.

[2019-04-04 06:10] karanchahal commented on #51
Good plan ! @kbanoop I wish you guys all the best. This is such exciting stuff !

[2019-04-04 06:58] jrabary opened #61 "Observation summary may cause OOM"
In some agent, for instance PPOAgent, when `debug_summaries` is enabled the summaries contain `observations` as well. This sometimes causes OOM error especially when the observation dimension is large (e.g image).
My suggestion is to add an additional flag `summarize_observation` to handle this case.
Below is the error message I got :
[code]

[2019-04-04 12:13] Bhaney44 commented on #49
Thanks!

[2019-04-04 12:14] Bhaney44 opened #62 "Issue test SAC"
I have been trying to use tf.agents and tf.nightly for a few days now without any luck. Right now I am trying to implement a SAC model, but the test continues to fail on my machine. The error I am receiving is:

`ValueError: A configurable matching 'tf_agents.policies.actor_policy.ActorPolicy' already exists.`

Above the error is the following syntax:

`File "/anaconda3/lib/python3.7/site-packages

[2019-04-04 15:51] oars commented on #62
Which test is failing for you? The error is coming from gin-config, somehow the ActorPolicy is being defined twice.

I got the CarRacing Env running on sac/examples/v2/train_eval.py directly. See the required changes:

[code]

I haven't used the Box2D envs before. So far they seem a little finicky.

Couple of notes as you hopefully try to extend this for your specific needs:
  * Note the change to

[2019-04-04 15:51] #62 closed, assigned to nobody

[2019-04-04 16:00] egonina commented on #61
How would the observation be summarized with that flag turned on? An option to skip/summarize observation in the debug info sounds good for large observations. Also, it looks like the observation summary is created on the GPU, we should probably move the summary op to run on the CPU.

[2019-04-04 16:23] Bhaney44 commented on #62
@oars Oscar, thank you so much for your help. I sincerely appreciate your thoughtful analysis.

[2019-04-04 16:24] Bhaney44 commented on #62
This is the test failing:

[code]

[2019-04-04 16:34] oars commented on #62
Do you have a full traceback of the failure? I am unable to reproduce:

[code]

[2019-04-04 16:37] Bhaney44 commented on #62
[code]

[2019-04-04 16:42] oars commented on #62
How are you running these tests? The issue is due to modules being reloaded which we do not do in our regular tests `python setup.py test`.

To allow that to happen, you need to set: `gin.enter_interactive_mode()`

[2019-04-04 16:46] Bhaney44 commented on #62
I am running the tests in [Spyder](https://www.spyder-ide.org/). What do you mean by:

 "set: set: `gin.enter_interactive_mode()`"?

Big picture issue would be my lack of understanding of how the different files, scripts, and information are organized on my machine. To what are the modules being reloaded into?

[2019-04-04 16:47] Bhaney44 commented on #62
Thanks again for your time and patience. I am greatly appreciative.

[2019-04-04 16:55] oars commented on #62
I'm not sure how the test runner for Spyder works, but it is forcing a `reload` of modules which is not compatible with `gin`.

You can learn more about how modules work and what reload means in this context by looking at: https://docs.python.org/3/library/imp.html

You can add the line `gin.enter_interactive_mode()`  to allow reloading of modules in `gin`. You'll need to do so in some top level f

[2019-04-04 16:56] Bhaney44 commented on #62
I'm going to grind on this problem until I solve it. Thanks again, Oscar.

[2019-04-04 18:08] Bhaney44 commented on #62
@oars

Could you please explain this code you proposed?

[code]

Questions:

1. Where is this code? I am going back and forth trying to run this from the command line and Spyder.  Generally, I do not understand how all of these files fit together. So, when you say required changes I do not know how to find or locate what needs to be changed.

2. What does XcX mean? You write variable numbers for t

[2019-04-04 18:23] oars commented on #62
That represents changes to the code in: `tf_agents/agents/sac/examples/v2/train_eval.py`.

Search for diff syntax to learn more on this, but the gist is that line 36 was changed. One file has `suite_mujoco` the other `... suite_gym` I realize now that I ordered the diff backwards, but the main idea is still there.

[2019-04-04 18:59] Bhaney44 opened #63 "SAC for Car Control"
**Problem: How to create a simulation where a SAC algorithm controls a car to navigate an environment.**

**Goal: Create a simulation where a SAC agent controls a car in an environment.**

Generally, I familiar with deep reinforcement learning frameworks and autonomous car control. I wrote a [paper](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3261275) on the topic and have read a lot about

[2019-04-04 19:21] sguada commented on #61
Sure we could add a flag for `summarize_observation` separated from `debug_summaries`. One note the observation seems a bit odd shape `[3145728,30]` for an image.

[2019-04-04 19:38] jrabary commented on #61
@sguada to be honest, I'm not really sure anymore if the observation is the problem. I comment out every summaries and still have the OOM error. It's may be the same issue as https://github.com/tensorflow/agents/issues/20 .

[2019-04-04 20:19] egonina commented on #63
I'm sorry you're having trouble getting started with tf-agents for your application. It sounds like the main issue is setting up the required packages for you to run the code and then extend it. Has the diff that @oars suggested with using the mujoco environment (#62) not worked? What happens when you run locally from the command line?

[2019-04-04 20:25] oars commented on #59
@sibyjackgrove Is somewhat correct. It wasn't because we didn't want people to render through the TF-Env, however I tried this today and some of the environments have issues rendering when done in the wrapped tf_environment as the rendering could be triggered outside of the main thread which OpenGL doesn't like in general.

@gnperdue Do you have a specific environment or example we could look at w

[2019-04-04 20:49] adityauser commented on #42
@sguada I would like to contribute to CategoricalDQN (C51). Moreover, I had already implemented this in my [repo](https://github.com/adityauser/Quest-RL/tree/master/Distributional-RL). You can review it also.

[2019-04-04 21:16] gnperdue commented on #59
Hmmm... well, if I try with OpenAI Gym 'CartPole-v0', the environment is not repeating, but with my custom Gym environment it is. Let me dig and see if the problem isn't in my code... (I'm returning a Matplotlib figure instead of an rgb array, so maybe that is part of the issue.)

Thanks for all the comments!

[2019-04-04 21:18] oars commented on #59
Sounds good. Make sure the state of your env is changing as you step it. Best of luck and feel free to open up a new issue if there's something we can help with.

[2019-04-04 21:18] #59 closed, assigned to oars

[2019-04-04 23:10] sguada commented on #56
It is feasible, but it would take a bit of work so before start working on it, you should create a proposal with detailed steps and milestones.
Also we should see how easy would be connecting TF-Agents with Tensor2Tensor, since you need that to train a good model.

[2019-04-04 23:43] krishpop opened #64 "VideoWrapper not found in environment/wrappers.py"
In the [Environments Colab tutorial](https://github.com/tensorflow/agents/blob/03f4a9e10b6a8b38427c8b6e87be9e72aaec3bce/tf_agents/colabs/2_environments_tutorial.ipynb) I saw a mention of the VideoWrapper class to save videos from the environment. However, it is currently not implemented in environment/wrappers.py. Is there any plan of releasing this wrapper?

[2019-04-04 23:49] sguada commented on #64
Yeah we plan to release a VideoWrapper, we finishing up the dependencies for it.

[2019-04-05 12:27] Axel-CH commented on #30
Hi @PeterZhizzhin, thank you for your PR, I have the same issue. Could you add an exemple (gym or other env) of training with Training PPO in non-episodic environment ?

[2019-04-05 14:03] npfp opened #65 "Inconsistencty between tf_env.action_spec(action).is_compatible_with() and tf_env.step(action)"
Hi,

As described in https://stackoverflow.com/q/55537069/4282745, I'm a bit confused by the following pieces of code:

The following piece of code works fine even through `tf_env.action_spec().is_compatible_with(action) is False`.

    import tensorflow as tf
    import tf_agents.environments.tf_py_environment as tf_py_environment
    from tf_agents.environments.tf_py_environment_test import PYEn

[2019-04-05 14:09] npfp commented on #65
This [line of code](https://github.com/tensorflow/agents/blob/d6b6ccc7d23f8816b83ac7fe9eb3e6595b500c1d/tf_agents/environments/tf_py_environment.py#L209) is involved:

[code]
and should probably be written as:

[code]

[2019-04-05 14:50] Bhaney44 commented on #63
Hi @egonina. Thanks for your time. When I run CarRacing-v0 from the command line with the following code:

`python -m spinup.run sac --exp_name Car4 --env CarRacing-v0 --epochs 20 --data_dir /Users/brianhaney/Desktop/Gym --dt `

I get a return error:

`ValueError: could not broadcast input array from shape (96,96,3) into shape (96)`

The problem is a disconnect in the action space and observation

[2019-04-05 15:43] oars commented on #63
@Bhaney44 The example I proposed in #62 is to replace the example use of Mujoco and use the car racing environment directly.

[2019-04-05 15:54] Bhaney44 commented on #63
Oh, got it. I sincerely appreciate your help. However, based on our discussions I am unable to solve or advance the problem with TensorFlow. Generally, I think my confusion is the result of inefficiencies in communication resulting from my inability to understand how to apply your advice. So, I am still not sure where to start because I do not know how to change the observation space and action sp

[2019-04-05 16:01] sguada commented on #63
The observation and action spaces are defined [here](https://github.com/openai/gym/blob/master/gym/envs/box2d/car_racing.py#L121)

[2019-04-05 17:05] sguada commented on #65
So the main assumption is that action_spec and observation_spec represents the dimensions of the actions and observations without any batch or time dimension.

You can take a look at the environment [colab](https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/2_environments_tutorial.ipynb) to get a better sense.

[2019-04-06 00:48] idigitopia opened #67 "py_driver constructor, question"
max_steps = max_steps or 0
    max_episodes = max_episodes or 0
    if max_steps < 1 and max_episodes < 1:
      raise ValueError(
          'Either "max_steps" or "max_episodes" should be greater than 0.')
    super(PyDriver, self).__init__(env, policy, observers)
    self._max_steps = max_steps or np.inf
    self._max_episodes = max_episodes or np.inf

is there a scenario where  the max_stes wil

[2019-04-06 20:23] adityauser commented on #56
@sguada can you explain what do you mean by "connecting TF-Agents with Tensor2Tensor"?
Do you want Tensor2Tensor compatible in TF-Agents or implement SimPLe in TF-Agents from scratch or something else.

[2019-04-07 04:12] Bhaney44 commented on #63
Thanks @sguada, I made a [repository](https://github.com/Bhaney44/CarrRacing) the project.

[2019-04-07 16:27] npfp commented on #65
Ok got it, many thanks!

Wouldn't it make sense to have a method to validate the compatibility while taking into account the batch size?

[2019-04-08 12:52] npfp opened #69 "PyEnvironmentBaseWrapper doesn't forward batch_size and batched calls."
Hi,

We found what seems as a bug in `ActionDiscretizeWrapper`. The following piece of code won't raise any exceptions even through we believe it should:

[code]

Issue comes from

[code]
which doesn't forward the `batched` and `batch_size` properties to the wrapped environment as they are defined in the parent class.

Adding explicit calls to the properties would fix the issue:

[code]

[2019-04-08 14:13] siavash-khodadadeh opened #70 "Using RNN Q Networks"
In order to use RnnQNetworks, I just replaced it with the QNetwork in the colab document for dqn.
Here is the [link](https://colab.research.google.com/drive/1uJi3Oa5aQOqkrKG17WTZbQmpFjqnkbBb) to the colab document.
Am I doing something wrong?
Here is the error message that I get:
[code]

[2019-04-08 14:52] sguada commented on #69
Thanks for reporting this bug, if you want to make a PR to fix it, happy to review it. Include the fix and the test.

[2019-04-08 14:59] sguada commented on #67
So the logic behind it is two fold:
- You need to specify at least one parameter `max_steps` or `max_episodes` so if neither of them are specified then it would raise an error.
- If only one is specified then then the other would be converted to np.inf (so it won't be a limit)

Maybe the following boolean examples help:
[code]

A different way to write the code would be:
[code]

[2019-04-08 15:02] npfp opened #71 "Bug in ActionDiscretizeWrapper when working with batched actions."
We found what seems to be a bug in `ActionDiscretizeWrapper` when working with batched actions:

[code]

The last line will raise:
`ValueError: Received action with incorrect shape. Got (5,), expected ()`

The issue comes from this line in `ActionDiscretizeWrapper._map_actions`:
[code]

This test compares the action shape with the batch size and a spec shape (without the batch size):
 action.shape

[2019-04-08 15:02] sguada commented on #65
Yeah that makes sense, feel free to add it to utils/nest_utils.py

[2019-04-08 15:46] npfp commented on #69
Sure, I'll make a PR later on today.

[2019-04-08 15:47] npfp commented on #65
Right, I'll make a PR later on.

[2019-04-08 18:22] sguada commented on #70
You need to pass the policy_state to the policy

[code]

[code]

[2019-04-09 00:57] #53 closed, assigned to nobody

[2019-04-09 11:23] ankdesh commented on #55
Thanks. Any updates?

[2019-04-09 11:23] ankdesh commented on #55
Closing the issue. Will wait for it :)

[2019-04-09 11:23] #55 closed, assigned to kbanoop

[2019-04-09 18:18] zafarali opened #73 "Using PPO in colab doesn't work?"
I can't make the PPO agent work in a colab. I basically took everything from the `train_eval.py` file and pasted it into a colab.

[code]

I see nothing printed at all.

See https://colab.research.google.com/drive/14Vdpnv9BY4JpAOQveD_HHLV-_nB2ZgU6

Is there something I'm doing wrong?

[2019-04-09 20:12] sguada commented on #67
Re-open if needed.

[2019-04-09 20:12] #67 closed, assigned to nobody

[2019-04-10 02:43] #69 closed, assigned to nobody

[2019-04-10 08:22] egonina commented on #73
In the colab link above I see an error "AttributeError: 'NumpyState' object has no attribute 'episode_return'", is that the error you're seeing or is that spurious?

[2019-04-10 11:03] zafarali commented on #73
That's from a keyboard interrupt.

I just see the spinning thing and nothing happens:

![image](https://user-images.githubusercontent.com/6295292/55873870-c9128b80-5b5e-11e9-9093-6916c1eea073.png)

[2019-04-10 11:11] egonina commented on #73
are you able to run one of the colab tutorials? for example this dqn one; https://colab.sandbox.google.com/github/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb

edit: and are you able to connect to the colab runtime? (upper right where it says "Connect")

[2019-04-10 11:15] zafarali commented on #73
Yes. DQN works.

[2019-04-10 12:41] egonina commented on #73
I'm able to reproduce not seeing any output. I think it's an issue with the logging library not displaying the output in colab notebook, see https://github.com/tensorflow/tensorflow/issues/3047 issue. Looking further into it to see if there's a workaround

[2019-04-10 13:04] egonina commented on #73
oh, also i think you have an error in your FakeFlags:

from collections import namedtuple
FakeFlags = namedtuple('FakeFlags', 'root_dir master env_name replay_buffer_capacity num_environment_steps num_parallel_environments num_epochs collect_episodes_per_iteration num_eval_episodes')

FLAGS = FakeFlags(
  './', '', 'CartPole-v1', 1001, 30, 10000000, 16, 16, 16
)

num_parallel_environments is set t

[2019-04-10 13:10] zafarali commented on #73
Yes! you are right. Sorry that was really embarassing.

I am now getting the error:
`RuntimeError: tf.placeholder() is not compatible with eager execution.`
Is this code eager or not?

[2019-04-10 13:35] zafarali commented on #73
(I was under the assumption that using tf-nightly meant that everything was eager)

[2019-04-10 13:50] sguada commented on #73
tf-nightly is the latest version of TF 1.x, which by default is Graph, but can also run in Eager mode.

The example you're using v1 is for Graph, for Eager use examples under v2

[2019-04-10 13:55] zafarali commented on #73
Ok. I reset my colab environment and it works now.

Thank you all!

[2019-04-10 13:55] #73 closed, assigned to nobody

[2019-04-12 14:36] JCMiles opened #75 "self.steps = common.create_variable('steps', 0)"
Hello team,
in the colab example on how to build a tf_environment
you use this line to create a variable

self.steps = common.create_variable('steps', 0)

it was working perfectly until I installed tf-agents on a new machine today
and now "create_variable" is disappeared. It has been moved in other place???

[2019-04-12 14:45] oars commented on #75
`common.create_variable` is still there:
https://github.com/tensorflow/agents/blob/master/tf_agents/utils/common.py#L109

Mind sharing a full stack trace to take a look at?

[2019-04-12 15:07] JCMiles commented on #75
from tf_agents.utils import common
from tf_agents.environments import tf_environment

class ExampleEnv(tf_environment.TFEnvironment):
    def __init__(self, cfg, scope):
        self.step_shape   = cfg.t_shape
        self.action_shape = cfg.a_shape
        self.observation_shape = cfg.o_shape
        self.seed = self._seed(cfg.seed)

        super(ExampleEnv, self).__init__(
            cfg.time_

[2019-04-15 08:28] DaveOuds opened #76 "Cannot import policy_saver"
I'm trying to save my policy after training.
I tried to look for a way to save the policy in the colabs and examples but I couldn't find anything. (Could you please add an example to one of the examples or add it to the policies colab?)

After reading through the code I found the PolicySaver class (agents/tf_agents/policies/policy_saver.py), but I can't seem to import it.

I copied the import from

[2019-04-15 16:13] talregev opened #77 "[GSoC] add new environments to agents"
I see this video:
https://www.youtube.com/watch?v=-TTziY7EmUA&t=222s
and I register for GSoC of tensor flow:
https://summerofcode.withgoogle.com/organizations/6137730124218368/

I want to add to agates new robotic environments:
[gym-gazebo][1]
[gym-gazebo2][2]
[gym-webots][3]

How I get started?

[1]:https://github.com/erlerobot/gym-gazebo
[2]:https://github.com/AcutronicRobotics/gym-gazebo2
[3]:h

[2019-04-15 19:47] oveddan opened #78 "Support / documentation for quantization-aware training"
Is it possible to do [quantization-aware training](https://github.com/tensorflow/tensorflow/tree/r1.13/tensorflow/contrib/quantize) using the agents reinforcement learning framework? If so these models could be deployed onto the coral edge tpu accelerators. If this is possible it would be great to see an example.

[2019-04-15 19:49] samfishman commented on #77
Hi,

Glad to hear you're excited about the project. We already support Gym environments so using these would just require importing them in your training script (e.g. agents/dqn/examples/v2/train_eval.py) and setting env_name to whatever you would like to load.

Please reopen this issue if you have trouble getting this to work.

[2019-04-15 19:49] #77 closed, assigned to nobody

[2019-04-15 20:23] talregev commented on #77
It not part of gym, it a new libraries that use gym,  ros and robotic simulators such as gazebo and webots.
need to write a code for them.

[2019-04-15 20:40] samfishman commented on #77
Yes, but it seems the environments are exposed via the Gym interface, right?

[2019-04-15 20:41] samfishman commented on #76
Hi Dave,

There are two ways to save policies.

The first is regular TF "checkpointing", which allows you to reload your training or evaluation job after it stops for whatever reason (e.g. a process crash). See any example script (e.g. agents/dqn/examples/v2/train_eval.py) for how to use checkpointing.

The second is the PolicySaver, which allows you to execute a policy without the code used to ge

[2019-04-15 21:04] samfishman commented on #78
It should be possible to follow the instructions in the README of that package as well as the TF lite documentation. We haven't looked at doing quantization ourselves, but I'd encourage you to give it a try if you're interested. You should start with just trying to apply quantization to one of the pre-existing example training scripts, like agents/dqn/examples/v1/train_eval.py. Feel free to commen

[2019-04-15 21:11] ChengshuLi opened #79 "Why using replay_buffer.gather_all in PPO?"
Hi,

The PPO code seems to be using replay_buffer.gather_all()
https://github.com/tensorflow/agents/blob/748bede752a95aee4d73c2fd208202bcdf164e0e/tf_agents/agents/ppo/examples/v1/train_eval.py#L213

whereas DDPG and TD3 seem to be using replay_buffer.as_dataset
https://github.com/tensorflow/agents/blob/442e05f1da8a591306ede197f402295c4bdee003/tf_agents/agents/td3/examples/v1/train_eval.py#L194-L19

[2019-04-15 21:13] samfishman commented on #79
gather_all is necessary because the PPO algorithm is designed to train on entire batch of on-policy data at once. Since it only gathers a small number of episodes at a time (think 30-120 episodes), trains on them, then clears the buffer and repeats, there is never too much data to train on at once.

[2019-04-15 21:18] ChengshuLi commented on #79
@samfishman
I see. What if I am using images as my observation? Using a batch size of 1000 or 10000 for images overflows my gpu memory.

[2019-04-15 21:37] samfishman commented on #79
What do you mean by batch size in this context? I would suggest starting by just lowering the number of steps you collect per iteration to the largest size that fits in memory.

[2019-04-15 21:49] ChengshuLi commented on #79
@samfishman

Your suggestion makes sense.

Just to clarify:
Say my replay buffer size is 10000.
I collect 20 episodes per iteration, each episode has 500 steps.
This will exactly fill up the replay buffer because 20 * 500 = 10000

Say my observation space is an image of size (128, 128, 3)
Calling `replay_buffer.gather_all` and `agent.train(trajectories)` will feed a tensor of size (10000, 128, 128

[2019-04-16 02:06] ChengshuLi opened #80 "[Bug] The first training step of PPO takes very long to complete"
The very first training step of PPO seems to take a very long time to complete (grow more than quadratically with respect to num_epochs).

For example, I modified the following code from
https://github.com/tensorflow/agents/blob/fbc111a069dba58843417d75b9acfe074170a991/tf_agents/agents/ppo/examples/v1/train_eval.py#L286-L288
to
[code]

If I ran `python train_eval.py --env_name CartPole-v0 --num_ep

[2019-04-16 06:44] DaveOuds commented on #76
Hey Sam,

Thanks for your response!

I just installed the updated package, but it is still not working (same error as before).

I also checked the history of the pip package ( https://pypi.org/project/tf-agents/#history) and it seems the last update was January 17.

[2019-04-16 15:57] JiahengHu opened #81 "Parallel Environment didn't speed up"
I tried utilizing parallel environment in my code like this:
[code]
But now I have to spend 5 times more time to collect each step comparing to the single thread version. I am running this on google colab, am I doing something wrong?

[2019-04-16 23:18] bionicles opened #82 "Have a bunch of environments to contribute"
Hi, I have around 12 openAI gym environments which I can contribute to the project;

They are loosely based around Dr. Howard Gardner's multiple intelligences... https://www.edutopia.org/video/howard-gardner-multiple-intelligences

Caveats:
I developed them all myself alone, except for the Mol.Py which I worked on with Kamel from Tunisia last year and used some code from that project (it makes nic

[2019-04-16 23:42] samfishman commented on #82
Hi, great to hear you are interested in testing these environments with TF-Agents. We are fully compatible with the gym interface, so the easiest path forward will be for you to put these into your own repo and register them with gym (using gym.envs.registration.register). Then, you can just modify one of the example trainers (e.g. agents/dqn/examples/v2/train_eval.py) to load your environment (mo

[2019-04-16 23:47] samfishman commented on #79
Yep, your understanding of my suggestion is correct. Thanks for clarifying what you mean by "batch size" here. Unfortunately there's not really a great alternative here aside from buying a GPU with more memory or using a cloud GPU service (such as GCP or AWS) to gain access to a large GPU or pool of GPUs you can distribute over.

[2019-04-16 23:58] ChengshuLi commented on #79
Awesome. Thanks a lot!

[2019-04-18 13:26] JCMiles opened #83 "import error: No module named 'tensorflow.python.platform"
Hello
I've created a new conda env and I've installed tf-agents-nightly, tf-nightly and tfp-nightly
as described in the installation section.

but  when I try to
import tensorflow as tf
I get this error "No module named 'tensorflow.python.platform"  cause  platform module
is absent in tf 1.14 nightly that is the current tensorflow version installed with command
pip install --upgrade tf-nightly

wh

[2019-04-18 20:01] samfishman commented on #76
Hi Dave,

Oops, I meant to say `pip install --upgrade tf-agents-nightly` rather than `tf-agents`. We are waiting on tensorflow 1.14 to release a stable version of tf-agents (since we rely on a few features not present in 1.13). You'll want to also be sure to install a nightly version of tensorflow (either tf-nightly or tf-nightly-gpu).

[2019-04-18 22:23] pcriadoperez opened #84 "Error Import tensorflow : __init__() takes exactly 3 arguments (4 given)"
Hi getting this error when running the tutorial:

[code]

[2019-04-18 22:36] oars commented on #84
This is an issue with `tf-nightly`.

You can change the nightly to an older version or wait for tomorrow's release. See https://github.com/tensorflow/tensorflow/issues/27955

e.g.:

[code]

[2019-04-18 22:36] #84 closed, assigned to nobody

[2019-04-18 22:38] bionicles commented on #82
ok sounds fair! thanks sam

[2019-04-18 22:40] bionicles commented on #82
how do you deal with the problem of many different input shapes? I want to train 1 agent to solve all the tasks

[2019-04-18 22:54] oars commented on #83
You can look at the sample colabs and double check versions there. Currently there's an issue with `tf-nightly`. See #84

I just re-ran it with:

`tf-nightly==1.14.1-dev20190416`
`tfp-nightly==0.7.0-dev`
`tf-agents-nightly==0.2.0.dev20190415`

Feel free to re-open if you still hit issues.

[2019-04-18 22:54] #83 closed, assigned to nobody

[2019-04-19 06:50] jarlva opened #85 "[Suggestion] Cross-pollinate project with project Ray"
Hi All, [Ray](https://github.com/ray-project/ray) project is "high-performance distributed execution framework. Ray comes with libraries that accelerate deep learning and reinforcement learning development." In short it's a RL-friendly framework that speed-up training, much like dask but for RL. It's also compatible with TF 2.0
I believe that cooperation between the the two projects will rip lots

[2019-04-19 07:42] DaveOuds commented on #76
Hey Sam,

It's working now thanks!

[2019-04-19 07:42] #76 closed, assigned to nobody

[2019-04-20 16:55] jmribeiro opened #86 "Action Spec for custom environment returning AttributeError"
I've created a custom environment for the Pursuit Domain, based on the colabs environment tutorial, validated it using `utils.validate_py_environment(environment, episodes=5)`, however when testing it with a QNetworkAgent, I get the following AttributeError:

`AttributeError: 'tuple' object has no attribute 'ndims'`
from agents/dqn/dqn_agent.pydqn_agent.py, line 159:

[code]

Here is my environmen

[2019-04-22 15:21] dimitry12 commented on #79
@samfishman I am still confused. I can see how advantage-estimation step benefits from looking at the whole training episode, but my understand of PPO is that backprop on value/actor-network can be done using mini-batches.

See https://github.com/openai/baselines/blob/c02b575f017a4dacceb8d98d1d5a16a21480faca/baselines/ppo2/ppo2.py#L143 for example.

[2019-04-22 15:52] oars commented on #86
When training the agent, are you converting the environment into a tfenv?

`tf_env = tf_py_environment.TFPyEnvironment(YourEnvironment())`

[2019-04-22 15:55] oars commented on #85
@ebrevdo has looked at Ray more in detail. Unfortunately the way we have to handle distributed workflows internally makes it hard to integrate with libraries like Ray.

I think there are however several fairly lightweight integrations the community could create. Like a Ray based parallel environment for example would be great.

[2019-04-23 19:19] ChengshuLi commented on #80
@oars @samfishman
I am sorry for @ you guys directly. I have been struggling with this for a while and I am wondering whether there is any update on this issue. Thank you very much for your generous help!

[2019-04-23 20:39] emailweixu opened #87 "ValueRnnNetwork added extra dimention when input does not have time dimension"
In tf_agents.networks.value_rnn_network.ValueRnnNetwork.call(), if `observation` does not have time dimension, it is expanded one more dimension for time at
https://github.com/tensorflow/agents/blob/82317735484b99f8bcb6ec7cb99d1e73f058ca55/tf_agents/networks/value_rnn_network.py#L153-L158

And the `value` just before the following line is a flattened version. Then it's unflattened by the following

[2019-04-23 20:44] emailweixu opened #88 "Duplicated weight name in networks.utils.mlp_layers"
The dense layers created in mlp_layers have same names:
https://github.com/tensorflow/agents/blob/82317735484b99f8bcb6ec7cb99d1e73f058ca55/tf_agents/networks/utils.py#L172

Because of this, `eager_utils.add_variables_summaries` cannot generate summary for all the weights.

[2019-04-24 00:28] qhuang-pnl opened #89 "AttributeError: module 'tensorflow.python.util.nest' has no attribute 'flatten_with_tuple_paths'"
AttributeError: module 'tensorflow.python.util.nest' has no attribute 'flatten_with_tuple_paths'

[2019-04-24 11:01] jmribeiro commented on #86
Now I am! Working properly.
Thank you very much!

[2019-04-24 11:01] #86 closed, assigned to nobody

[2019-04-24 15:46] oars commented on #87
Yeah, that seems like a bug to me. Thanks for the report!

[2019-04-24 15:48] oars commented on #88
Yeah, I actually just noticed this with V2 setups a day or two ago as well. It's an issue now that variables are not generated with unique names. They used to come from `tf.Graph` op names.

Looking at options to make them unique in V2.

[2019-04-24 15:48] oars commented on #89
Do you have a trace of where you are hitting this?

[2019-04-24 15:56] qhuang-pnl commented on #89
I have updated Tensorflow to the latest 1.13.1 stable release version. Then run  'python train_eval_gym.py'. Below are the msgs (the error shows up in the end):

C:\Miniconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from

[2019-04-24 15:59] oars commented on #89
You'll need to use `tf-nightly`. Feel free to re-open if you hit this issue on nightly.

[2019-04-24 15:59] #89 closed, assigned to nobody

[2019-04-29 09:23] JMorceaux commented on #20
Hi,
I am still having the issue, was it fixed ?
Thanks

[2019-04-30 11:19] DaveOuds opened #91 "Unable to import a lot of dependencies due to: AttributeError: module 'tensorflow.python.ops.linalg.linear_operator_util' has no attribute 'matmul_with_broadcast'"
Yesterdays commit on tf/probability (https://github.com/tensorflow/probability/commit/ceb73fe5ed418209469b0be5f3ff919cd5ecbba2) made me unable to import a lot of dependencies including the dqn agent and q-network.

It seems that tf agents has a lot of dependencies (aka looks pretty urgent).

Output:
---------------------------------------------------------------------------
AttributeError

[2019-04-30 12:31] llucid-97 opened #92 "What versions of tf and tf-probability am I supposed to use for the collab examples?"
I tried running the DQN collab example without any changes and I run into an error with tf-probability (traceback @ bottom)

I presume this is because the version of tf-nightly and/or tfp-nightly have changed since you made these notebooks? What version should I use to get these to work?

Collab Traceback
ImportErrorTraceback (most recent call last)
<ipython-input-4-d94cd7c61173> in <module>()

[2019-04-30 16:30] sguada commented on #92
Can you try using `tensorflow-probability 0.6.0`?

[2019-04-30 17:04] sguada commented on #91
Can you try using `tensorflow-probability 0.6.0`?

[2019-04-30 21:52] sibyjackgrove commented on #92
I am also getting the following error in the TensorFlow probability module when running the DQN tutorial.

[2019-04-30 22:34] oars commented on #92
Remove the pinned version of tfp-nightly in setup.py. I'm cutting a new `tf-agents` nightly that should work.

[2019-04-30 22:35] oars commented on #91
Remove the pinned version of tfp-nightly in setup.py. I'm cutting a new `tf-agents` nightly that should work. And pushing the change as soon as tests pass.

[2019-04-30 22:58] #91 closed, assigned to oars

[2019-04-30 22:58] #92 closed, assigned to oars

[2019-04-30 23:25] siavash-khodadadeh commented on #20
To the best of my knowledge, not yet. Here are some ways you can get along with it:
Save your model after a couple of iterations and when you get the OOM, try again.
Make sure that your environment observations are uint8 images which will be take 4x smaller space than float32 and preprocess them for your q learning update. See the Atari example provided by @oars.

[2019-05-02 10:40] jarlva opened #93 "[Question] Tune/speed up training?"
Hey everyone!
Anyone knows how we can tune/optimize the network/parameters using existing tools, such as [Ray/Tune](https://ray.readthedocs.io/en/latest/tune.html) or [Google/Adanet](https://ai.googleblog.com/2018/10/introducing-adanet-fast-and-flexible.html) or any other way to get better/faster training?

[2019-05-02 11:34] Lorenzo-Giardi opened #94 "[Suggestion] Add/improve support for multi-agent environments"
Hi everyone!
I think that it would be awesome if TF-Agents could make it easier to train multiple RL agents on some common multi-agents environments, maybe with a simple function to load the environment like with Gym's ones.
Some interesting environments are provided by OpenAI in the library "Multi-Agent Particle Environment" (https://github.com/openai/multiagent-particle-envs), which have also be

[2019-05-02 14:22] sguada commented on #94
As far as the environment follows OpenAI Gym API and provides the appropriate observation and action specifications, it should work. It would be up to the user to define an Agent and Networks that can handle multiple observations and actions.

[2019-05-02 14:24] sguada commented on #93
If you are familiar with Ray/Tune you should be able to modify any of examples and provide parameters via Tune.

To change the fc_layer_params [here](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v1/train_eval_gym.py#L68)

[2019-05-02 17:07] bayesian commented on #80
I ran into the same problem, it is because it is doing a full eval (default 30 episodes in a single process)..

the fix is simply change one line to

if global_step_val % eval_interval == 0 and global_step_val > 0:

[2019-05-02 17:10] bayesian opened #95 "Reinforce and PPO train_eval under example/v2 do not support checkpoint"
Other agents train_eval all support checkpoints, why do those two on-policy algorithms V2 training does not support checkpoint?

[2019-05-02 17:31] ChengshuLi commented on #80
@bayesian I tried your method, but unfortunately it didn't work for me. I have even commented out everything about eval and still get the same slow runtime. I think it is the **train_op** that takes a long time, not the eval or compute_summaries step. Thank you for your suggestion.

[2019-05-02 18:01] Lorenzo-Giardi commented on #94
Thank you Sguada for your answer. I realized just now that I could use `suite_gym.wrap_env()`, which gives the  ValueError "The gym space [Box(4,)] is currently not supported.", but it can be solved by removing the squared brackets from the action and observation specifications (hopefully without bad consequences).
Any chance to see agents that can handle multiple observations and actions in the f

[2019-05-02 22:54] kbanoop commented on #95
I don't think there is any reason, it's just something we haven't gotten around to doing yet. We are happy to accept pull requests to add it.

Meanwhile we are working on generic trainers that can train different agents, so all the bells and whistles of training scripts will be standardized there.

[2019-05-04 00:10] quarterpastsix opened #96 "environment not maximizing average return"

[2019-05-04 01:44] zh4ngx opened #97 "Multi-dimensional action DQN"
I see this TODO in the code for this file:

https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py

[code]

Is there an ETA on this? I have a use case right now that this would enable.

[2019-05-04 17:46] #94 closed, assigned to nobody

[2019-05-05 09:54] jarlva commented on #93
@sguada, I was not aware that it's possible to use Ray/Tune in Agents. Thanks.

[2019-05-05 09:54] #93 closed, assigned to nobody

[2019-05-05 15:22] mattinjersey opened #98 "tensorboard"
Hello I am using PPO Agent and it does not seem to properly record data in tensorboard. So when I open the tensorboard window I dont see anything. Thanks Matt

[2019-05-06 03:18] mattinjersey commented on #96
how to access the average return

[2019-05-06 16:01] quarterpastsix commented on #96
@mattinjersey most agent algorithm examples track them while training and you can call them later with tensorboard :o

[2019-05-06 16:18] mattinjersey commented on #96
true in PPO agents we have:
eval_metrics = [
      tf_metrics.AverageReturnMetric(buffer_size=num_eval_episodes),
      tf_metrics.AverageEpisodeLengthMetric(buffer_size=num_eval_episodes)
  ]
But if I have the variable train_metrics, how to readout the AverageReturnMetric

[2019-05-07 11:20] julianstastny opened #99 "Impossible to pass arguments to Gym Environment Wrappers"
The code in `agents/tf_agents/environments/suite_gym.py` does not support passing arguments to Gym Wrappers.
[See this example](https://github.com/openai/baselines/blob/master/baselines/common/atari_wrappers.py ) as a potential use case where one wants to pass arguments to their wrapper.

I could implement it myself, but am unsure what the best way is. Intuitively, passing tuples of `(Wrapper, arg

[2019-05-07 17:58] kbanoop commented on #98
I noticed that in the example command, the train binary uses /tmp/ppo_example as the root directory whereas the tensorboard points to /tmp/ppo.
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py#L21

If that didnt solve the issue, can you paste the exact commands you used here. Do you see this with other agents as well?

[2019-05-07 18:44] kbanoop commented on #97
No one is actively working on this AFAIK, so contributions are welcome.

A simple way to get this to work without modifying the agent is to create an environment wrapper that flattens the actions from your environment to 1 dimension.
https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py

e.g. if your env returns actions in {0, 1,  2} x {0, 1, 2}, the wrapper would mod

[2019-05-07 18:59] kbanoop commented on #99
One way to do it is using lambdas or functools.partial like this:
https://github.com/tensorflow/agents/blob/3a64c31ba4a677665e01914533f8c15e70c55555/tf_agents/environments/suite_gym_test.py#L50

[2019-05-07 22:18] julianstastny commented on #99
I wasn't aware of functools, thank you very much!

Anoop Korattikara <notifications@github.com> schrieb am Di., 7. Mai 2019,
20:59:

[2019-05-08 02:43] seungjaeryanlee commented on #97
I will try to implement this wrapper!

[2019-05-08 17:06] #99 closed, assigned to nobody

[2019-05-08 17:07] sguada commented on #98
Re-open if this doesn't fix it.

[2019-05-08 17:07] #98 closed, assigned to nobody

[2019-05-08 17:25] JCMiles opened #100 "error when running 6_reinforce_tutorial.ipynb"
hello team

I'm running colab example n. 6 but I get this error while collecting data

Traceback (most recent call last):
  File "C:\Users\shock\Desktop\workspace\test_colab\test_reinforce.py", line 121, in <module>
    collect_episode(train_env, collect_policy, num_episodes=1)
  File "C:\Users\shock\Desktop\workspace\test_colab\test_reinforce.py", line 66, in collect_episode
    replay_buffer.add

[2019-05-08 17:33] kbanoop commented on #55
Added some initial documentation here: https://github.com/tensorflow/agents/blob/master/tf_agents/docs/python/tf_agents.md

These get auto generated from the documentation in the code, and we will update it periodically. Some symbols need to be cleaned up though.

[2019-05-08 19:35] #100 closed, assigned to nobody

[2019-05-08 20:19] kuanghuei commented on #100
I re-run it on Google Colab (you can find the link to it on top of the colab) with:
`tf-nightly-1.14.1.dev20190508`
`tf-agents-nightly-0.2.0.dev20190430`
`tfp-nightly-0.7.0.dev20190508`

Seems okay. Can you cross-check your environment with the colab?

[2019-05-09 02:56] mattinjersey commented on #98
yes I think it is working. Was my mistake. Thanks Matt

[2019-05-09 06:20] ChengshuLi commented on #80
Any updates on this issue?

[2019-05-10 08:48] ivarsg opened #101 "Colab 7_SAC_minitaur_tutorial.ipynb "NameError: name 'video' is not defined""
Hi,

It looks like the code in the last cell mises a code-line like "with imageio.get_writer(video_filename, fps=60) as video:", since "video.append_data(eval_py_env.render())" ends with "NameError: name 'video' is not defined".

[2019-05-10 14:16] oars commented on #101
Thanks! I'll submit a fix today. Video generation is different internally for us and I missed that in last minute changes.

[2019-05-10 23:46] #101 closed, assigned to nobody

[2019-05-12 02:37] mattinjersey opened #102 "value_pred_loss_coef"
I reduced this value value_pred_loss_coef because in Tensorboard, the value_estimation_loss was much higher than policy_loss.
But even though I reduced it, the value_estimation_loss did not change.
Using PPOAgent.
?

[2019-05-12 04:09] mattinjersey commented on #102
no I see, it is my mistake.  I did not change the parameter in the right place in the code.

[2019-05-12 04:16] mattinjersey commented on #102
is it recommended to change this value_pred_loss_coef so that the value loss is comparable to the policy loss?

[2019-05-13 17:49] bruno-dasilva commented on #79
Following up, hoping to hear some input as well - from my understanding, PPO paper design and implementations (see baselines link above) typically gather a large set of experiences/steps/trajectories and then apply multiple rounds of SGD in smaller batches sampled from that set.

So, for example, you could obtain 10,000 steps of trajectories (buffer_size) for a single training iteration. Then at t

[2019-05-14 12:39] JCMiles opened #104 "Run SAC_minitaur_tutorial with ActorDistributionRnnNetwork and num_steps > 2"
Hello team, I'm trying to implement SAC agent based on the colab tutorial but with a custom env
and a ActorRNNDistributionNetwork. My custom env is a TFEnvironment, It's tested and everything works as expected. My specs are the following:

n_of_sensors is = 1 in the current experiment but can be 1 < n_of_sensors < 5 in further experiments.

shape = (n_of_sensors,)
observation_shape = (25*n_of_sens

[2019-05-14 21:16] sguada commented on #104
So I think the issue is that you are setting the shape of time_step_spec incorrectly, for each time_step you would get only one step_type (FIRST, MID, LAST).

In general you only need to define the observation_spec and then let time_step.time_step_spec define the rest.

[code]

Another thing if you want to train an RNN model, I would recommend making the num_steps bigger, for example 10.
[code]

[2019-05-14 21:20] sguada commented on #102
The specific tuning of parameters is problem specific. PPO requires careful tuning of parameters.

After changing the `value_pred_loss_coef` the  `value_estimation_loss` should change too. If you are not seeing changes, let us know

[2019-05-14 21:20] #102 closed, assigned to nobody

[2019-05-14 21:26] sguada commented on #96
You can add train_metrics to TensorBoard as is done in the PPO example [here](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py#L224)

In general Metrics have a `result()` method that would give you the value of the metric.

In general debugging Environments is tricky. I would recommend trying just a RandomPolicy to get a clear baseline, also enable al

[2019-05-14 23:58] JCMiles commented on #104
thank you for your replay. By following your hint I was able to correctly run the driver.
but if I set as you suggested num_step != 2 when creating the dataset I get this error:

    train_loss = agent.train(experience)
  File "C:\Users\shock\Anaconda3\envs\agent\lib\site-packages\tf_agents\agents\tf_agent.py", line 174, in train
    tf.nest.map_structure(check_shape, experience)
  File "C:\Users\

[2019-05-15 11:35] quarterpastsix commented on #96
thanks for that idea, i have a random policy and it does indeed act random, but the agent is really not doing any better, so i really think it might be a wrong algorithm i'm using or something else i cant think about

[2019-05-15 12:30] jarlva commented on #56
Hello, checking to see if there is any progress?

[2019-05-15 16:03] JCMiles commented on #104
update:

1) I was able to complete the training loop and to bypass the second error
by setting summarize_grads_and_vars=False when creating the SAC agent,
but I think it should be fixed.

2) the train loop fails if num_steps in replay_buffer.as_dataset != 2

[2019-05-15 16:15] sguada commented on #104
Regarding the error in `tf.name_scope` you need to update your version of TensorBoard and TensorFlow, it was [fixed](https://github.com/tensorflow/tensorboard/commit/8bb4021e6bfe6e950acdd09629b7c8abedd70010) 3 months ago

Regarding `num_steps > 2` it maybe that SAC is not ready for RNNs models, let me double check

[2019-05-15 16:24] evanatyourservice opened #105 "Proper way to write action space"
Hello,

I am wanting to code a continuous action space that has two elements but can't seem to get it working. What would be the proper way to write this action space?

A couple examples of what I've tried:

`self._action_spec = [array_spec.BoundedArraySpec(shape=(1,), dtype=np.float32,
                                                       minimum=-1, maximum=2,

[2019-05-15 16:27] evanatyourservice commented on #105
Ah after a second look it seems the top one will indeed work, but I was trying to use it in the DQN example.

[2019-05-15 16:27] #105 closed, assigned to nobody

[2019-05-15 16:37] sguada commented on #105
Yeah DQN requires discrete action spaces, you could use [ActionDiscretizeWrapper](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py#L197) if you want to use an environment with continuous actions with DQN

[2019-05-15 16:40] evanatyourservice commented on #105
Thanks sguada

[2019-05-16 14:36] JCMiles commented on #104
ok I wait for the SAC double check.

meanwhile I have updated TensorBoard and TensorFlow. everything works fine except:

1) import errors

tf.compat.v2.summary.record_if
tf.compat.v2.summary.create_file_writer

2) when running initial collect step

W0516 16:58:52.818834 15320 backprop.py:820] The dtype of the watched tensor must be floating (e.g. tf.float32), got tf.int32

3) after the ReplayBuffe

[2019-05-16 15:53] evanatyourservice opened #106 "Shapes of unequal rank when using custom py env in SAC example. ('TFUniformReplayBuffer/ResourceScatterUpdate_3')"
Hello,

I am using a custom environment in the SAC colab example (changed to Python 3, GPU) with all other settings the same, and am being thrown an error related to TFUniformReplayBuffer. The environment passes validate_py_environment and doesn't throw an error until the training cell.

`num_iterations = 300000 # @param

initial_collect_steps = 10000  # @param
collect_steps_per_iteration = 1  # @

[2019-05-17 01:50] mattinjersey opened #112 "only single action supported"
Getting this error...is this my mistake or do some agents only support a single action?

ValueError: Only a single action is supported by this network
  In call to configurable 'CriticNetwork' (<function _NetworkMeta.__new__.<locals>.capture_init at 0x00000203ED9DEEA0>)
  In call to configurable 'train_eval' (<function train_eval at 0x00000203EE878BF8>)

[2019-05-20 21:50] sguada commented on #112
You need to define a network that can support multiple Actions, you can use CriticNetwork as an example.

[2019-05-21 02:35] mattinjersey commented on #112
Well for example with td3 agent, I define Critic Network as follows, and the action spec defined with 2 actions, and I get such error. The only agent that worked was PPOAgent.
Are we sure that all the agents can handle multiple actions?

_critic_net_input_specs = (tf_env.time_step_spec().observation,
                              tf_env.action_spec())

    critic_net = critic_network.CriticNetwork

[2019-05-21 02:38] mattinjersey commented on #112
Right, I see in ddpg that critic_network can only handle 1 observation.
So it seems like ddpg agent is limited to 1 observation.

[2019-05-21 02:42] mattinjersey commented on #112
SAC only limited to 1 observation, it appears.

[2019-05-21 19:10] sguada commented on #112
So would need to write your own ActorNetwork and your own CriticNetwork classes that can handle multiple observations and multiple actions.

[2019-05-21 19:38] ideenfix opened #113 "DqnAgent.train throws error in TF2.0 environment as Adam.apply_gradients is called with parameter global_step"

[2019-05-21 19:42] samfishman commented on #113
Hi ideenfix,

Can you please provide some more details about this issue? I am able to run agents/dqn/examples/v2/train_eval.py without an errors. Include your environment configuration (tensorflow version, tf-agents version, etc.) as well as the script you are running.

[2019-05-21 19:44] ideenfix commented on #113
First, i'm new in this community and don't know the exact rules of the game. Sorry for that

Currently, I'm developing an Agent to Play against the OpenAI Pong. DqnAgent throws an error in TF2.0 Environment as soon as e.g. Adam.apply_gradients is called with Parameter global_step. This Parameter isn't supported by TF2.0.0a0.

[2019-05-21 19:51] samfishman commented on #113
I'm not playing any games here, just trying to understand the issue.

As mentioned before, it's hard for me to debug this issue without more information about how to reproduce this. I would need more information, including a program/script that, when run, produces the error you mention and the versions of all the components you're using (tensorflow, tf_agents, etc.). Without that, we can't really

[2019-05-21 19:52] ideenfix commented on #113
Hi samfishman,

OS: Windows 10
Python: 3.7
I'm using a virtual Environment created by PyCharm. Attached the pip list report for this environment
[pytf2pip.txt](https://github.com/tensorflow/agents/files/3204226/pytf2pip.txt)

My script but not as .py
[myscript.txt](https://github.com/tensorflow/agents/files/3204236/myscript.txt)

[2019-05-21 19:57] ideenfix commented on #113
In dqn_agent.py you can find in line 273 the following Code part
`    self._optimizer.apply_gradients(grads_and_vars,
                                    global_step=self.train_step_counter)
`

[2019-05-21 20:02] samfishman commented on #113
This script isn't runnable since I don't have access to the `lib` package
it imports. Please provide a self-contained script (e.g. one file) that
reproduces the error.

On Tue, May 21, 2019 at 12:57 PM ideenfix <notifications@github.com> wrote:

[2019-05-21 20:04] sguada commented on #113
I think the issue is that keras.optimizers don't take `global_step` in `apply_gradients`, while tf.optimizers do.

Can you try using `tf.compat.v1.train.AdamOptimizer` and see if that fix the problem, and then we will update the agent to work with keras.Optimizers

[2019-05-21 20:19] ideenfix commented on #113
@samfishman

Attached the self-contained script:
[01_dqn_basic_tf_selfrunning.txt](https://github.com/tensorflow/agents/files/3204337/01_dqn_basic_tf_selfrunning.txt)

[2019-05-21 20:29] ideenfix commented on #113
@sguada:
This Optimizer runs.

[2019-05-21 20:40] ideenfix commented on #113
I have another issue after using parameter train_step_counter=

Here the Code snippet (according to colab example)
`    # dtype=tf.int64 muss sein, ansonsten Fehler beim Aufruf von tf_agent.train(experience)
    train_step_counter = tf.Variable(0)
    # train_step_counter = tf.Variable(0, dtype=tf.int64)

    # erzeugen und initialisieren des DQN - Agenten, verantwortlich für die Steuerung gemäß d

[2019-05-22 02:17] evanatyourservice commented on #106
I tried my env in the SAC example again and it is now working. Either from a commit here or from me changing my action shape from ( ) to (1,). Closing, thanks!

[2019-05-22 02:17] #106 closed, assigned to nobody

[2019-05-22 02:57] mattinjersey commented on #112
ok I may try it. I'm not sure why the PPO Agent is written so that it can accept arbitrary number of actions/observations but the CriticNetwork is written differently.

[2019-05-22 02:58] evanatyourservice commented on #104
Hi @sguada, I have a quick question regarding this...

You say to increase num_steps for the replay driver, which makes sense, but are the recurrent layers stateful across these batches, or do the lstm layers only see a certain number of prev steps at a time? I guess what I'm asking is why increase num_steps, and are the LSTM layers stateful for entire episodes? It looks as if they are.

[2019-05-22 10:28] ageron opened #114 "The version number is missing (PEP 396)"
There's currently no way to check which version of TF-Agents is installed. I know there is no stable version available yet, but this should not prevent having a version we can refer to. It will have to be done at one point, so why not now?

Current behavior:

[code]

Desired behavior:

[code]

[2019-05-22 14:39] ageron commented on #114
Oh, there's a `version` module, but it's just not accessible directly:

[code]

I'll submit a PR to add the `__version__`.

[2019-05-22 16:14] JCMiles commented on #104
@sguada any news about num_steps > 2 ?

[2019-05-22 17:55] evanatyourservice commented on #104
It might indeed be that SAC is not ready for recurrent networks.

This is my output from initial_collect_driver.run():
(TimeStep(step_type=<tf.Tensor: id=19901468, shape=(1,), dtype=int32, numpy=array([1], dtype=int32)>, reward=<tf.Tensor: id=19901469, shape=(1,), dtype=float32, numpy=array([-0.06016298], dtype=float32)>, discount=<tf.Tensor: id=19901470, shape=(1,), dtype=float32, numpy=array([0.

[2019-05-22 20:05] JCMiles commented on #104
I'm able to run SAC with RNNs but only if I keep num_step =2

[2019-05-23 15:49] #114 closed, assigned to nobody

[2019-05-23 15:56] egonina commented on #113
@ideenfix can you please file a new issue about the incompatible type with repro instructions (what you included here) so we can close this original issue you filed?

[2019-05-23 15:56] #113 closed, assigned to nobody

[2019-05-23 17:52] sguada commented on #113
So the variable used as  train_step should be an tf.int64

[2019-05-24 01:35] ageron opened #117 "summary() outputs "QNetwork object has no attribute _check_trainable_weights_consistency""
The `QNetwork` class inherits from Keras's `Network` class, so I should be able to display the `summary()`, but I get an exception (see stacktrace below). Here's a small program to reproduce the error:

[code]

Produces this output:

[code]

[2019-05-24 07:18] jarlva opened #119 "Can't run examples without getting errors. What TF versions are we to use?"
Running  `tf_agents/agents/dqn/examples/v1/train_eval_gym.py` spits all kinds of errors (depending on the TF versions/combo I tried). Since this is a dynamic environment and tensorflow itself is a moving target, as this projects progresses it would be very helpful for everyone to detail in the main project page/install section:

1. The recommended versions of TF/TB/TFP,
2. Environment: Windows/Lin

[2019-05-25 00:19] bayesian commented on #20
ran into the same problem, with pympler profiling, I know that leaked objects are np.ndarray, i.e. the image observations from the environment.

when we run the environment outside TFPyEnvironment, no memory leaks.

[2019-05-25 06:56] ideenfix opened #121 "Error using parameter train_step_counter according to colab example"
I'm using TF Agent (nightly, 0.2.0dev2019430 on Win10 and TF2.0 (GPU, 2.0.0a0).

If you run the snippet according to colab example

`
train_step_counter = tf.Variable(0)

    tf_agent = dqn_agent.DqnAgent(
        train_env.time_step_spec(),
        train_env.action_spec(),
        q_network=net,
        optimizer=optimizer,
        epsilon_greedy=params["epsilon_final"],
        gamma=params['gam

[2019-05-25 15:33] tagomatech commented on #119
Did you try out with [tf-agents-nightly](https://github.com/tensorflow/agents)?

[code]

[2019-05-25 15:45] tagomatech opened #122 "Is gym.timestep_limit deprecated?"
I 'm getting the following message while loading a gym environment, e.g. **CartPole-v0**:

[code]

Looking into gym library code, I couldn't find anything related to  **max_episode_steps**.

Now, simply replacing:

`if max_episode_steps is None and gym_spec.timestep_limit is not None:`

with:

`if max_episode_steps is None:`

in  **tf_agents\environments\suite_gym.py** does the trick. But at this

[2019-05-25 17:47] jarlva commented on #119
Yap. that what I did

[2019-05-25 19:20] tagomatech commented on #119
Ok you seem to have tested several combinations of library on both Windows and Linux.
Can you provide with the error traceback/error message say for a specific config?

[2019-05-25 20:33] jarlva commented on #119
Pardon me but since I tried various versions and each one gave a different error I believe it would be more constructive, not just for me, to first answer the following and take it from there.
1.  The recommended versions of TF/TB/TFP,
2.     Environment: Windows/Linux/Mac, Python versions,
3.     Anything else that can smooth the project's adoption

[2019-05-25 20:56] egonina commented on #121
global step needs to be of type tf.int64. Could you point to the colab example you're referring to so we can fix it if that's an issue there?

[2019-05-26 03:56] ideenfix commented on #121
[https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb](url)

[2019-05-27 14:37] ageron commented on #122
For what it's worth, I got the same issue, I worked around it by downgrading to gym==0.12.1.

[2019-05-27 15:09] ageron opened #123 "'AtariPreprocessing' object has no attribute 'spec'`"
I'm getting an error `AttributeError: 'AtariPreprocessing' object has no attribute 'spec'` when trying to create a Breakout game wrapped with both `AtariPreprocessing` and `FrameStack4`.

I pushed PR #118 which would solve this issue. :)

[code]

[2019-05-27 15:26] julianstastny commented on #122
[Here](https://github.com/openai/gym/blob/master/gym/envs/registration.py) you can find max_episode_steps. I was confused too but found out that they just forgot to include max_episode_steps in the description (which is now fixed).

[2019-05-27 21:26] #81 closed, assigned to nobody

[2019-05-28 07:59] seungjaeryanlee commented on #117
Just commenting to hope clarify the issue.

In Keras, `_check_trainable_weights_consistency` is defined in [Keras's `Model` class](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py#L1959), which inherits Keras's `Network` class. The error occurs because `QNetwork` inherits Keras's `Network`class and not `Model`.

[2019-05-28 12:19] jdepoix opened #125 "How to handle illegal actions?"
Hi,

we are trying to train an agent on a card game. In this card game there are certain actions which can only be executed if the player has enough resources. We tried to solve this using the `QAgent`, but as far as I understand we'd need to set the values of illegal actions coming from its `QNetwork` to 0. But with the API the `QAgent` provides, I do not see a way to get to these values without

[2019-05-28 15:47] egonina commented on #121
Hm, I'm unable to reproduce this by running the colab you linked, the train step runs fine and the type of train_step_counter variable is tf.int32. Are you running this colab directly or are you modifying anything in your code?

[2019-05-28 15:50] egonina commented on #125
cc @oars @sguada for help with environment setup

[2019-05-28 16:00] egonina commented on #117
you're right, I'm able to reproduce this bug with your code snippet. It looks like the only test for keras  network summary() is actually called on a keras model (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/network_test.py#L638) and not on a keras network. Looks like a keras bug to me, cc @oars who is more familiar with the use of keras in our code, should w

[2019-05-28 16:09] oars commented on #125
In the past we've had people who mask out the invalid actions. You could have your environment return a dict `{'state': <original_observation>, 'mask':  <mask for invalid actions>}`

Then re-define the QNetwork as:

[code]

[2019-05-28 16:18] oars commented on #117
Thanks for the report, and thanks @seungjaeryanlee for the investigation. Following up with the Keras team.

[2019-05-28 19:12] mattinjersey commented on #79
could you explain replay_buffer_size. If there are 1000 observations per step, in 50 steps should the replay buffer size be 50 or should it be 50,000.

[2019-05-29 08:25] jdepoix commented on #125
Thanks for the suggestion @oars, this looks like it could be nice solution. However there is a caveat to this: the `QAgent` uses the `EpsilonGreedyPolicy` and while this will work for the cases where the `GreedyPolicy` is used, it won't work for those where the `RandomTFPolicy` is used, as this still can randomly select illegal actions.

Do you have an idea how to work around this?

[2019-05-29 14:58] oars commented on #125
You can implement a random policy that supports rejection sampling to avoid generating actions in your mask.

[2019-05-29 21:31] bayesian commented on #20
https://github.com/hill-a/stable-baselines/issues/182
root cause is in numpy/pickle which tf_py_environment uses.

it works for us when we upgrade numpy to latest version.. verified no more leak.

[2019-05-30 10:29] jarlva commented on #119
Can someone please solve the mystery?
What versions of tensorflow and what OS' and Python versions are known to work with agents??
If we can't find this basic information we can't benefit and use the project.

[2019-05-30 14:31] jdepoix commented on #125
@oars So I would have to use it like this right `agent._collect_policy._random_policy = MyCustomRandomPolicy(...)`? Isn't there a "nicer" way, which doesn't require overwriting private properties? Overwriting private properties always makes me feel like I am an using an API in a way it is not designed to be used 😄

[2019-05-30 16:26] oars commented on #125
You can define the policy using the base `agent.policy`

[code]

[2019-05-30 16:26] #125 closed, assigned to nobody

[2019-05-30 16:29] oars commented on #119
You need nightly versions. See for example: https://www.endtoend.ai/gsoc/1 where the environment was setup through conda which you should be able to use with any OS.

[2019-05-30 16:29] #119 closed, assigned to nobody

[2019-05-31 17:23] diegoferigo opened #126 "How to seed environments belonging to a ParallelPyEnvironment"
I am able to seed a `PyEnvironment` as follows:

[code]

However, I didn't find a way to do the same with a `ParallelPyEnvironment`. With all the inception of envs and wrappers I couldn't find any way to access individually the environments instantiated which are part of the parallel batch.

[2019-06-01 21:49] Tautvis opened #127 "Add Python type hints"
Adding python [type hints](https://docs.python.org/3/library/typing.html) would ease adaption of the library. Additionally, it would allow better use of the tools (i.e. PyCharm, Jupyter Notebook).

I'm not entirely sure what would be the impact on python 2.x support but given that python 2.x end-of-life is scheduled on 1st Jan 2020 perhaps that wouldn't pose a problem?

[2019-06-02 04:22] zh4ngx opened #128 "Update TFUniformReplayBuffer to use TF2.0"
I believe the TF2.0 Alpha API (that the TF Agents nightly is targeting) does not have `tf.math.mod()`. Therefore, a line like this would break:

[code]

It should be a relatively small fix:
[code]

Happy to do it and submit a PR

[2019-06-03 13:26] JCMiles opened #129 "Custom tf.Environment parallelization"
Hello Team,
is it possible to parallelize custom tf.env ?
In the colabs/examples I found only this lines of code as reference to create parallels environments.

env = parallel_py_environment.ParallelPyEnvironment([env] * num_parallel_environments)
env = tf_py_environment.TFPyEnvironment(env)

but this only applies to py_environments.

[2019-06-03 16:39] oars commented on #129
The tf_env generates and takes batched observations/actions, given the nature of TF if you already have a TF env and there are no dependencies between the ops it will parallelize it for you. You will however have to setup your custom tf_env to generate these batches though.

[2019-06-03 16:39] #129 closed, assigned to nobody

[2019-06-03 17:00] oars commented on #128
`tf.math.mod` is available in TF2.0. See the aliases for floormod:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/floormod

We run all our tests against both tf-nightly and the preview builds.

[2019-06-03 17:00] #128 closed, assigned to nobody

[2019-06-03 19:59] oars commented on #126
The issue is that the parallel_py_environment is not exposing a seed method.

Adding something like:

[code]

to the parallel_py_env will make the seed method work. Note `seed` is not currently a method in the base py env. so we'll have to add that too.

[2019-06-03 20:36] ideenfix commented on #121
At first, i use the colab example as a reference for an own RL agent.

I'm checking the colab example on my notebook after installing the jupyter package. The colab example is running after switching off some import statements as these would not run with Win10 (e.g. pyvirtualdisplay or display = pyvirtualdisplay.Display(visible=0, size=(1400, 900)).start()).

Then I have checked my own script and

[2019-06-04 00:46] #126 closed, assigned to oars

[2019-06-04 06:47] diegoferigo commented on #126
@oars Exactly, the current APIs was not covering this usage. Having a seed method as you proposed is a valid solution. Thanks for taking care of it :+1:

[2019-06-04 06:52] diegoferigo opened #130 "Getting generic methods and attributes from envs in a ParallelPyEnvironment"
Related to #126, it would be a nice feature having a more generic implementation to get arbitrary methods and attributes from environments that belong to a `ParallelPyEnvironment`. Particularly for custom environments, it would enable to get data without implementing every time a new method extending the tf-agent APIs.

I'm not an openai baselines expert, but I remember I saw a similar implementat

[2019-06-04 14:56] oars commented on #130
Sure, we could expose calls with `call` and `access` for these envs in a generic way. Contributions welcomed. Won't have time to look into this for a while.

[2019-06-04 23:03] evanatyourservice commented on #104
@JCMiles anymore luck using rnns with sac?

[2019-06-04 23:26] axitkhurana commented on #97
Hi @seungjaeryanlee, are you still working on this?

[2019-06-05 17:02] emailweixu commented on #123
I also encountered this problem. Is there any plan to solve this issue (perhaps by merging PR #118)?

[2019-06-05 20:56] sguada commented on #20
@bayesian could you provide a reproducible examples with TFPyEnvironment and without?

[2019-06-05 22:28] sguada commented on #20
Can you check your numpy and TF versions?

[2019-06-06 17:45] bayesian commented on #20
our repro example is similar to siavash-khodadadeh gave, only with larger image observations than Atari, thus leaking faster.

as reported in the other link, numpy 1.16.1 fixed the issue.

[2019-06-06 19:50] redknightlois opened #132 "TD3 support for discrete action space"
I was looking to try the TD3 agent on but the collect policy is being hardcoded to use a Gaussian Distribution, therefore, it won't work.
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/td3/td3_agent.py#L147

Error is the following:
[code]

Shouldn't the exploration policy be supplied as a parameter or as part of an abstract method in order to support discrete actions?

EDIT: I w

[2019-06-06 21:23] sguada commented on #132
TD3 is based on DDPG so it is only intended to work with continuous actions.

[2019-06-07 07:43] ICDI0906 commented on #91
what do you actually mean?

[2019-06-07 09:47] JCMiles commented on #104
@evanatyourservice stuck with num_step =2. Waiting for @sguada double check.

[2019-06-07 11:06] pdenboef opened #133 "DQN Tutorial has import errors"
**Problem**
I cannot run the DQN Tutorial notebook, due to import errors.

**Steps to reproduce**

1. Open `tf-agents/colabs/1_dqn_tutorial.ipynb` in a hosted Colab runtime.
2. Run the first two code cells of the notebook.

**Further  details**
Here is the error message that I received (Python 3 runtime):

[code]

[2019-06-07 12:35] redknightlois commented on #132
True, algorithms topology is a mess. Technically, either DQN with clipped double-Q learning, delayed policy updates and target policy smoothing (which I've seen in some places being called TD3 too) or TD3 with Wolpertinger based training. Probably  I should change the name of the title of the issue.

[2019-06-07 14:42] sguada commented on #133
Can you check your version of TF, currently TF-Agents requires the latest tf-nightly.

[2019-06-07 14:52] sguada commented on #132
In our case TD3 is referring this paper "Addressing Function Approximation Error in Actor-Critic Methods" by Fujimoto et al. https://arxiv.org/abs/1802.09477.

Although some ideas can be used in other algorithms.

[2019-06-07 15:04] oars commented on #91
That comment was a workaround for tfp  breakage. No longer required.

[2019-06-07 15:21] djbyrne commented on #133
I have a similar problem. I upgraded tensorflow to latest version of tf-night( tf-nightly 1.14.1.dev20190607 )

Now I have a new error

[code]

[2019-06-07 15:37] pdenboef commented on #133
The version of `tensorflow`is `1.14.1-dev20190607`.

I have tried again after resetting my runtime, now I am getting the following error message:

[code]

[2019-06-08 05:32] Rowing0914 opened #134 "Is this way of masking TD error/loss correct?"
Hi,

I've just noticed that currently TD error/loss are computed as following way
- https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py#L393
- https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py#L395

instead of going like https://github.com/google/dopamine/blob/master/dopamine/agents/dqn/dqn_agent.py#L293

[code]

And the `agents`'s im

[2019-06-09 09:28] pdenboef commented on #133
The errors have disappeared with the release of `1.14.1-dev20190608`.

[2019-06-09 09:28] #133 closed, assigned to nobody

[2019-06-10 21:29] sibyjackgrove commented on #99
I am also searching for a way to pass argument when loading my custom Gym environment.
For e.g. I have an argument named `max_sim_time` that I can pass to `gym.make()
`
`gym.make('PVDER-v0',max_sim_time=10.0)`

The above works because I have already specified it my register wrapper for my custom environment as shown below:
[code]
 However when I try passing `max_sim_time `as an argument to `suite_

[2019-06-11 00:45] andreclaudino opened #136 "Error loading DqnAgent saved model."
I am creating a tf-agent DqnAgent in the following code:

[code]

During the training loop I am saving this model with

[code]

Once trained, I want to load saved model with

[code]

This code will load the saved model only if the folder in `saved_path` contains one, the functions `contains_saved_model(saved_models_path)` returns `True`, so the model is loaded, but there is an excetion and the pro

[2019-06-11 04:53] seungjaeryanlee commented on #99
@sibyjackgrove The `suite_gym.load()` method (defined [here](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/suite_gym.py#L33)) does not accept custom arguments. One workaround might be to create a Gym environment wrapper that changes the `max_sim_time` parameter and pass the wrapper through `gym_env_wrappers` parameter.

That said, I think it would be better to open a new

[2019-06-11 14:48] sibyjackgrove opened #137 "Passing custom arguments to suite_gym.load()"
I want to pass custom arguments when loading my custom Gym environment using `suite_gym.load()`.
For e.g. I have an argument named `max_sim_time `that I can pass to `gym.make() `
`gym.make('PVDER-v0',max_sim_time=10.0)`

The above works because I have already specified it my register wrapper for my custom environment as shown below:

[code]
However when I try passing `max_sim_time `as an argument

[2019-06-11 14:49] sibyjackgrove commented on #99
@seungjaeryanlee thanks for the suggestion. I opened a new issue in #137.

[2019-06-11 15:09] oars commented on #137
Could you use [suite_gym.wrap_env](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/suite_gym.py#L79)? You can create an instance of your environment with all the custom arguments you need, then wrap it to expose it as a TFAgents environment.

[2019-06-11 16:00] sibyjackgrove commented on #137
@oars thanks for the suggestion. Yes, I was able to use it. Here is what I did.

[code]
How if I didn't pass the  `max_episode_steps `argument to `suite_gym.wrap_env` I got following error:

I am not sure if this is a bug or not. But it seems like since `max_episode_steps `is an optional argument, not including it should not cause a TypeError.

[2019-06-11 16:24] oars commented on #137
Thanks for pointing that out! I think this is from when the `load` method got split. Let me fix it.

[2019-06-11 18:33] sguada commented on #99
A PR which pass gym_kwargs to the gym environment is welcome.

[2019-06-11 18:34] sguada commented on #137
A PR which pass gym_kwargs to the gym environment is welcome.

[2019-06-11 18:48] #137 closed, assigned to oars

[2019-06-12 15:58] allenlavoie commented on #136
Which TensorFlow version are you saving with? Export with slot variables wasn't working e.g. in the 2.0 alpha. I'd try a recent nightly.

[2019-06-14 13:42] 8bitmp3 opened #139 "Request: Exploration by Random Network Distillation (modified PPO)"
A gentle request for a TF-Agents implementation of a modified PPO with an exploration bonus - for testing on Montezuma's Revenge.

Paper: [Exploration by Random Network Distillation](https://arxiv.org/abs/1810.12894) - Burda et al (OpenAI, University of Edinburgh).

Code (TF 1.x): https://github.com/openai/random-network-distillation/tree/master/policies

[2019-06-14 16:19] oars commented on #139
@seungjaeryanlee is working on this as part of a Google Summer of Code project. See his blog for progress: https://www.endtoend.ai/tags/gsoc/

[2019-06-15 23:34] Bhaney44 opened #140 "ModuleNotFoundError: No module named 'tf_agents'"
I am trying to run the example test code below:

[code]

I downloaded the required dependencies from the command line as described in the [DQN Tutorial](https://colab.research.google.com/github/tensorflow/agents/blob/master/tf_agents/colabs/1_dqn_tutorial.ipynb). The code returns the following error:

`ModuleNotFoundError: No module named 'tf_agents'`

In short, I am  not sure why my machine would

[2019-06-17 04:54] ideenfix opened #141 "tf_agent.policy.action(time_step) under TF2 throws exception"
After training the Q-network e.g. for "Pong" from Atari I want to play some epochs based on the trained weights.

While execution of tf_agent.policy.action(time_step) the following exception was thrown

  File "D:/git/Deep-Reinforcement-Learning-Hands-On/Chapter07/dqn_basic_play_tf_standalone.py", line 415, in <module>
    action_step, state, info = tf_agent.policy.action(time_step)
  File "D:\pye

[2019-06-17 10:29] ideenfix commented on #141
I've checked this example also with tf-nightly-gpu and got the same exception.

I guess the problem is that the output of the convnet (encoder) has shape [512] and not [1,512]. Contemporarily I run the colab cartpole example. As this example is without convnet it's running as the time_step.observation has shape [1, 4].

Hope that this remark helps

[2019-06-17 15:04] sguada commented on #141
It seems that the environment is missing the batching dimension.

[code]

[2019-06-17 16:06] sguada commented on #140
It seems you don't have TF-Agents installed, try the following
[code]

[2019-06-18 02:25] ideenfix commented on #141
Now it's running. Thx alot.

But leads to the next problem as BatchPyEnvironment doesn't forward env.render(). However, this is not a problem to solve it.

[2019-06-18 02:36] andreclaudino commented on #136
Thanks. I m using 2.0 beta, unfortunately, tf-nightly is not compatible with the code I could reach in tf-agents documentation.

This looks a bug, and on the other side, we need better documentation on tf-agents for stable tensorflow.

[2019-06-18 15:56] allenlavoie commented on #136
The beta is fine, if you save with that you shouldn't see that exception. Which version did you save with?

[2019-06-18 16:24] oars commented on #122
Gym updated with https://github.com/tensorflow/agents/commit/96e7b31d71023217ffe9e7febff2ef2c5db88513 which should fix this.

[2019-06-18 16:24] #122 closed, assigned to nobody

[2019-06-18 18:57] andreclaudino commented on #136
Are you saying it should work with tensorflow 2.0 beta?
I am saving and loading with the same version, the nightly one. I tried again updating both tensorflow and tf-agents, but the problem persists.

[2019-06-18 18:59] allenlavoie commented on #136
Hrm. I'm guessing it's using a tf.compat.v1.train.* optimizer then? 2.x optimizers are pretty well tested.

[2019-06-18 19:08] andreclaudino commented on #136
Yes, it's using `tf.compat.v1.train.AdamOptimizer(learning_rate=learning_rate)`.

Let me change and test again.

[2019-06-18 19:22] kbanoop commented on #134
We compute TD errors/loss from transitions in the form [time_steps, actions, next_time_steps].

time_step.is_last() occurs only at boundaries of episodes where we have invalid transitions, i.e. time_step.is_last and next_time_step.is_first. These are ok are to remove from the loss.

Note that this doesnt filter out valid terminal transitions because for such transitions next_time_step.is_last rath

[2019-06-18 19:22] #134 closed, assigned to nobody

[2019-06-18 19:40] andreclaudino commented on #136
Lets to the news:

I changed optimizer to `tf.optimizers.Adam(learning_rate=learning_rate)`

It gives me an error raising unknow parameter timestep, iton on `dqn-agent.py`

[code]

Just to give a try, I removed parameter global_step:

[code]

I could train and save the model normally, but on loading, got a new error:

[code]

Finding solution without more examples and informations looks hard to me

[2019-06-18 19:47] andreclaudino commented on #136
If anyone could help, the code with problems is here:

https://github.com/andreclaudino/dino-tf-agent/tree/model-saving-test

In the branch `model-saving-test`.

[2019-06-18 20:12] Bhaney44 commented on #140
I re-installed and ran it from the command line and it worked. However, it still doesn't work directly from the interpreter. Thanks for your help.

[2019-06-18 20:14] kbanoop commented on #141
Closing this.

We are tracking the issue with BatchPyEnvironment.render internally, but please feel free to create an external one as well.

[2019-06-18 20:14] #141 closed, assigned to nobody

[2019-06-18 20:16] #132 closed, assigned to nobody

[2019-06-18 20:22] allenlavoie commented on #136
So if you use a 2.x Optimizer then it'll save and load, but the Agents code is expecting a "policy" function which isn't there? You may just have to add a `@tf.function` decorator on your policy function so that there's something to save there. (Disclaimer: I worked on TF SavedModel but not on Agents)

There are some unit tests using SavedModel which are run regularly: https://github.com/tensorflo

[2019-06-18 20:30] sguada commented on #136
@allenlavoie only 2.x Optimizers are suppose to work well? Currently we are still using 1.x Optimizers in TF-Agents.

[2019-06-18 20:33] allenlavoie commented on #136
It's not hard to fix; basically there's a special case for 2.x optimizers which revives them as things you can store slot variables in. The optimizer doesn't need to be functional, it just needs to have a primary->slot variable mapping somewhere. But right, we don't have that special case for 1.x optimizers at the moment. Another workaround is to just delete the optimizer before saving if you don'

[2019-06-19 14:45] Bhaney44 opened #145 "How to create a continuous enviornment"
One problem I am running into is developing an environment for an agent to solve. Generally, in RL the environment represents the problem for the agent to solve. My impression is with tensor-flow the environment is made up of tensor matrices for each state. However, I have been unsuccessful in figuring out how to create an environment that evolves with time - where an agent can learn to optimize a

[2019-06-19 16:50] kbanoop commented on #145
The easiest way would be to write an environment in python as shown in this colab:
https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/2_environments_tutorial.ipynb

Once you have that, you can use the TFPyEnvironment wrapper to move it into TensorFlow:
https://github.com/tensorflow/agents/blob/master/tf_agents/environments/tf_py_environment.py

Writing an environment directly in Ten

[2019-06-19 17:35] andreclaudino commented on #136
Sorry, I closed this issue, but it was a mistake.

As I said, using 2.0 optiimizer drives me to an exception at `dqn_agent.py` (its a tf-agents package at `tf_agents.agents.dqn`), where the parameter global_step is not expected for optimizer. Error was raised using `tf.optimizers.Adam(learning_rate=learning_rate)`.

[code]

Looks removing this parameter make code perform well.

[2019-06-19 17:42] andreclaudino commented on #136
I can't apply `@tf.function` once this will not return a tensor.  The same happen with `collect_policy`,
`batch_size` and `collect_data_spec`, but `collect_data_spec` cannot be replaced by it's hidden variable once it's a child at `_collect_policy.trajectory_spec`, and restored model don't found trajectory_spec too.

In tf-agents, the policy parameter is got by a property `tf-agent.policy`. Changi

[2019-06-20 14:56] insysion commented on #91
We're still seeing this issue. Why was the workaround no longer required?

[2019-06-20 15:35] Bhaney44 commented on #145
That's super helpful. Thanks!

[2019-06-21 14:02] hwiedPro opened #146 "Add policy saving to 7_SAC_minitaur_tutorial.ipynb"
Hey,
could you please add an example on how to save a policy to the 7_SAC_minitaur_tutorial.ipynb colab?
That would be really nice! Thanks in advance. :)

[2019-06-21 16:38] oars commented on #146
Sample code that would need to be integrated:

Training:
[code]

Deploy/Eval:
[code]

[2019-06-21 22:41] marek-at-work commented on #127
Disclaimer: This is just my personal opinion (I don't work on TFA).

While having type hints sounds like nice-to-have feature on the paper, actual benefit might not be as large as it might seem. I see three main issues:
1) In many cases the type is obvious from name and any other type will raise some error anyways.
2) There are numerous cases where it is not even possible to specify helpful type a

[2019-06-23 13:50] rndD opened #147 "Dict space from gym support"
I'm trying to use my own custom OpenAI gym with tf-agents.
So I load it with suite_gym from tf-agent:
``
env = suite_gym.load(env_name, max_episode_steps=max_episode_steps)
train_env = tf_py_environment.TFPyEnvironment(env)
``

But my observation space is a dict type space form OpenAI gym lib and it throws an error on agent initialization:
[code]

It looks like a problem with a dict type input. Is

[2019-06-24 09:39] hwiedPro commented on #146
Hi,
I integrated it on my fork into the colab and it runs without any errors (35cb6d53a679789440afb79ea5c2d04de0d4f6cc). Unfortunately the policy doesn't return the same results as before saving. Any ideas?
Thanks in advance!

[2019-06-24 11:48] Gpasquini commented on #91
I am still having this issue too.

[2019-06-24 12:06] insysion commented on #91
@Gpasquini We solved our problem by updating to tfp 0.7 so it was compatible with tf 1.14

[2019-06-24 17:53] oars commented on #146
When you say not the same results, what do you mean? Note that SAC's actions come from a distribution that is sampled everytime the action is generated.

You can add a seed to the saver, along with the `train_step` to verify it is loading correctly:

[code]

[2019-06-25 04:48] hwiedPro commented on #146
I generate a video to both policy the one saved and the one loaded. In the first one the robot performs some kind of crawling without falling. In the loaded one the robot falls immediately. I wouldn't expect the robot to do *exactly* the same, but at least to do something similar successful.

I will have a try using the seed, and see if it's just a random nonsense action.
Thanks for your help! :)

[2019-06-25 09:22] hwiedPro commented on #146
Ok, I have tried it. Unfortunately nothing changed.
I have pushed the executed notebook to my fork: https://github.com/hwiedDFKI/agents/blob/saving_sac_policy/tf_agents/colabs/7_SAC_minitaur_tutorial-run-through.ipynb
This is the video of the policy after learning:
https://raw.githubusercontent.com/hwiedDFKI/agents/saving_sac_policy/tf_agents/colabs/sac_minitaur.mp4
And this after loading the save

[2019-06-25 10:18] JCMiles commented on #146
Hi team,
there is any diff in doing this (as mentioned in sac agent tutorial v2),
instead of what you propose here?

    policy_checkpointer = common.Checkpointer(
        ckpt_dir=os.path.join(train_dir, 'policy'),
        policy=eval_policy,
        global_step=global_step)

and what's the purpose of setting batch_size=None while training (makes sense)

    saver = policy_saver.PolicySaver(polic

[2019-06-25 14:52] oars commented on #146
@JCMiles Thanks for catching the errand `batch_size=3` the batch size should match that of the environment being evaluated.

The `batch_size` used when saving is used in the tracing of the tf_function.

@hwiedDFKI The other thing I noticed thankes to JCMiles's comment, in the colab I believe you are comparing the eval_policy to the agent's regular policy. Note that the eval_policy is Greedy. You c

[2019-06-25 17:27] JCMiles commented on #146
thx @Oars for the clarification regarding the  batch_size now everything's clear.
One last thing, can you confirm please that calling

    saver = common.Checkpointer(
        policy=agent.policy,
        batch_size=env.batch_size)

is equal to

    saver = policy_saver.PolicySaver(agent.policy, batch_size=env.batch_size)

thx

[2019-06-25 17:39] oars commented on #146
@JCMiles  sorry, forgot to go into details on the difference. They are two different interfaces that create different types of "checkpoints".

Checkpointer uses [tf.train.Checkpoint](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint) which will save any object attributes that are trackable. In order to restore the checkpoint you must first recreate the Checkpointable object with the s

[2019-06-25 17:47] JCMiles commented on #146
and that's exactly what I was expecting.
Thx @oars for the quickly and coincisive response and also for the great work you are doing guys.

[2019-06-26 07:10] hwiedPro commented on #146
Hi guys,
thanks for your replies.

**Regarding the eval_policy thing:**
I generate the video of the current policy by using `action_step = tf_agent.policy.action(time_step, seed=seed)` and for the evaluation video of the loaded policy I use `policy_step = saved_policy.action(time_step, policy_state)` while I configured the `saver` with `saver = policy_saver.PolicySaver(eval_policy, batch_size=None

[2019-06-26 07:18] hwiedPro opened #149 "How can I access an underlying network?"
Hi,
If I'm using e.g. the ActorDistributionNetwork. In which the network's structure is defined by parameters like`fc_layer_params`. If I want to configure the structure more freely e.g. with tf.keras.models.Sequential(...), how can I do this?
Why can't we pass a network model instead of those parameters?

[2019-06-26 16:13] oars commented on #149
I just pushed a [colab](https://colab.sandbox.google.com/github/tensorflow/agents/blob/master/tf_agents/colabs/8_networks_tutorial.ipynb) on how to create custom networks, the concepts explained there should cover how to customize the ActorDistributionNetwork.

Hope that helps. Feel free to re-open otherwise.

[2019-06-26 16:13] #149 closed, assigned to nobody

[2019-06-27 00:32] #145 closed, assigned to nobody

[2019-06-27 00:32] sguada commented on #70
Re-open if needed

[2019-06-27 00:32] #70 closed, assigned to nobody

[2019-06-27 00:35] sguada commented on #71
The issue is that the random_py_environment.RandomPyEnvironment doesn't take batched actions.
What ActionDiscretizeWrapper does is to convert a continuous action into a discrete action.

[code]

[2019-06-27 00:35] #71 closed, assigned to nobody

[2019-06-27 00:36] sguada commented on #75
Not sure about which error is eclipse saying.

[2019-06-27 00:36] #75 closed, assigned to nobody

[2019-06-27 00:40] sguada commented on #79
So once you have computed the returns then you can train in batches and don't need the full buffer.
Currently we don't a way to extract the reward from the buffer, compute the returns and then sample mini-batches. But seems a good thing to add.

[2019-06-27 12:31] hwiedPro commented on #149
Thank you very much for your help :)
I will try it in the next weeks.

[2019-06-28 09:41] marcelyz opened #150 "TypeError: __init__() got an unexpected keyword argument 'preprocessing_layers'"
log:

python tf_agents/agents/dqn/examples/v1/train_eval_gym.py \
  --root_dir=$HOME/tmp/dqn_v1/gym/CartPole-v0/ \
  --alsologtostderr
WARNING: Logging before flag parsing goes to stderr.
W0628 17:39:22.941468 4649018816 lazy_loader.py:50]
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/

[2019-07-03 06:46] JCMiles commented on #146
@oars I came across this error while trying to save my policy as discussed before.

I'm runnning a SAC agent so my save step looks like:

     policy_saver.PolicySaver(agent.policy, batch_size=1, seed=None)

  File "C:\Users\shock\Desktop\workspace\TestAgent\core\model.py", line 441, in evaluate
    save_dir, 'PolicyCheckpoint.%d' % global_step))
  File "C:\Users\shock\Anaconda3\envs\agent-dev\lib

[2019-07-03 10:10] marconardelli opened #152 "Error in environment validation"
Hi, I have defined the following BoundedArraySpec for my actions:

`self._action_spec = array_spec.BoundedArraySpec(shape=(1, 3), dtype=np.int32, minimum=[1, 1, 0], maximum=[ord_rows, max(vend_rows, mach_rows), 1])`

When I try to validate the environment, the validation process return the following error:

`ValueError: The truth value of an array with more than one element is ambiguous. Use a.any

[2019-07-03 16:27] alexlee-gk opened #153 "Using TF-agents as a dependency"
I have a project that uses the TF-agents library: [SLAC](https://arxiv.org/abs/1907.00953). We have been using our own fork, but we would like to refactor our implementation to a separate repo and use TF-agents as an external dependency. What's the recommended way to use TF-agents as a dependency and keep up with any breaking changes? Are there guidelines or a mailing list for this?

[2019-07-03 16:41] pratham751 opened #154 "train_eval.py for PPO is stuck"
So I start train_eval.py from my anaconda console with this command:

`python train_eval.py --root_dir=E:\Github\agents\tf_agents\agents\ppo\examples\v1\HalfCheetah-v2 --alsologtostderr`

Then the program starts to run and shows some messages:
`W0703 21:50:25.094830 39804 deprecation.py:506] From E:\Application\Anaconda\envs\tens_agent\lib\site-packages\tensorflow_core\python\ops\resource_variable

[2019-07-03 18:08] oars commented on #152
Issue is in the array_spec sampling.

[2019-07-03 18:51] sguada commented on #153
Probably the easiest is to add tf-agents-nightly as a python requirement until the tf-agents stable version is out.

[2019-07-03 20:00] alexlee-gk commented on #153
Thanks Sergio!

[2019-07-03 20:00] #153 closed, assigned to nobody

[2019-07-04 04:48] #152 closed, assigned to oars

[2019-07-06 14:55] ichisadashioko commented on #154
I suggest that you should switch to a Ubuntu (Linux) machine because I saw this instruction in the script:

[code]

[2019-07-07 13:33] pratham751 commented on #154
Ohh thanks for the suggestion but I think it will take a lot of time to install that

[2019-07-08 14:46] tbund opened #156 "Wrong td_target calculation for next_time_step.is_last()"
Hi,

when calculating the critic loss of TD3 and DDPG agents, the critic network should produce a zero tensor for next_time_step.is_last(),
as for the last transition of an episodic task it must apply:
`td_target = reward` ~~`+ gamma * Q(s_i+1, a_i+1)`~~

Masking target_q_values similar to
https://github.com/tensorflow/agents/blob/42a0bc10fb318cd4a85c76688b8f713d47354e9f/tf_agents/agents/dqn/dqn_a

[2019-07-08 14:55] egonina commented on #156
Thank you for filing the issue. If you'd like, feel free to send a PR with the fix!

cc @oars to verify

[2019-07-08 21:33] marek-at-work commented on #156
I believe that the situation here is a little more nuanced. It actually depends on what kind of termination occurred.

There are two cases:
1) Termination due to agent's behavior, say an collision or goal reach. In this case the discount in the last timestep is set to 0 effectively mask-out the Q.
2) Time-out due to limited time for episode, which is not considered agent's failure. In this case, d

[2019-07-09 21:45] oars commented on #156
Thanks @MarekAtGoogle for the clarification. I believe this outline is correct. You can see the discount being combined with gamma when the td_error is called:

https://github.com/tensorflow/agents/blob/42a0bc10fb318cd4a85c76688b8f713d47354e9f/tf_agents/agents/dqn/dqn_agent.py#L368

[2019-07-09 21:45] #156 closed, assigned to oars

[2019-07-10 02:47] marcelyz opened #157 "how to print log_probability in tf agents"
Hi, I have set emit_log_probability=True, but it error when I want to run the demo of 21 game, so how to get the action_step.info on log_probability?
<img width="1271" alt="屏幕快照 2019-07-10 上午10 44 24" src="https://user-images.githubusercontent.com/22769274/60936544-09211000-a300-11e9-9619-739c115e202e.png">

[2019-07-10 17:08] sguada commented on #154
Try running replacing `parallel_py_environment.ParallelPyEnvironment` with `batched_py_environment.BatchedPyEnvironment` to avoid using multi-process and use multi-thread instead. Although it would be slower.

[2019-07-13 13:05] pratham751 commented on #154
Thank you for that will definitely give that a try

[2019-07-13 19:51] pyetras opened #158 "SAC should only apply gradients to trainable variables"
During SAC optimisation step gradients are being applied to all variables instead of just trainable variables. This causes undesirable behaviour if the nets contain a shared encoder layer with fixed weights - a use case suggested in [Learning to drive in a day](https://arxiv.org/abs/1807.00412) article.

[2019-07-16 10:03] andreas-repp opened #159 "tf-agents-nightly not automatically updated nightly"
In the readme of this project it states that you should install the tf-agents-nightly pip package. However, this package is not updated nightly, as the name suggests, but seems to be totally outdated (last updated on May 28th 2019).

Why is the nightly package not updated nightly? If there is a reason for it, please, at least highlight it in the readme.

I just spent hours searching a bug in tf_ag

[2019-07-16 19:33] sguada commented on #159
Sorry for the troubles, we are having some issues with the automatic push of pip packages.
I just pushed a new nightly version up to date. Let me know if you have any further problems.
Will update this issue as soon as we fix the automatic pushes.

[2019-07-16 21:13] andreas-repp commented on #159
@sguada: Many thanks for the fast response!

[2019-07-17 08:29] seungjaeryanlee opened #160 "Correct way of setting Atari environment for PPO?"
What is the correct way to set an Atari environment for TF-Agents?

I am trying to run PPO on Venture, and this is the setup I am using currently:
[code]

Am I missing some environment wrappers or using the wrong variant?

[2019-07-17 12:30] andreas-repp commented on #160
I use the following and it seems to work (still in training):

I call the `train_eval` method of the [PPO v2 example](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py) with the following parameters:

[code]

[2019-07-17 12:58] seungjaeryanlee commented on #160
@andreas-eberle Oh didn't know `suite_atari` existed. Thank you :D

What did you set `FLAGS.env_name` to? Curious which mode ('', 'NoFrameskip', 'Deterministic') and version ('v0', 'v4') you are using.

[2019-07-17 13:00] andreas-repp commented on #160
As of yet, I only used "Pong-v0" and "Breakout-v0". However, the other Atari games should (hopefully ;) ) behave the same.

[2019-07-17 13:09] seungjaeryanlee commented on #160
I see. My agents are stuck in initialization when I use 'v4' version, so I was wondering if the issue was on me or in the repo.

[2019-07-17 13:36] marconardelli opened #161 "Policy returning always the same action"
Hello, there is obviously something I'm doing wrong here, but I can't figure out what it is.

I have created my custom environment with the following action_spec:

`self._action_spec = array_spec.BoundedArraySpec(shape=(1,), dtype=np.int32, minimum=0, maximum=3)`

when I run the compute_avg_return function using a random policy, the agent correctly takes a random action 0, 1 or 2, but when I try t

[2019-07-17 14:44] andreas-repp opened #162 "How to see model topology / log graph in TensorBoard"
When I run the [PPO v2 example](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py), I get a lot of metrics in tensorboard. However, I cannot see a graph.

What do I have to do to see the graph in Tensorboard? Or which other way can I use to debug my model topology?

[2019-07-17 15:02] oars commented on #161
What agent are you using? Have you trained the agent? Note at first the policy is backed by a neural net that has been initialized with somewhat random parameters, this however doesn't guarantee that the policy will generate random or uniform actions. Given a network initialization the action could just as well always be any of them.

You can use an epsilon greedy policy to make sure some random a

[2019-07-17 15:04] oars commented on #160
Do the v0 ones work for you?

[2019-07-17 15:20] seungjaeryanlee commented on #160
@oars They do! `Venture-v0`, `VentureNoFrameskip-v0`, `VentureDeterministic-v0` all work for me.

[2019-07-17 15:31] marconardelli commented on #161
I'm using a DqnAgent, I'm running the exact same code as the dqn tutorial with the exception that I'm using my own environment with the action_spec specified previously and the following obs_spec

`self._observation_spec = array_spec.ArraySpec(shape=(382, 7), dtype=np.float64)`

[2019-07-17 15:45] sguada commented on #160
I would recommend trying
[code]

[2019-07-17 15:48] oars commented on #161
Are you using the agent's collect_policy?

[code]

[2019-07-17 17:27] kuanghuei commented on #162
It is a tf2 eager mode example. You won't see a graph for the dynamic part. Even for the part that is wrapped with tf.function decorator, I don't think it is not trivial for tensorflow to visualize the graph at this point.

[2019-07-17 20:10] #162 closed, assigned to nobody

[2019-07-17 20:23] samfishman commented on #162
Actually, you can enable graph export in v2. You'll need to call tf.summary.trace_on() before the code you want to trace the graph for (e.g. L224 if you just want the train step), and then call tf.summary.trace_off() after the code completes. Since you only need one trace of the graph, I would recommend wrapping these calls with `if global_step_val == 0:` so that you don't produce traces every ste

[2019-07-18 00:20] dp6000 opened #163 "ImageData' object has no attribute 'data'"
I ran the colab tutorial, '1_dqn_tutorial.ipynb' without making any changes. When running the code,

env.reset()
PIL.Image.fromarray(env.render())

The following error is reported:

AttributeErrorTraceback (most recent call last)
<ipython-input-6-4ef82062fab5> in <module>()
      1 env.reset()
----> 2 PIL.Image.fromarray(env.render())

3 frames
/usr/local/lib/python2.7/dist-packages/gym/envs/class

[2019-07-18 01:19] kuanghuei commented on #163
It looks like a recent release of pyglet breaks gym. I downgraded pyglet to 1.3.2 for the colabs, and it should work now.

Thanks.

[2019-07-18 01:19] #163 closed, assigned to nobody

[2019-07-18 08:47] seungjaeryanlee commented on #160
@sguada Thank you for the suggestion!

Just to make sure, am I correct that TF-Agents currently does not have a wrapper that normalizes observation to be from [0, 255] to [0,1]?

[2019-07-18 09:08] seungjaeryanlee opened #164 "Reward Normalizer not updated in PPO?"
In `PPOAgent`, it seems like when observation is normalized, the reward normalizer is never updated. Is there a reason behind this?

[code]

For reference, [here is the link to the full code.](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/ppo_agent.py#L565)

[2019-07-18 09:43] andreas-repp commented on #162
@samfishman: Thanks for the hint. Unfortunatly, the graph is split up into single operation blocks in TensorBoard and therefore not helpfull. Just as a note: It's not ` tf.summary.trace_off()` that needs to be called but ` tf.summary.trace_export()` to actually save the trace.

To get a better idea of the network, I now tried to use the keras model summary function on the actor_net after it's firs

[2019-07-18 09:54] marconardelli commented on #161
collect_policy works correctly, the problem arises when I use the tf_agent.policy to compute the avg_return before the training process

[2019-07-18 10:20] marconardelli commented on #161
in fact before trying to compute the avg return with the tf_agent.policy, I have tried to put your code with the tf_agent.policy instead of the collect and in the end it does print {0}

[2019-07-18 10:51] marconardelli commented on #161
Ok, I think I have found the problem, if you specify float64 for the environment it does always return {0} if you change it to float32 it returns correctly all set of actions {0,1,2,3}

[2019-07-18 12:48] marconardelli commented on #161
Ok, so I have done some test, in the test environment you specified, this setup correctly works

[code]

I have tried to convert my obs_spec and action_spec accordingly, still no success always {0} is returned

[2019-07-18 15:10] oars commented on #161
Ah, hadn't thought through the dtypes. The unbounded float64 observations are getting pushed through a net with float32 vars, this is causing everything to be NaN.

[code]

As it turns out getting the mode of a Categorical Distribution with NaN logits -> 0.

[code]

The quickest fix for you is to specify the dtype of the QNetwork to be float64. Ideally though you should have your environment produ

[2019-07-18 15:10] #161 closed, assigned to oars

[2019-07-19 19:33] basvanopheusden opened #165 "trouble converting a custom PyEnvironment into TFPyEnvironment"
I'm having trouble converting a custom PyEnvironment into a TFPyEnvironment. My environment has observations consisting of a list of 2 matrices, each 20x5 (one non-negative, the other unconstrained), which I specify like this:

`self._observation_spec = [array_spec.ArraySpec(shape=(20,5), dtype=np.float64,name='observation'),
array_spec.BoundedArraySpec(shape=(20,5), dtype=np.float64, minimum=0, n

[2019-07-19 19:46] oars commented on #165
The validate tool will only work for the `py_environment`, once you've wrapped it through `tf_py_environment.TFPyEnvironment` it will not work.

If the validation passed on your py env you should be good to go.

Note issue: #161 though be careful with the dtype of your network, consider moving to float32 observations in your env.

Feel free to re-open if you hit issues when using the tf_env for tr

[2019-07-19 19:46] #165 closed, assigned to nobody

[2019-07-19 19:49] basvanopheusden commented on #165
Ok, thanks a lot!

[2019-07-20 01:37] Axel-CH opened #167 "Unable to serve saved model, missing signature_name"
Hello,
I'm running into an issue while trying to put my PPO model in production,
I saved the model using the policy saver:

[code]

Then I loaded the "saved model" folder in the tf serving container:

After that, the HTTP Rest API start properly.

Response:
[code]

Bellow you will see the metadata json details.

[code]

The issue is comming when I trie to perform a request on the API, I always get

[2019-07-22 09:34] marconardelli opened #168 "Problem with GPU when running tf_agent.initialize()"
Hi,
I have a problem when calling the initialize() function of the agent with tensorflow-Rocm and AMD RX 480, the system returns LLVM ERROR: out of memory, do I have to set some particular variable for this to work?

[2019-07-22 10:53] marconardelli commented on #168
never mind, it was a virtual memory related problem in ubuntu. Thanks anyway :)

[2019-07-22 10:53] #168 closed, assigned to nobody

[2019-07-23 03:28] evanatyourservice opened #169 "Unable to use two lstm layers with TD3 and DynamicStepDriver"
Hello,

I'm unable to use networks with two lstm layers with TD3 and the dynamic step driver. The error is thrown when I try to collect the initial steps.

This is my setup, in Google Colab with most recent versions:

[code]

This works when I have only one lstm layer of 256 for the actor and critic, but when I try to add a second layer of 256 like above I get this error:

[code]
I tried all (I th

[2019-07-23 05:22] evanatyourservice commented on #169
Ah I see the TODO note in the actor to use the encoding networks, I think that would fix it so I think for now I can write my own networks using those.

[2019-07-23 14:47] v-pourahmadi commented on #136
@andreclaudino I have the same exact issue, were you able to make the load/save working? do you have a working example that I can take a look?

[2019-07-24 01:36] Axel-CH commented on #167
I was able to find the issue, It was comming from my request syntax. I've got more information about the cartpole saved model generate by the policy saver using the tensorflow saved model cli tool. Details below:

[code]

Working request:
[code]

Response:
[code]

[2019-07-24 01:36] #167 closed, assigned to nobody

[2019-07-24 11:27] seungjaeryanlee opened #170 "AtariWrapper outputs warning"
The call to `reset()` and `step()` seems to be causing the problem.

[code]

[2019-07-24 11:32] seungjaeryanlee commented on #160
Quoting @oars from https://github.com/seungjaeryanlee/agents/pull/9:

This seems like the reason! Thank you.

[2019-07-24 11:32] #160 closed, assigned to nobody

[2019-07-24 11:44] andreas-repp commented on #160
@seungjaeryanlee: TF-Agents' PPO has a `normalize_observations` parameter, which defaults to true. Therefore, the observations are normalized with a `StreamingTensorNormalizer` by default. So they should be normalized with mean and std.

[2019-07-24 14:35] sguada commented on #160
For DQN Instead of normalizing the observations from [0, 255] to [0.0, 1.0] in the environment we do it in the [Network](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v1/train_eval_atari.py#L115), this avoid storing float32 (4 bytes) instead of unit8 (1 byte) in the replay buffer.
PPO does its own observation normalization.

[2019-07-24 15:48] seungjaeryanlee commented on #160
@andreas-eberle @sguada Thank you for the reply! I am trying to implement Random Network Distillation which does both the divide-by-255 and streaming normalization, so it looks like I will have to implement the former.

[2019-07-28 23:24] Addyvan commented on #150
I am having the same issue.

[2019-07-30 00:02] sguada commented on #164
It seems we still have to verify that the reward_normalization performs well when there is no observation normalization.

[2019-07-30 21:53] kuanghuei commented on #158
Thanks for raising this! It looks like this issue exists in a few of the agents. We have fixed it in SAC. Feel free to comment again or reopen if you have further questions.

[2019-07-30 21:53] #158 closed, assigned to kuanghuei

[2019-07-30 22:03] sguada commented on #158
@kuanghuei next time write in the description of the fix, so it would marked as fixed.
Fixes #158

[2019-07-31 03:02] YankeeLiu opened #175 "How to use tensor_spec to get embedding"
When i try to build my own network, the input_tensor_spec looks like this
[BoundedTensorSpec(shape=(10,), dtype=tf.int32, name='n_h', minimum=array(0, dtype=int32), maximum=array(2147483647, dtype=int32)), BoundedTensorSpec(shape=(10,), dtype=tf.int32, name='p_h', minimum=array(0, dtype=int32), maximum=array(2147483647, dtype=int32))]
how can i use this to get embedding vector, I tried tf.nn.embed

[2019-08-03 20:39] christianhidber opened #178 "DQN tutorial: collect_steps_per_iteration = 1 ? dynamic_step_driver ?"
Looking at the dqn tutorial I was wondering about the following points:

o collect_steps_per_iteration is set to 1, thus we get only 1 additional step in the replay buffer per iteration (and tf_agent.train call): wouldn't it be more "natural" to have collect_steps_per_iteration set to 100 or 1000 and num_iterations set to a lower value ?

o the replay buffer is filled "manually" using the collect_

[2019-08-05 17:04] oars commented on #178
`collect_steps_per_iteration` is set to 1 as it is how it is presented in the original paper, 1 step of collect per training step. I'm not sure what you mean by "natural" but you can definitely collect for example a whole episode, and then train for n steps. Finding hyper-parameters for these values for a given environment can be tricky.

The only reason it is done  manually is to avoid having to

[2019-08-05 17:04] #178 closed, assigned to oars

[2019-08-05 20:23] christianhidber commented on #178
Great. Thank you !

[2019-08-09 20:31] basvanopheusden opened #180 "How to create multi-action ActorDistributionNetwork for PPO"
I'm trying to run PPO in a custom environment in which the actions space is multidimensional: an action consists of 2 vectors of different sizes, and one boolean:

`ActionSpec: [BoundedArraySpec(shape=(20,), dtype=dtype('float32'), name='action', minimum=0.0, maximum=10.0), BoundedArraySpec(shape=(5,), dtype=dtype('float32'), name='action', minimum=0.0, maximum=10.0), BoundedArraySpec(shape=(), dt

[2019-08-09 20:35] basvanopheusden commented on #112
I am also struggling with the same issue, @sguada, if you could give me some pointers as to how to create custom ActorDistributionNetworks, I would really appreciate it!

[2019-08-12 11:36] DaveOuds opened #182 "Learning the opposite behavior"
I'm creating a training system that, instead of a environment, uses a simulation software.
The agent needs to learn it's behavior depending on the status that the simulation software returns. The statuses are given as an integer (0-4) and are used in a reward determiner (basically a switch case). **The lower the status, the better the behavior (0 best, 4 worst).**

See code below as example.

[cod

[2019-08-12 15:18] schmittjoh opened #183 "Untracked object tensor error in PolicySaver.save"
After updating to latest versions of tf-nightly-gpu and tf-agents-nightly, it seems like the PolicySaver.save method is not working anymore.

It now raises the following error:

[code]

This might be similar to tensorflow/tensorflow#31300.

[2019-08-12 15:20] oars commented on #183
Do you have a specific agent's policy where this is happening? Is it with a custom network of yours, or one of the example ones?

[2019-08-12 16:26] schmittjoh commented on #183
I'm using the PPO example v2 (https://github.com/tensorflow/agents/blob/bd448c215281e7ffe8ca4b6d472c82425ce03202/tf_agents/agents/ppo/examples/v2/train_eval.py) with use_rnns=True.

[2019-08-13 22:15] evanatyourservice commented on #169
Since made my own networks, actually pretty easy with the api thanks

[2019-08-13 22:15] #169 closed, assigned to nobody

[2019-08-14 16:04] sawsanq opened #185 "Reward Assignments After One Epoch"
I am wondering if I can re-write the reward scores for all steps when one epoch/round is completed (one pass for all words in text). I need to use a reward that cannot be computed unless all decisions are made for all words; then different scores can be assigned for each word.

Would there be any way to do this using this library?

[2019-08-14 16:58] oars commented on #185
You can put in a custom driver and avoid passing data to observers until you've recalculated the rewards. Look at the python driver as it should be easier for you to modify.

[2019-08-14 21:51] sguada commented on #182
Given this little details is hard to know what is going wrong, I will recommend evaluating a random policy and validate the environment.

[2019-08-17 12:50] schmittjoh commented on #183
Some further investigation shows that this error happens when introducing a custom environment where the spaces contains a `gym.spaces.Tuple`, i.e.

[code]

and updating `train_eval.py` to use the new environment:

[code]

As a workaround it seems to be possible to use a `gym.spaces.Dict` instead:

[code]

[2019-08-17 21:10] Taxel opened #186 "Tutorial request - How does saving work?"
After several different tries of saving and loading my PPO networks and/or policies I have to ask:

What is the intended way of serializing and restoring networks with tf-agents?

What I want to do:

- Save the complete network so I can resume the training
- Use the actor distribution network to predict an action based on state

What I tried:

- Saving the actor_net and value_net as a SavedModel v

[2019-08-20 13:55] andreclaudino commented on #136
Unfortunatelly I have no solution to this problem yet.

[2019-08-21 14:00] JCMiles commented on #104
@sguada Hi Sergio do you have any update regarding running SAC with  num_steps > 2?

[2019-08-22 07:18] jurgisp opened #187 "Can not develop on case-insensitive file system (Mac OS)"
I'd like to contribute to TF-Agents, but there is a git problem that I encounter on Mac OS X. There are two files that only differ by case:

- https://github.com/tensorflow/agents/blob/master/tf_agents/docs/python/tf_agents/utils/common/Periodically.md
- https://github.com/tensorflow/agents/blob/master/tf_agents/docs/python/tf_agents/utils/common/periodically.md

Since Mac OS file system is case-i

[2019-08-22 08:39] marconardelli opened #188 "module 'tensorflow' has no attribute 'TypeSpec'"
Hello,
I updated to the latest tf-agents code in the morning, and I've got the following error in a previously working project:

the file where the error is returned is time_step.py

   301   first_observation_spec = tf.nest.flatten(observation_spec)[0]
    302   if isinstance(first_observation_spec,
--> 303                 (tf.TypeSpec, tensor_spec.TensorSpec,
    304                  tensor_spec

[2019-08-22 08:54] marconardelli commented on #188
Nevermind, tf update solved the issue

[2019-08-22 08:54] #188 closed, assigned to nobody

[2019-08-23 02:43] ericzhao28 opened #189 "Network._build assumes input array spec is bounded"
When defining a custom network, the `Network` class attempts to build by calling `tensor_spec.sample_spec_nest` to sample an input.
Line 134 in `tf_agents/network/network.py`:
[code]
However, `sample_spec_nest` attempts to convert each part of the input tensor spec to a BoundedTensorSpec.
Line 331 in `tf_agents/specs/tensor_spec.py`:
[code]

**This results in a TypeError when a custom network cons

[2019-08-24 16:29] starkgate commented on #136
Same problem here, would love to see a fix or workaround

[2019-08-25 15:43] Taxel opened #190 "Loaded policy can't be used for prediction (TimeStep does not match SavedModel's expected arguments)"
I am saving my PPO policy using
[code]

Now I want to load it again and use a `timestep` I am creating myself to predict using this policy. I have tried it like this:
[code]
But this leads to the following error, having to do with the timestep:

As you can see, there are a few differences between the timestep I am passing to the function and the one it is expecting:

 - The shapes in my tensor loo

[2019-08-25 16:32] Addyvan commented on #136
Any progress on this ? I would also love to see a workaround !

Is anybody currently saving and loading models successfully? I think being able to do so is pretty important for an RL package...

[2019-08-25 20:25] starkgate commented on #136
Only loading/saving the weights works, but it's clearly far from ideal

[2019-08-26 13:10] Taxel commented on #190
I've played around with the function `TfPyEnvironment._set_names_and_shapes` to see if `TFPyEnvironment` somehow changes the `TimeStep` it returns but to no avail.
I did, however, find out that I need to pass the `step_type`, `reward`, and `discount` as lists because they need to be arrays with a length equal to the step size 1. I have updated my question above.
Unfortunately, it still does not wo

[2019-08-26 15:11] sguada commented on #190
TensorSpecs are just specifications of the expected Tensors, so that is correct. It seems the shapes are correct but the dtypes are not.
It seems that when you saved the policy the observations were tf.float64 not tf.float32. Try
`observations= tf.convert_to_tensor(
            [state], dtype=tf.float64, name='observations')`

[2019-08-26 15:17] Taxel commented on #190
Thanks, I did not see that I used this dtype incorrectly.
Solved.

[2019-08-26 15:17] #190 closed, assigned to nobody

[2019-08-26 16:03] Taxel opened #191 "ParallelPyEnvironment fails silently (threads do not start)"
I am trying to execute my custom `PyEnvironment` in parallel, but it does not work.

[code]
Everything runs smoothly when just wrapping the environment in a `TFPyEnvironment`, but when I use `ParallelPyEnvironment` to instantiate multiple envs, the program stops at the line where it is called indefinitely. When I terminate the program with `CTRL+C`, this is the error message:

Am I using ParallelP

[2019-08-26 16:09] Addyvan commented on #136
Are you doing this via the policy saver? I am currently able to export and make use of my trained policy but I haven't figured out how to resume training on my agent.

[2019-08-26 16:10] sguada commented on #191
You need to pass a [callables not instances](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/parallel_py_environment.py#L55), since ParallelPyEnvironment need to build them in the appropriate processes.

[code]

[2019-08-26 16:10] #191 closed, assigned to nobody

[2019-08-26 18:54] starkgate commented on #136
Policy saver ? I'm using modelcheckpoints :

`cp_callback = tf.keras.callbacks.ModelCheckpoint(checkpoint_path, save_weights_only=True, verbose=1)`

[2019-08-27 23:26] ChengshuLi opened #192 "Understand SAC v1 replay buffer abnormality"
Hi, I have a quick question for the following code: SAC v1.
https://github.com/tensorflow/agents/blob/a614c5b699ab08f6ac501c1d2bfc520d0a46572f/tf_agents/agents/sac/examples/v1/train_eval.py#L222-L228
which is very different from v2 and also other `train_eval.py` code, say DDPG.
https://github.com/tensorflow/agents/blob/a614c5b699ab08f6ac501c1d2bfc520d0a46572f/tf_agents/agents/sac/examples/v2/train

[2019-08-28 02:20] seungjaeryanlee opened #194 "Rename actor_fc_layers to policy_fc_layers?"
There are a few TODOs in train_eval example scripts that ask for renaming `actor_fc_layers` to `policy_fc_layers`. Before fixing it, I wanted to ask if this is still relevant, since the rest of the code seems to use the word "Actor" rather than "Policy". (For example, the network is called `ActorDistributionNetwork`)

https://github.com/tensorflow/agents/blob/a614c5b699ab08f6ac501c1d2bfc520d0a4657