[2021-04-20 01:55] ergsfe commented on #587
[code]
[code]

[2021-04-20 03:30] ebrevdo commented on #587
A full stack trace would be more useful, but I think the issue comes from the fact that we wrap the env in a BatchedPyEnv, for which we haven't implemented batched seeding.  Can you provide the full stack trace to confirm?

[2021-04-20 07:00] bartokg commented on #592
1. LinUCB is a deterministic algorithm, so the log-probabilities are not filled with anything meaningful.
2. LinUCB chooses an action based on upper confidence bounds, which are calculated as the predicted mean rewards plus some bonus. The argmax is taken over these values, and they are stored in the policy info "predicted_rewards_optimistic", but only if you list this string in the agent's `emit_

[2021-04-20 07:07] deeepwin commented on #451
Hi ben-arnao,

having the same issue. How did you resolve it?

Thanks

[2021-04-20 11:35] ngroves08 opened #594 "Random_TF_Environment Bug"
Hi there, I think I've found a minor bug in the Random_TF_Enviroment class.

I've discovered that it fails when the time_step_spec includes a reward_spec that is a multi-dimensional array (as opposed to a scalar).

I believe this is due to the code on line 91, where under the _reset method, it calls ts.restart without specifying the reward_spec. In this situation, ts.restart assumes the reward_spe

[2021-04-20 12:20] tomdelewski commented on #569
I've been trying to figure out a very similar problem, and the code I'm running is basically the same as above.  I've noticed that the issue doesn't seem to happen when I call agent.train as a Python function instead of wrapping it in a tf.function.  It loses some speed, but not quite as much as using pure Python everything.

[2021-04-20 12:54] deeepwin opened #595 "Cannot allocate tf_uniform_replay_buffer to GPU - No registered 'ResourceScatterUpdate' OpKernel for 'GPU' devices compatible with node"
I am trying to run the TFUniformReplayBuffer on the GPU based on the example outlined here:

[https://pathtopioneer.com/blog/2020/07/rl-3](https://pathtopioneer.com/blog/2020/07/rl-3)

When adding device='/device:CPU:0' to the initalisation of the replay buffer everything works. When specifying GPU device='/device:GPU:0', an error occurs. It appears there is no GPU op for ResourceScatterUpdate. Bu

[2021-04-20 14:45] kmalhotra7 commented on #592
Hi,

I added all the fields

emit_policy_info=('log_probability', 'predicted_rewards_mean', 'predicted_rewards_optimistic', 'predicted_rewards_sampled', 'bandit_policy_type'),

It works fine without the 'predicted_rewards_optimistic' field. BUT if i include it in the list, i get the following error message.

**ValueError: action output and policy_step_spec structures do not match:
PolicyStep(actio

[2021-04-20 18:09] bartokg commented on #592
It seems like you caught a bug!
In the linear bandit agent, the function _populate_policy_info_spec
(https://github.com/tensorflow/agents/blob/master/tf_agents/bandits/policies/linear_bandit_policy.py#L346)
does not populate the field "predicted_rewards_optimistic". It should be done analogously to the "predicted_reward_sampled" case.
I'll send out a change tomorrow.
Thanks for following up and no

[2021-04-20 18:18] ebrevdo commented on #594
Thanks!  This is a great candidate for a first contribution.  Can you send a PR with a small unit test?

[2021-04-20 18:22] ebrevdo commented on #595
Adding GPU kernel support requires filing a bug with TensorFlow team since we don't maintain TensorFlow's kernels.  You can file this bug [here](https://www.github.com/tensorflow/tensorflow).  That said, I'm not convinced that this will speed up your training in any way.  You can reference this issue with TF team.

[2021-04-20 18:41] kmalhotra7 commented on #592
ok perfect! is there a way to get notified when you do so.

Also as you explained,  predicted_rewards_optimistic is the mean + upper confidence bound. In that case what is predicted_rewards_sampled? Is there documentation with their explanations that you can point me to?

[2021-04-20 20:24] deeepwin commented on #595
Reference is https://github.com/tensorflow/tensorflow/issues/48650#issue-863204097

I see a lot of memory copy between CPU and GPU with Tensorflow profiler in my RL project. Hence, I hope to gain speed when allocating replay buffer to GPU memory similar to this paper:

Deep In-GPU Experience Replay
https://arxiv.org/abs/1801.03138

But I guess I have to try. Thanks.

[2021-04-20 20:28] ebrevdo commented on #595
This is during training or collection?

During collection, unless your model is really expensive/big, you will pay a cost for calling to the GPU for each step you take.  For smaller models you want your data collection model to sit on CPU.

Suppose you move your RB to GPU.  You will also have a memory copy CPU->GPU during data collection, so you'll pay the cost then instead of at training.

You ma

[2021-04-20 23:17] #585 closed, assigned to nobody

[2021-04-21 01:32] ergsfe commented on #587
I think that the .seed function is called on the `BatchedPyEnv`, which doesn't implement it.

[code]

[2021-04-21 02:50] tinmodeHuang opened #596 "Received a mix of batched and unbatched Tensors, or Tensors are not compatible with Specs. num_outer_dims: 1"
I hava the same issue as #266 and #482, my error printed as below:
[code]
as you see, the first line shows shape of the observation, the second one shows ```env.time_step_spec()```.
it's my confusion that shape of the observation in ```Saw tensor_shapes``` have extra dimension ```1```against the observation of shape (1, 11, 361).
if only I explained myself!
thanks for your tips in advance

[2021-04-21 04:23] ebrevdo commented on #596
It looks like yoour `tensor_shapes` have either a `batch_size=1` or `num_steps=1` for all items except `observation`, which has `[batch_size, num_steps] = [1, 1]` in there.  I think.  Or your env is returning data shaped `[1, 11, 361]` instead of `[11, 361]` as you requested.  If it did the right thing, the final `observation` tensor would be shaped `[1, 11, 361]` and that would be compatible with

[2021-04-21 04:23] #596 closed, assigned to nobody

[2021-04-21 04:27] ebrevdo commented on #587
Would you be interested in submitting a PR adding `BatchedPyEnvironment` seed setters and getters that accept/return lists of seeds?

[2021-04-21 05:25] deeepwin commented on #595
It is during training and collection The special case ist, that I run a train step after every step in the environment, instead of training at the end of an epsiode. This gives me better convergence. Increasing batch size and training at the end of the episode did not give good results.  I need mainy trainin steps. The CPU is spending a lot of time in the environment, as the huge time gap indicate

[2021-04-21 05:32] ebrevdo commented on #595
For a small model, wouldn't you need to use fairly large training batch
sizes to make it worthwhile to train on GPU?  Either way you probably want
to look at the Actor/Learner API which - while it doesn't use a GPU for the
RB - does use the Reverb replay buffer and would allow you to scale to
collecting data via multiple machines.  That would come in handy if your
environment is actually expensive

[2021-04-21 08:04] deeepwin commented on #595
Thanks for the hints. Indeed reverb is something to look into. The Actor/Learner API is too tf-agents specific for me at the moment. Maybe I'll later switch framework to tf-agents. I very much like it. It is the right way forward. But at the moment it requires too much code rework for me.

Regarding the batch size, yes it would be better to increase. But, it did not help in my case. There reason i

[2021-04-21 10:24] bartokg commented on #592
The change is here:
https://github.com/tensorflow/agents/commit/5a84c64531d9d2881e413142038d6acec9b40df5
As for predicted_rewards_sampled: It's the same for Thompson Sampling as predicted_rewards_optimistic for LinUCB: in TS, the policy applies argmax on a set of rewards that are sampled from a distribution with means obtained from predicted_rewards_mean.

[2021-04-21 11:14] ngroves08 commented on #594
Happy to help - can you point me in the direction of a good example of a unit test. This is all new to me...

[2021-04-21 16:00] oars commented on #594
You can look at the existing test case and add a new test in:

https://github.com/tensorflow/agents/blob/master/tf_agents/environments/random_tf_environment_test.py#L93

You will probably have to add a new `__init__` param to the base `TFEnvironment` for the reward spec, modify the `reward_spec` property, and then pipe it through the `RandomTFEnvironment`

Non scalar reward specs are something tha

[2021-04-21 16:06] oars commented on #592
Thanks @bartokg for the fix! Closing the issue.

[2021-04-21 16:06] #592 closed, assigned to bartokg

[2021-04-21 16:54] oars commented on #595
Given that we are not likely to deal with custom kernels for our internal replay buffer I'll be closing this issue. I understand moving to the Actor/Learner API would be a significant rework for you, but you might be able to consider using Reverb instead for your distributed data collection. You can use rate limiters there and then still scale the number of train steps you do per call into the GPU

[2021-04-21 16:54] #595 closed, assigned to nobody

[2021-04-21 17:04] oars commented on #591
+1 to @egonina's comment. Feel free to re-open if you hit any issues with it.

[2021-04-21 17:04] #591 closed, assigned to nobody

[2021-04-21 17:10] oars commented on #584
This has now been merged. Thank you!

[2021-04-21 17:10] #584 closed, assigned to nobody

[2021-04-21 17:10] oars commented on #588
@ormandi   thoughts on open sourcing `ReverbConcurrentAddBatchObserver`?

[2021-04-21 19:41] ebrevdo commented on #588
@oars @ormandi with the new TrajectoryWriter available in reverb - its create_item is async and we can move the flush to a separate thread - i think we can modify the current public observer (or update that one) to not have any latency and remove the heavy multithreading required in that one.

thoughts?  shall we schedule a short discussion?  IIRC Oscar was planning to look into moving to the new

[2021-04-21 19:46] oars commented on #588
Yes, we should look into that. It's not clear to me if the update will help in this case. But it'll make the actors faster :)

[2021-04-21 23:59] samarth-robo opened #597 "Loop over episode_steps in RNN SAC example"
Hello, I am looking at the example for training a recurrent agent using the SAC algorithm.

https://github.com/tensorflow/agents/blob/master/tf_agents/agents/sac/examples/v2/train_eval_rnn.py

The training loop loops `episode_steps` * `train_steps_per_iteration` times, which is confusing to me. Why is the outer loop over `range(episode_steps)` needed (L318)? `episode_steps` is the number of enviro

[2021-04-22 00:08] ergsfe commented on #587
I can try doing that.

[2021-04-22 00:37] #597 closed, assigned to nobody

[2021-04-22 00:40] samarth-robo commented on #597
This essentially updates the agent network weights `train_steps_per_iteration` for every step taken in the environment. But IMO the name `train_steps_per_iteration` is slightly confusing in that case.

[2021-04-22 15:55] ebrevdo commented on #363
I wasn't quite able to unify the two, but I made the agents try to auto-convert from ArraySpec to TensorSpec whenever possible.  This code still hits errors though so I'll add some additional fixes specific to DQN.

[2021-04-22 18:28] #363 closed, assigned to ebrevdo

[2021-04-23 19:06] sguttikon commented on #574
@mitre7 hey i am having same problem and my code looks exactly same as yours,
what do you mean by state normalization. could you please give more details if possible

[2021-04-23 19:07] sguttikon commented on #589
@singagan hey i am having same problem, what do you mean by state feature representation. could you please give more details if possible.

[2021-04-24 11:48] ngroves08 commented on #594
I've created pull requests for both `RandomTFEnvironment` and `RandomTFEnvironmentTest`

I've also run `python setup.py test` and it passed all the relevant tests. (Around 5 tests failed claiming it couldn't find `libpython3.7m.so.1.0`, but this also occurred when I ran the test before making any changes)

I didn't update `TFEnvironment` since it is already passed the `reward_spec` as part of the

[2021-04-25 20:52] wangtieqiao opened #602 "is there java api for loading saved policy and serve?"
I could not find any example to load a saved policy and serve in Java ... Any Java API available for tf_agents?

Thx

[2021-04-26 12:21] dthsptctr commented on #366
I have the same problem. @cris4414 did you find any solution?

[2021-04-26 18:53] cris4414 commented on #366
No, I didn t

[2021-04-26 19:42] bbeniamin commented on #366
@dthsptctr if you just want to produce identical experiments it should be enough to fix your random seeds. Make sure that besides the tensorflow* random seed, you also fix the seeds in python's and numpy's random modules and anything else that might introduce randomness in your environment.

*note: if you use a GPU for training it might not be possible to have 100% identical results

[2021-04-27 08:15] dthsptctr commented on #366
Thanks

But I was already using the following random seeds:

random.seed(0)
tf.random.set_seed(0)
np.random.seed(0)
tf.compat.v1.set_random_seed(0)
tf.experimental.numpy.random.seed(0)

but this didn't work.
(I am using a CPU for training.)

[2021-04-27 16:54] Axel-CH commented on #437
I finally chose to disable ray for multiprocessing, my loading time during env initialisation is a little bit slower but I'm not having a memory leak anymore. Thanks for the help

[2021-04-27 17:40] ebrevdo commented on #437
Yes; sorry about the issues w/ Ray multiprocessing.  We don't use Ray and would have a hard time debugging that.  In general, at least in Python having two libraries try to use multiprocessing is tough.  If your env is using multiprocessing internally, it may be easier to use a `BatchedPyEnvironment` instead of `Parallel`.  Batched uses multithreading and so if each sub-env is CPU-bound, then it's

[2021-04-27 17:40] #437 closed, assigned to nobody

[2021-04-28 08:29] attiasr commented on #588
+1

[2021-04-29 15:55] singagan commented on #589
@suresh-guttikonda not sure if you were able to get around your issue, but what I saw was one of the observations in my state representation was not properly normalized. However, after fixing that, everything worked well.

[2021-04-30 00:10] alexhiggins732 commented on #329
Using tf-agents nightly, and it still doesn't work. Unit tests still assert [only scalar actions](https://github.com/tensorflow/agents/blob/58ca29e1c57332bd34d72f9b1387e23743e461c8/tf_agents/agents/dqn/dqn_agent_test.py#L156).

[2021-04-30 00:14] ebrevdo commented on #329
What action type do you want and what dqn algorithm that's published can
handle your action type?

On Thu, Apr 29, 2021, 5:11 PM alexhiggins732 ***@***.***>
wrote:

[2021-04-30 00:52] alexhiggins732 commented on #329
So two different questions: Being able to use TF-Agents in the Gym multi-discrete environments would be nice.

Personally, I spent some time building a PC mouse driver environment for tf-agent training. Theoretically, an agent should be able to use the environment as an interface to against arbitrary environments using a single set of input controls. Originally, I had a Discrete(8) for the mouse b

[2021-05-01 22:10] kuanghuei commented on #602
I'm not familiar with the tf java solution, but I feel like this is not specific to tf-agents. Maybe take a look at https://www.tensorflow.org/jvm/install

[2021-05-01 22:10] #602 closed, assigned to nobody

[2021-05-02 20:35] romandunets commented on #569
@ebrevdo I used the exact [script you referenced](https://github.com/tensorflow/agents/blob/3448c9e88fbe48d515c85ffab2b96e9f429a3b7d/tf_agents/examples/dqn/dqn_train_eval.py) for memory profiling and realized that it demonstrates same memory leakage issues as the original script I used:
![memory_profile](https://user-images.githubusercontent.com/6966132/116826872-f3e53780-ab9e-11eb-8b1b-f683c2ede8

[2021-05-02 21:06] romandunets commented on #569
Unfortunately, both wrapped and unwrapped `agent.train` functions are showing pretty much the same memory consumption trend with the simple example code as above.

[2021-05-02 22:51] ebrevdo commented on #569
Using `tracemalloc` on dqn_train_eval I see the top memory increase duringg the loop coming from

[code]

Tracing this to my tf-nightly package these are the lines

[code]
this is a setter of class `FunctionCallOptions`.

and

[code]
in the property `function_call_options`.

If I add a print command to setter `config_proto_serialized` I see that it's being executed **every single time we call trai

[2021-05-02 22:59] ebrevdo commented on #569
Investigating the backtrace, it doesn't look like thread_local_data is being recreated each time; it just seems like `thread_local_data.function_call_options` of the same TLD is being set to `None` (or is somehow being forgotten), and the underlying `FunctionCallOptions` object isn't being garbage collected.  `thread_local_data` is a `pywrap_tfe.EagerContextThreadLocalData` so there's some pybind1

[2021-05-03 15:42] allenlavoie commented on #569
Is this being called from a new thread each time? As far as I know there's no eviction for thread_local data when the thread goes away.

For debugging on the TF side please file a tensorflow/tensorflow bug.

[2021-05-03 15:45] ebrevdo commented on #569
No; this is definitely all from the same thread.  I'll file a bug.

[2021-05-03 15:58] ebrevdo commented on #569
Filed https://github.com/tensorflow/tensorflow/issues/48888.

[2021-05-03 16:42] ebrevdo commented on #569
Moving the conversation to that bug.

[2021-05-04 12:12] tr8dr opened #603 "Cannot interpret 'tf.float32' as a data type; issue in actor_network.py"
The code line in: __tf_agents/agents/ddpg/actor_network.py__:
[code]
fails with the following error:
[code]

My action spec is:
[code]
which should be fine.   There must be some code that implements ```__contains__``` somewhere which is improper, or perhaps two different versions of the tf.float32 object, showing themselves to be mutually incompatible.

Reading around on the web, it seems that oth

[2021-05-04 22:29] stefanhacko opened #604 "Maybe a validate_py_environment Bug?"
Hi,
I am creating a py_enviorment that starts a separate process (which is created with _reset method, I am not sure if this is the intended use, I am using agents for the first time).
I am trying to validate the environment  with the `validate_py_environment ` but the process is left running after the `validate_py_environment ` call.

Editing the last if statement in the implementation of  `valid

[2021-05-06 17:43] ebrevdo commented on #604
Environments are expected to reset themselves when they emit `is_last`.

Instead of creating a `py_environment` that creates a separate process itself, instead have it work in-process, properly resetting as needed, and wrap it in a [ParallelPyEnvironment](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/parallel_py_environment.py#L50) which will properly create your env in o

[2021-05-06 17:43] #604 closed, assigned to nobody

[2021-05-06 17:57] ebrevdo commented on #588
Update: still working on this.  we're waiting for Reverb team to submit some performance improvements before we can move over to the new trajectory writer/dataset.

[2021-05-06 17:58] ebrevdo commented on #582
@sguada ping on this one.

[2021-05-06 18:01] ebrevdo commented on #580
What version of tf_agents are you using?  Try nightly.  We used to have a bug where we passed `target_critic_network(observation, step_type)` and this would accidentally confuse `Sequential` networks that had a call signature expectign `(observation, state)`.  Now we call `target_critic_network(observation, step_type=step_type)` and `step_type` should properly get dropped from being passed to `Seq

[2021-05-06 18:01] ebrevdo commented on #573
@summer-yue would you consider this issue resolved?

[2021-05-06 18:02] ebrevdo commented on #570
@oars worth doing the thing I suggested or can we mark as closed?

[2021-05-06 19:40] #603 closed, assigned to nobody

[2021-05-06 21:42] summer-yue commented on #573
Resolving the issue as it's working as intended.

[2021-05-06 21:42] #573 closed, assigned to summer-yue

[2021-05-07 03:20] #569 closed, assigned to ebrevdo

[2021-05-07 15:27] WangMengqi32C commented on #573
Hi Summer and ebrevdo,

Sorry for late replay, i did check this email.

Your suggestions help a lot, thank you for that.

Hope you have a nice weekends,
Mengqi

发件人：Summer Yue ***@***.***>
发送日期：2021-05-07 05:42:53
收件人：tensorflow/agents ***@***.***>
抄送人：Mengqi Wang ***@***.***>,Author ***@***.***>
主题：Re: [tensorflow/agents] AverageReturn metrics doesn't calculate the correct return? (#573)

Resolvi

[2021-05-07 17:58] IanRDavies opened #605 "BoundedTensorSpec difficulties in PPOPolicy Initialisation"
I have an implementation of PPO for a custom environment I have written. When initialising PPO I get an error which I have traced back to the [call to `tf_agents.distributions.utils. assert_specs_are_compatible`](https://github.com/tensorflow/agents/blob/29daabcc11b277a914f6b848d44c30b4aabbf659/tf_agents/agents/ppo/ppo_policy.py#L116) in the initialisation of PPOPolicy.

I believe this is due to t

[2021-05-07 20:23] ebrevdo commented on #605
The specs you pass to the networks and agents should not have any batch dimensions in their shapes.  Does everything work if you remove the `(1,)` prefix?  [sounds like that's the batch size 1 prefix?]

[2021-05-07 22:47] IanRDavies commented on #605
Ah right, my bad. Your suggestion fixed the issue. I've refactored my custom env and networks in line with this.

Thanks for the quick reply and helping me to better understand the use of TensorSpecs.

[2021-05-07 22:47] #605 closed, assigned to nobody

[2021-05-08 08:43] sguttikon commented on #589
@sin

@singagan yes i was able to narrow down the issue when i use tf_functions to collect_driver, env.step() is returning nan value images. if i turn it off i am getting correct images from env.step().

Not sure if its issue with dynamic_step_driver. anyway, thank you

[code]

[2021-05-09 09:57] skuperly commented on #588
+1

[2021-05-11 11:38] ngroves08 opened #606 "Feature Request: Flag whether last action was random or not"
I have a project where I would like to know whether the last action applied to the environment came from the agent's policy or from a random action (as a result of the epsilon greedy policy).

Is it possible to update the `PolicyStep` class to include an additional attribute to support this?

[2021-05-12 10:36] rschiewer opened #607 "BoundedArraySpec should convert its shape argument to a TensorShape by default"
I'm creating a `BoundedArraySpec` manually to put it into a `Trajectory` which is used as the data_spec for a `TFUniformReplayBuffer`. Whereas the [docs](https://www.tensorflow.org/agents/api_docs/python/tf_agents/specs/BoundedArraySpec) say it's fine to use any iterable for the shape argument, [here](https://github.com/tensorflow/agents/blob/3448c9e88fbe48d515c85ffab2b96e9f429a3b7d/tf_agents/repl

[2021-05-12 18:09] sguada commented on #607
`TFUniformReplayBuffer` requires `BoundedTensorSpec` not `BoundedArraySpec`, you can either directly create a `BoundedTensorSpec` or convert into by
[code]

[2021-05-13 10:10] rschiewer commented on #607
I see, thanks for pointing that out. From stepping through the code with a debugger I found that when following the [Rainbow DQN example](https://www.tensorflow.org/agents/tutorials/9_c51_tutorial#training_the_agent), the resulting `TFUniformReplayBuffer` has `BoundedArraySpecs` for its contents. From that I concluded that those should be used, however I did not look it up in the docs.

Thanks aga

[2021-05-13 21:31] rschiewer commented on #607
Of course, I'll close the issue because it's actually solved. I have no idea why internally the `TFUniformReplayBuffer` can use `BoundedArraySpec` without the problem I encountered. All in all, when working with tf agents aside from the tutorials the documentation is still a bit slim for me.

[2021-05-13 21:31] #607 closed, assigned to nobody

[2021-05-16 13:56] stefanhacko commented on #588
+1

[2021-05-16 16:36] Abner77 commented on #533
But how you define the observation spec with multiple inputs? This is possible en keras-rl where the api assigns each observation spec (multiple bound array spec) to each input defined in the q-network.
I don't have a preprocessing network trained, cause I need that process to be done by the own q-network..... How can I do this? Thanks in advance.

[2021-05-16 18:38] FMalerba commented on #533
You define the observation spec similarly to how I did. In my case I used a dict to clearly differentiate between the inputs by assigning names to them (the dict keys), but in principle you could use also a list or tuple of array specs if you prefer.

When it comes to building your QNetwork you just create a variable preprocessing_layers that matches the structure of your obs_spec (in my case it w

[2021-05-16 18:59] Abner77 commented on #533
Could you put a complete sample. I was following the google tutorial and they don't use QNetwork, they use a standard Sequential model, so I don´t know exactly how that works.
Thank you very much for the answer

[2021-05-17 03:06] David-zreo commented on #454
Hello,Bing. I have the same problem as you , could you tell me how you solved it , please.

[2021-05-17 03:22] JorgeQuinteroM opened #608 "Problem when using .current_time_step() over a environment"
Hi everyone,

I am trying to understand the Rubik Cube behaviour however I have found something I think is wrong:

1.) I created an environment (rubik cube) in a specific initial state (solved). I also convert that python gym to a TensorFlow gym. Image below shows the rubik cube in a perfect solved state.

[code]

<img width="525" alt="Captura de pantalla 2021-05-16 a la(s) 10 09 32 p  m" src="htt

[2021-05-17 12:00] QuantHao commented on #400
Hi, @ebrevdo and everyone,

I think I find out the location where is bug happens. First you need to set isolation = True to create a ThreadPool.

Then at the very last of your script, add train_env.close().

BUT, BUT, this is not the end of story,

TFPyEnvironment.close methods call self._pool.join() first then self._pool.close() which raise another error: Pool is still running.
https://github.com

[2021-05-17 21:24] TekpreXyz opened #609 "/bandits_tutorial.ipynb"
num_iterations = 90 # @param
steps_per_loop = 1 # @param

replay_buffer = tf_uniform_replay_buffer.TFUniformReplayBuffer(
    data_spec=agent.policy.trajectory_spec,
    batch_size=batch_size,
    max_length=steps_per_loop)

observers = [replay_buffer.add_batch, regret_metric]

driver = dynamic_step_driver.DynamicStepDriver(
    env=environment,
    policy=agent.collect_policy,
    num_steps=steps

[2021-05-17 21:28] TekpreXyz commented on #609
SOLVED WHIT:
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

[2021-05-17 21:28] #609 closed, assigned to nobody

[2021-05-19 07:48] cmarlin opened #610 "GymWrapper miss reward_spec mapping"
The Gym environments provide a **reward_range** member with min-max reward value. This parameter could be forwarded to a reward_spec() member returning a BoundedArraySpec instead of ArraySpec from abstract PyEnvironment.

[2021-05-19 15:44] sguada commented on #610
Contribution to the gym_wrapper to forward the information if available are welcome.

[2021-05-20 10:35] GevanGe opened #611 "SAC minitaur example doesn't use the GPU"
I tried to run the "SAC minitaur with the Actor-Learner API" example notebook but when I got to the "gpu enable" part it didn't detect the GPU.
[code]
I did enable the GPU and also checked that one was available. Is this related to reverb ?

[2021-05-20 11:51] QuantHao opened #612 "What's tensorflow version for TF-agent 0.8？"
Hi,

It seems that each version of tf-agent need a specific version of tensorflow. Since v0.8 is relased to pip, what version of tensorflow should we use?

Thanks.

[2021-05-20 16:47] sguada commented on #612
TensorFlow 2.5

[2021-05-21 02:42] QuantHao commented on #612
Thanks a lot for your reply.

[2021-05-21 02:42] #612 closed, assigned to nobody

[2021-05-24 06:14] QuantHao commented on #400
@oars @summer-yue @sguada  Hi, I saw you two are currently activately mantain this repo, should I report this issue to you? Thanks.

[2021-05-27 02:49] ArmaanAS opened #613 "How is discount factor applied over multiple transitions?"
Using an episodic driver and a UniformReplayBuffer add_batch function as an observer, is the DQN agent's predefined discount factor applied to all the trajectory rewards added to the uniform replay buffer over an episode? Is this something I need to do manually for my environment, applying the discount factor?

[2021-05-27 08:22] kelia opened #614 "Layer Sequential has arguments in `__init__` and therefore must override `get_config`."
The documentation states, that one should use `tf_agents.networks.Sequential` instead of `tf.keras.layers.Sequential` (I assume this should say `tf.keras.models.Sequential`) when designing preprocessing layers for an `EncodingNetwork`.

Below shows a code excerpt to create very simple preprocessing layers for an `EncodingNetwork`:
[code]

This results in the following error:
[code]

For clarificat

[2021-05-30 09:53] FMalerba opened #615 "Training mode and Q-policies"
Q policies have no way of knowing whether the Q-Network underlying them should be called with the training mode flag = True or False. By default they are implicitly always calling the network with inference mode, but it is not cear to me why one would want this to be the default. This implies that in a standard scenario like
[code]
one would end up with a replay buffer filled with transitions that

[2021-05-31 13:53] yangshaoqing1996 commented on #458
Maybe you can try do not use  "random_tf_policy.RandomTFPolicy(" to collect data.

[2021-06-02 09:54] cmarlin commented on #610
I have created a pull request
https://github.com/tensorflow/agents/pull/616

[2021-06-04 19:30] dalvaren commented on #190
Thank you! I've ran over the same situation and my problem was not setting the values as lists (I was using np.array), so now it is working.

[2021-06-07 13:51] #611 closed, assigned to nobody

[2021-06-08 11:32] KaleabTessera commented on #588
+1

[2021-06-12 15:28] saleh-mir opened #617 "Installation issue on MacOS M1"
I've been trying to install on my macOS M1. I even got Tensorflow installed using [this](https://developer.apple.com/metal/tensorflow-plugin/).

But after I try to install tf-agents, I get:

[code]

Any help would be appreciated.

[2021-06-12 22:14] soldierofhell commented on #280
Hi @ebrevdo,
There's short note in the code:
https://github.com/tensorflow/agents/blob/3448c9e88fbe48d515c85ffab2b96e9f429a3b7d/tf_agents/policies/policy_saver_test.py#L358-L359
I guess this "native support for RNG ops, atan, etc." relates to unsupported BroadcastArgs and BroadcastTo ops.
Could you please provide more details what is the root cause of the problem (e.g. where are those broadcast co

[2021-06-14 16:36] kbanoop commented on #617
Does this help: https://github.com/deepmind/dm_control/issues/135

[2021-06-15 12:47] npqst opened #618 "auxiliary tasks with tf agents"
Hi!

I'm wondering how best to add a second head to, for example a DQN Agent to train an auxiliary supervised task. So far the only work I've found with tf-agents uses [custom networks to adapt to multiple inputs](https://www.tensorflow.org/agents/tutorials/8_networks_tutorial), not outputs.

Many thanks!

[2021-06-16 12:31] #610 closed, assigned to nobody

[2021-06-16 13:29] FlyingHeNanman commented on #326
I ran into the same problem, and my observation is a single value too.  array！ array！ array！
Solved！
Replace this:
np.array(1， dtype=np.float64)
with:
np.array([1]， dtype=np.float64)

[2021-06-16 16:54] WangMengqi32C opened #619 "Is it possible to define a custom loss function?"
Dear,

I want to change the loss function a little bit,  just as this [https://arxiv.org/abs/2012.06 644].
Is this possible to this within the tf-agents?

Thank you in advance!

Best regards,
Mengqi

[2021-06-17 15:44] morgandu opened #620 "Feature Request: Add Tabular Solutions"
This issue is to track the feature request of adding Tabular agents into TF-Agent:

- [ ] Tabular agents using Dynamic Programming and Temporal Difference
- [ ] Unit Testing for Tabular agents
- [ ] Examples for Tabular agents

[2021-06-17 22:15] ebrevdo commented on #280
This has nothing to do with TF-Agents - it depends on TFLite team.  @jdduke FYI.  Is there a relevant issue open on tf's side?

[2021-06-17 22:16] ebrevdo commented on #280
I'm not sure where the broadcast args are coming from.  possibly from TF Probability?  Here's where we use [broadcast_to](https://github.com/tensorflow/agents/search?q=%22tf.broadcast_to%22) but I don't think these are the real places it's coming from.  Probably from a library we're using as I mentioned.

[2021-06-17 22:47] jdduke commented on #280
@thaink is actively working to support this. I'm not sure if there's a corresponding TF issue, but we do have an internal issue tracking this.

[2021-06-18 00:23] thaink commented on #280
@ebrevdo I think the BroadcastArgs may come from using broadcast_to on a dynamic tensor.
I am working on supporting BroadcastArgs now.

[2021-06-18 06:35] soldierofhell commented on #280
Thanks guys, please leave here a comment when BroadcastArgs will be available

[2021-06-21 07:17] sbischoff-ai commented on #574
@mitre7 I also have the exact same problem with almost the exact same code and don't quite know what you mean by "state normalization" either. The environment always returns observations well within the observation spec bounds, so you probably mean something else? Could you please explain how exactly you solved the issue?

[2021-06-21 14:07] sbischoff-ai opened #622 "SAC example in custom environment: Critic Loss is NaN"
I am trying to get an SAC agent to work, based on the train_eval example. I already got a DDPG agent to work properly in the exact same environment, also based on the corresponding train_eval code example. For SAC I always get the following error on the very first training step:
[code]

My code:
[code]

The same problem was already adressed in #574, but that issue was closed without any useful inf

[2021-06-21 21:41] sbischoff-ai commented on #622
After some further investigation I can see now that the problem is caused in `tf_agents.agents.sac.tanh_normal_projection_network` in the `call()` method in the following lines:
[code]
In this case `_std_transform = tf.exp` and the exponentials of the standard deviations exceed the limits of `np.float32`, so that `stds = tf.Tensor([[ 7.1482843e+36  6.2010007e+36 -6.2623169e+36]], shape=(1, 3), dty

[2021-06-22 14:44] jeffheaton commented on #542
Has anyone on the TF-Agents team ever thought of putting together a colab tutorial on how to run Atari games?  This seems to be a real weak spot for TF-Agents.  Most of your [competitors](https://stable-baselines.readthedocs.io/en/master/guide/examples.html#id2) have such easy/friendly examples.

[2021-06-22 15:47] #560 closed, assigned to ormandi

[2021-06-23 07:38] sbischoff-ai commented on #622
I noticed that the inputs for the actor network turned out to have unreasonably high values for some reason I don't yet quite understand, so I added an observation normalizer and now it seems to work:
[code]
I'm closing this issue, but I'd still like to understand why this is necessary? The environment will return reasonable values, even if the observation space has some (practically) unbounded el

[2021-06-23 08:47] #622 closed, assigned to nobody

[2021-06-23 21:02] RachithP commented on #564
I can confirm this issue for continuous values as well. tf-agent v0.7.1.
These seems linked #121, #216

[2021-06-23 22:23] ebrevdo commented on #564
@egonina current rotation; ptal?

[2021-06-23 22:24] ebrevdo commented on #564
Perhaps `ActorDistributionNetwork` does not respect boundary values?

[2021-06-23 22:29] ebrevdo commented on #564
I think the problem is in the construction of the Discrete output distribution [here](https://github.com/tensorflow/agents/blob/3448c9e88fbe48d515c85ffab2b96e9f429a3b7d/tf_agents/networks/categorical_projection_network.py#L58).  Can you link to a gist with the full traceback of the error?

[2021-06-24 00:26] RachithP commented on #564
Don't think this will be helpful - [Stack Trace](https://gist.github.com/RachithP/8e52f8f2f8b70160215f42e849d490f4).

Also,
output of `print(self.action_spec())`
[code]

So, expected action to be in range [-1, 1], but got (-1.2548504, 0.55205715).

As mentioned in [here](https://github.com/tensorflow/agents/issues/216#issuecomment-595493136), PPO does not handle action bound clipping.

[2021-06-24 14:27] egonina commented on #564
Have you tried the workaround in https://github.com/tensorflow/agents/issues/216 ?

@kuanghuei can you PTAL as well since you're more familiar with PPO and have context on previous issues. Thanks!

[2021-06-24 21:40] RachithP commented on #564
For my case, I just clipped action values in my env.

[2021-06-24 22:10] ebrevdo commented on #617
The issue is with dm-tree; you should file a bug with them: https://github.com/deepmind/tree

Looks like they lack a configuration to build on M1.

Any C++ build failures in the TF-Agents build are caused by dependencies that we don't control.  TF-Agents itself is a pure-python library at the moment.

[2021-06-24 22:10] #617 closed, assigned to nobody

[2021-06-24 22:12] ebrevdo commented on #614
We added `get_config` in ~January.  Are you using an older version of TF-Agents?  Try the nightly (in conjunction w/ tf-nightly and tfp-nightly?)

You should also be able to use `Sequential` to *replace* the `EncodingNetwork` completely.

[2021-06-24 22:14] ebrevdo commented on #588
Thanks all who've expressed interest.  We tried to push the change to TrajectoryWriter in Reverb but it caused performance regressions.  We do have it on our TODO list to slowly move to it, but no ETA right now :(

In the meantime, we may just try to opensource the batch-friendly reverb observer.  I'll inquire in team.

[2021-06-24 22:15] ebrevdo commented on #580
Closing since I haven't received a response.  Please reopen if you have any updates.

[2021-06-24 22:15] #580 closed, assigned to nobody

[2021-06-24 22:21] ebrevdo commented on #564
You can alternatively pass a `discrete_projection_net` or `continuous_projection_net` argument to `ActorDistributionNetwork` that is a function that builds a distribution that properly respects your action spec.

For example, if you are using discrete actions, the default is:

[code]

But instead you can use something like:
[code]

For a continuous network you could instead emit a `TruncatedNormal

[2021-06-24 22:22] ebrevdo commented on #564
You could also just build a complete `Sequential` that emits a `Lambda` creating a `Distribution` as the full action network instead of relying on `ActorDistributionNetwork`.  This has been the recommended approach since ~late 2020.

[2021-06-25 00:06] navidyou opened #623 "Why the PPO tf agent implemented by google only accepts the observation space to be a "gym box space"?"
I have tried the ppo agent with different observation spaces. It turns out it "only" works with a gym box space.

---Choosing the observation space as array_spec.BoundedArraySpec( shape=(1,), dtype=np.int32, minimum=0, maximum=32, name='observation') gives an error saying "Cast string to float is not supported".

---Choosing the observation space as a discrete gym space space.Tuple again gives an

[2021-06-25 01:57] #557 closed, assigned to nobody

[2021-06-25 08:43] soldierofhell commented on #280
@thaink any ETA for this BroadcastArgs issue? :)

[2021-06-25 09:09] navidyou commented on #623
Sorry for my mistake the observation space for ppo tf_agent can be a tuple of spaces.Discrete as well.

In the PPO example V2 in order to use the gym 'Blackjack-v0' environment the preprocessing_layers and the preprocessing_combiner must be set.
By looking at the observation space spec for the gym 'Blackjack-v0' the preprocessing should be set as follows:

`      actor_net = actor_distribution_net

[2021-06-25 09:14] #623 closed, assigned to nobody

[2021-06-28 00:51] thaink commented on #280
Unfortunately, it is still under review.

[2021-06-30 14:30] TAHTAH98 opened #625 "Received a mix of batched and unbatched Tensors, or Tensors are not compatible with Specs."
Hi!

I know the issue have been raised many times but all the solutions proposed didn't work for me, and sometimes the threads didn't get to the end of it. Also often the complete codes weren't proposed so I'd like to ask for help once again.
[code]
The code that I run that gives me the error:
[code]
Is the following:
[code]
I tried to figure out from where the problem comes from and I noticed thi

[2021-06-30 17:12] RR-28023 commented on #189
Hi @ericzhao28, I've run into the same issue. Did you find a workaround?

[2021-06-30 17:40] RR-28023 opened #626 "tensor_spec.sample_spec_nest can't deal with dtype tf.bool"
The function `sample_spec_nest` currently raises a TypeError if any of the specs has dtype bool. For example, the below code:

[code]
Raises the error:
[code]
`sample_spec_nest` already accounts for the case when `spec.dtype == tf.string`, so I think it would make sense to add another exception for the `tf.bool` case.

My code is calling `sample_spec_nest` when calling `Network.create_variables()`

[2021-07-01 10:37] prototact opened #627 "Dqn agent and batch size, how to properly format output"
I try to create an agent using the following code, reshaping the input to match the format of `(batch size,) + observation_shape`, mostly following the guide on the tensor-flow docs.

[code]

However, I get the ValueError at creation

[code]
It is reasonable that this is the output TensorSpec, since it should return a distribution per batch sample. What am I doing wrong here?

[2021-07-02 20:28] samarth-robo commented on #400
@QuantHao thanks for the pointer. I was experiencing this issue while trying to run parallel TF-Agents drivers using mpi4py. Just adding `env.close()` at the end of my script solved it for me, I did not need to set `env.isolation = True`.

[2021-07-04 15:35] #627 closed, assigned to nobody

[2021-07-06 08:43] malluce opened #632 "Stacked LSTM in ActorRNNNetwork"
It seems to be impossible to use the ActorRNNNetwork with stacked LSTM layers. I noticed this using a custom environment but was able to reproduce the problem with an official example.
Using the TD3 example from the repo (agents/tf_agents/agents/td3/examples/v2/train_eval_rnn.py), when changing line 78 from `    actor_lstm_size=(40,),` to `actor_lstm_size=(40,40),`, i experience the following erro

[2021-07-08 02:04] thaink commented on #280
@soldierofhell BroadcastArgs is added to master branch.
You could try it using the nightly now.

[2021-07-09 00:46] FatemehJalalvand opened #633 "AttributeError: module 'tensorflow.python.ops.linalg.linear_operator' has no attribute 'make_composite_tensor'"
Hello,

When I run the following codes to import tf modules, I encounter this error: "AttributeError: module 'tensorflow.python.ops.linalg.linear_operator' has no attribute 'make_composite_tensor'". Could you please let me know how I can fix this problem?

from tf_agents.environments import random_py_environment
from tf_agents.environments import tf_py_environment
from tf_agents.networks import en

[2021-07-09 01:09] FatemehJalalvand opened #634 "Hi,"

[2021-07-09 01:11] #634 closed, assigned to nobody

[2021-07-09 01:17] FatemehJalalvand opened #635 "Problem in installation of "sudo apt-get update" and 'imageio==2.4.0'"
Hi,
 I want to install the followings to use reinforce agent from TF-agent:

sudo apt-get update
sudo apt-get install -y xvfb ffmpeg
pip install 'imageio==2.4.0'

But, I get syntax error: invalid syntax. How can I fix this problem?
Thanks.

[2021-07-09 10:21] windmaple commented on #280
I can convert the model now. Thanks for @thaink 's work.

[2021-07-09 22:20] kuanghuei commented on #635
Do you know which line gives this error?

[2021-07-10 04:50] FatemehJalalvand commented on #635
The first two lines I think.
I tried !pip install imageio==2.4.0 for the third line and it worked. But, this way does not work for the other two lines.

[2021-07-10 09:30] nicolaspi commented on #633
It is probably a mismatch between your tensorflow (<=2.5.0) and tensorflow-probability (>=0.13.0) versions. Downgrade tensorflow-probability: `pip install tensorflow-probability==0.12.2`

[2021-07-10 20:08] dontlooksoworried commented on #363
Saved me a bunch of time, I was stuck on the same thing. Appreciate you commenting!

[2021-07-10 23:26] FatemehJalalvand commented on #633
Thanks. I tried your code but it didn't work.

[2021-07-12 18:20] sguada commented on #633
Which versions of TF, tfp and tf_agents do you have?

[2021-07-12 20:54] kuanghuei commented on #635
These lines are not TF-Agents specific. The first 2 lines are just for installing linux packages and the third line is for installing a python lib. If the first two lines run into problems, it's probably your computer environment and I don't feel like I can give a quick answer. Please refer to stackoverflow for question like this.

[2021-07-12 20:54] #635 closed, assigned to nobody

[2021-07-12 21:29] basvanopheusden commented on #564
@ebrevdo Could you elaborate on how to do that? I was running into this issue in #216, it continues to pop up occasionally despite the workaround.

[2021-07-14 16:05] Hsgngr opened #636 "DQN Agent.policy() only returns same action out of 3 throughout the episode. random_policy works correctly."
I have tf-environment for trading where I have **3 actions: Skip | Buy | Sell.** For training part I'm following the **DQN Agent**. When I calculate average_return with **random_policy** I'm getting results like this which make sense:

[code]
However when I use **agent.policy** it only takes action 0 which is Skip action, therefore after one episode it prints like this:

[code]
I started to use tf

[2021-07-15 14:27] kelia commented on #614
I tested with `tf-agents-nightly         0.8.0.dev20210701`, getting the same error. However, replacing the `EncodingNetwork` completely resolved the issue. Thanks a lot!

[2021-07-15 14:27] #614 closed, assigned to nobody

[2021-07-21 14:46] WardLT commented on #625
I have a similar error and think I can trace the problem back to the `BatchedByEnvironment` created when you wrap a `PyEnvironment` with `TFPyEnvrionment`.

From my understanding, `BatchedPyEnvironment` runs multiple environments and concatenates their their results together to form an output. Concatentation adds batch dimension to each array. However, the array spec `BatchedPyEnvironment` does no

[2021-07-21 15:10] WardLT commented on #625
As I dig into the source code more, there are actually test cases enforcing that the `BatchedPyEnvironment` specs disagree with the actual shape of the output arrays (see [here](https://github.com/tensorflow/agents/blob/e5fd32a1e6e001c4fc4fe5d3d5e25c2900d1b174/tf_agents/environments/batched_py_environment_test.py#L123))

The disagreement between spec and shape of the output array seems undesirable

[2021-07-23 07:26] windmaple opened #638 "can't import custom gym environment"
I created a custom gym environment and tried to import it w/ suite_gym.load(). It fails with strange errors.

To reproduce:

1. install the environment:

git clone https://github.com/tensorflow/examples.git
cd examples/tree/master/lite/examples/reinforcement_learning/ml/gym_planestrike
python setup.py install

2. run the following:

import gym, gym_planestrike
import tensorflow as tf
import numpy

[2021-07-26 20:46] sguada commented on #626
Feel free to send PR to fix this.

[2021-07-27 16:12] #638 closed, assigned to nobody

[2021-07-29 04:22] samarth-robo commented on #588
+1

[2021-07-30 07:02] Loganpi commented on #617
I had a similar problem, I solved it by uninstalling bezel and installing it with a binary. instructions are on the bazel webpage

[2021-08-02 18:51] PotnisAkshay opened #639 "Issue With Keras Functional API and Keras Tuner"
**Hi,

I am facing an issue with my code which uses a Keras functional API and a Keras Tuner. I didn't know where else to post this. Below is my code**

`import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.model_selection import train_test_split
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

import os
import matplotlib.p

[2021-08-03 00:25] chz816 opened #640 "StepType for a trajectory with only two steps"
Hi team, thank you for this great package! I have a question related to the value of StepType when we have a relatively short trajectory. So based on my understanding, the StepType equals to FIRST for the first state and equals to LAST for the last state. Otherwise it should take the value MID. My questions is for a short trajectory with only two steps {step1, step2}, when we define the step_type

[2021-08-04 14:15] hornstenfilip opened #641 "Verifying action masking with ReinforceAgent/ActorPolicy"
Hi there,

Thanks for an awesome RL framework!

I'm trying to implement an RL agent with TF Agents for a custom OpenAI Gym environment and am having some trouble with action masking and the ReinforceAgent.

I'm using the following packages:

[code]

The custom Gym environment is loaded into TF Agents and passed to a TensorFlow wrapper. Observations are dictionaries of the current state and corresp

[2021-08-06 14:05] JCMiles opened #642 "Custom Signature with Policy Saver"
HI Team.

I have a custom tf.policy that basically extends ActorPolicy by adding a function that runs a monte carlo tree search using the output of policy.action as its input. Something like this.

		class CustomPolicy(tf_policy.TFPolicy):
			def __init__(self)
			def _action(self, time_step, policy_state, seed):
			def _distribution(self, time_step, policy_state):
			def mcts(self, time_step: ts.

[2021-08-06 15:53] oars commented on #642
Yes, you can use the `register_function` or `register_concrete_function` utilities on the saver.

https://github.com/tensorflow/agents/blob/master/tf_agents/policies/policy_saver.py#L527

See the tests for an example.

https://github.com/tensorflow/agents/blob/master/tf_agents/policies/policy_saver_test.py#L992

[2021-08-06 15:53] #642 closed, assigned to nobody

[2021-08-08 07:33] HWerneck opened #643 "[PPO] Different trajectory structures in a data collection test of a custom environment"
I am building a PPO agent side by side with the [TF-Agents DQN tutorial](https://colab.research.google.com/github/tensorflow/agents/blob/master/docs/tutorials/1_dqn_tutorial.ipynb#scrollTo=wr1KSAEGG4h9). The idea was checking the basics structures needed for a simple tf-agent to work, and adapting it to a PPO agent.

I am also using a custom environment, ViZDoom. It installs and is working properl

[2021-08-09 06:39] windmaple opened #644 "How to use custom distribution network with ReinforceAgent?"
I'm trying to use sequential.Sequential that emits a Categorical distribution as the actor network by following this behavior cloning [example](https://github.com/tensorflow/agents/blob/5f1660ab2b361aa2c44872507bccf9939b05a997/tf_agents/agents/behavioral_cloning/behavioral_cloning_agent_test.py#L223) . I'm using nightly.

My action and observation specs are defined as:
[code]
I tried to define my

[2021-08-09 13:25] JCMiles commented on #642
Hi, thx for the reply but how can I use those functions if I'm using PolicySavedModelTrigger?

During its init PolicySavedModelTrigger calls self_build_saver(policy) and I get the warning telling me the function I would like to register is untraced. So practically it is ok to ignore the warning and than register the function or I should do something before?

[2021-08-09 15:58] oars commented on #642
The trigger has a `extra_concrete_functions` param where you can pass it.

Roughly you want something like:

[code]

[2021-08-09 18:58] JCMiles commented on #642
ok I had a older version of tf_agents ant that param was missing.
just updated and works fine thx.

[2021-08-09 20:29] ebrevdo commented on #644
What error do you get if you remove the `ExpandDims` layer?  Can you paste the whole thing or gist it?

In general you shouldn't need that; and the Dense layer should be able to handle any shape you throw at it (so long as there's at least one batch dimension).

[2021-08-10 01:58] windmaple commented on #644
I have put the complete code [here](https://github.com/windmaple/tf-agents-bug).

1. Removing 'expand_dims_layer.ExpandDims(-1)' gives:

[code]

2. Replacing 'expand_dims_layer.ExpandDims(-1)' with ' tf.keras.layers.Flatten()' gives:

`ValueError: Input 0 of layer dense is incompatible with the layer: expected axis -1 of input shape to have value 64 but received input with shape (1, 4160)`

It's a

[2021-08-15 12:35] #644 closed, assigned to nobody

[2021-08-17 15:15] diskun00 commented on #529
Hi @greglira , have you found a solution to deal with delayed rewards?

[2021-08-17 17:33] danijar commented on #56
Thanks for sharing this! However, we're not maintaining this codebase anymore so there will be no changes, but feel free to fork it and apply the changes there.

[2021-08-18 12:04] DLPerf opened #646 "Performance issues in the program"
Hello,I found a performance issue in  `tf_agents/utils/example_encoding_dataset.py` ,
[dataset = dataset.map(decode_fn)](https://github.com/tensorflow/agents/blob/b4505ed5021f66c6b7f43b7a082eb5ae8fe41af7/tf_agents/utils/example_encoding_dataset.py#L245) was called without **num_parallel_calls**.
I think it will increase the efficiency of your program if you add this.

The same issues also exist in

[2021-08-20 06:40] HWerneck commented on #643
Sorry bumping this up, but can't anyone help?

[2021-08-20 08:12] diskun00 opened #648 "How can I run learner and actor in parallel"
Hello guys,

I found this cool API learner and actor very suitable for my problem. As my observation operation is a bit time-consuming, I think it will be much more efficient to run them simultaneously. The tutorial ( [SAC minitaur with the Actor-Learner API](https://www.tensorflow.org/agents/tutorials/7_SAC_minitaur_tutorial#training_the_agent) ) seems just split the learner and actor but still e

[2021-08-22 03:40] DBraun commented on #208
This kind of works.
[code]

I'm having more difficulty getting it to work for the [critic_net](https://github.com/tensorflow/agents/blob/2857fbab6021969df99e7b1cd0f4ec66541c3dba/tf_agents/agents/sac/examples/v2/train_eval.py#L154). I might need to do it the long way:
[code]

But then I get some errors, possibly related to it running in eager execution mode.

For instance you can't do
[code]
`TypeE

[2021-08-22 12:10] DLPerf opened #649 "Performance issues in tf_agents/utils/example_encoding_dataset.py (by P3)"
Hello! I've found two types of performance issues in your program:

- `batch()` should be called before `map()`.
- `tf.Session` being defined repeatedly leads to incremental overhead.

You can make your program more efficient by fixing the above two problems. Here are [the tensorflow document](https://tensorflow.google.cn/guide/data_performance?hl=zh_cn#vectorized_mapping) and [the Stack Overflow

[2021-08-26 02:06] sguada commented on #648
Take a look at the distributed example https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed/examples/sac

[2021-08-26 02:07] #648 closed, assigned to nobody

[2021-08-26 02:08] sguada commented on #639
Sorry this issue is not specific to TF-Agents, please redirect to Keras.

[2021-08-26 02:10] #639 closed, assigned to nobody

[2021-08-26 02:10] #633 closed, assigned to nobody

[2021-08-26 02:16] sguada commented on #636
Sorry it's impossible to know whether the problem is in the environment, or that the network cannot learn a good policy.

A few tips to debug it, is only collect data before start training and make sure the training loss can go down.

[2021-08-26 02:16] #636 closed, assigned to nobody

[2021-08-26 20:52] tfboyd commented on #547
7 months later. Sorry.  Great bug details.  The documentation tool will not follow the link to the Tensorflow code to get the docstring to build the API.  I wish it was an quick fix.  Closing as unless the documentation team adds that kind of feature we are highly unlikely to come back to this item and it will just sit and rot.

https://github.com/tensorflow/agents/blob/r0.7.1/tf_agents/specs/tens

[2021-08-26 20:52] #547 closed, assigned to tfboyd

[2021-08-28 01:39] cedavidyang commented on #548
I'm having the same issue. In my case, my action_spec is not an integer. Instead, each action is represented by an array with two entries: `action_spec = BoundedArraySpec(shape=(2,), dtype=np.int32, name="action", minimum=0, maximum=4)`. Any suggestion for this use case?

[2021-08-28 01:47] cedavidyang opened #651 "Normalizing advantages in PPOAgent"
When using PPOAgent, I want to train the agent with one batch of experience from one episode. However, the agent is not learning. I tried to trace the problem in `ppo_agent.py`. It turns out that in the `_train(...)` method, the following code will turn my advantages all to zeros, leading to no learning for the actor net:
[code]
This is because the `_normalize_advantages` function uses a default `

[2021-08-28 22:03] sguada commented on #651
@summer-yue can you run a few comparisons with that change, it maybe a bug. It should normalize advantages across time and across batches.

[2021-08-28 22:12] sguada commented on #651
@cedavidyang can you also try with `axes=(0,1)`?

[2021-08-30 19:04] cedavidyang commented on #651
@sguada `axes=(0,1)` works as well. This will normalize across both dimensions (i.e., batch and time).

[2021-08-30 22:31] summer-yue commented on #651
Thanks for reporting! Looks like a bug to me. Should use (0,1). Let me run a few experiments and see the impact of this, and report back.

[2021-08-31 07:53] cmarlin commented on #476
Changing the network parent from tfagents.network to keras.layer (+ __init__ change) helps me to find where the bug was (error message was clearer)

[2021-08-31 08:15] cmarlin opened #652 "suite_gym.wrap_env fails combining auto_reset=False with wrappers.TimeLimit"
Hi,
the wrap_env function allow to mix a time limit with auto_reset disabled, but TimeLimit reset environment without checking this flag.

Note: it seems that TimeLimit implementation mismatch documentation, as the documentation refers to 'handle_auto_reset' arg and specific processing for batched environment.

Thanks

[2021-08-31 16:16] JCMiles opened #653 "SIGNATURE SERIALIZATION PROBLEM WHEN USING PolicySavedModelTrigger"
Hi team,  I created a short snippet to reproduce the error.

		import os
		from tf_agents.train import learner
		from tf_agents.train.utils import strategy_utils
		from tf_agents.train.utils import train_utils
		from tf_agents.system import system_multiprocessing as multiprocessing
		from tf_agents.train.triggers import PolicySavedModelTrigger

		def train(root_dir, strategy):

			with strategy.sc

[2021-09-01 22:32] #651 closed, assigned to summer-yue

[2021-09-01 22:35] summer-yue commented on #651
Fixed this in https://github.com/tensorflow/agents/commit/c957dea0d736c11891999344dd2c0d9926f89ff3 thank you for catching the issue!

[2021-09-01 23:06] #653 closed, assigned to nobody

[2021-09-01 23:10] #289 closed, assigned to tfboyd

[2021-09-03 12:10] LeoZDong commented on #476
Same problem with td3... Any help is appreciated!

[2021-09-04 09:53] diskun00 opened #654 "TensorNormalizer can't normalize date type tf.float64"
Hi there,

First thanks for this great work!

I recently use StreamingNormalizer to normalize my observation tensor, but encounter some issues with type of tf.float64. After I check the source code,  there is some instruction for tf.float64, but it seems outdated as no dtype argument in _init function.

https://github.com/tensorflow/agents/blob/188ea7958c2f809e745ef0503a3dea0ce7c78d4a/tf_agents/ut

[2021-09-06 00:28] samarth-robo commented on #643
For observations, it seems like the replay buffer is expecting a batch of `[1, 160, 260, 3]` elements of `batch_size = 1` i.e. a tensor of dims `[1, 1, 160, 260, 3]`.

But when you do `trajectory.from_transition(t_step, action_step, next_t_step)` in `collect_step()`, both `t_step` and `next_t_step` have observations of dims `[1, 160, 260, 3]`.

As mentioned in the tutorial, using a driver will mos

[2021-09-07 23:34] cedavidyang opened #656 "PPO policy with ActorDistributionNetwork and discrete action array"
I'm using `PPOAgent` and `ActorDistributionNetwork` with the following action_spec:

[code]

However, I received the following error when the agent was trying to initialize a `PPOPolicy`

[code]

The issue arises when executing the following check in `ppo_policy.py` file (near line 112):

[code]

The `actor_output_spec` of `ActorDistributionNetwork` is an `event_spec` with shape `()`, which is inc

[2021-09-08 01:50] sguada commented on #654
Not sure why using np.array and automatic conversion to tf.Tensor fails, but if you change it to
`observation_list = tf.constant([1, 2, 3], dtype=np.float64)` it works.

[2021-09-08 01:50] #654 closed, assigned to nobody

[2021-09-11 01:32] tfboyd commented on #30
Little cleanup and issue bankruptcy. Issue is ~2 years old. I am sorry that this did not end with a solution. If you find this issue in the future please open a new one and reference this one if desired.

[2021-09-11 01:33] #30 closed, assigned to nobody

[2021-09-11 01:33] tfboyd commented on #41
Little cleanup and issue bankruptcy. Issue is ~2 years old. I am sorry that this did not end with a solution. If you find this issue in the future please open a new one and reference this one if desired.

[2021-09-11 01:33] #41 closed, assigned to nobody

[2021-09-11 01:35] tfboyd commented on #80
Little cleanup and issue bankruptcy. Issue is ~2 years old. I am sorry that this did not end with a solution. If you find this issue in the future please open a new one and reference this one if desired.   I see the comment on April 6th.  I wonder if anyone was using the new PPO, which we use extensively internally and is very well tested.  https://github.com/tensorflow/agents/tree/master/tf_agent

[2021-09-11 01:35] #80 closed, assigned to nobody

[2021-09-11 01:36] tfboyd commented on #95
https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/examples

[2021-09-11 01:36] #95 closed, assigned to tfboyd

[2021-09-11 01:38] tfboyd commented on #164
This bug is no longer listed in the code. It may still exist. I only searched to see if the bug number existed in the code.  Closing issue as stale.

[2021-09-11 01:38] #164 closed, assigned to oars

[2021-09-11 01:40] tfboyd commented on #219
Closing due to age of the issue. I will note that the distributed example with SAC does work with multiple actors.  I have given it a try in in the cloud on a single machine. https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed/examples/sac

[2021-09-11 01:40] #219 closed, assigned to nobody

[2021-09-11 01:41] tfboyd commented on #253
Closing due to age and lack of recent activity.  If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:41] #253 closed, assigned to nobody

[2021-09-11 01:43] tfboyd commented on #420
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:43] #420 closed, assigned to nobody

[2021-09-11 01:44] tfboyd commented on #361
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:44] #361 closed, assigned to nobody

[2021-09-11 01:44] tfboyd commented on #384
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:44] #384 closed, assigned to nobody

[2021-09-11 01:46] tfboyd commented on #474
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:46] #474 closed, assigned to nobody

[2021-09-11 01:48] tfboyd commented on #449
I have no idea if this suggestion was taken, but the people that were working on the learner were tagged as Assignees.  Closing because this is now over a year old with not recent comments. I do appreciate the insightful comment on the API. Thank you.

[2021-09-11 01:48] #449 closed, assigned to oars, egonina

[2021-09-11 01:48] tfboyd commented on #433
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:48] #433 closed, assigned to ebrevdo

[2021-09-11 01:52] tfboyd commented on #283
Looks like the PR was not created and I don't see a link to the commit in the users repo.  This was over a year ago at this point.  I am closing it for now.  I am sorry we did not get this resolved.

[2021-09-11 01:52] #283 closed, assigned to nobody

[2021-09-11 01:53] tfboyd commented on #360
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:53] #360 closed, assigned to kbanoop

[2021-09-11 01:54] #499 closed, assigned to nobody

[2021-09-11 01:55] #494 closed, assigned to nobody

[2021-09-11 01:55] tfboyd commented on #419
Closing due to age and lack of recent activity. If the issue still exists, please open a new issue and reference this one.

[2021-09-11 01:55] #419 closed, assigned to nobody

[2021-09-11 03:12] ghost commented on #499
@sguada that makes sense. Thank you.

[2021-09-20 22:54] emma-resor opened #658 "MaskedCategorical warns about inheriting _parameter_properties from its parent"
I am trying to use an action mask with a DQNAgent and, for the most part, have succeeded. But I have a persistent warning that I can't get rid of.. I think this is a convoluted example of the warning, but this is how I hit it.

### Versions:
tensorflow                         2.6.0
tensorflow-datasets                4.2.0
tensorflow-estimator               2.6.0
tensorflow-metadata

[2021-09-21 01:05] emma-resor commented on #658
I know `MaskedCategorical` needs to define a `_parameter_properties` method to get rid of the warning, and I _think_ this should do it:

[code]

I came to this by mimicking the `Categorical` class's `_parameter_properties` method and removing `probs` (because it is required to be `None`). Would appreciate advice on if this is correct.

[2021-09-21 15:25] dorli commented on #588
Hey,
Any chance to opensource the batch-friendly reverb observer?

[2021-09-21 15:45] Kage18 opened #659 "How to get probability vector for all actions?"
I'm working on Multi-Armed-Bandit problem, using LinearUCBAgent and LinearThompsonSamplingAgent but they both return a single action for an observation. What I need is the probability for all the action which I can use for ranking.
Can someone suggest how to get some kind of score for each action which could be used for ranking.

[2021-09-22 04:23] o0RUI0o commented on #658
I meet the same problem too. How can I turn off this warning? I have tried `os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"`, but it didn't work.

[2021-09-22 12:21] bartokg commented on #659
Hi Kage,
You can tell the agent (actually the policy) to populate this information in the policy info. Just pass the agent the following kwarg at initializiation:
[code]

You can see the reward predictions for all arms in the corresponding field of the policy info. If you are interested, you can also populate PREDICTED_REWARDS_OPTIMISTIC for LinUCB, and PREDICTED_REWARDS_SAMPLED for LinTS.

Hope t

[2021-09-23 06:36] #659 closed, assigned to bartokg

[2021-09-23 12:01] hornstenfilip commented on #641
I was able to fix it. One can check by accessing the action distribution of the policy by
[code]

, stepping through the environment and making sure that the logits are indeed masked out.

[2021-09-23 12:01] #641 closed, assigned to nobody

[2021-09-23 13:25] hornstenfilip opened #660 "Error when calling get_initial_state on loaded policies saved with PolicySaver when batch_size != None"
- OS Platform and Distribution: Google Colab
- TensorFlow installed from: Binary
- TensorFlow version: 2.6.0
- TF Agents version: 0.9.0
- Python version: Python 3.7.12
- Installed using virtualenv? pip? conda?: conda/pip

When I try to call `get_initial_state` on a loaded `SavedModelPyTFEagerPolicy` that was saved with `PolicySaver` whenever the argument `batch_size` is not None, e.g.
[code]
I enc

[2021-09-23 20:45] sikanrong opened #661 "tf_agents.train.Actor: run method doesn't actually run an episode on the first call"
I have the following situation:

[code]

The second call to actor.run() works as expected. The first does nothing, as far as I can tell.

Also note that I can set `episodes_per_run=2`, which also seems to work

[2021-09-23 20:45] sikanrong commented on #661
tensorflow 2.6.0
tf-agents 0.9.0

[2021-09-24 10:34] amarshivaram opened #662 "No attribute 'trajectory_spec' when calling policy.trajectory_spec"
TensorFlow Version: 2.6.0
TF-Agents : 0.9.0

I have used the following lines of code to save my policy

[code]

The policy is saved in the directory.

Now for evaluation, I am loading the policy from the directory as follows

`eval_policy = tf.saved_model.load(os.path.join(root_dir, 'policy'))
`
And using this policy for the test instance of the dataset, I plan on performing the evaluations and so

[2021-09-24 17:47] tsimons89 commented on #658
I am getting the same warning. I just installed tf_agent today. It would be nice to get an answer to this.

[2021-09-25 01:09] atusi-nakajima opened #663 "Display of checkpoint information saved in tf_agents.utils.common.Checkpointer"
I used [save](https://github.com/tensorflow/agents/blob/c584e7642fbb45df79ab78dc8884248871e14f3e/tf_agents/utils/common.py#L1026) in [tf_agents.utils.common.Checkpointer ](https://github.com/tensorflow/agents/blob/c584e7642fbb45df79ab78dc8884248871e14f3e/tf_agents/utils/common.py#L981-L1032) to save the checkpoint file. I would like to see the information (weight values, etc.) of the contents of t

[2021-09-25 15:33] dorli opened #664 "Error when using PPOActorNetwork with a discrete action space environment"
Hi,
I’m trying to adopt the `PPOLearner` pipeline (base on the "schulman17" [example](https://github.com/tensorflow/agents/blob/29111f4ec0505b195830cc0644938ce3091540fe/tf_agents/experimental/examples/ppo/schulman17/train_eval_lib.py)) to my custom environment, which has a discrete action space, but using `PPOActorNetwork` cause the following error:
[code]

I think a similar issue has been reporte

[2021-09-27 14:59] #662 closed, assigned to nobody

[2021-09-27 15:00] amarshivaram commented on #662
No need to initialise replay buffer for eval. Just initialize drivers and run drivers and get the required optimal actions by passing current time step.

[2021-09-30 09:55] shamim237 opened #665 "ValueError: Only scalar actions are supported now!!"
I am getting this error while trying to create a custom environment and feed it to the DQN agent.

**ValueError: Only scalar actions are supported now, but action spec is: BoundedTensorSpec(shape=(1,), dtype=tf.float32, name='action', minimum=array(0., dtype=float32), maximum=array(1., dtype=float32))
  In call to configurable 'DqnAgent' (<class 'tf_agents.agents.dqn.dqn_agent.DqnAgent'>)**

Here

[2021-10-05 15:08] SaralaSewwandi commented on #400
**ISSUE FIXED**
put the code with distributed training code to a separate  method and call it inside the main method.
[Git hub Code](https://github.com/SaralaSewwandi/tensorflow/blob/master/billOcr/openCv.py)

[2021-10-05 18:50] JCMiles opened #666 "Call policy.variables() from a saved model freezes indefinitely"
By following the example at https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed

when calling collect_policy.variables() from a saved model the script freezes indefinitely without giving any error
or warning on how to investigate what's going on.

        variables = {
            reverb_variable_container.POLICY_KEY: collect_policy.variables(),
            reverb_v

[2021-10-05 22:47] kushantp58 commented on #188
can you please let me know which tf version solved this issue.... I'm facing this issue and I did update my tf but it doesn't seem to solve it

[2021-10-07 15:53] sikanrong commented on #661
Two weeks and nothing? Man, `tf-agents` definitely feels like someone's "20% time" project...

[2021-10-07 20:55] sguada commented on #661
Not sure we can help you with that little information.
I will recommend you to debug it and see what happens with the environment and whether is stepping correctly on it..

[2021-10-07 20:56] sguada commented on #666
Can you clarify how did you save your model? and that it can be restored correctly?

[2021-10-07 20:57] sguada commented on #665
Change your action spec to
`array_spec.BoundedArraySpec(shape = (), dtype = np.float32, minimum = 0, maximum = 1, name = 'action')`

[2021-10-07 23:49] summer-yue commented on #664
Sorry about the delay. Thanks for reporting this with a simple and reproducible example.

So first of all, PPO does work with both continuous and discrete action spaces. In theory, it should work for your problem.

Looking closer, it looks likes your `action_spec` says you're working with a discrete action space.

In the `create_sequential_actor_net` helper function, we build a `tfp.distributions.

[2021-10-07 23:54] summer-yue commented on #656
Thank you for reporting. It's a little hard to know exactly what's going on. Could you help print out both `action_output_spec` and `action_spec` so we know why it doesn't match?

[2021-10-07 23:56] summer-yue commented on #548
@cedavidyang I responded in #656 let's follow up there.

[2021-10-08 00:06] summer-yue commented on #663
Underneath you're using tf.train.CheckpointManager.save(). Your question is how to inspect a checkpointed file from Tensorflow.

There's been some discussions about potentially using the `inspect_checkpoint.py` tool
http://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/inspect_checkpoint.py

(full disclosure I haven't used this myself).

If you know the model names and struct

[2021-10-08 00:14] cedavidyang commented on #656
Thanks for following up. My `action_spec` is
[code]
And the `actor_output_spec` is
[code]
I believe the error is because by default, `Categorical` distribution in TensorFlow Probability has an empty `event_shape=()`, which is not consistent with `shape=(10,0)` defined in `action_spec`

[2021-10-08 23:01] summer-yue commented on #656
Thanks for providing the addition information! I think you're right. I was able to reproduce your issue in a simple example in Colab. I'll follow up here with a more robust solution. Thanks for your patience.

import numpy as np
import tensorflow as tf
from tf_agents.specs import array_spec, tensor_spec
from tf_agents.trajectories import time_step as ts
from tf_agents.agents.ppo import ppo_actor_n

[2021-10-09 09:59] sikanrong commented on #661
Thanks for your reply. I will try to condense the issue into a small git repository so that you may reproduce it easily. Will let you know when I do. Kudos.

Sorry for giving you guys shit for not responding to my issue 😂 (on the other hand, it worked.)

[2021-10-09 19:15] sguada commented on #661
Just to be clear, we regularly take a look at issues on GitHub, but we have many other duties, so no critical issues take some time to review. Only critical bugs or issue affecting many users get prompt attention.

I recommend taking a look at our [code of conduct](https://github.com/tensorflow/agents/blob/master/CODE_OF_CONDUCT.md)., and specifically at "Examples of unacceptable behavior by parti

[2021-10-09 21:26] sikanrong commented on #661
Next time that what, exactly?

A user of your open-source software points out that it doesn't do what it purports to do, and then has the utter _gall_ to call you out on zero response after 15 days? Sounds like you guys have a really pragmatic approach towards community management and issue handling. Sheesh.

Next time I run into issues with `tf-agents` I'll just save myself the trouble and be inw

[2021-10-09 21:26] #661 closed, assigned to nobody

[2021-10-11 18:08] sguada commented on #661
If there was no response to your issue, you could just pinged "any updates" on the issue and/or provided more details about it to make it tractable, instead of, as you said:

[2021-10-11 18:15] ayarmak commented on #665
I'm getting a similar error, but I cannot apply the solution by @sguada above, because I need my action to be a tuple of two integers.

My action_spec:
[code]

The error I'm getting:
[code]

Any advice on what I might be doing wrong?

[2021-10-11 18:43] sguada commented on #665
As the error message shows, only scalar actions are supported for DQN, you can however transform your environment to have 1 action which represents the cross-product of all your actions.

[2021-10-11 20:01] sguada commented on #665
Yeah you could manually convert the tuple of actions back and forth, or use

FlattenActionWrapper
https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py#L274

To do it automatically.

Sergio

On Mon, Oct 11, 2021 at 12:19 PM Andrei Yarmak ***@***.***>
wrote:

[2021-10-11 21:41] ayarmak commented on #665
Thanks a lot - this is super helpful @sguada !!

[2021-10-11 22:51] ayarmak commented on #625
I'm getting the same error when I'm trying to replicate [compute_avg_return(eval_env, random_policy, num_eval_episodes)](https://colab.research.google.com/github/tensorflow/agents/blob/master/docs/tutorials/1_dqn_tutorial.ipynb#scrollTo=9bgU6Q6BZ8Bp&line=1&uniqifier=1) line from the official DQN Tutorial for my custom environment.

It looks like the error is caused by env.reset() adding one more d

[2021-10-11 22:55] sguada commented on #625
As you can see in the error message the shape of the `observation` has changed from `[5, 5, 3]` to `[3, 5, 2]` so I suppose there is an error in your environment.

[code]

[2021-10-12 00:05] ayarmak commented on #625
@sguada You're exactly right, looks like it was indeed an issue with my environment. First, the observation specs were defined as (5, 5, 3) instead of (3, 5, 5). Second, there was an edge case in the environment logic due to which the last dimension wasn't being fully populated sometimes.

Thanks a lot for helping out!

[2021-10-13 05:06] dorli commented on #664
Hi @summer-yue , thank you very much for the response.
I will try to follow what you wrote and reopen it if needed.

[2021-10-13 05:06] #664 closed, assigned to nobody

[2021-10-19 12:46] JCMiles commented on #666
Sorry for the delay. I was hospitalized for a while. The problem was the incorrect setup of the reverb port. After fixing it the update collect_policy.variables() worked fine.

[2021-10-19 14:27] DriesSmit commented on #588
+1

[2021-10-19 14:56] KaleabTessera commented on #588
+1

[2021-10-19 19:29] rolego opened #669 "Unable to install tf-agents: tf-agents 0.5.0 does not provide the extra 'reverb'"
Dear all. I'm not able to install `tf-agents[reverb]` as described in the installation instructions as well as in the tutorial `1_dqn_tutorial.ipynb`. For some reasons pip ends up installing version 0.5.0 and prints out the following warning:
[code]
As a consequence the tutorial notebook does not work since 'reverb' cannot be imported.

Bellow you find the complete log of executing `pip install tf

[2021-10-20 05:57] rolego commented on #669
Meanwhile I found in the docs of reverb that Mac OS is not supported:
https://github.com/deepmind/reverb/blob/master/README.md

Working within a docker container seems to be working though.

Closing this issue.

[2021-10-20 05:57] #669 closed, assigned to nobody

[2021-10-20 08:48] archilk commented on #617
@Loganpi  Thanks! your solution worked for me

[2021-10-20 11:23] saleh-mir commented on #617
@Loganpi @archilk are you guys on M1 too?

[2021-10-20 12:36] Loganpi commented on #617
Yes, I am on M1, but I built a little workstation to port which I use for all my ML processing

[2021-10-20 15:39] archilk commented on #617
Yes @saleh-mir

[2021-10-24 19:10] SubaruSpirit commented on #617
Did you install the x86 version or the arm version? I tried to follow the Bazel guide to do below, but it gives me `bad substitution`, not sure which guide you use and how do you install it?

[code]

[2021-10-24 19:11] SubaruSpirit commented on #617
How did you install the Bazel? Which guide do you use and did you install the x86 or the arm version? Thanks.

[2021-10-24 20:26] SubaruSpirit opened #671 "m1 Mac successfully install tf-agents, but failed to import it"
After successful installation and running of tensorflow, I tried to install the tf-agents by

[code]
It did successfully install it but gives me a warning `WARNING: tf-agents 0.5.0 does not provide the extra 'reverb'`

Then I tried to import `from tf_agents.agents.dqn import dqn_agent`, and it gives me the below error message. Please help. Would be good to have a guide on how to install tf-agents

[2021-10-24 20:40] sguada commented on #671
Try `pip install --upgrade --user 'tf-agents[reverb]'`

[2021-10-24 20:49] SubaruSpirit commented on #671
I've tried that, and it won't upgrade the tf-agents, still at 0.5.0, I tried force it to install 0.9.0, but it will fail to import  as a separate issue.

[2021-10-24 21:49] SubaruSpirit commented on #671
I've tried `pip install tf-agents`, which it will install the latest version 0.10.0, but it gives me the same error message when I try to import it.

[2021-10-24 22:46] Loganpi commented on #617
Sorry, but I forgot. It was a long time ago.

On Sun, Oct 24, 2021 at 3:12 PM SubaruSpirit ***@***.***>
wrote:

[2021-10-25 20:08] alex-seto opened #672 "Offline Contextual Bandits"
Hello all!

I have been playing with LinUCB in an attempt to set up a recipe recommendation system using historical data. I have read through the original LinUCB paper as well as http://www.gatsby.ucl.ac.uk/~chuwei/paper/wsdm11.pdf. To my understanding, the implementations of linUCB in tf-agents are designed to be online learning algorithms where the models of the environment are pretty much compl

[2021-10-26 09:20] bartokg commented on #672
Hi Alex,
You can call the train function on historical data, with any tf-agent agent, including LinUCB. You need to instantiate an agent, load the data, make sure the data is in the form of "trajectories". Then you can just call `agent.train()` on it. After training, you can call `agent.policy.action()` to choose an action on fresh observations.
Hope this helps.
Gabor

[2021-10-31 08:51] saleh-mir opened #674 "Error when using a simple custom env with the DQN example of the docs"
Hi there. Thank you for your wonderful job.

Months ago I wrote a custom ENV for a simple RockPaperScissor game that worked. Now, it doesn't with the latest changes. I realized there have been some changes. So first I got the [DQN example](https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial) for the docs working, then replaced it with my custom env.

My custom env now **works** for `compute

[2021-11-01 17:52] sguada commented on #674
Not sure, but my guess is that your environment or the specs has some bug.

For example

`maximum=np.full(10, 3, dtype=np.int32), `
should be
`maximum=np.full(10, dtype=np.int32),`

[code]

[2021-11-01 17:57] sguada commented on #671
Try installing `reverb` first by itself if `pip install tf-agents[reverb]` doesn't work.

[2021-11-01 17:57] #671 closed, assigned to nobody

[2021-11-01 18:00] #666 closed, assigned to nobody

[2021-11-01 18:21] saleh-mir commented on #674
Thank you Sergio for your reply!

The `np.full()` function requires a second parameter and is different than np.zeros. Running `np.full(10, dtype=np.int32)` would produce:
[code]

Also my env is passing all the other usage and tests such as:
[code]
And
[code]

However, I just thought to run the custom env that is in the [docs](https://www.tensorflow.org/agents/tutorials/2_environments_tutorial#cre

[2021-11-01 18:33] sguada commented on #674
Oh maybe it's because maximum and minimum are inclusive, so try
`maximum=np.full(10, 2, dtype=np.int32),`

[2021-11-01 18:33] #674 closed, assigned to nobody

[2021-11-01 18:52] saleh-mir commented on #674
Yes, that was it! What's odd is that this code worked months ago with the version at the time.

Anyways, thank you so much! It would be even greater if you guys added support for Apple Silicon machines. I appreciate your time.

[2021-11-04 02:48] PascalReich commented on #643
I have this problem right now. Any news?

I was thinking it could it be the differing 'policy_info' field, but I just ran into more errors later on.

[2021-11-04 09:10] DLPerf commented on #57
Hello, I'm looking forward to your reply~

[2021-11-04 09:13] DLPerf commented on #649
Hello, I'm looking forward to your reply~

[2021-11-04 17:27] sguada commented on #649
In this case the optimization potential is minimal since it's only run once to encode/decode a dataset.
Also in this case batch cannot be called before map.

[2021-11-04 17:27] #649 closed, assigned to nobody

[2021-11-04 22:19] danijar commented on #57
Thanks for the suggestions! The code is in archived state, so I won't make those changes. But please feel free to fork it and create a better version if you like.

[2021-11-10 07:52] #672 closed, assigned to bartokg

[2021-11-12 10:15] archilk commented on #617
@SubaruSpirit  I installed the arm version for M1 mac

[2021-11-14 17:04] lonaeyeo commented on #656
Hi, I received the same error when using ppoAgent,.  I tried your code, but i still received the error.
I tried that on two versions of tf-agents.
version 1:
tf-agents: 0.8.0
tensorflow: 2.5
python: 3.8

version 2:
tf-agents: 0.9.0
tensorflow: 2.6
python: 3.7

[2021-11-15 19:28] ULudo opened #675 "TypeError when using 'check-numerics' in combination with 'PolicySavedModelTrigger'"
If I enable tensor numeric checking and  initialise a Learner with a PolicySavedModelTrigger I get the following error:

You can recreate this error if you execute the TensorFlow tutorial ['SAC minitaur with the Actor-Learner API'](https://www.tensorflow.org/agents/tutorials/7_SAC_minitaur_tutorial) in Colab and enable tensor numeric checking at the beginning of the file with the following command

[2021-11-17 02:12] JCMiles opened #676 "Setup for Actor-Learner API for Distributed Collection and Training in a Cluster"
Hi Team, I'm trying to run the Actor-Learner API for Distributed Collection and Training as exaplained here:
https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed/examples/sac
but on multipe machines.

Based on Reverb docs, let's say I have 3 machines
        A > IP: 227.57.48.210
        B > IP: 227.57.48.211
        C > IP: 227.57.48.212

        1. on machine A ->

[2021-11-17 21:30] kochlisGit opened #677 "TF-Agents LSTM Network Input Size"
I am trying to implement a PPO (Proximal-Policy Optimization) agent with LSTMs in Actor and Value networks with TF-Agents. However, I can't figure out how to set the network's input size. E.G. I have an observation of shape (13,), but I want to feed a sequence of 10 observation to the LSTM networks.

- I tried setting the observation_shape to (5,13), but then I got an error saying that the network

[2021-11-19 11:10] Spiegel-Leser opened #678 "Loss is inf or nan, bug?, example file attached!"
Training the agent often fails with message "Loss is inf or nan". I found another thread where missing normalization was the culprit. I don't know what that is about, I could find nothing about normalization in the documentation (but maybe I just searched wrong). Can you clear this up for me?

Debugging shows
dqn_agent.py, l. 451: transition = self._as_transition(experience)
calls
data_converter.p

[2021-11-19 16:14] tfboyd commented on #676
@JCMiles   I have failed before to set expectations.  I am looking at distributed training (using multiple machines) on google cloud.  To share the model I think you can put it in a GCS bucket as the location.  I am 99% sure we are using the tensorflow checkpoint reader which supports a bunch (I think a bunch is the right word) of network storage options that are not file system native, e.g. GCS a

[2021-11-21 09:39] sunsibar commented on #188
If you are using TF 1, the updated version might be 1.15.0. I got the error with 1.14.?, and updating to 1.15.0 seems to have solved it.

[2021-11-22 11:00] Spiegel-Leser opened #679 "Debugging in dqn_agent.py"
As pointed out in [#678](https://github.com/tensorflow/agents/issues/678), I get a "loss is inf or nan" error in
[code]
even though the experience has no inf or nan. I try to get more information by stepping into this line, but in a try block I just pass over to the except:, without try the error gets raised. If I put a breakpoint into

C:\Users\[me]\AppData\Local\Programs\Python\Python39\Lib\site

[2021-11-22 23:18] sguada commented on #679
Yes, you can enable debug_summaries to get more detailed summaries, and also you can set up breakpoints and debug the code.

[2021-11-24 22:03] #677 closed, assigned to nobody

[2021-11-24 22:38] Spiegel-Leser commented on #679
Debugging works now, using both debug_summaries in creating the agent and justMyCode = false in the debugging options of VS.

[2021-11-24 22:38] #679 closed, assigned to nobody

[2021-11-24 23:05] Spiegel-Leser opened #680 "policy doesn't consider action constraint splitter when loaded from PolicySaver"
irrelevant old issue description

[2021-11-25 09:09] kochlisGit opened #681 "PPOAgent Entropy Regularization, Clipping, GAE are working Incorrectly"
I have been trying to implement a PPO Agent that solves LunarLander-v2 as in the official example in the github repo:
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval_clip_agent.py

In this example, a PPOClip agent is used. However, I would like to use both Clipping & KL-Penalty, so I used the PPOAgent class, that provides both options according to the d

[2021-11-25 09:31] sidney-tio commented on #37
https://gist.github.com/sidney-tio/66abada949f1b629dd9ee28777d402d5

For anyone looking for a quick implementation: I made a work around based on the suggestion by @PeterZhizhin

If the team likes, I could make a proper PR for this as well.

[2021-11-25 20:42] anuprulez commented on #136
Upgrading tensorflow to 2.7 from 2.6 solved the issue for me

[code]

[2021-11-29 00:13] samarth-robo opened #682 "allow preprocessing combiner for CriticRnnNetwork"
It seems like replacing `utils.mlp_layers` with `EncodingNetwork` in `CriticRnnNetwork` will allow the use of preprocessing combiners for actions and observations.

This critic network is used for SAC agents. The `ActorDistributionRnnNetwork` already supports this.

[2021-11-30 02:15] wangdong-ivymobile commented on #658
got the same warning

[2021-11-30 05:49] wangdong-ivymobile commented on #658
I found that `tensorflow-probability` logs the warning with the root logger, and maybe that's why `TF_CPP_MIN_LOG_LEVEL` has no effect on it.
Using `logging.disable(logging.WARNING)` can disable the warning.

[2021-12-01 06:45] vamsianumula commented on #620
Hi, I'm new to this and I would love to contribute to this project. Can someone guide me?

[2021-12-01 12:19] JCMiles commented on #676
@tfboyd sorry for the delay I just saw this. Thx for your effort. It would be amazing to have a clear documentation about the correct  setup for this type of training pipeline. My timezone is UTC+2 so let me know what time fits you better. I'm available for chatting tomorrow and on friday.

[2021-12-03 10:57] Spiegel-Leser commented on #680
I was mistaken about something, this is a non-issue.

[2021-12-03 10:57] #680 closed, assigned to nobody

[2021-12-06 11:49] Spiegel-Leser opened #683 "Check replay buffer use, resize"
I'm wondering if bad performance of the agents might be because the buffer size is too small.

Is there a way to check the amount of buffer used?

Is there a way to resize (enlarge) the buffer?

Edit: I found that the buffer has 0 trainable_variables (Why?) and in non_trainable_variables the last id used is 1,350,249
[code]
with a capacity of 1,000,000. If all experience should be reused, the buff

[2021-12-06 12:24] Spiegel-Leser opened #684 "DQN agent good for stochastic game? What other technique would be better?"
Browsing through freely availabel sources I find both statements: DQN is good / is not good for stochastic environments.

As far as I understand it, the Q-Network predicts the expected return of an action in a state, which can then be used to decide e.g. greedily; and training makes that prediction better. If the environment is stochastic, repeated learning should nudge the prediction to the distr

[2021-12-08 21:34] summer-yue commented on #681
Thank you for raising this issue, and your detailed description of the problem!

Could you please try this with our new examples https://github.com/tensorflow/agents/blob/master/tf_agents/examples/ppo/schulman17/ppo_clip_train_eval.py

The new versions of examples are nightly tested and verified against reported numbers from the paper (thus more reliable).

Once you try the new examples, could you

[2021-12-08 21:35] summer-yue commented on #681
In the mean time, our team will look into pointing users towards our new examples better, as opposed to the older version. Thanks again.

[2021-12-10 09:23] kochlisGit commented on #681
I have have tested 3 times PPOClipAgent in LunarLander-v2 using the example
https://github.com/tensorflow/agents/blob/master/tf_agents/examples/ppo/schulman17/ppo_clip_train_eval.py

It is working fine. The agent learns & converges quickly. Then I added entropy regularization = 0.01, which didn't change much in the training process (GAE was True by default). . In order to use KL parameters, I had

[2021-12-16 23:22] Stone013 opened #685 "problem in saving dqn model with specified rnn_construction_fn"
Hi.
My model is created with this:

rq_net = q_rnn_network.QRnnNetwork(
    env.observation_spec(),
    env.action_spec(),
    output_fc_layer_params=(32,64),
    rnn_construction_fn = tf.keras.layers.GRU,
    rnn_construction_kwargs={'units':32,'return_state':True, 'return_sequences':True},
    ).

I can train it but in training loop after I done bellow:

experience, _ = next(iterator)
tf_agent.t

[2021-12-17 10:16] Spiegel-Leser commented on #678
The problem returned, so reopening this

[2021-12-18 00:44] Stone013 commented on #685
I think that I find the problem in lstm_encoding_network.py.
when we change
`rnn_construction_fn(**rnn_construction_kwargs)`
to
`rnn_wrapper.RNNWrapper(rnn_construction_fn(**rnn_construction_kwargs))`
problem will be solved.

[2021-12-18 00:44] #685 closed, assigned to nobody

[2021-12-23 02:52] gzroy opened #686 "DQN tutorial not fit for MountainCar"
Hi, I have tried the DQN tutorial, it works well for the CartPole, but when I change to MountainCar, it could not work, even the loss is converge, but the average return for the evaluation still keep on -200. I have adjusted the model param, gamma, epsilon_greedy, but it still can't work. Does anyone successfully use the DQN to solve the MountainCar problem?

[2021-12-23 12:43] Spiegel-Leser commented on #678
Perhaps noone answers this thread because you cannot reproduce the behaviour. I wrote a file that produces the nan values, attached. Please help me!
[produce_nan_bug.zip](https://github.com/tensorflow/agents/files/7769329/produce_nan_bug.zip)

[2021-12-27 06:26] Enzodtz opened #689 "[Docs] DQN doc is not showing the actual purpouse of it."
Hey,

[DQN Docs](https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial) is showing an example where the agent generates lots of random data, and then use this data to feed the agent. This is actually not the porpouse of DQN, it should actually feed the agent with data that is being generated after some previous progress was made. It should do a step, get data, feed it into the agent, learn an

[2021-12-28 03:21] #689 closed, assigned to nobody

[2021-12-30 10:03] MJamshidnejad opened #692 "InvalidArgumentError: Must have updates.shape = indices.shape + params.shape[1:] or updates.shape = []"
I have a problem with this simple code.

[code]
Error:

[2021-12-30 16:17] qy2205 opened #693 "Unable to save trained tf policy"
I am using tf-agent '0.10.0', tensorflow '2.7.0'
Here is the code for saving the DQN policy

[code]

I got the following error

[code]

Does anyone know how to solve this?

[2021-12-30 16:59] oars commented on #693
You can use the nightly version, or patch https://github.com/tensorflow/agents/commit/137aa250333ee2e3b87df380c16daf49f66baffe

Once everyone is back at the office we'll get a new release out.

[2021-12-30 16:59] #693 closed, assigned to nobody

[2021-12-31 16:18] YacineKaci commented on #643
Hi,

In replay_buffer, you specified: data_spec=agent.collect_data_spec
Or PPO agent and RandomTFPolicy agent have different data_spec.
(PPO algorithm gather n_steps step/trajectories at each iteration)

As opposite to DQN agent, the PPO agent don't need to instantiate the replay buffer with trajectories build from random policy.

[2022-01-03 10:30] sidney-tio opened #694 "Projection Network for more than 1 action with differing action spaces"
Following the discussion from #37, I developed a `MultiCategoricalProjectionNetwork` that splits logits and creates the respective `Categorical` distribution. I tried to adhere to the same pattern as far as I could; It can be found here: https://gist.github.com/sidney-tio/66abada949f1b629dd9ee28777d402d5

If the team would like, I could raise a PR based on the gist I developed. From what I see, th

[2022-01-04 17:38] sguada commented on #692
The data needs to have the batch dimension that you specified for the buffer. Ex:
[code]

[2022-01-04 17:38] #692 closed, assigned to nobody

[2022-01-04 18:01] sguada commented on #678
Although that code adds `NaNs` when converted to `Trajectory` those are discarded and it shouldn't be there.

[2022-01-04 20:07] Spiegel-Leser commented on #678
I don't understand. As stated above the NaNs definititely produce the error during training. How can I make that error description better for you?

[2022-01-04 21:59] sguada commented on #678
What I meant is that code shouldn't be the cause of the `NaNs` you are seeing in training, unless there is some problem with the data. It's hard to know how you got NaNs in your training loop, but yeah debugging the inputs to DQNAgent.train(), which shouldn't contain any NaNs is a good first step.

When you run any of the existing examples do you see a similar error? or it just in your specific ex

[2022-01-04 22:03] sguada commented on #686
MountainCar is a challenging problem for DQN, since it requires very good exploration, which epsilon-greedy, which is typical in DQN cannot handle. You may need to try Bootstrapped-DQN or other algorithms that have better exploration capabilities. See https://github.com/deepmind/bsuite

[2022-01-04 22:04] sguada commented on #694
Have you tried instead having a nested action space? In which each action can have different number of actions?

[2022-01-04 22:05] sguada commented on #683
The capacity control the size of the Buffer, you can adjust that depending of the problem.

[2022-01-04 22:05] #683 closed, assigned to nobody

[2022-01-05 04:32] lailahcougar commented on #476
I resolved this by using  tf_agents.agents.ddpg.actor_network.ActorNetwork.
tf_agents.networks.actor_distribution_network.ActorDistributionNetwork does not work.

[2022-01-06 18:27] windowshopr opened #695 "Reverb issue with DQN tutorial"
Buckle up for this one. New user trying to get this working.

My environment is:

Python 3.8
Windows 10
Tensorflow 2.7.0
TF_Agents 0.11.0
(...which according to [this page](https://www.tensorflow.org/agents/overview#releases) is correct. NOT using nightly)

So, when I run the DQN tutorial on my machine, I get:

[code]

Which is fine as I ran my installs separately, but looking at the TF-Agents doc

[2022-01-06 18:41] sguada commented on #695
Try
[code]

[2022-01-06 19:03] windowshopr commented on #695
Thanks, I tried that now. Installed TF==2.2.0 but got that "probability" version error again (my bad), so I installed 2.7.0, and now get:

[code]

...so this is probably some other kind of version issue?

[2022-01-07 01:26] windowshopr commented on #695
I see that dm-reverb is only available on Linux based OS's, I wonder if that's an issue in all this? Would be good to see the DQN tutorial updated for all OS's.

UPDATE

Yeah, so upgrading to Tensorflow 2.7, the latest TF-Agents, and the latest TF-Probabilities works now, up until importing reverb, which is not available for Windows currently, so this issue can be closed, but it would be good to s

[2022-01-09 18:03] kubistmi opened #698 "LinearBanditAgents stuck always selecting only the first action with tikhonov_weight=0"
Hey everyone!

I've been recently playing with Linear Bandits and during one of my experiments I have found out that neither [LinTS](https://github.com/tensorflow/agents/blob/master/tf_agents/bandits/agents/linear_thompson_sampling_agent.py) nor [LinUCB](https://github.com/tensorflow/agents/blob/master/tf_agents/bandits/agents/lin_ucb_agent.py) agents work with `tikhonov_weight=0`. While there is

[2022-01-11 18:48] sidney-tio commented on #694
No, I don't think I have tried that. I assume you are referring to something like a `gym.spaces.Dict` type of nested structure where we could specify `{'action1': 4, 'action2': 3}`? Could you elaborate further?

[2022-01-12 01:38] sguada commented on #694
Yeah you can use `gym.spaces.Dict` or directly nested `ArraysSpecs` to define the actions. Then each one can have their own `Categorical` distribution and sampling will sample all of them.

[2022-01-13 08:37] gzroy commented on #686
Thanks sguada for your kindly reply! Yes you are right that MountainCar need more good exploration. I found a simple solution to solve that, just load the environment with unlimited steps setting, for example suite_gym.load(env_name, max_episode_step=0). The default setting will limit the episode step to 200, while set it to 0 could be unlimited.

[2022-01-13 08:37] #686 closed, assigned to nobody

[2022-01-13 11:07] sidney-tio commented on #694
my current workflow was to generate a spec from a `gym.spaces.MultiDiscrete` instance before creating the network.

I can see why something like a nested action space would be useful. I also just tried from a `gym.spaces.Dict`; would need loop through the iterable before generating the respective `Categorical` distributions.

i'll add a function to check for iterable and extract the relevant infor

[2022-01-14 21:46] sibyjackgrove opened #699 "Using Actor- Learner API and reverb for PPO agent"
I am trying to adapt the SAC minitaur tutorial which uses the Actor-Learner API and reverb to work with the PPO agent. I changed the `tf_agent `from  `sac_agent.SacAgent` to the `ppo_clip_agent.PPOClipAgent`

[code]

However, I keep getting this error when the training loop starts and  `collect_actor.run()` is encountered. Could you point me to what else I must change to get the PPO agent working

[2022-01-15 01:08] sguada commented on #699
You also need to use the `PPOPolicy` which will collect and the proper extra information. Take a look at https://github.com/tensorflow/agents/blob/master/tf_agents/examples/ppo/schulman17/train_eval_lib.py

[2022-01-17 17:04] sibyjackgrove commented on #699
@sguada Thank you for the link to this code. I had missed this and this is exactly what I want. I see that there is  `num_environments ` parameter on line 175. Can this code spawn parallel environments and collect data from all of the like what we could do in [previtrain_eval_clip_agent.py](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval_clip_agent.py).

[2022-01-17 22:32] profPlum commented on #197
@kbanoop This doesn't make sense though because a PythonEnvironment will return an ArraySpec for the action spec (tested with gym environment wrapped in gym_wrapper.GymWrapper()).

That implies that they will be valid & yet it appears they are not.

[2022-01-18 01:45] profPlum commented on #699
I'd like to know this also

[2022-01-19 20:29] sibyjackgrove opened #702 "Is there any agent implemented that can work with MultiBinary action space?"
All the available examples use environments that have either discrete or continuous action spaces. My problem requires the agent to use a multi-binary action space. Does tf_agents support that?

[2022-01-19 23:52] sibyjackgrove commented on #664
@dorli Were you able to do this? I don't see any documentation on how `create_sequential_actor_net` can be modified.

[2022-01-20 16:19] sibyjackgrove commented on #656
@summer-yue  @lonaeyeo The above code results in the following error:

[code]

To make it work we need to change action_spec to be a scalar.
`action_spec = array_spec.BoundedArraySpec(shape=(), dtype=np.int32, minimum=0, maximum=4, name='action')
`

[2022-01-21 18:58] TheGreatRambler commented on #656
Any updates on this? I would prefer to be able to use a discrete action space rather than being stuck to a scalar, and I've heard commenting out the check creates other problems

[2022-01-21 23:09] sibyjackgrove commented on #656
@TheGreatRambler Perhaps I should have been more clear. You can use Discrete action space. What I meant was that the action has to be a single integer value and not a vector of integer values.

[2022-01-23 20:40] TheGreatRambler commented on #656
Oh sorry, I'm a bit new to terminology. I need to be able to use a vector of integer values. I commented out the check and the agent appears to be running, but is it actually learning?

[2022-01-23 21:04] TheGreatRambler commented on #656
The spec in question. The first 2 integers are joystick axis, the last 3 are booleans where 0 to 32767 is false and above is true.
[code]

[2022-01-24 21:11] sibyjackgrove commented on #699
@profPlum It seems parallel environments may not work with Reverb. So I am using the [`train_eval_clip_agent.py`](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval_clip_agent.py)  for now.

It seems `train_eval_clip_agent.py`  will not work due to an error in `parallel_py_environment.ParallelPyEnvironment.` To make it work you have to replace:
[code]
with

[2022-01-24 21:20] sibyjackgrove commented on #656
@TheGreatRambler I don't think the above spec will work if you have a mixture of booleans and integers. Joystick axis positions would be continuous actions. I think you will need two actor networks, one for the boolean values and one for the continuous integers.

[2022-01-25 17:07] Error-Message123 commented on #504
Was this issue solved and if so how?

[2022-01-27 10:40] amarshivaram opened #703 "InvalidArgumentError: Exception encountered when calling layer "dynamic_unroll" (type DynamicUnroll)"
I am trying to run a QRNN Network with Neural LinUCB Agent.
My parameters are as follows:
[code]
I have defined my QRNN Network in the following way:

`network = q_rnn_network.QRnnNetwork(
          input_tensor_spec=env.time_step_spec().observation,
          action_spec=env.action_spec(),
          lstm_size=(28,),
          # rnn_construction_fn=tf.keras.layers.LSTM,
          # rnn_constructio

[2022-02-02 17:57] kubistmi opened #704 "time_step.restart doesn't respect the supplied reward_spec.dtype"
Hey everyone!

I've been trying to implement with custom TFEnvironment and realised the [`trajectories.time_step.restart`](https://github.com/tensorflow/agents/blob/4c8d922b75b9539f3b3606547ca416a658e9cb70/tf_agents/trajectories/time_step.py#L111) always returns rewards with `dtype=tf.float32`, even when provided a `reward_spec` with a different `dtype` (e.g.`tf.float64`).
This leads to some confu

[2022-02-02 18:33] sguada commented on #704
Thanks Michal, it seems that you discovered a conner case that wasn't handle properly, please go ahead and create a PR.

[2022-02-11 12:12] lamhoson commented on #504
Yes. Thanks.

[2022-02-14 17:10] kubistmi commented on #704
Sure, I have opened the PR here #707

[2022-02-15 14:42] luzgui commented on #423
Hello, Im having the same issue. I wonder if @kaiyun717 managed to solve.
I can log different metrics and different runs in tensorboard but I am not sure how to write the Q-network to the logdir

[2022-02-16 13:00] kuanghuei commented on #702
I think you can just map it to 1-d discrete space, probably the easiest way to implement.

[2022-02-16 13:00] #702 closed, assigned to nobody

[2022-02-16 19:31] sibyjackgrove commented on #702
@kuanghuei  Is there any actor-network currently available in TF agents that supports an1-D discrete space?

[2022-02-17 18:18] scrungus commented on #625
I seem to have the same error, and I can't see the obvious error in my custom environment.

I have a custom gym environment wrapped in a PyEnvironment, wrapped in a TFPyEnvironment. Upon resetting, the TFPyEnvironment seems to change the shape of the observation.

Here is the observation_space spec of the gym env:

[code]
Here is the return of the `reset()` method:
[code]
And of the `step()` metho

[2022-02-18 11:02] annatn998 opened #708 "Loading Error"
I am trying to use:

`suite_gym.load(env_name)`

Registering it with this code:

`from gym.envs.registration import register`

[code]

`gym.make()` works perfectly so I know that the environment has successfully registered. However, when I call suite_gym.load() I get this value error:

[code]
I have tried so many different things and I'm really stuck. If you could help with this it would be really

[2022-02-18 15:39] annatn998 commented on #708
I resolved it! So there was an issue with the self.observation_space variable in my environment class! So I fixed that and it no longer registers a None value. If you have this issue later on check to make sure you have a correct self.action_space() and self.observation_space()

[2022-02-18 15:39] #708 closed, assigned to nobody

[2022-02-18 17:06] scrungus commented on #625
This doesn't appear to be a problem, as it happens when the observation_space is just a `gym.spaces.Box` as opposed to a dict.

When `self.observation_space =gym.spaces.Box(np.float32(0), np.float32(3), shape=(size*size*3,)) ` in the custom gym environment, the TFPyEnvironment reset returns a BoundedTensorSpec of shape (1,27), and it works fine with RandomTFPolicy and the PyDriver. However when it

[2022-02-19 04:47] kaiyun717 commented on #423
@luzgui Hello! I checked my old code and found the way I did it. Please note, however, that this was back in January 2021, and I have not used TF-Agents since. So the code and comments I made back then may not work, but it'll give you a good idea of how to start!

(Below is my documentation back in Jan, 2021)

## Graph in Tensorboard
In Tensoboard eager mode, you need to use the `@tf.function` dec

[2022-02-22 02:19] Michael5593 opened #710 "can this demo run in windows os?"

[2022-02-22 16:02] Dominik1123 commented on #625
@scrunguss The issue seems to lie with the spec of `legal_moves`: the error message says that it expected a scalar (`TensorShape([])`) but received a tensor of length 9 (`TensorShape([1, 9])`; ignoring the `1` batch dimension here).

According to the docs of e.g. [DQN Agent](https://github.com/tensorflow/agents/blob/24e878a697be418307cfbff69724d86be767719d/tf_agents/agents/dqn/dqn_agent.py#L130),

[2022-02-22 16:07] sguada commented on #702
PPO https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/ppo_agent.py supports 1-D discrete spaces.

[2022-02-22 22:56] sibyjackgrove commented on #702
@sguada Thanks for the update. I will try it out.

[2022-02-23 17:50] coreyleveen opened #711 "Using Tensorboard Profiler with tf_agents"
Hi there,

I'm trying to use the Tensorboard Profiler to profile GPU usage when training a TF agent, however it seems that the profiler requires callbacks to be used like so:

[code]

However I can't figure out how to use such a callback in a TF agent training scenario, e.g. passing one to the `train` method.
I see that Tensorboard summaries are used as in [this example](https://github.com/tensorf

[2022-02-26 22:29] sdre15 opened #713 "ValueError: Exception encrounted when calling layer "QNetwork" (type QNetwork)"
TF-Agent Version: 0.12.0
TF Version: 2.8.0
Python Version:3.7
So I'm trying to create a Q-Learning network for to train a computer to learn how to solve a rubrix cube. However, I have the issue where my input only takes 2 input instead of 1 input representing the action.

Initialization of Rubrix Cube
[code]

Here is how I setup my Q-Network
[code]

Expectation:
I create a q learning nerual networ

[2022-02-26 22:41] sdre15 commented on #713
Hmmm, I got it to work by turning the
shape of the observation_spec boundedarrayspec from (1, len(cube.to_matrix())) to (len(cube.to_matrix()))

But now I'm getting the previous issue I had with OpenAI Gym
https://stackoverflow.com/questions/71261921/how-to-flatten-a-tensorflow-policystep-timestep-and-trajectory

How would I flatten a trajectory?

[2022-02-26 22:44] sdre15 commented on #713
It weird because TensorFlow environment automatically generates an observation of
<tf.Tensor: shape=(1, 54, dtype=int32, numpy=array([[list of values]]))>
however, I've already inputted
self._observation_spec = BoundedArraySpec((len(cube.to_matrix()),), dtype=np.int32, minimum=0, maximum=len(cube.matrices) - 1, name='observation')

It should only generate a 1D array and not a 2D matrix.

[2022-02-26 22:47] sdre15 commented on #713
When I remove TFPyEnviroment from the RubricCubeEnv, I get the 1D array, but now I'm back on the original problem.

[2022-02-27 01:27] sdre15 commented on #713
ValueError: The agent was configured to expect a `sequence_length` of '2'. Value is expected to be shaped `[B, T] + spec.shape` but at least one of the Tensors in `value` has a time axis dim value '1' vs the expected '2'.
First such tensor is:
        value.step_type.
Full shape structure of value:
        Trajectory(
{'action': TensorShape([1, 1]),
 'discount': TensorShape([1, 1]),
 'next_step_ty

[2022-03-02 07:10] sidney-tio commented on #694
hello, not sure if it was missed, but the PR for this issue is up. Could I request for a review please?

[2022-03-03 20:09] robinsxdgi opened #719 "question about 3_policies_tutorial"
Hello,

I have a question while reading the [3_policies_tutorial.ipynb](https://github.com/tensorflow/agents/blob/master/docs/tutorials/3_policies_tutorial.ipynb).

In TensorFlow Policies, Example 2: Actor Policy (as a screenshot below), where is this **action_spec** variable (highlighted in blue) defined? Is it inherited from its parent Class, **network.Network**, but if so which part in the pare

[2022-03-04 03:31] sibyjackgrove commented on #702
@sguada I get the error  `actor_network output spec does not match action spec` when I try 1-D discrete action space with PPO agent. I have opened #720 with the details. Any suggestion to solve this would be highly appreciated.

[2022-03-04 03:32] sibyjackgrove commented on #656
@cedavidyang Were you able to figure out a fix for this error?

[2022-03-07 15:12] coreyleveen commented on #711
It turns out this can be accomplished using the `tf.profile` API.

[2022-03-07 15:12] #711 closed, assigned to nobody

[2022-03-11 14:06] masterkey2000 commented on #255
Hello,
I followed the instructions from @Bahador-Bakhshi but I get an error when running
[code]
The Error is:

[code]

This are my _action_spec and _observation_spec:

[code]
The observation dictionary i fill with:
[code]
 Does anyone know what the error message means and where It come from?

[2022-03-13 13:59] PeterDomanski opened #721 "PPO: Unexpected output from `actor_network`. Expected `Distribution` objects, but saw output spec: TensorSpec(...)"
I have a related issue. If I use the ActorDistributionNetwork in actor_distribution_network.py PPO works fine (due to the latest changes in "Fully align PPO sequential network setup with the legacy actor distribution"). However, if I want to use ActorDistributionRnnNetwork I get the following error:

Unexpected output from `actor_network`.  Expected `Distribution` objects, but saw output spec: Ten

[2022-03-14 14:45] #721 closed, assigned to nobody

[2022-03-14 15:33] sibyjackgrove commented on #721
@PeterDomanski Were you able to make 1D discrete action spaces work with ActorDistributionRnnNetwork? Please let me know.

[2022-03-14 16:20] PeterDomanski commented on #721
Yes with tf_agents.networks.actor_distribution_rnn_network.ActorDistributionRnnNetwork it works

[2022-03-14 16:32] sibyjackgrove commented on #721
@PeterDomanski Could you please post the code snippet you are are using. Here is the action space I am trying to to get to work:
`BoundedArraySpec(shape=(5,), dtype=dtype('int32'), name='action', minimum=0, maximum=1)`

I tried both actor_distribution_rnn_network.ActorDistributionRnnNetwork and actor_distribution_network.ActorDistributionNetwork. But both are giving me the same error:
[code]
I am

[2022-03-14 16:33] PeterDomanski commented on #721
actor_net = tf_agents.networks.actor_distribution_rnn_network.ActorDistributionRnnNetwork(
            observation_spec,
            action_spec,
            lstm_size=(40,)
        )
        value_net = value_rnn_network.ValueRnnNetwork(
            observation_spec,
        )
        agent = ppo_agent.PPOAgent(
            time_step_spec,
            action_spec,
            optimizer=tf.keras.o

[2022-03-14 16:42] sibyjackgrove commented on #721
@PeterDomanski Thanks. But could you show your `action_spec `specification? My code seems to be the same as what you are using.

[2022-03-14 16:45] PeterDomanski commented on #721
BoundedTensorSpec(shape=(1,), dtype=tf.float32, name='action', minimum=array(0., dtype=float32), maximum=array(5., dtype=float32))

[2022-03-14 16:50] sibyjackgrove commented on #721
@PeterDomanski Ok, I see the difference. You are using the 1D box space. So your datatype is float. I am using the discrete space and my data type is an integer. The 1-D box space works for me as well but my application needs to use a discrete space. So this won't work for me. Thanks anyway.

[2022-03-14 22:19] sguada commented on #255
The 'legal_actions' shouldn't be part of the observation_spec since it's going to be separated with the observation_action_splitter

[2022-03-16 01:07] kbanoop commented on #719
Thanks for raising this. It looks like a typo and should be output_tensor_spec instead of action_spec. It doesn't crash because there is an action_spec defined at the global level in other cells. Please feel free to submit a PR.

[2022-03-16 01:07] #719 closed, assigned to nobody

[2022-03-16 04:55] ChenTangMark opened #723 "dtype error with reverb"
Hi,

I am using reverb to collect data into replay buffer as suggested in the tutorial. However, I ran into the following type error with my code. I am wondering if I need to specify the data type for the replay buffer anywhere in the code.  Thanks!

Traceback (most recent call last):
  File "train_single_script.py", line 73, in <module>
    main()
  File "train_single_script.py", line 70, in main

[2022-03-16 13:04] masterkey2000 commented on #255
@sguada: What do you mean? I did it exactly as @Bahador-Bakhshi  suggested, or did I miss something?

[2022-03-16 16:52] sguada commented on #255
So make sure that the `observation_action_splitter` splits the observation and the mask correctly.

[code]

[2022-03-16 17:58] #723 closed, assigned to nobody

[2022-03-16 20:32] a-berg opened #724 "Problem with reverb inside conda environment"
Steps to reproduce:
[code]
The error I get is:
[code]
It doesn't matter whether I use python 3.8, 3.9 or 3.10 inside the environment.
Does reverb expect libpython be installed in the system instead of the conda env and doesn't find it? (IIRC, system python is 2.7.18 / python3 == 3.8.10, defaults to 2.7)

[2022-03-17 14:10] makisgrammenos commented on #724
If you are using ubuntu or another debian based OS try:

 `sudo apt-get install libpython3.10`

[2022-03-17 16:04] andmis opened #726 "Reduce heavy mandatory dependencies for simple functionality"
I would like to use some nice, general-purpose utilities from TF-Agents, for example the [replay buffers](https://www.tensorflow.org/agents/tutorials/5_replay_buffers_tutorial). Is it possible to set things up so that utilities like this are usable without depending on, for example, libraries like MuJoCo or OpenAI Gym? It doesn't seem correct that something like `tf_agents.replay_buffers` depends

[2022-03-17 16:39] sguada commented on #726
You should be able to use replay_buffers or any other utils from TF-Agents, although you probably need to clone the repository and use it directly, instead of `pip install` it.

[2022-03-17 16:44] andmis commented on #726
My concern isn't related to just getting things to work. I know I could copy-paste the relevant Python modules or just comment-out the imports I don't need.

My concern is, if I intend to share my code with someone else, or run it in another environment, I don't want to have to worry about either (1) copying my hacks/edits everywhere, or (2) requiring the deps for everyone, everywhere.

[2022-03-17 16:56] sguada commented on #726
If you are interested in creating a PR which add an install option that avoids installing mujoco `pip3 install tf-agents[nomujoco]` we can review it.

[2022-03-23 15:41] Johneinsteinwong opened #727 "clarification on the usage of observation_and_action_constraint_splitter for DqnAgent agents"
hi, im trying to create a DqnAgent agent with a mask for valid/invalid actions, according to [this post][1]
, i should specify a ```splitter_fn``` for the ```observation_and_action_constraint_splitter``` arg. According to the tf_agents [doc][2]

  [1]: https://stackoverflow.com/questions/66622216/tfagents-valid-invalid-actions-for-reinforce-agents
  [2]: https://www.tensorflow.org/agents/api_docs/

[2022-03-24 00:02] joraso opened #728 "Feature Proposal: Implement return_sequences=False support in RNNWrapper"
Hello! I'm working on a project that uses a pretrained (stateful, multilayer) RNN as an actor distribution network. Because I want to pretrain the network before reframing it as an actor network, `networks.Sequential` seemed like the right tool to use, as it'll allow my to port in my trained Keras model (which is why I would choose this method over `ActorDistributionRnnNetwork`).

However, I would

[2022-03-28 20:12] MHJYR opened #729 "No module named 'tf_agents.bandits.replay_buffers'"
Hi,

I got the above error when trying to run
train_eval_mushroom.py

Thx.

[2022-03-29 08:52] #729 closed, assigned to nobody

[2022-03-31 10:37] masterkey2000 opened #730 "Help with Observation Masking"
Hello,

I am currently trying to build a DQN where the legal actions are to be masked. To understand the whole thing I built a small test setup. I also want to use the observation_and_action_constraint_splitter. I haven't applied it yet, because I get an error message before. Maybe someone can help me.

As starting point I took the example from @ormandi  from here: [https://github.com/tensorflow/a

[2022-03-31 15:04] sguada commented on #730
If you don't pass the observation_action_splitter to DQN then the observation contains both the observation and the mask. And the mask is bool which cannot be sampled.
Not sure what is the intended use of the mask when you only have 2 actions.

[2022-03-31 15:12] sguada commented on #730
Also can you make sure you have the latest version since sample_nest_spec can now handle tf.bool
https://github.com/tensorflow/agents/blob/master/tf_agents/specs/tensor_spec.py#L380

[2022-04-01 14:41] masterkey2000 commented on #730
Also with implementation of:

[code]

and:

[code]
the error message persists.

I know that it makes no sence in this example to mask. It should be an easy example to fix this issue.

[2022-04-01 14:42] masterkey2000 commented on #730
the tf-agents version I use is 0.12.0

[2022-04-02 14:38] pegazik80 commented on #643
Hi, I have the same problem at the moment. indeed both me and HWerneck specify  data_spec=agent.collect_data_spec in replay buffer and indeed it seems this is wrong. Shouldn't PPO agent automatically add n_steps dimention if it needs it? Is there a way to expand data_spec by hand?

[2022-04-03 09:05] JasonHuang2000 commented on #320
Hello @niklasnolte, I want to train my PPO agent on an custom environment with discrete action space, while its performance will be compared with DQN agent. Have you figured out how to apply action constraints on PPO agent? Thanks a lot!

edit: For anyone who encountered the same problem, I found a possible solution in #452.

[2022-04-05 15:36] PeterDomanski opened #732 "action output and policy_step_spec structures do not match:"
If I use e.g. the Reinforce algorithm the call agent.collect_policy.action(time_step, policy_state) works as for all other algorithms except for PPO. Here the PPO Policy (which inherits from ActorPolicy) outpost the error message "action output and policy_step_spec structures do not match:" More details about the specs:

PolicyStep(action=., state={'actor_network_state': [., .]}, info={'dist_param

[2022-04-05 19:59] sguada commented on #732
It seems that the collecting policy doesn't have `scale_diag` as part of the `dist_params` so I suppose there is a mismatch in the policy used to collect the data the policy used for training. One uses a fixed `std` and the other uses `scale_diag`.

[2022-04-05 21:13] PeterDomanski commented on #732
Should that be changed for the PPO Policy as all other GreedyPolicies/ Actor Policies have a different structure including the scale_diag argument (as part of dist_params)

[2022-04-06 10:54] sguada commented on #732
What I meant is that one should use the same policy to collect the data that it uses for training. So mixing policies between algorithms it's not warranted to work.

[2022-04-06 11:08] PeterDomanski commented on #732
It is the same PPO policy but for collection, the examples here show to use the collect policy (ppo_agent.collect_policy) of PPO and for training one uses the ppo_agent.policy (greedy policy). This works for all RL algorithm in TF Agents except for PPO

[2022-04-06 11:22] sguada commented on #732
I'm not sure what code are you running, and what do you mean by (using greedy policy in training, since that should only be used for eval). Are you using the PPO [example](https://github.com/tensorflow/agents/blob/master/tf_agents/examples/ppo/schulman17/train_eval_lib.py) or are you using a different code base?

[2022-04-06 11:26] PeterDomanski commented on #732
My code rather looks like this example (https://www.tensorflow.org/agents/tutorials/6_reinforce_tutorial) but instead of the reinforce agent I use the PPO Agent (https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/ppo_agent.py)
In addition, I use RNN actor and value networks and thus call policy.action(time_step, policy_state). In that statement, policy_state is causing the error

[2022-04-07 06:45] MHJYR opened #733 "AttributeError: module 'tf_agents.replay_buffers.replay_buffer' has no attribute 'BanditReplayBuffer'"
Hi,

I am trying to run train_eval_mushroom.py and get an attribute error in trainer.py:

AttributeError: module 'tf_agents.replay_buffers.replay_buffer' has no attribute 'BanditReplayBuffer'

Also, when running the code twice I get:

DuplicateFlagError: The flag 'root_dir' is defined twice.

Thx.

[2022-04-07 13:21] bartokg commented on #733
Hi,
Can you give a full command line and a stack trace? Also, what version are you using?
Thanks

[2022-04-07 16:23] MHJYR commented on #733
Hi bartokg,

yes of course, apologies. Version tf-agents: 0.12.0. This version does not seem to include BanditReplayBuffer. I changed line 44-46 to point to the mushroom data, i.e.,

flags.DEFINE_string(
    'mushroom_csv', 'C:/mushroom_csv.csv',
    'Location of the csv file containing the mushroom dataset.')

Stack trace for the first problem:

runcell(0, 'C:/Users/python/agents3/tf_agents/bandi

[2022-04-08 07:05] bartokg commented on #733
Thanks for the info!

There was a fix in https://github.com/tensorflow/agents/tree/master/tf_agents/bandits/replay_buffers, an __init__ file was added that makes the bandit replay buffer visible. It's not there in 0.12.0.

Can please switch to the latest version, or the init file yourself?
Thanks
Gabor

[2022-04-08 08:21] MHJYR commented on #733
It works, thx!

[2022-04-09 21:41] BaderTim commented on #695
I'm experiencing the same issue. A complete tutorial without reverb or one that works on Windows would be nice.

[2022-04-10 14:34] jammy-li commented on #724
I have the same problem.

When I try `sudo apt-get install libpython3.10`, the output is:

<img width="494" alt="WechatIMG55" src="https://user-images.githubusercontent.com/90447343/162624109-f238ba9d-688f-4d08-90e6-3fb6c35d509f.png">

Step to reproduce:

[code]

The error I get is:

[code]

But I can find the file ( `libpython3.10.so.1.0` ) in `···/anaconda3/envs/tf-agents/lib`.
<img width="1074"

[2022-04-12 01:17] tgohh commented on #724
I have been having the same problem.

It looks like it is linked to the LD_LIBRARY_PATH environmental variable.

Assuming you are using miniforge3, running this makes the error go away:

`export LD_LIBRARY_PATH=~/miniforge3/envs/your_env_name/lib:$LD_LIBRARY_PATH`

(libpython3*.so* is in the lib folder of your environment directory)

Also, when I did that, I found out that pip created an inconsist

[2022-04-12 15:43] kubistmi commented on #704
Since PR #707 was merged, I am closing this issue.

[2022-04-12 15:43] #704 closed, assigned to nobody

[2022-04-12 18:19] arslanqadeer opened #735 "ValueError: DistributedVariable.handle is not available outside the replica context or a `tf.distribute.Strategy.update()` call."
Hi, I tried to implement a DDPG based Actor critic framework using MirroredStrategy,. Without MirroredStrategy code runs perfectly fine. The actor network gets created fine but error appears on tf.gradients(...) line. I tried looking up online but nothing worked for me and I'm not able to move forward. I would really appreciate if anyone could take a look and guide.

Complete code and error messag

[2022-04-16 04:39] Rossil2012 commented on #588
+1

[2022-04-21 14:35] arslanqadeer commented on #735
Still not been able to figure that out. Any update on the above issue please? Thanks

[2022-04-21 14:43] sguada commented on #735
I would recommend using TF v2 and leveraging the learner API which handles the distribution strategies.

[2022-04-21 14:58] arslanqadeer commented on #735
That would require revamping the code completely. Is there any way to use Session based code (As above) with MirroredStrategy? Thanks for your help.

[2022-04-21 15:14] sguada commented on #735
I'm not sure if MirroredStrategy is compatible with TF1 and tf.Session. Take a look at [MirroredStrategy](https://www.tensorflow.org/api_docs/python/tf/distribute/MirroredStrategy), you need to make sure that all the ops are created under strategy scope and that you run using strategy.run()

I would recommend taking a look at the DDPGAgent.py which works with TF2

[2022-04-21 15:35] arslanqadeer commented on #735
In the above code, all of the ops are created under MirroredStrategy scope. But I would consider your recommendation and try learner API.
Meanwhile, if you find a way to run tf.Session with MirroredStrategy, please let me know.
Thanks for your time.

[2022-04-24 06:15] ZhuPeipei-CUHKSZ-TJUTCM commented on #244
When I tried to convert a TF 2.8 pb file to TF 1.15, the same error came to me. Could you help me please? Here is the code:

=========================code start===============================

import os ## tf22_saved_model_to_tf115_pb.py
import tensorflow as tf
from tensorflow import keras
from tensorflow.python.framework.convert_to_constants import convert_variables_to_constants_v2
import pdb

TF

[2022-04-25 21:54] arslanqadeer commented on #695
@BaderTim , Following tutorial is written without reverb. I hope this helps:

https://github.com/tensorflow/agents/blob/master/docs/tutorials/9_c51_tutorial.ipynb

[2022-04-26 06:49] jammy-li commented on #724
I have solved this problem successfully.

If you can find `libpython3.10.so.1.0` in `/path-to-conda/envs/your-env-name/lib` and your IEDA is 'PyCharm', you can try the following methods：

1. select the file contained `import reverb`.
2. Run->Edit configurations.
3. add `LD_LIBRARY_PATH=/home/zmli/anaconda3/envs/tf-agents-nightly/lib` in environment variables.
4. run the file.

[2022-04-27 18:19] tejavenkatk opened #737 "How to use the replay buffer in tf_agents for contextual bandit, that predicts and trains on a daily basis"
I am using the tf_Agents library for contextual bandits usecase.

In this usecase predictions (daily range between 20k and 30k predictions, 1 for each user) are made daily (multiple times a day) and training only happens on all the predicted data from 4 days ago (Since the labels for predictions takes 3 days to observe).

The driver seems to replay only the batch_size number of experience (Since m

[2022-05-02 03:35] JinTian0717 opened #738 "trajectory_writer() got an unexpected keyword argument 'get_signature_timeout_ms'"
In 7_SAC_minitaur_tutorial.ipynb:
rb_observer = reverb_utils.ReverbAddTrajectoryObserver(
  reverb_replay.py_client,
  table_name,
  sequence_length=2,
  stride_length=1)

TypeError                                 Traceback (most recent call last)
[<ipython-input-53-94db01cfc5ed>](https://localhost:8080/#) in <module>()
      2   reverb_replay.py_client,
      3   table_name,
----> 4   sequence_le

[2022-05-04 08:47] tejavenkatk opened #739 "In tf_Agents, Is there a way to retrain the environment order/sequence of generated observations in the driver and replay buffer"
I am using the tf_agents for contextual bandit algorithm. My data is at userlevel and hence very important to make sure that actions and rewards (and trajectories in order to train on them) are generated in sequence (that way I can tie these back to the sequence of the user ids in the dataset). Here is the sequence

1. observations (, actions, rewards) are generated in custom environment in a sequ

[2022-05-04 09:22] raoulraft commented on #738
I'm getting the same error in DQN Tutorial.ipynb

[2022-05-04 11:21] barmanroys commented on #738
I am getting the same bug while following the [reinforcement learning tutorial](https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial).

The culprit is this line
[code]

As a rather beginner in DQN, a lot of these classes are kinda blackbox to me. So seems I have to give up on this tutorial to find another working example. It throws the same error even when run in google colab.

[2022-05-04 11:49] JinTian0717 commented on #738
Hope this video helps you folks, it is from a friend of mine.
[230.zip](https://github.com/tensorflow/agents/files/8619945/230.zip)

[2022-05-05 02:52] barmanroys commented on #738
Can you point to any reference, or open source code, or even youtube video? It is a security risk to download random videos and play it.

[2022-05-16 15:32] MarcTolkmitt commented on #133
It is still not working on a home-pc - we have 2022 now. The old nightly should be real by now and it  is still not working. Why are you forced to use 'Colab' online - which software could be done at home ? This is not the first tutorial that is not taking care of that ...
ImportError                               Traceback (most recent call last)
---> 15 from tf_agents.agents import dqn_agent
18

[2022-05-20 10:50] nicolasjust opened #740 "Error - Spec type not supported: 'BoundedArraySpec'"
HI
I am trying to use a GYM environment. When I instantiate the DqnAgent class I get this error
<img width="1328" alt="image" src="https://user-images.githubusercontent.com/35808009/169512366-bbac12b0-a085-4a61-aacd-9725457a0d59.png">

Is this a BUG? How could I solve it?

I upload all code to a notebook: https://colab.research.google.com/drive/1Mf033--wbcV2IzjVUcx-RZYFJo7OUygP?usp=sharing

Thanks

[2022-05-23 22:00] JerryLabHQ commented on #727
I hit the same issue. It seems like a bug as we cannot split the observation and action with `BoundedTensorSpec` object.

[2022-05-27 15:21] chanansh opened #743 "running tf-agent on historical data and off policy evaluation"
Hi,
It's not clear for me from the documentation how to train using historical data (aka offline-RL or warm start CMAB) and how to conduct offline policy evaluation. Does TF-agents support it?

[2022-05-27 15:25] chanansh commented on #743
see VW for reference - https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/tutorials/off_policy_evaluation.html

[2022-06-02 10:14] JerryLabHQ commented on #727
Finally I made it works by following this example - https://github.com/tensorflow/agents/issues/255#issuecomment-809955385

[2022-06-03 07:31] apurva-octro commented on #454
Hello @bing-zhao I am also facing same issue. Did you got any solution to get Q-values?

[2022-06-03 08:36] tobi45 opened #745 "Are future rewards especially those at the end of an episode taken into account properly?"
I am using a `DynamicEpisodeDriver` to collect data for training and store it in a `TFUniformReplayBuffer` to train a `DqnAgent`. At the end of an episode, the environment gives the agent a final reward with the last step, indicating whether the agent had success or not. The sources are mostly the same as in your dqn agent tutorial but with another environment and an episode driver.

As I digged a

[2022-06-03 22:35] sguada commented on #613
The discount factor is used when computing the DQN loss. See [here](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py#L295) and [here](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/dqn_agent.py#L481)

[2022-06-03 22:35] #613 closed, assigned to nobody

[2022-06-03 22:37] sguada commented on #745
So if your environment only provides returns at the last step, then only the last transition would have a return that it's non zero during learning the model would bootstrap and propagate the q-values, but  DQN struggles with tasks that have very sparse rewards. In those cases using n_step_update greater than 2 can help, or you can try a different algorithm, like PPO.

[2022-06-05 07:41] xivarri opened #746 "Cannot import tf_agents, get TypeError: function() got an unexpected keyword argument 'reduce_retracing'"
As of June 5,
`import tf_agents`
fails with
`TypeError: function() got an unexpected keyword argument 'reduce_retracing'`

[2022-06-05 07:55] xivarri commented on #746
Specifically, the error is within
`from tf_agents.policies import utils as policy_utilities`
and then

[code]

[2022-06-05 14:52] ghost opened #747 "Error while importing tf agents in google colab"
`from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import abc
import tensorflow as tf
import numpy as np
import pandas as pd

from tf_agents.environments import py_environment
from tf_agents.environments import tf_environment
from tf_agents.environments import tf_py_environment
from tf_agents.environments import utils
from tf_agents.specs

[2022-06-05 15:56] xivarri commented on #747
Hi, I reported this today too here https://github.com/tensorflow/agents/issues/746

[2022-06-05 16:08] ghost commented on #747
should i close it

[2022-06-07 08:13] tobi45 commented on #745
@sguada thank you for you quick answer and the hint to `PPO`!

Indeed I currently experiment with an environment that only provides returns at the last step in an episode. In a probably more realistic setting the agent may get a little negative reward for each step (to learn to not waste time) instead of zero. But the main reward at the last step would remain (task solved or not). Even in such set

[2022-06-07 12:02] ghost commented on #746
dose anyone know how to solve this error ?

[2022-06-07 14:48] alexandrehsd commented on #746
I'm getting the same error message when running `from tf_agents.environments import suite_gym`. I tried to downgrade tf_agents from v0.13.0 to v0.12.1 but the error message persisted.

[2022-06-07 16:32] sguada commented on #746
Can you try upgrading `!pip install tf_agents[reverb]`?

Which version of TF do you have installed? The error seems related to a change in TF.

[2022-06-07 16:56] ghost commented on #746
!pip install tf-agents[reverb]

this solved my problem

[2022-06-07 17:39] alexandrehsd commented on #746
I was using TF 2.8, then upgraded to 2.9 while running `!pip install tf_agents[reverb]` (it forced TF to upgrade). Then things worked as expected.

[2022-06-07 18:44] sguada commented on #745
The way DQN works is that it would learn the target q-values and it would propagate them through as it learns, so yeah the discount factor it's used to modulate how much future rewards impact current actions.

Take a look at q-learning https://en.wikipedia.org/wiki/Q-learning

What I meant is that DQN can struggle to learn from very sparse rewards, but no that it doesn't take into account future r

[2022-06-07 18:44] #745 closed, assigned to nobody

[2022-06-07 18:45] sguada commented on #747
Make sure to run `!pip install tf_agents[reverb]`

[2022-06-07 18:45] #747 closed, assigned to nobody

[2022-06-07 18:45] #746 closed, assigned to nobody

[2022-06-07 18:47] sguada commented on #743
Take a look at CQL https://github.com/tensorflow/agents/tree/master/tf_agents/examples/cql_sac

[2022-06-07 19:01] xivarri commented on #746
Thanks, that does work as a temp fix.

[2022-06-07 21:26] Wmaxlees commented on #740
Hey, Nicolas. I was running into the same error. I came across this stack overflow question which seemed to have the answer even if the question was different. We need to convert our py_environment.PyEnvironment into a TF environment using:

`tf_py_environment.TFPyEnvironment(env)`

I think we just didn't read far enough into the Environment tutorial.

Sources
https://stackoverflow.com/questions/5

[2022-06-08 07:14] tobi45 commented on #745
Thank you very much for your answer and clarification! I realized myself the terms reward and return got a bit mixed up to me.

You're right, it's my problem setting, where the reward function and the dqn agent don't play well together. So either I find a reward function that is more suited for the dqn agent or I try other agents.

Thanks a lot for your time, hints and help!

[2022-06-08 09:11] enriquegit opened #748 "Error when saving model with PolicySaver"
The error happens when trying to save a model with tensorflow-agents. For example:

[code]

and saving the model with:

`saver.save('models/ddpg/')`

This works ok in google colab but the following error (see image below) is shown when running on a local windows PC.

library versions:
tensorflow 2.9.1
tf-agents 0.11.0

<img width="748" alt="question" src="https://user-images.githubusercontent.com/

[2022-06-08 11:36] sikanrong commented on #588
+1

[2022-06-08 16:27] sguada commented on #748
Can you try updating using `pip install tf_agents[reverb]`?

[2022-06-09 09:09] enriquegit commented on #748
@sguada I tried your suggested solution. Now, the following error is shown:

`ImportError: cannot import name 'network' from 'tensorflow.python.keras.engine'`

[2022-06-09 14:21] ghost commented on #747
what was the real problem can you explain me?

[2022-06-14 23:02] melvinmt commented on #747
@ashishbhong82 I found some documentation about `reverb` here: https://www.tensorflow.org/agents/overview#stable

[2022-06-15 12:05] ghost opened #750 "PY_environment 'time_step' doesn't match 'time_step_spec' - I can't spot the difference"
I'm trying to create a custom tf-agents environment for trading. When I try to validate it by calling utils.validate_py_environment(environment, episodes=1), I'm getting a ValueError 'time_step' doesn't match 'time_step_spec' . I've been trying to spot the difference for a while now but I can't seem to find it. Am I missing something?

**Observation Action Spec**

`self._action_spec = array_spec.B

[2022-06-15 17:44] sguada commented on #750
observation': array([584.95, 582.3 , 581.7 , 582.6 , 582.9 , 584.65], dtype=float32),
vs
'observation': BoundedArraySpec(shape=(), dtype=dtype('float32'),

The observation is a vector not just a scalar.

[2022-06-15 17:44] #750 closed, assigned to nobody

[2022-06-15 17:44] #743 closed, assigned to nobody

[2022-06-15 17:44] #740 closed, assigned to nobody

[2022-06-18 00:12] sguada commented on #748
Probably due to mismatch version of TF.

[2022-06-21 19:00] samarth-robo commented on #515
IMO this issue is not solved by using the TF-Agents Sequential network. It is caused by using a custom layer as a preprocessing combiner or preprocessing layer in the Actor or Critic. I also faced it. The solution that worked for me was to create actor and critic wrappers that included the custom layer:
[code]

[2022-06-27 07:59] Enzodtz opened #757 "Best way to install with conda"
Hi, I'm trying to install tf-agents inside a conda env.

What I've done:

1. `conda create --name myEnv`
2. `conda activate myEnv`
3. `conda install pip`
4. `conda install -c conda-forge tensorflow-gpu --yes`
5. `pip install tf-agents[reverb]`

But it seems that number 5 is trying to re-download tensorflow via PIP, which probably not ideal and might even create some conflicts. Then, I would like t

[2022-06-27 08:07] Enzodtz commented on #757
Update: seems that `tensorflow` installation with pip as a requirement is not working. Logs:

[code]

[2022-06-27 16:09] Enzodtz commented on #757
Updating all packages seem to have solved the issue.

[2022-06-27 16:09] #757 closed, assigned to nobody

[2022-06-28 15:19] kubistmi commented on #737
Hi!
I'm not a developer of TF-Agents, just another user, so please consider this as just my opinion/suggestion.

#### Intro
From what I understood, the significance of `driver` and `replay_buffer` lies mostly in the full-RL problems, e.g. when you want your `agent` to play a lot of chess:
1. you can't batch observations/state/context, so you need to do a lot of `environment-agent` interactions

[2022-06-30 13:29] AndrewR08 opened #758 "Help with tf-agents ranking example"
Any guidance on tf-agents ranking examples? I am looking at the train_eval_ranking file, but there isn't much documentation on how the ranking environment works, what data is needed, etc.

[2022-07-02 18:53] MoFHeka commented on #735
I also have this problem when develop user custom variable.

[2022-07-04 15:51] DavyMorgan opened #759 "Multiple actions for PPOAgent"
Hi, I developed a environment with action_spec as :
BoundedTensorSpec(shape=(2,), dtype=tf.int32, name='action', minimum=array(0, dtype=int32), maximum=array(65535, dtype=int32))

Since the two actions are independent, to obtain the action, I use tfp.Independent to generate the action distribution:
self._output_dist_spec = distribution_spec.DistributionSpec(
        tfp.distributions.Independent,

[2022-07-04 21:27] connor-create opened #760 "Does TF-Agents not support XLA?"
I have built a dynamic step driver but cannot seem to get it to work with jit_compile=True.
[code]
Leads to this error on execution of training:
[code]
I'd imagine this is because of the tf_agent creating something with a dtype of int32, and that tensor then being placed on the CPU because of it.  [The first known issue here](https://www.tensorflow.org/xla/known_issues).

I have also explored the

[2022-07-04 21:40] sguada commented on #760
You can try overwriting the dtype of the `step_type` in the Policy given to the Driver.

[2022-07-04 21:43] sguada commented on #759
The specs don't match
PolicyStep(action=., state=(), info={'dist_params': {}, 'value_prediction': .})
vs.
PolicyStep(action=., state=(), info=DictWrapper({'dist_params': DictWrapper({'logits': .}), 'value_prediction': .}))

Make sure the policy builds the correct info data.

[2022-07-05 05:15] DavyMorgan commented on #759
Thanks. My question is actually that can PPOAgent support multiple discrete actions? I found no tutorials about this topic.

[2022-07-06 08:47] sikanrong commented on #760
@sguada Hello! I am also on @connor-create's team.

We tried this yesterday and found that indeed, by making `step_type` an int64 it is correctly placed on the GPU device. However, XLA seems to still give similar errors as there are still some extraneous TF variables of `enum` type that are placed on the CPU. We will continue to see if a similar fix can be found for this related issue.

Is there s

[2022-07-11 06:41] DavyMorgan commented on #759
@sguada  Does the PPOAgent in tf-agents only support 1-D action?

[2022-07-15 15:36] sibyjackgrove commented on #759
I believe this issue is related to #720 which I had raised earlier. Unfortunately, still haven't been able to find a solution. This pull request  #705 could potentially address this.

[2022-07-19 14:54] beytuuh42 opened #762 "PPO Agent with masked actions"
Hello,

when I'm using PPOAgent with masked actions, I wrap the actor network with `MaskSplitterNetwork` and the value network as well.
However, when trying to train the agent, I get this error message:

[code]

I proceeded with adding the arg `mask=None` to the `call` function in `tf_agents.networks.value_network.ValueNetwork`, ending up with:
[code]

My agent is now able to learn and provides ex

[2022-07-23 18:48] games commented on #643
hi, same problem here, really no idea how to fix it, can anyone give some hints?

[2022-08-04 23:50] chazzmoney commented on #760
I also have questions about using XLA with tf_agents.

This would be amazing. Anyone have any info here at all?

[2022-08-08 19:43] sguada commented on #760
Unfortunately the DynamicDriver has dynamic shapes and doesn't allow jit-compilation, you can compile the Network or the Policy though.

[2022-08-13 09:08] Shinwazu commented on #504
How did you solve the issue? I have the same error!!!

[2022-08-16 15:14] Shinwazu opened #764 "Value Error"
​import random
from abc import ABC
from random import choice

import numpy as np
from tf_agents.environments import py_environment
from tf_agents.specs import is_continuous
from tf_agents.trajectories import time_step as ts, time_step

class WarehouseEnv(py_environment.PyEnvironment, ABC):

    def __init__(self, col, row):
        super(WarehouseEnv).__init__()
        self.ARTICLE_DICT = dict(Co

[2022-08-19 17:04] Shinwazu opened #766 "ValueError: Given `time_step`: TimeStep"
[code]
2.
[code]

Description:
I'm trying to design and simulate a warehouse environment where adding the article to the warehouse (column wise if the previous column is filled).
Checking demand list and if the article in the demand list (article from '0' index in demand list) matches the articles in warehouse (articles in columns towards the right side) then both values = 0 (i.e., article from wa

[2022-08-25 19:00] Nik-Kras commented on #532
Hi, everyone. I am trying to follow the tutorial - https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial
However, I face errors in importing phase.

`Traceback (most recent call last):

  File "D:\-----\main.py", line 37, in <module>
    import reverb
  File "D:\-----\venv\lib\site-packages\reverb.py", line 64
    raise TypeError, 'Regexp cannot be negated'
                   ^
SyntaxError: i

[2022-08-26 16:05] philstahlfeld commented on #766
It looks like your observation in that TimeStep has shape (1, 5, 5) based on the three closing square brackets, but your observation spec wants shape (5, 5). Can you try either removing the extra dimension on your observation or updating your observation_spec to be (1, 5, 5)?

[2022-08-26 21:53] samarth-robo commented on #732
The issue is with how [`ppo_utils.get_distribution_params()`](https://www.tensorflow.org/agents/api_docs/python/tf_agents/agents/ppo/ppo_utils/get_distribution_params?hl=en) is used inside the `PPOPolicy` class. When the `PPOClipAgent` has an `ActorDistributionNetwork`, the `scale` parameter of the output distribution is (for some reason) not a tensor, and it is filtered out by `ppo_utils.get_dist

[2022-08-27 09:58] Shinwazu commented on #766
I'll give it a try.

[2022-08-27 21:59] ghost opened #769 "Custom - minmax pooling - Keras - Tensorflow"
I created a custom pooling layer using tensorflow layer subclassing. Here is the code:

[code]
The motive of this layer is to downsample a timeseries something like:

original:
[![enter image description here][1]][1]
Later:
[![enter image description here][2]][2]

The layer accepts a filter size and a tensor(timeseries) then it splits the tensor in to chunks according to filter size and then it lo

[2022-08-28 08:13] #769 closed, assigned to nobody

[2022-08-28 08:35] Shinwazu commented on #766
hello Phil, I have changed the action spec and observation spec to discrete and the error looks different now. I have provided a Colab link below. Would it be possible for you to look into it. If you use PyCharm, I can also give the collaboration code for Pycharm.

https://colab.research.google.com/drive/1nLLt1QwefHL3t9qgpNJt2lhIVZmMuplt?usp=sharing

[2022-08-29 10:45] hopskipnfall commented on #532
According to the Reverb [README](https://github.com/deepmind/reverb#installation), "Reverb currently only supports Linux based OSes."

So if you're on Windows it's not going to work :/

See related issue #695

[2022-08-29 13:33] Nik-Kras commented on #532
Thank you for your reply
This tutorial from your link (https://github.com/tensorflow/agents/blob/master/docs/tutorials/9_c51_tutorial.ipynb) doesn't use reverb and works well!

But, shouldn't that dependency on OS be fixed in the tutorial? I may be mistaken as I don't have much experience, but for me, it looks like an issue that should be solved by replacing the reverb package with something more

[2022-08-29 16:10] philstahlfeld commented on #766
If you're creating a PyEnvironment, you should be using ArraySpecs/BoundedArraySpecs instead of TensorSpecs.

The mismatch you're seeing when running utils.validate_py_environment is in the shape of the observation_spec and the returned observation. The observation spec dictates a shape of (9, 9), but all of the returns in `_step` have a shape of (1, 9, 9). The reason for this is that `self._state

[2022-08-29 16:22] Shinwazu commented on #766
Thanks a lot.

the observation space is being printed but the action spec is not iterating.
is there a way to check the observation spec being updated after every action or to check if its taking a action

[[0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0]]

I h

[2022-08-29 16:40] philstahlfeld commented on #766
That seems to be from your last return in `_step`, which is `return self._observation_spec, 0, info`. You need to return a TimeStep like `ts.transition` or `ts.termination`.

[2022-08-29 16:45] Shinwazu commented on #766
`return ts.termination(np.array(self._state, dtype=np.int32), reward=2), info`

Its still executing with the same error. I'm returning a TimeStep as above instead of `return self._observation_spec, 0, info`

[2022-08-29 16:51] philstahlfeld commented on #766
You can't return `info`. It has to just be `return ts.termination(np.array(self._state, dtype=np.int32), reward=2)`.

[2022-08-29 16:58] Shinwazu commented on #766
I'm getting the following error;

Exception ignored in: <function Pool.__del__ at 0x137c0f7f0>
Traceback (most recent call last):
  File "/Users/shinwazu/miniforge3/envs/tensorflow/lib/python3.10/multiprocessing/pool.py", line 268, in __del__
  File "/Users/shinwazu/miniforge3/envs/tensorflow/lib/python3.10/multiprocessing/queues.py", line 371, in put
AttributeError: 'NoneType' object has no attri

[2022-08-29 17:12] philstahlfeld commented on #766
I was able to run `utils.validate_py_environment` on your environment for 10k steps and it didn't error out so I think your environment is good to go. It sounds like the error you're running into now is a different error (perhaps in your training pipeline). Since we've worked through the error related to this issue, I would suggest closing this issue. If you're still encountering the error in your

[2022-08-29 17:17] Shinwazu commented on #766
Thank you very much for your help. I have been struggling with this problem for more than a week.  I will mark the problem as solved.

[2022-08-29 17:32] #766 closed, assigned to nobody

[2022-08-30 08:41] hopskipnfall commented on #532
I agree.. I hope the maintainers update the tutorial to at least mention that it is not supported on Windows.

[2022-08-30 15:08] tfboyd commented on #532
Sorry about that, I did not think to update the tf/agents pages with the
linux situation created by Reverb.  TF-Agents previously was all python and
didn't work; but we needed to move to Reverb so we did not have to support
our own replay buffer and Reverb is also more performance than our past
solution.  I will try to remember to add a note to the github index, I am
not sure I will add it to all

[2022-08-30 15:14] hopskipnfall commented on #532
Thanks Toby!

[2022-08-31 23:16] cserpell commented on #338
@HadiSDev would you please elaborate a little on how to do it? I don't find any documentation on how to use a complex observation state as input for a Q network.

[2022-08-31 23:55] cserpell commented on #338
I see the answers are in #533 .

[2022-09-01 22:12] teaglin opened #770 "Keras model usage"
I'm trying to get a custom Keras model to work with DDPG agent, but having no luck. I looked at this question. https://github.com/tensorflow/agents/issues/457

It did not work. Ideally I need to be able to save out the underlying Keras model to convert. It is destined for an edge device that can not run tensorflow. Is there a tutorial on using keras models?

[code]

This is the model. Both the spe

[2022-09-02 09:57] kuanghuei commented on #618
Sorry for missing this. Please see https://github.com/google-research/pisac for an example. Let us know if you have further questions.

[2022-09-02 09:57] #618 closed, assigned to nobody

[2022-09-02 17:13] philstahlfeld opened #771 "Distributed training like SEED RL"
I have an environment that runs a simulation at every step, which makes it computationally expensive. To speed up training, I'd like to try distributing my actors across a number of different machines. Basically, I'd like to try out an architecture like [SEED RL](https://github.com/google-research/seed_rl). AFAICT, TF Agents doesn't support this (yet). The closest thing that I can find is the [Act

[2022-09-02 17:16] sguada commented on #771
See https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed for more details and see https://github.com/google-research/circuit_training for an example using TF-Agents PPO distributed learning, with 100s of Actors collecting data in different machines while the Learner uses multiple GPUs to train the model.

[2022-09-02 18:11] #771 closed, assigned to nobody

[2022-09-05 02:05] cserpell commented on #466
I was facing a similar issue, not being able to load a policy. I added the `import tensorflow_probability` line at the beginning of the module, and it worked.

[2022-09-07 16:40] tfboyd commented on #532
PR is in review.  Not the best fix, but I added a warning to the Install section of the front page of github.com.  Off-the-cuff adding it to all the tutorials feels messy.  Open to other ideas. I know it would have been great for you to see it right there in the notebook.

[2022-09-08 21:59] philstahlfeld opened #772 "Batching ReverbAddEpisodeObserver with variable length episodes"
It looks like [this bug](https://github.com/tensorflow/agents/blob/v0.13.0/tf_agents/replay_buffers/reverb_utils.py#L50) is already tracking the issue, but I would like to use ParallelPyEnvironment in conjunction with ReverbAddEpisodeObserver where my environment has variable length episodes. Is there a timeline for addressing this bug? If not, would it be something I could contribute?

[2022-09-10 15:52] maxima120 commented on #499
how do you use it in your code? all the examples I could find simply pass [1.0]

[2022-09-11 00:26] tejavenkatk commented on #737
Thank you Michal @kubistmi

[2022-09-20 20:22] maxima120 opened #773 "Loaded policy eval runs 4 times faster than original policy eval"
I have made RL solution largely based on: https://www.tensorflow.org/agents/tutorials/1_dqn_tutorial

After training finished I run eval once. Then I save the policy and run eval again. The timing is 400% different. Is this expected? Is there a reasonable explanation?

This is original eval:
[code]

this is save/load:
[code]

Eval using loaded policy:
[code]

eval function (almost same as in the t

[2022-09-20 23:45] FinAminToastCrunch commented on #532
The fact that Reverb is not OS agnostic is a massive problem. It at least needed to be mentioned in the official docs. A vast majority of the tutorials use Reverb. I understand that it is good for a performance standpoint, but a cross platform alternative needs to be found.

[2022-09-21 00:10] tfboyd commented on #532
This is much more than you want to know; but insight into the people behind the code is often a useful perspective.

@FinAminToastCrunch  I added a note to the README.md in the install section a few days ago.  Reverb (I realize you would not visit that site) also has a big note about only supporting Linux. Having a note on all of the tutorials feels messy. We only use Linux or linux like systems i

[2022-09-21 00:14] FinAminToastCrunch commented on #532
Thanks for the perspective. I'm happy to see the decision to move to reverb has saved you and your teammates lots of time.

[2022-09-21 17:37] philstahlfeld commented on #772
I was able to get around this by creating an observer that unbatches trajectories and delegates those trajectories to a collection of ReverbAddEpisodeObservers.
[code]

Then to create I create the Actor observer as follows:
[code]

Please let me know if the UnbatchingObserver is something that others would find useful and I can contribute it.

[2022-09-22 07:46] sguada commented on #772
Thanks for your contribution, I think it would be great to get this as a PR with a simple example using ParallelEnv.
I would probably suggest renaming UnbatchingObserver to BatchedObserverUnbatching

As extra points it would be great to use multi-threads for running the individual observers.

[code]

[2022-09-23 18:29] maxima120 opened #775 "DQN sample - AverageReturn output is same as AverageEpisodeLength"
I have ran sample: https://github.com/tensorflow/agents/tree/942db59044f2b25151f313dc9a098ff652ab90f2/tf_agents/agents/dqn/examples/v2

Apparently AverageReturn always equal AverageEpisodeLength. Potential bug?
[code]

[2022-09-27 14:09] karnehm opened #776 "Incorect example to run dqn_train_eval_rnn.py"
To run [https://github.com/tensorflow/agents/blob/master/tf_agents/examples/dqn/dqn_train_eval_rnn.py](https://github.com/tensorflow/agents/blob/master/tf_agents/examples/dqn/dqn_train_eval_rnn.py) the example in the comments says:

[code]

This follows in two errors. The `logdir` of tensorboard and the `root_dir` aren't compatible. Also the path to `dqn_train_eval_rnn.py` is incorrect.

The corre

[2022-09-27 19:12] tfboyd commented on #776
Do you want to make a PR or I can just paste in the change?  Both are totally fine and thank you.

[2022-09-29 08:18] karnehm commented on #776
I created PR #777

Thank you too

[2022-09-30 17:12] ujjwal95 opened #778 "Using `tf-agents` for Bandits with sparse data"
Hi,
I am looking to use `tf-agents` to develop a multi armed bandit for advertising.

For each observation, I don't have the reward for other arms, because I'll only show that single arm to the observation.

Is `tf-agents` able to handle such situations? I went through all the Environments and all of them seem to assume that rewards are available for each observation-arm combination. The MovieLens

[2022-09-30 17:19] ujjwal95 commented on #778
Is `tf-agents` able to train a bandit where we just provide each observation-feature, the arm picked and the reward?

[2022-10-04 08:41] kochlisGit opened #779 "Conv1D Option for Networks"
Hello,
I have noticed that EncodingNetwork has set its conv_type to 2d by default, but there is no way to actually change this parameter. Am i missing anything?

[code]

This is the constructor of the Encoding Network. However, no Network allows to change the conv_type.... It is always set on 2D.
Thanks

[2022-10-06 17:54] sibyjackgrove commented on #779
I don't think there is an option for 2D. I had the same requirement and ended up defining my own 1D CNN network and passing it as a preprocessing layer when creating the Actor networ.

[code]

[2022-10-06 18:33] kochlisGit commented on #779
Well, I found a way around this.... I copied the `ActorDistributionNetwork `class and just passed the argument to the encoding network and it worked! However, it's such a shame that tf-agents, which also supported by tensorflow, doesn't support such simple thing...

[2022-10-10 09:03] Rejuy opened #782 "Learner.run got stuck"
Dear authors:
    Thanks for designing tf_agents! I've encountered a problem when I was running the code of google research project called circuit-training. It created an object of `Learner` (we can call it `learner`). When it came to `learner.run`, it called `learner._train`. I added some log for help. In the outcome, I found that all log was printed out in `learner._train`, indicating `_train` w

[2022-10-10 11:20] sguada commented on #782
Can you make sure that the actors are generating the data that the learner needs?

For instance can you get data by doing
[code]

[2022-10-10 11:24] sguada commented on #779
For customized networks you need to create your own network, similar to what sibyjackgrove mentioned.

I'm confused, it seems that `EncodingNetwork` allows 1D Convolutions.

[2022-10-10 11:26] kochlisGit commented on #779
@sguada
Hello,
It does allow 1D convolutions. However, the `ActionDistributionNetwork ` class does not allow you to pass `CONV_TYPE_1D` to the parameter `"conv_type"` of the encoding network.

[2022-10-10 15:43] sguada commented on #779
Can you make a PR to allow passing `conv_type` from `ActionDistributionNetwork` to `EncodingNetwork`?

[2022-10-17 17:07] coreyleveen opened #784 "Incorrect formatting for time_step, trajectory when using tf.print"
When passing a `TimeStep` or `Trajectory` to `tf.print`, the output presents the objects incorrectly in that some field values get printed in the wrong places.

The following code demonstrates this:

[code]

Note the incorrect values in the output of the above code.
This occurs because both `TimeStep` and `Trajectory` use `pprint.pformat` in their respective `__repr__` method, which sorts by the d

[2022-10-19 02:25] Rejuy commented on #782
I solved this problem by changing some parameters in the program. Thx a lot!

[2022-10-19 02:25] #782 closed, assigned to nobody

[2022-10-19 02:42] Rejuy opened #786 "How can I save network.DistributionNetwork?"
Dear authors:
    I want to save an object of DistributionNetwork, is there any solution? I could only think of `pickle` which directly save the object, but I didn't find any method within tf_agents. Could you give me some advice?

[2022-10-20 14:59] vittorione94 opened #787 "DDPG Parallel environment example is broken"
Hello,

The DDPG example is broken when using parallel envs.

I'm referring to the example: https://github.com/tensorflow/agents/blob/868f276af35c376d5c122d82a7ea4b6780b22652/tf_agents/agents/ddpg/examples/v2/train_eval.py

When passing in input a higher number of parallel envs the first issue is that tf_agents.system.multiprocessing.enable_interactive_mode() is not included in main(). Once we inc

[2022-10-20 17:16] coreyleveen commented on #787
Have you tried passing a `batch_size` argument to your metrics?
Like
[code]

[2022-10-20 20:19] sibyjackgrove commented on #656
@summer-yue It seems the only way around this is to comment out the following from lines 11 to 13 in _ppo_policy.py_
[code]

[2022-10-20 23:53] vittorione94 commented on #787
Hi thanks for the reply! I think I managed to get it to work but setting batch_size=num_parallel_environments for tf_metrics.AverageReturnMetric and tf_metrics.AverageEpisodeLengthMetric.

[2022-10-20 23:58] vittorione94 opened #788 "dealing with mjWARN_BADQACC"
Hello,

This is more a feature enhancement. For environments that are unstable i.e. that rarely return a mjWARN_BADQACC would be great if instead of abruptly stopping the training would return a termination state.

I'm thinking wrapping this line in a try catch  https://github.com/tensorflow/agents/blob/a8bd037ccf5ef2b0c0a6e0927e91ec7ba02517f5/tf_agents/drivers/dynamic_step_driver.py#L137

What do

[2022-10-21 14:24] coreyleveen commented on #786
If you're actually just trying to persist the network alone, I would take a look at the Keras model save/load documentation here: https://www.tensorflow.org/guide/keras/save_and_serialize

However it's more common to save an agent, replay buffer, or policy by using the `Checkpointer` or `PolicySaver`, there's a tutorial on that here: https://www.tensorflow.org/agents/tutorials/10_checkpointer_poli

[2022-10-25 09:28] Wajktor opened #789 "GymWrapper wraps action_space datatype to dtype=numpy.dtype[float32]"
I Use a custom OpenAI-Gym environment, and wrap it using `tf_env = suite_gym.wrap_env(env)`.
This however causes in `sac_agent.py` the following error in the function

[code]

`AttributeError: 'numpy.dtype[float32]' object has no attribute 'is_integer'`

I assume the action_spec should be cast as a tf-tensor and not a numpy array,
Or that the check should be performed differently.

[2022-10-25 16:30] vittorione94 opened #790 "EnvironmentSteps tf_metric bug with parallel envs"
I think there's an error when using the tensor flow EnvironmentSteps metric.

Let's say we're using parallel environment (with 10 envs) and setting collect_steps_per_iteration (to 5) in a DynamicStepDriver.
I would expect the metric to return 50 after driver finished the run function, but it returns 10. To debug this easily, try an example file like ddpg and set these two parameters. However, it w

[2022-10-25 16:34] vittorione94 commented on #788
At the end I'm using this fix:
[code]

inside dm_control_wrapper, this is the line I modified: https://github.com/tensorflow/agents/blob/6d0ff5003e9af3777b503bc7a822ef21f71914eb/tf_agents/environments/dm_control_wrapper.py#L91

[2022-10-25 16:48] vittorione94 commented on #787
Marking this as closed

[2022-10-25 16:48] #787 closed, assigned to nobody

[2022-10-26 08:57] #789 closed, assigned to nobody

[2022-10-27 13:27] vitorkrasniqi opened #791 "Contextual Bandit Off-Policy Evaluation"
Hi,

I am currently dealing with "agents/tf_agents/bandits/" . I am wondering where or if the classic Contextual Bandit off-policy evaluation procedures are present in Tensorflow.I mean exactly the following off-policy evaluation procedures:
* Direct Method
* Inverse Probability Weighting (IPW)
* Doubly Robust (DR) / also known as Augmented IPW

I mean the evaluation procedures that vowpal_wabbit

[2022-10-31 21:49] JLenssen opened #792 "How to customize Actor policy in Actor-Learner setup"
Hi,
I am following https://github.com/tensorflow/agents/tree/master/tf_agents/experimental/distributed/examples/sac to implement an Actor-Learner environment for DDQN (similar to [Ape-X](https://arxiv.org/abs/1803.00933), page 6). How can I adapt the actor-policies that get their policy variables from the reverb variable container? I would like to use a different epsilon-greedy policy for each act

[2022-11-02 10:24] vitorkrasniqi commented on #791
It is currently not available.

[2022-11-05 02:01] coreyleveen commented on #790
I believe the metric is only keeping track of train steps, rather than steps collected by the driver. This makes sense because if your initial collect driver ran, for example, 100,000 steps to partially fill your replay buffer, and then the `EnvironmentSteps` metric displayed 100,000 steps before the agent even began training, this could be misleading.

Perhaps try changing `train_steps_per_iterat

[2022-11-07 08:46] sj31867 opened #793 "Data normalization for Contexual Bandits"
Hi, I am trying to train LinUCB or LinTS policy for my data. Policy is getting trained as well but it seems policy  is selecting one particular arm for all the test observation. I have not normalised my features global features and per_arm features are having values in different ranges . I wanted to understand do I have to normalise before passing it to the model or model is taking care of it inte

[2022-11-07 08:53] sj31867 commented on #672
Hi @bartokg  I have tried training my agent in a similar fashion as you suggested but after training my model is keep on selecting the same arm for all the observation. I am not getting the exact reason why this is happening. I have not normalized my context features, will this hamper the prediction? or Agent handles the normalization of data internally?

[2022-11-07 09:14] sj31867 commented on #793
@bartokg Please look into it.

[2022-11-09 21:32] tagomatech commented on #507
Hi.
What is the status of Discrete SAC in `tf-agents` as of today, please?
Has @DBraun's or @Fabien-Couthouis's work been added to tf-agents library?
(If not why?)
Thank you.

[2022-11-14 04:28] techGIAN opened #794 "TypeError: Cannot find minimum value of <dtype: 'string'> with type <dtype: 'string'> when creating an environment"
Hi, I'm trying to create a customized environment. There are only two simple actions, ```0``` and ```1```. And then for the states, well, I thought of expressing my states as a set. Actually, there are three sets that needs to be kept track. So the state schema is something like this: ```(A, x, B)``` where ```A``` and ```B``` are both sets and ```x``` is an element (but we can express ```x``` as a

[2022-11-14 05:04] techGIAN commented on #794
I just realized that I can just consider using ```ArraySpec``` instead of ```BoundedArraySpec``` where the latter needs bounds but the former does not so the former does not need to check for min or max.

[2022-11-14 05:04] #794 closed, assigned to nobody

[2022-11-16 00:55] techGIAN opened #795 "ValueError: Exception encountered when calling layer "QNetwork" (Issues with Q-Networks)"
Hi, I'm training with Q Networks. This is the first time I'll be using Q Networks so I am not sure why I am getting an error. Here's my code so far:
[code]
But I somehow get an error in the last line above. Here is the error message:
[code]
I believe there may be wrong with the ```time_steps```. Here's a printout of it:
[code]
Clearly, the observation/input is 2-dimensional but it is still complai

[2022-11-16 19:36] egonina commented on #795
You might be missing the batch dimension in your input `observation = tf.ones((1,3), dtype=tf.float64)`, try adding a batch dimension to this input?

[2022-11-21 18:53] Sch-Stef opened #797 "Actor/Learner DQN Pong: Using PyUniformReplayBuffer instead of ReverbReplayBuffer not possible"
Hi together,

I try to adapt this [Atari Actor/Learner](https://github.com/tensorflow/agents/blob/635af30a6365ec963823d4623f14df25fcefaadd/tf_agents/experimental/examples/dqn/mnih15/dqn_train_eval_atari.py) example to my windows machine using a PyUniformReplayBuffer instead of the ReverbReplayBuffer.

I already used tf-agents DQN but with drivers (and the TFUniformReplayBuffer) instead of the (ver

[2022-11-23 04:32] coreyleveen commented on #797
I suggest trying the following:

1. Replacing the `PyUniformReplayBuffer` with a `TFUniformReplayBuffer`. It seems to conform better with the Learner API, and could address the `too many values to unpack` issue you described. For example:
[code]
2. Uncommenting the `num_steps=2` line when creating the dataset. I believe this is the cause of the outer dimension issue.

[2022-11-23 06:39] sj31867 opened #798 "Contextual Bandits High training time"
I am trying to train LinUCB and LinTS with arm features. But it seems training time for these models are pretty high, with global features of ~200D and per arm features around ~50D. its taking roughly 50mins ( on CPU ) for 1 million data points.
Is there any way to optimise the training time? Do these model supports GPU training?

[2022-11-24 13:26] Sch-Stef commented on #797
Hi Corey,

thx for your feedback. I tried your modifications and after another small change it worked!

This "batch size" seems to be the main difference between the TFUniformReplayBuffer and the PyUniformReplayBuffer. Setting it to "1" when using the TFUniformReplayBuffer and using the "add_batch(batch_nested_array(x))" for the observer finally fixed it.

[code]

So my explanation is as follows:

[2022-11-24 13:26] #797 closed, assigned to nobody

[2022-11-25 18:01] sj31867 opened #799 "Tutorial on Multi objective optimization and Constraint Optimization"
Hi, Can we have some tutorials on Multi objective optimization and constraint optimization ?

[2022-11-25 19:34] coreyleveen commented on #764
Take a look at the [custom environment tutorial](https://www.tensorflow.org/agents/tutorials/2_environments_tutorial#creating_your_own_python_environment), particularly where `_action_spec` and `_observation_spec` are defined.

If you change your specs to something like
[code]
this should work fine. Of course you'll need to use an agent capable of handling continuous actions, for example DDPG.

[2022-11-29 12:26] soonjune opened #800 "tf_agents.replay_buffers memory allocation"
I've noticed that replay_buffers pre-allocates memory according to its max_length. In RL, max_length is usually set to a large number (1 million) which could result in unwanted situations where replay buffer takes up the memory too much. I think it would be worth it to mention it on the documentation. https://www.tensorflow.org/agents/api_docs/python/tf_agents/replay_buffers/replay_buffer/ReplayBu

[2022-11-29 16:07] coreyleveen commented on #792
The `DdqnAgent` initializer, as with the `DqnAgent`, accepts an `epsilon_greedy` argument. You can see in the code [here](https://github.com/tensorflow/agents/blob/0e8c16f402e63a62ca0f88fcfb837726736f1e99/tf_agents/agents/dqn/dqn_agent.py#L346) that it uses an `EpsilonGreedyPolicy` for its collect policy, provided no Boltzmann temperature is provided:

[code]
Does your issue persist after making t

[2022-11-30 11:42] #282 closed, assigned to nobody