[2019-08-28 16:06] Taxel commented on #186
At least for Tensorflow 2.0 I have found a working solution, which is most likely how one is intended to serialize and restore models, as well as predict using an existing model:

**Continuing training**
In order to save the model and continue training, the Tensorflow 2.0 solution is called `Checkpoints`.
So you do not call the `.save()` function on your model, which saves it as a `SavedModel` tha

[2019-08-28 20:10] kbanoop commented on #194
Yes I think it is probably better to keep it Actor since it fits better with the rest of the codebase. And we can remove the TODO.

[2019-08-28 20:10] #194 closed, assigned to kbanoop

[2019-08-28 21:40] samfishman commented on #192
Hi Chengshu,

Thanks for the question. Bear with me, because it is fairly complicated.

At a high level, the reason we do this is to filter transitions from the end of one episode to the start of the next. These transitions are artificially produced by the replay buffer as an artifact of the fact that we continually add time steps we receive from the environment and return them as they are in the

[2019-08-28 21:40] #192 closed, assigned to kbanoop

[2019-08-28 23:02] ChengshuLi commented on #192
@samfishman

Thanks for your answer. It's super helpful.

One quick follow-up question. Based on [api docs](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#prefetch), `prefetch`'s argument `buffer_size` stands for how many batches to prefetch. Should the code below be `.prefetch(5)` instead of `.prefetch(5 * batch_size)`?
https://github.com/tensorflow/agents/blob/a614c5b699ab08f6ac501c1

[2019-08-29 10:00] j0rd1smit opened #197 "ActorDistributionNetwork crashes when action_spec is not a tensor_spec"
`ActorDistributionNetwork`  does not work with `ArraySpec`.
When you try to create a `ActorDistributionNetwork` with python specs, you get an AttributeError: 'tuple' object has no attribute 'num_elements'. The following code replicates the error:

    action_spec = array_spec.BoundedArraySpec((1,), np.float32, minimum=0, maximum=10)
    observation_spec = array_spec.BoundedArraySpec((5,), np.float

[2019-08-29 12:59] j0rd1smit opened #198 "Using the add_batch method from PyUniformReplayBuffer throws an IndexError: tuple index out of range."
Using the `add_batch` method from `PyUniformReplayBuffer` throws an `IndexError: tuple index out of range`. When you do something simliar with an `TFEnv`  all the trajectories are batched but this is not the case in `PyEnv`. I think that is why the observer `lambda x: buffer.add_batch(batch_nested_array(x))` works and the observer  `buffer.add_batch` doesn't. Bellow are some examples codes.

This

[2019-08-29 18:51] sguada commented on #198
To use add_batch the data should be batched, i.e. the environment should be batched. This should work:
[code]

[2019-08-29 19:35] j0rd1smit commented on #198
Yes sure this would work but my issue is about the inconsistency in the API. For a TFEnv (batches by default) it is not needed but it is needed for a PyEnv (doesn't batch by default), this is quite confusing. Personally this took me quite a while to understand what cause this issue.

[2019-08-29 22:20] andreclaudino commented on #136
Thanks @CreeperLava, I will try.

[2019-08-31 23:24] Cjaimesg opened #201 "Trouble testing a environment using utils.validate_py_environment"
I am trying to develop my own environment in colab

`
INITIAL_ACCOUNT_BALANCE = 10000
MAX_NUM_SHARES = 2147483647
look_back = 15
commission = 0.00075

class StockTradingEnv(py_environment.PyEnvironment):

  def __init__(self, df):

    self.df = df

    self._action_spec = array_spec.BoundedArraySpec(shape=(2, 1), dtype=np.float32, minimum=-1, maximum=1, name='action')
    self._observation_spec =

[2019-09-01 15:13] #201 closed, assigned to nobody

[2019-09-03 20:55] ChengshuLi opened #202 "Alpha loss in (EC-)SAC different from the original paper"
Based on the [original paper](https://arxiv.org/pdf/1812.05905.pdf), alpha loss should be
[code]
instead of
https://github.com/tensorflow/agents/blob/8e8cc2e67b4026824885520cb4026c62b6e326e2/tf_agents/agents/sac/sac_agent.py#L515-L516

Is it intentional to use `log(alpha)` instead of `alpha` in the alpha loss function?

Thanks a lot! Appreciate your help.

[2019-09-03 21:06] kuanghuei commented on #202
Yes. In the code that the paper authors released, they actually use log(alpha) instead of alpha in loss function: https://github.com/rail-berkeley/softlearning/blob/master/softlearning/algorithms/sac.py#L205

 Although I can't say for sure, I think it helps training through shaping the loss landscape.

[2019-09-03 21:06] #202 closed, assigned to nobody

[2019-09-04 10:17] junhuang-ifast commented on #188
Hi @marconardelli , may I know which tf version solved this issue?

[2019-09-05 18:47] kbanoop commented on #187
@MarkDaoust is there a way to fix this in the auto doc gen tool?

[2019-09-05 20:17] MarkDaoust commented on #187
lots of the tooling relies on file names matching their api path.

Probably the simplest fix would be to move the docs to tensorflow.org, so they're not part of the git checkout.

WDYT?

+@adammichaelwood

[2019-09-05 21:06] adammichaelwood commented on #187
You're suggesting building the API docs from the source in this repo and not checking them in, but publishing them the same way we do the core docs?

Yes. We should do that.

The reason for the holdup on moving docs to a subsite was a stable release from Agents. I don't mind moving ahead with the subsite ahead of that release, but ultimately that decision is above my pay grade.

[2019-09-05 21:10] MarkDaoust commented on #187
Yes, we have it setup so we can do that now.
It wouldl be one way to get this problem solved.

[2019-09-05 22:46] samfishman commented on #192
I think you're right about this. Feel free to submit a PR to fix it!

[2019-09-06 17:58] nealwu commented on #42
Hi all, in case you missed it we currently have Categorical DQN (C51) available in our repo along with n-step updates: https://github.com/tensorflow/agents/tree/master/tf_agents/agents/categorical_dqn

I also implemented prioritized replay, often considered the third key component of the Rainbow agent. However we actually found that our agent performed just as well and trained more stably without

[2019-09-06 17:58] #42 closed, assigned to sguada

[2019-09-09 11:40] alexlee-gk opened #205 "ActionRepeat wrapper's step() method skips the first time step of each trajectory"
Should the break condition also be triggered when the time step is the first one in the episode? I.e. the condition should be `time_step.is_first() or time_step.is_last()` instead of just the latter. The reason for this is that if the call to `step()` is effectively a `reset()`, it's desirable to return the very first time step with `step_type=StepType.FIRST`. Otherwise, the dummy 0th action would

[2019-09-09 12:46] alexlee-gk opened #206 "Use gym space's dtype when converting the space to spec in GymWrapper."
Now, that gym's Box space has a `dtype` property, could we use it instead of `dtype_map`? Currently, there is no way to have multiple Box spaces with different dtypes (e.g. float32 propioception and uint8 images).
https://github.com/openai/gym/blob/master/gym/spaces/box.py#L25

[2019-09-09 15:36] tbund opened #207 "Missing outer_dim in categorical_q_policy action"
Categorical_q_policy's action tensor is missing a dimension compared to policies with same tensor specs.

For the setup
[code]
the resulting action tensor has shape=(1,)

While for random policy

[code]
and pure q-policy
[code]
the resulting action tensor has shape=(1,1).

This issue results in an error when running categorical-q-agent's collect policy, where epsilon_greedy needs to switch between

[2019-09-10 18:11] kbanoop commented on #197
Hi, thanks for raising the issue, but for Networks we expect the specs to be TensorSpecs rather than ArraySpecs since the inputs are TF.Tensors rather than arrays.
https://github.com/tensorflow/agents/blob/e31a1c6dfb744c688deda7a9024bb19631d5bce0/tf_agents/networks/actor_distribution_network.py#L79

Also ArraySpecs are meant to be used with numpy arrays, so the shape should not be a tf.TensorShape

[2019-09-10 18:11] #197 closed, assigned to nobody

[2019-09-10 18:23] kbanoop commented on #182
Yes you are right, the agent learns to maximize the reward from the environment, so if your simulator behaves the opposite way, you will have to implement an environment that reverses this.

[2019-09-10 18:23] #182 closed, assigned to nobody

[2019-09-10 18:27] kbanoop commented on #185
Closing this issue, please reopen if you still need help.

[2019-09-10 18:27] #185 closed, assigned to nobody

[2019-09-10 18:33] kbanoop commented on #186
Also see #146 and #136

[2019-09-10 18:34] kbanoop commented on #146
We are planning to add a colab for policy saving, so I'm closing this issue in favor of #186.

I'll add a reference to this from #186.

[2019-09-10 18:34] #146 closed, assigned to nobody

[2019-09-10 18:34] kbanoop commented on #136
We are planning to add a colab for policy saving, so I'm closing this issue in favor of #186.

I'll add a reference to this from #186.

[2019-09-10 18:34] #136 closed, assigned to nobody

[2019-09-10 18:44] kbanoop commented on #154
Closing this, please reopen if it's still an issue.

[2019-09-10 18:44] #154 closed, assigned to nobody

[2019-09-10 18:48] kbanoop commented on #96
Closing the issue, please reopen if you need more help.

[2019-09-10 18:48] #96 closed, assigned to nobody

[2019-09-10 18:52] kbanoop commented on #15
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 18:52] #15 closed, assigned to nobody

[2019-09-10 18:53] kbanoop commented on #17
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 18:53] #17 closed, assigned to nobody

[2019-09-10 18:55] kbanoop commented on #20
Closing this issue, please reopen if you have further questions.

[2019-09-10 18:55] #20 closed, assigned to nobody

[2019-09-10 18:57] kbanoop commented on #21
Closing this issue, please reopen if you have further questions.

[2019-09-10 18:57] #21 closed, assigned to nobody

[2019-09-10 18:59] kbanoop commented on #54
Closing this issue, please reopen if you have further questions.

[2019-09-10 18:59] #54 closed, assigned to nobody

[2019-09-10 19:00] kbanoop commented on #52
Closing this issue, please reopen if you have further questions.

[2019-09-10 19:00] #52 closed, assigned to nobody

[2019-09-10 19:03] kbanoop commented on #57
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 19:03] #57 closed, assigned to nobody

[2019-09-10 19:04] kbanoop commented on #61
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 19:04] #61 closed, assigned to nobody

[2019-09-10 19:06] kbanoop commented on #78
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 19:06] #78 closed, assigned to nobody

[2019-09-10 19:10] kbanoop commented on #85
Closing this issue, please reopen if we need to track this actively or if you have further questions.

[2019-09-10 19:10] #85 closed, assigned to nobody

[2019-09-10 20:16] kbanoop commented on #82
You can have one agent, just the network has to handle different input shapes.

[2019-09-10 20:16] #82 closed, assigned to nobody

[2019-09-10 20:34] kbanoop commented on #157
It looks like only one of the structures has a non empty policy_info field. Hard to say exactly what the issue is without seeing the code, but my guess is that the specs used to construct the replay buffer did not have this field.

Closing this for now, please re-open if you have more questions and add a code snippet as well.

[2019-09-10 20:34] #157 closed, assigned to nobody

[2019-09-10 20:41] kbanoop commented on #175
You can sample from the spec to generate an appropriately shaped Tensor that you can pass to the network, e.g.  https://github.com/tensorflow/agents/blob/e31a1c6dfb744c688deda7a9024bb19631d5bce0/tf_agents/networks/network.py#L142

[2019-09-10 20:41] #175 closed, assigned to nobody

[2019-09-10 20:55] kbanoop commented on #205
Thanks for pointing out the issue! Would you like to contribute a PR?

[2019-09-11 14:13] alexlee-gk commented on #205
Sure, I made it part of #204. Thanks!

[2019-09-13 02:50] Taxel opened #208 "Plot TF-Agents networks"
I have been trying to plot the network of my PPO agent using this code:
[code]
Unfortunately, this does not work as expected: It just outputs [this image](https://ibb.co/3pwRwLz), which is obviously not what I want.
I suspect this happens because the `ActorDistributionNetwork` does not subclass `tf.keras.Model` but an internal class of Keras.
Is it possible to plot `tf-agents` networks directly or

[2019-09-14 00:11] #205 closed, assigned to nobody

[2019-09-14 00:59] #206 closed, assigned to nobody

[2019-09-22 09:17] ghost commented on #169
Hi @evanatyourservice, im curious to know which env you are using, and from which framework, suite_gym/suite_dm_control etc..

[2019-09-22 21:38] emailweixu commented on #88
@oars, this problem persists even with tf2.0 rc1. Now it's not just the problem of ml_layers. EnocdingNetwork also has this problem since EncodingNetwork creates the layers itself, Do you have any problem to fix it? It's quite confusing when I want to actually examine the values and gradients of those layers.

[2019-09-23 13:54] Taxel commented on #191
Sorry for resurrecting this @sguada  but passing a callable does not fix the problem.
For debugging purposes, I manually instantiated a `ProcessPyEnvironment`, which is used internally by `ParallelPyEnvironment`. I am using the following code to try and step through the env:

            process_env = ProcessPyEnvironment(lambda: PokerEnvironment(
                players=pls, debug=True, model_to_

[2019-09-23 23:12] #183 closed, assigned to nobody

[2019-09-26 20:57] sguada commented on #191
Yeah maybe some of the objects you are passing a not pickable, or the Environment is not being created properly.

[2019-10-01 12:09] alexacgomes opened #210 "Problem when running DQN and Reinforce Colab notebooks"
Hi,

I cannot run DQN/Reinforce colab notebooks. I get the following error after running the second cell.

"---------------------------------------------------------------------------

AttributeError                            Traceback (most recent call last)

<ipython-input-2-af038be80e9a> in <module>()
     11 import tensorflow as tf
     12
---> 13 from tf_agents.agents.dqn import dqn_agent

[2019-10-01 12:17] IgnacioRoldan commented on #210
I solved it installing gast. You can add the next line in the setup:

!pip install 'gast==0.2.2'

[2019-10-01 12:25] #210 closed, assigned to nobody

[2019-10-01 18:51] ankurharitosh opened #211 "module 'gast' has no attribute 'Ellipsis'"
I'm running the setup cell after installing the libraries but this error is being shown. What can I do?

AttributeError                            Traceback (most recent call last)
<ipython-input-2-5cb0abb1126b> in <module>()
     13 import tensorflow as tf
     14
---> 15 from tf_agents.agents.reinforce import reinforce_agent
     16 from tf_agents.drivers import dynamic_step_driver
     17 from

[2019-10-01 19:11] oars commented on #211
Try the following: `pip install tf-nightly==1.15.0.dev20190821 \ tf-estimator-nightly==1.14.0.dev2019091701 \ gast==0.2.2`

I'll update the colabs.

[2019-10-02 07:46] ankurharitosh commented on #211
Thank you so much. It is now working.

[2019-10-02 07:46] #211 closed, assigned to oars

[2019-10-03 20:40] basvanopheusden opened #212 "Dimension error in PPO train() with multiple actions"
I'm trying to train a PPO agent in an environment with a multi-dimensional action space, specifically, a 1x5 vector (floats in [0,10]), a 1x10 vector (floats in [0,10]) and an boolean (integer with min=0,max=1). I'm able to create an agent but during training, I receive this error:

InvalidArgumentError: Dimension 2 in both shapes must be equal, but are 5 and 1. Shapes are [1,450,5,1] and [1,450,1

[2019-10-03 20:42] basvanopheusden commented on #180
This problem has been resolved in the newest update, one can simply write

[code]

[2019-10-03 20:42] #180 closed, assigned to nobody

[2019-10-04 16:08] oars commented on #212
Can you share the full specs from your environment? Also please run the environment validation to make sure your environment consistently generates data fitting the specs:

https://github.com/tensorflow/agents/blob/master/tf_agents/environments/utils.py#L45

[2019-10-04 16:43] basvanopheusden commented on #212
Yes, both the observation and actions specs are multidimensional:

[code]
This code snippet yields the following output:
[code]

[2019-10-06 10:08] maochaokuo opened #213 "TF-Agents Environments Tutorial.ipynb has random_uniform error"
running
TF-Agents Environments Tutorial.ipynb
from google colab will get the following error:
AttributeError: 'module' object has no attribute 'random_uniform'

at Whole Episodes paragraph, line:
action = tf.random_uniform([1], 0, 2, dtype=tf.int32)

![random_uniform-error](https://user-images.githubusercontent.com/6857537/66267502-1fd5f500-e864-11e9-8c25-e4e4ad1c0d5b.png)

[2019-10-07 16:33] sguada commented on #213
Which version of TF do you have installed?

[2019-10-08 00:52] maochaokuo commented on #213
hi, the problem comes from the Github and/or Google colab, so you may just run it to see the problem:
Github:
[Github 2_environments_tutorial.ipynb](https://github.com/tensorflow/agents/blob/master/tf_agents/colabs/2_environments_tutorial.ipynb)
Google Colab:
[Google Colab 2_environments_tutorial.ipynb](https://colab.research.google.com/github/tensorflow/agents/blob/master/tf_agents/colabs/2_envir

[2019-10-08 05:15] seungjaeryanlee commented on #213
[According to the TF document](https://www.tensorflow.org/api_docs/python/tf/random/uniform), it seems like the line should be changed to `tf.random.uniform`. I verified that it works on Colab after making the change.

![11](https://user-images.githubusercontent.com/6107926/66369107-0074c000-e969-11e9-9c92-72198b339f5e.png)

Should I make a PR?

[2019-10-08 05:27] maochaokuo commented on #213
OK, understood. This is part of the tutorial. It will be great if you may update it. Thanks

[2019-10-08 15:31] #213 closed, assigned to nobody

[2019-10-08 19:13] zzong2006 opened #215 "Method copy for weights of Network"
I'm trying to implement meta-learning algorithm **MAML** by using tf-agent.

Just started looking around the tf-agent library, I found network.
Network supports `copy` function. But it's only shallow without weights.
(I read the warning message "Network layer weights are *never* copied." but expected it at least will keep the number/structures of layers and nodes)

I used copy function but it was

[2019-10-08 19:52] sguada commented on #215
Networks don't build their variables until they are called or explicit call to `create_variables()`.
Try the following:
[code]

[2019-10-08 20:14] zzong2006 commented on #215
It works for me. Thanks.

[2019-10-08 20:14] #215 closed, assigned to nobody

[2019-10-08 21:35] basvanopheusden commented on #212
Some extra information: the error can be traced back to line 586 in ppo_agent.py:

`      total_kl_penalty_loss = tf.add_n(kl_penalty_losses)
`

If I switch to the Reinforce algorithm, my agent does run, but training is slow

[2019-10-09 17:43] basvanopheusden opened #216 "ActorDistributionNetwork with bounded array_specs"
When building an ActorDistributionNetwork with bounded array_specs, the network occasionally produces actions that violate the bounds. This seems to be a result of the line `scale_distribution=False` in line 48 of `actor_distribution_network.py`.

[code]

I was able to workaround the problem by copying this function, changing `scale_distribution `to `True` and passing it as an argument to the init

[2019-10-09 23:07] kuanghuei commented on #216
What NormalProjectionNetwork does is squashing actions with tanh and it shouldn't go out of the bounds if `scale_distribution=False`. I am not very sure why this can happen. Would you like to provide more context?

[2019-10-10 12:48] therhappy opened #219 "Parallel training fails silently"
Hello!

First of all thanks for this library. And also for reading this!

I am trying to run a training with several instances of my custom environment in parallel. This work is based on the [DDPG example](https://github.com/tensorflow/agents/tree/master/tf_agents/agents/ddpg/examples/v2).
The aforementioned environment runs fine when I set num_parallel_environments to 1. However, when I try to in

[2019-10-10 16:28] basvanopheusden commented on #216
Here's a minimal example: I make a very simple custom environment with 1 observation, 1 action, both 10-element vectors with each entry in [0,1]. The dynamics of the environment are such that no matter what action one takes, it terminates with reward 0 after a single step (this is intentionally a very dumb environment)

[code]

I then wrap this environment to a `TfPyEnvironment`, create an `ActorD

[2019-10-10 16:30] zzong2006 opened #220 "Second Order gradient is not working"
I try to implement getting the second order gradient by tf_agent.
The reason why I do second order gradient is came from meta-learning algorithm [MAML](https://arxiv.org/abs/1703.03400).

First I create `tf_agents.networks.network` named as `actor_net` which have single hidden layer with 100 nodes and give 2 action distributions for 'CartPole-v0' problem (left, right).

[code]

And with the two `t

[2019-10-10 16:51] marconardelli opened #221 "Post trained model Rewards"
Hello,
I have a complex system that takes hours of training to arrive to the best solution.
This is due to the fact that the reward calculation of each step must do some complex check on multiple variables.
My idea is, once I have a trained model, is it possible to cut this portion of code and return always a reward value of 0?

[2019-10-11 01:04] kuanghuei commented on #221
It seems like avoiding reward computation should probably be handled in your environment implementation.

[2019-10-11 15:31] oars commented on #221
If you are deploying the trained policy and don't need to do any more training you can definitely change your environment to only return 0 rewards.

The policies do not use the reward for evaluation, it is only used by agents during training.

[2019-10-11 15:31] #221 closed, assigned to nobody

[2019-10-12 02:57] maochaokuo opened #222 "running TF-Agents Policies Tutorial.ipynb crash at actor_network=action_net parameter"
When I try to run Tensorflow Agents tutorial#3 3_policies_tutorial.ipynb (using Google Colab), I got a crash message at "Using an action network" section, the line:
my_actor_policy = actor_policy.ActorPolicy(
    time_step_spec=time_step_spec,
    action_spec=action_spec,
    actor_network=action_net)
It happens at the last parameter, actor_network=action_net. The error message is:
AttributeError:

[2019-10-12 09:19] maochaokuo commented on #222
It is weird that, it works now, when I close my browser and start all steps again. Let me close this now.

[2019-10-12 09:19] #222 closed, assigned to nobody

[2019-10-16 21:39] krishpop opened #223 "error initializing AverageEpisodeLengthMetric instance"
when I try running ```metric = tf_metrics.AverageEpisodeLengthMetric()``` it returns with the following error:

[code]

[2019-10-17 00:01] krishpop commented on #223
It seems this is only an issue with the latest tf-nightly build, I reverted to tf-nightly-gpu==1.15.0.dev20190822, and things seem to work

[2019-10-17 00:03] #223 closed, assigned to nobody

[2019-10-22 07:34] Rendok opened #227 "Why using replay_buffer.clear() in PPO? And a bug without it"
Hi,

There is a PPO code example in https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py
where each iteration the training is made of the steps:

[code]
There is already a question about `replay_buffer.gather_all()`. My question is, **why do we clear the buffer each iteration?** It violates the idea of experience replay buffer, which is to infuse new traj

[2019-10-22 11:04] ChrisProgramming2018 opened #228 "save replay buffer"
Hello,
I could not find out which data structure is used save the trajectories in the replay buffer
So if I continue training I can load the buffer with the old buffer content

Thank you for your help

[2019-10-22 17:29] kuanghuei commented on #227
PPO is an on-policy algorithm. The replay buffer doesn't really store the agent's experience from previous iterations. Technically PPO can be implemented without replay buffer. We use it to cache  trajectories for connivence here.

[2019-10-22 17:29] #227 closed, assigned to nobody

[2019-10-22 19:56] jun-bun opened #230 "TF agents & TF 2.0 contrib dependency for current pip package."
Versions:
tf-agents 0.2.0rc2
tensorflow 2.0.0

Does not work unless tensorflow/agents/tf_agents folder is imported as module.
current pip version of tf_agents still uses tf.contrib but is missing in tensorflow 2.0.0

[2019-10-22 21:33] youngalou commented on #230
+1 for this. Current pip module needs to be updated.

[2019-10-22 22:22] tagomatech commented on #113
Also following @ideenfix's comment, replacing: `self._optimizer.apply_gradients(grads_and_vars), global_step=self.train_step_counter) ` with: `self._optimizer.apply_gradients(grads_and_vars)`  in the file **dqn_agent.py** seems to solve the issue.

In fact, now using:
`optimizer = tf.optimizers.Adam(learning_rate=learning_rate)`  instead of: `optimizer = tf.compat.v1.train.AdamOptimizer(learning_r

[2019-10-22 23:58] sguada commented on #113
Sure

[2019-10-23 15:54] ebrevdo commented on #228
Hi; the replay buffer subclasses `tf.Module`, so you should be able to save and load it using `tf.train.Checkpoint`:

[code]

Note you can create an empty RB, associated it with a Checkpoint object, and restore into it.

[2019-10-23 15:54] #228 closed, assigned to nobody

[2019-10-23 15:55] ebrevdo commented on #230
@oars @sguada could you push a new pip?

[2019-10-23 16:00] sguada commented on #230
While we push a new version you can `pip install tf-agents-nightly` to get a version that works with TF 2.0

[2019-10-23 17:13] sguada commented on #220
Once you create a copy of variables the gradients don't follow through.

[2019-10-24 01:55] corypaik commented on #219
I'm having the same issue on windows and can confirm the problem persists with default gym environments even though it runs on Mac with no changes to the code. Also as a side note, I've been running up to 64 environments with OpenAI vec_env wrappers on windows, so I'm not too sure where the error is coming from.

[2019-10-24 17:55] codelast opened #233 "Does this lib provide fully parallel ability?"
Hi everyone, I'm new to this lib, and I want to ask that, does this library provide the parallelism ability like another RL lib [rlpyt](https://github.com/astooke/rlpyt) does?

[rlpyt](https://github.com/astooke/rlpyt) can:

Thank you.

[2019-10-25 16:45] robodhruv opened #234 "Using tf_agents with Habitat environment"
I am trying to use tf_agents with Habitat RL_Env (which subclasses gym.Env). What is the right way to do this: register as a gym env and then load it, or wrap it inside a tensorflow environment manually?

I am able to register it as a gym environment but when trying `suite_gym.load`, I get
`The gym space <habitat.core.spaces.EmptySpace object at 0x7fae46241b50> is currently not supported.`
Is this

[2019-10-25 17:49] kbanoop commented on #234
Yes you could register as a suite or just wrap the GymEnv instance using the GymWrapper which will convert it to our PyEnvironment.

Not sure what an EmptySpace in Habitat means, but this is the function which converts GymSpaces to our format and you could try to define a conversion there:
https://github.com/tensorflow/agents/blob/3541bfe5e5d0a837ae5e92c4f3f99f88ba853732/tf_agents/environments/gym

[2019-10-25 18:11] oars commented on #234
It seems habitat defines their own spaces:  https://github.com/facebookresearch/habitat-api/blob/6be49a17bde08798c2ec05a5d2c25cfbbe4b442a/habitat/core/spaces.py

The best way for you to integrate this would be to fork the gym_wrapper and modify `_spec_from_gym_space` as Anoop suggested.

[2019-10-28 01:50] mirdones commented on #186
Any news on the colab?
I am training a C51 agent using the c51_tutorial as a base and I would like to save it during training and later use it on production.

[2019-10-28 18:22] egonina commented on #233
We have an internal API for doing distributed data collection and training that we plan on open sourcing soon.

[2019-10-28 18:22] #233 closed, assigned to egonina

[2019-10-30 18:53] tfboyd commented on #117
Another fix is to just implement the method in QNetwork and do nothing, which is what keras.Model does.  I will assign this to myself once I am added to the repo and see if @oars finds my solution or something similar acceptable.  I also like printing the summary.  :-)

[2019-10-31 19:30] tfboyd commented on #117
Fix is in progress  ETA ~5 days.  05-NOV.  Will update when submitted.

[2019-11-04 19:06] tfboyd commented on #117
Fixed  https://github.com/tensorflow/agents/commit/b3e962248f25ad33aea787a89947df3cabc84278

[2019-11-04 19:06] #117 closed, assigned to tfboyd

[2019-11-04 19:15] robodhruv commented on #139
Is there an update on this? Is it up for release soon / is there an early tested version ready for use?

[2019-11-04 22:15] robodhruv commented on #234
Was able to create a wrapper to convert Habitat spaces to gym spaces and it interfaces fine. Thanks!

[2019-11-04 22:15] #234 closed, assigned to nobody

[2019-11-04 22:23] robodhruv opened #235 "Saving and loading tf_agents"
What is the right way to save/checkpoint a tf_agent and load it?
- `pickle` does not dump the agent and gives `can't pickle weakref objects`
- `tf.saved_model.save` successfully saves the agent but on loading, the signatures.keys() yields an empty list.

Tried this with a custom tf_agent as well as the standard DqnAgent from the tutorial Colab notebook.

[2019-11-04 22:28] oars commented on #235
Take a look at the policy_saver for how to do saved_models, this is useful for deploying learned policies:
https://github.com/tensorflow/agents/blob/master/tf_agents/policies/policy_saver.py#L73

If you want to save and restore to train across multiple runs take a look at the checkpointer as used in the DQN example.:
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2

[2019-11-04 22:28] #235 closed, assigned to nobody

[2019-11-05 00:09] robodhruv commented on #235
Thanks for your reply, @oars ! It is not clear how to restore a checkpoint: the `common.Checkpointer` does not have a restore() or similar method. can you point me to a relevant resource?

[2019-11-05 00:11] oars commented on #235
See the use of `initialize_or_restore()`
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py#L216

[2019-11-05 09:24] rishanshah opened #236 "Structures do not have the same nested Structures"
I have been trying to train a DDPG agent with batch learning however I keep getting the error:

[code]

I have managed to create Trajectories by adding observations to a replay buffer and then calling them out in batches however I am not aware of how to change the agent so that it is able to be compatible with the outputs of batch sample. There isn't any documentation on how I can deal with this p

[2019-11-05 16:09] oars commented on #236
How are you building your trajectories? In the first example I don't know why your reward is shaped as [4,2,1].

In your update I believe your issue is the extra dim for elements where the spec has shape [], I believe their shape should be [4,2] in the sample you provide.

Note that DDPG expects a trajectory with tensors shaped [Batchx2] + spec.shape when training.

[2019-11-06 02:07] gomes-eric opened #237 "Why use the tf-nightly?"
Hi,

Could someone answer me why we should use tf-nightly instead of tensorflow since tf-nightly is conducive to unexpected failures?

Thanks in advance!

[2019-11-06 09:38] rishanshah commented on #236
@oars I have just been using the `tf_uniform_replay_buffer.TFUniformReplayBuffer` to add all the observations and then using the `as_dataset` and calling samples with batch 4 and step 2 (Just following the example). I tried training with a trajectory directly but I got an error saying that the outer dimensions are missing. So as a result I tried messing with the trajectory dimension and ended up w

[2019-11-08 11:32] rishanshah commented on #236
**UPDATE**

I think I got it working by setting the data spec to be as below thanks to your hint on [Batchx2] + spec.shape

[code]

however I am still confused about the data which is not "action" or "observation" does the model recognise this data? Can it associate reward to actions? I am not 100% sure how that all works

[2019-11-08 13:40] gomes-eric commented on #219
I have this same issue in Windows 10 64bits.

[2019-11-08 14:38] corypaik commented on #219
I found a relatively simple solution to this drawing from the OpenAI Baselines implementation if anyone is in need of a quick fix. It seems that something with the implementation of `ProcessPyEnvironment._worker()` as a class method was the root of the issue. I'm no expert, but from what I found searching through related issues on other projects, is that implementing multiprocessing can differ on

[2019-11-08 16:37] oars commented on #236
To be able to sample trajectories from the replay buffer you need to push trajectories in. The data_spec should be a trajectory too. Then you won't have to pack the samples.

Networks will look at the `observation` and `step_type`. Policies receive a full time_step as it's useful to have the extra data in some situations, but again, in general they should only be looking at `observation` and `step

[2019-11-08 16:37] #236 closed, assigned to nobody

[2019-11-11 00:59] breadbread1984 opened #242 "I get error when creating TFUniformReplayBuffer"
the call stack when I get the error is shown below.

  File "baseline1_train.py", line 161, in <module>
    main();
  File "baseline1_train.py", line 103, in main
    max_length = 100000);
  File "/home/xieyi/.local/lib/python3.7/site-packages/gin/config.py", line 1032, in wrapper
    utils.augment_exception_message_and_reraise(e, err_str)
  File "/home/xieyi/.local/lib/python3.7/site-packages/gin

[2019-11-11 19:08] sguada commented on #242
The error seems to indicate that you didn't pass a TensorSpec when building the replay buffer.

[2019-11-12 00:06] mirdones opened #244 "Error when using loaded trained model"
I am training and saving a PPO agent as in https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py

The code used is:

                if global_step_val % policy_checkpoint_interval == 0:
                    policy_checkpointer.save(global_step=global_step_val)
                    saved_model_path = os.path.join(
                        saved_model_dir, 'po

[2019-11-12 00:31] sguada commented on #244
Policies expect batched time_steps, eex. `TimeStep(step_type=TensorSpec(shape=(None,),`

So make sure to wrap the eval_env with `BatchedPyEnvironment` or with `TFPyEnvironment`

[2019-11-12 00:51] mirdones commented on #244
I added the line:

`eval_env = BatchedPyEnvironment((eval_env,))`

and got the error:

[code]

But my problem persists as I intend to use the trained agent receiving entries from the real world, not from the simulated environment I use to train it faster.

[2019-11-12 01:04] breadbread1984 opened #245 "how can I output action containing joint decisions"
I want the actor network of agent to output action containing multiple decisions each of which follows different distributions. I just use tfd.JointDistributionSequential to joint multiple independent distributions. but I get the following during training. how can I deal with it. thx!

  File "baseline1_train.py", line 161, in <module>
    main();
  File "baseline1_train.py", line 108, in main

[2019-11-12 01:13] breadbread1984 commented on #242
yeah it is the problem of output distribution specification of actor network. I use jointdistributionsequential to output a joint distribution of several distributions. it has no input param shape. so I just give None, then I got the error.
what is the right way if I want actor network to generate action from joint distinct distributions.

[2019-11-12 01:14] #245 closed, assigned to nobody

[2019-11-12 16:14] sibyjackgrove opened #246 "Error when trying to use action() on saved PPO policy that used RNN model"
I am receiving the following error when I try to load and use a policy that used an RNN model in `train_eval.py` script from PPO agent examples. To use the RNN model I had set use `use_rnns = True`. I am getting the error  at `action_step = saved_policy.action(time_step)`. The error is similar to that in #244.

Note that I was able to load and use the policy when I used the feed-forward network `u

[2019-11-12 16:16] sibyjackgrove commented on #244
I am getting a similar error when I tried to load a model that used an RNN model, but not when I use the feedforward model #246.

[2019-11-13 02:41] breadbread1984 opened #247 "How to define actor network yielding action of joint distribution"
when an actor network outputs action which is composed of several decisions following different distribution. how should I define the actor network?

I want to use tfd.JointDistributionSequential to join several distributions. but I find network.DistributionNetwork asks for output specification of the actor network. the output specification need input param shape of tfd.JointDistributionSequential

[2019-11-13 02:41] #242 closed, assigned to nobody

[2019-11-13 22:37] egonina commented on #247
I'm not sure if we support different distribution specs in the networks/replay_buffers. @oars @sguada what do you think?

[2019-11-13 22:42] egonina commented on #246
I think the issue is that you're passing just time_step to policy.action, but you need the policy_state since you're using RNNs, see the input signature here: https://github.com/tensorflow/agents/blob/master/tf_agents/policies/tf_policy.py#L244

[2019-11-14 23:13] mirdones commented on #246
So where do I get the policy_state?

[2019-11-14 23:24] sguada commented on #246
From the policy itself https://github.com/tensorflow/agents/blob/master/tf_agents/policies/tf_policy.py#L213

[code]

[2019-11-14 23:54] sibyjackgrove commented on #246
Thank you @egonina and @sguada. I used the policy state and it worked as expected.

[2019-11-14 23:54] #246 closed, assigned to nobody

[2019-11-15 23:52] JaCoderX opened #248 "Colab 1_dqn_tutorial error on env.render()"
**System**:
ubuntu 16.04
All Packages installed as required ('pyglet==1.3.2')

**Problem**:
While running the `1_dqn_tutorial` example locally in Jupyter I get errors on cells that attempts to access `.render() `.
To compare I also ran the same example in google colab and didn't got any errors.
the only thing I notice to be a bit different were `xvfb` version installed
2:1.19.6-1ubuntu4.3 - google

[2019-11-16 07:45] liujuncn opened #249 "The collected trajectories do not follow the spec."
I defined an observation spec as follow:
[code]

But when run the driver to collect trajectories, it gets:
[code]

The results clearly show that the observations did not follow the spec. It should be:
`observation={'quote_features': [[-0.00021927960915490985 -0.0002457473601680249 -0.00030042746220715344 ... 0.0015642248326912522 0.0015547607326880097 0.0015585842775180936]], ..}`

For example, ru

[2019-11-16 09:41] robodhruv opened #250 "network.create_variables() clogs all GPU memory"
On calling network.create_variables() for my agent (using a DDPG agent), my GPU memory gets used 100% instantly and never clears up.
I can control it by using a virtual memory cap, but I need memory for other computation downstream (CNN etc.) and the memory cap ensures there is no memory left for anything else.

Why might this be happening and how do I get around this?

[2019-11-16 10:09] #249 closed, assigned to nobody

[2019-11-16 11:33] liujuncn commented on #8
@oars How to deal with it in tf 2.0 without tf.Session ?

[2019-11-18 15:59] oars commented on #8
How to deal with what? There are examples using environments in 2.0. Please look at the colabs.

[2019-11-18 18:53] egonina commented on #250
how big are your variables/layers that you are creating?

[2019-11-18 19:04] robodhruv commented on #250
I create a custom tf_agent (outline shown below) using actor and critic networks from DDPG agent and the networks are 2-layer feedforward FC on low-dim states. It's unlikely that the network is causing the trouble.

On executing linewise in a notebook, it is the `for net in net_list: net.create_variables()` step that causes the memory to fill up.

[code]

[2019-11-18 19:06] egonina commented on #250
can you print the specs of all the layers in the networks you're creating in that loop? it seems likely that one or more of the layers is configured to be very large that is filling up GPU memory.

[2019-11-18 19:07] sguada commented on #250
In general TensorFlow would use all the GPU memory by default.

See https://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2019-11-18 19:12] robodhruv commented on #250
@egonina  what do you mean by specs? Is there a particular function that can get me these specs?

@sguada it seems to do that only at this step and no free memory available for future network initializations. I've used GPUOptions to limit the memory but that just means I don't get memory for other operations later on. For e.g. I get this when using a Conv2D later, likely because cuDNN ran out of m

[2019-11-18 19:27] egonina commented on #250
you can look at input and output shapes of the layers in the networks: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#input_shape

[2019-11-19 00:13] robodhruv commented on #250
Looking at the input/output spec, I get this error:
<img width="672" alt="image" src="https://user-images.githubusercontent.com/14254187/69104751-3e600c00-0a1e-11ea-9b9e-a0f398a3676a.png">

`layer.input_shape` on the FC layers just shows the layers, as expected:
[code]

[2019-11-19 00:32] sguada commented on #250
When you create the Variables print their sizes, so you know how much space are the taking. Example

[code]

[2019-11-19 00:42] robodhruv commented on #250
`var.shape` is TensorShape and does not have an attribute size.
However, just printing out `var.shape` as suggested gives:

[code]

[2019-11-19 01:15] sguada commented on #250
Sorry, `var.shape.num_elements()` should work.
Can you also print their dtypes, just to make sure they are float32.
If they are tf.float32 then their size should be total num_elements * 4 bytes.

[2019-11-19 01:26] robodhruv commented on #250
Yeah, the total num_elements is 628014 of tf.float32 each. It is definitely not the network parameters...

[2019-11-19 04:45] bartmaciszewski opened #253 "EpsilonGreedyPolicy Error"
Hi All, I am trying to use a DQN agent with a custom Gym environment wrapped in TfPyEnvironment that has a Discrete action space (e.g. 1, 2, 3, 4, 5, ...) and using an observation_and_action_constraint_splitter function to restrict valid actions depending on the state.

So far so good and running an initial evaluation runs fine however I get the following error when training:
`
...
  File "C:\Anac

[2019-11-19 17:27] mhe500 opened #254 "DQN Agent: Should training=True be passed to q_network.__call__?"
Regarding:
https://github.com/tensorflow/agents/blob/b6d0fac4fe6dee630d0f4a14118acf48217bd292/tf_agents/agents/dqn/dqn_agent.py#L512

Should training=True be passed to the Q-network, so that it can subsequently pass it to the encoding network (which can pass it to pre-processing layers, combiner layer, post-processing layers, etc.)?

Also, I believe it would be correct that the target_q_network wo

[2019-11-20 00:45] robodhruv commented on #250
@egonina @sguada An update.
This observation is not specific to DDPG. I was able to replicate this using the DQN_Tutorial notebook on `Cartpole-v0`.

While it works fine on Colab and the memory management is as expected, running it on my local machine blows up GPU:0 memory to 100%, attached is the output of `nvidia-smi` before and after calling the agent from the tutorial notebook.
<img width="443

[2019-11-20 00:47] sguada commented on #250
As I mention, as soon as TF start using the GPU it reserve all the available memory of the GPU, that doesn't mean is using all of it in that moment.

[2019-11-20 00:52] robodhruv commented on #250
Thanks, @sguada.

However,
1. This does not happen on Colab. For example, here is the same output on a Colab instance:
<img width="603" alt="image" src="https://user-images.githubusercontent.com/14254187/69199409-b85ec680-0aec-11ea-92ae-8b8726980014.png">

2. Because this takes up all memory, using a CNN downstream throws me the following error:
![](https://user-images.githubusercontent.com/142541

[2019-11-20 14:48] JCMiles commented on #104
Hi Team ,
after the latest release with the new lstm encoder I was able
to correctly run SAC agent with timestep > 2.
I'm currently testing it.
I'm going to close this one
Thx for your effort !

[2019-11-20 14:48] #104 closed, assigned to sguada

[2019-11-20 17:31] egonina commented on #250
The error in (2) may be unrelated to the GPU memory issue, check out https://github.com/tensorflow/tensorflow/issues/24828 and https://github.com/tensorflow/tensorflow/issues/28326. Potentially due to mismatch between cuda and cudnn versions.

[2019-11-20 17:50] robodhruv commented on #250
Thanks a lot, @egonina
Following https://github.com/tensorflow/tensorflow/issues/24828#issue-397816192 was useful and (2) is resolved by maintaining consistency across cudnn and tf.

I still find the behavior of (1) a little weird. Especially since it behaves differently on Colab v/s local machine. Why might this be happening?

[2019-11-20 17:52] egonina commented on #250
Yea, I'm not sure either. Could have something to do with the difference in tensorflow runtime backing colab vs your direct setup. Is 67MB about the size of variables you expect to be allocated?

[2019-11-20 17:58] robodhruv commented on #250
Slightly overestimated, but yes.
I can explicitly cap memory_limit but that does not seem like the right way to do it...

[2019-11-20 21:24] sguada commented on #250
I suppose the Colab is configured to allow memory growth.

[code]

[2019-11-21 19:46] kbanoop commented on #254
Thanks for raising the issue! We haven't added support for the training flag in DQN or QNetwork yet. We added it to SAC here: https://github.com/tensorflow/agents/commit/e2a0fb41fa25c958fef05a0df651e74c715f7dd6#diff-64bc214264f68e3811d618b67fb8b9ab

Would you like to contribute a PR supporting it in DQN?

[2019-11-21 21:07] mhe500 commented on #254
Hi @kbanoop. Sure I'd be glad to. Let me review the changes I made to ensure they look right using what was done in SAC.

There are a few related subtle things  that I encountered related to D-DQN that go beyond just passing training=true that I had to change and I want to ensure I'm confident are correct. For example, the q_network ends up being invoked multiple time in D-DQN, so layer losses nee

[2019-11-21 22:29] kbanoop commented on #254
That sounds great, thanks Michael!

[2019-11-21 23:37] marconardelli opened #255 "Example observation_and_action_constraint_splitter"
Hello,
I tried to understand how to use an action constraint on my Environment.
I have an environment with 100 lines, and the agent can choose any line, so I have 100 actions
When a line has been choosen i change a value in the 'processed' column of the environment from 0 to 1.
How can I set the observation_and_action_constraint_splitter so that the only valid actions are the ones connected to a v

[2019-11-22 05:45] bartmaciszewski commented on #255
Hi assuming you have an action space such as gym.spaces.Discrete(100) and the processed column is part of your observation then you just need to define an observation_and_action_constraint_splitter function that cycles through the lines in the observation and builds a tensor that has a 1 for each allowed action and 0 for not allowed.  Something like this:

[code]
Just pass a reference to this func

[2019-11-22 12:21] marconardelli commented on #255
Hi bmac,
thank you very much, I'm gonna try this today and let you know if it works.
appreciated :)

[2019-11-22 13:16] JCMiles opened #256 "Driver Loop InvalidArgumentError with batched env + parallel environments"
Hello team,
I have a custom env that is batched with batch size 1. Everything works fine if no parallel_environments. But now I'm trying to run SAC agent with 2 parallel envs:
by following v2 example: https://github.com/tensorflow/agents/blob/master/tf_agents/agents/sac/examples/v2/train_eval_rnn.py

1) I noticed that if I do:
    num_parallel_environments = 2
    replay_buffer = tf_uniform_replay

[2019-11-23 05:46] bartmaciszewski commented on #255
Hi Marco, I am working on a similar agent but I am using gym.spaces.Discrete(num_actions) and relying on the TFPyEnvironment wrapper to configure my action_spec.

I checked my resulting action_spec and it translates to a scalar (not a rank 1 tensor):
BoundedTensorSpec(shape=(), dtype=tf.int64, name='action', minimum=array(0, dtype=int64), maximum=array(196, dtype=int64))

I have some other issues

[2019-11-23 12:04] marconardelli commented on #255
I'm using a DQN, running eagerly this function seems to work by its own:

[code]
the problem is that when I run the code i get the following error:

I'm trying to understand what the problem could be, I think it should be probably connected with the return values of the constraint function.

[2019-11-24 03:35] bartmaciszewski commented on #255
Do you know where in TF code this error is coming from?

I encountered a similar error with a DQN agent and a scalar action space and using an observation action splitter function.  I managed to trace it back to the random policy part used during DQN training (seems it was returning a scalar vs a tensor from the greedy part) and hacked around it.

Not sure if I’m doing something wrong or it’s a bu

[2019-11-24 20:14] wsun899 opened #257 "How to implement different deep Q models"
The input of the current implementation of deep Q model in the tf-agents is observation and its output is the Q values of its possible actions. I need a different structure of deep Q model: Input: observation + action, and output: the Q value of the action. I am just wondering if there are any examples or suggestions for quick implementation on the framework. Thanks,

WP

[2019-11-25 01:09] marconardelli commented on #255
I'm getting the error on the epsilon_greedy_policy file, line 102

`action = tf.compat.v1.where(cond, greedy_action.action, random_action.action)`

same line...

[2019-11-25 01:43] marconardelli commented on #255
I made the same modification to the random_tf_policy and it works fine now :)

[2019-11-25 04:44] bartmaciszewski commented on #255
Nice!

[2019-11-25 15:20] sguada commented on #257
Take a look at https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ddpg/critic_network.py

[2019-11-25 15:21] sguada commented on #256
One quick question why does your Env has batch_size 1? In general the PythonEnv don't have batch dimension and tf_py_environment.TFPyEnvironment will add it.

[2019-11-25 15:29] sguada commented on #255
I would recommend to keep all the mask logic in the Python part of the Environment, instead of trying to use tf.function.

So in the `PyEnv` step(action) function generate the `(observation, mask)`

If you really have to do it in the `observation_and_action_constrain_splitter` then you need to use only tf.ops use Tensor operations.

[code]

[2019-11-26 01:10] marconardelli commented on #255
Hi Sergio,
thank you for your reply, but if I generate it on the PyEnv, how can I pass it to the network? is there any example for this?

[2019-11-26 10:48] mariuhbr commented on #122
thanks, this solved my problem.

[2019-11-26 18:03] wsun899 commented on #257
Thanks a lot, Sguada!

[2019-11-27 16:06] sguada commented on #255
You can create a dict or a namedtuple for the observations, those would be passed to the Network, if you only want to pass the true observation to the Network but want to use the mask in the Policy then you can use the `observation_and_action_constrain_splitter` to separate them.

[2019-11-28 00:59] anandijain commented on #230
I'm having some issues trying to import modules using `tf-agents-nightly`.

Specifically, I can't seem to:
`from tf_agents.environments.tf_wrappers import TFPyEnvironment`

But I think something else is off because none of my tf_agents imports from non-nightly are able to import.

Is there any expected update on this?

Thanks!

[2019-11-28 02:19] bartmaciszewski commented on #255
Hi Sergio,  how would specify the observation spec to pass to the qnetwork at creation time so that it is compatible with the true observation spilt out by the observation_and_action_constraint_splitter?

[code]

Also is the reason for pushing the logic to define the mask to the environment rather than graph execution for performance reasons or really just to keep the environment abstracted from a

[2019-11-28 14:25] IbraheemNofal opened #258 "DQN Agent Issue With Custom Environment"
So I've been following the DQN agent example / tutorial and I set it up like in the example, only difference is that I built my own custom python environment which I then wrapped in TensorFlow. However, no matter how I shape my observations and action specs, I can't seem to get it to work whenever I give it an observation and request an action. Here's the error that I get:

Here's how I'm setting

[2019-11-29 17:15] marconardelli commented on #255
Hi bmac,
I think the solution for this is to create a custom Network that can receive the dict as a parameter, I'm working on this too...I'll give you an update when I will find the solution...

[2019-11-29 19:42] bartmaciszewski commented on #255
Hi Marco,  I was even thinking it maybe possible to just pass the entire observation together with the action mask to the network.  In the worst case the network would just ignore the mask and may even end up using the information to drive the output probabilities.

 In the splitter function you could just pick up the action mask from the observation but still pass the entire observation + mask to

[2019-11-30 13:19] JaCoderX commented on #248
I figured out what was causing the issue, it's appear that running locally doesn't need a virtual display. so I just commented it out and it seems to work fine.
[code]

[2019-11-30 19:07] #248 closed, assigned to nobody

[2019-11-30 19:25] vedantammihir opened #259 "Issue with test ddpg"
When I try to run the example DDPG test and eval scripts, I get the following issue:
module 'tensorflow' has no attribute 'enable_resource_variables'

If I change this line to:
tf.compat.v1.enable_resource_variables()

Then I get the following error:

RuntimeError: dataset.make_initializable_iterator is not supported when eager execution is enabled. Use `for element in dataset` instead.
  In call

[2019-11-30 22:43] kuanghuei commented on #259
Which version of tensorflow do you use?

[2019-12-01 01:37] jdossgollin commented on #259
I'm having the same problem! From a `pip freeze` I get
[code]

[2019-12-01 12:29] #256 closed, assigned to nobody

[2019-12-01 21:48] junhyeokahn opened #260 "Issue on running ddpg agent with parallel environment"
Hello,
I have a trouble running ```python tf_agents/agents/ddpg/examples/v2/train_eval.py --root_dir=$HOME/tmp/ddpg/gym/HalfCheetah-v2/ --num_iterations=2000000 --alsologtostderr``` with three parallel environments (In train_eval.py, I have changed ```num_parallel_environments=3```).
I am getting below error message
[code]
P.S. I didn't get this error when I use default 1 parallel environment.

[2019-12-01 21:52] junhyeokahn commented on #260
[Fixed] I have modified little bit as below in ```train_eval.py```
[code]

[2019-12-01 21:52] #260 closed, assigned to nobody

[2019-12-02 08:05] andreas-repp commented on #219
I get the same problem. I can reproduce this on Windows 10 64 bit. This problem also occurs when running the [PPO example](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py). Reducing the `num_parallel_environments` parameter to does not help as well.

I'm running today's nightly builds of tensorflow (tf-nightly) and tf-agents-nightly.

*EDIT*: The sol

[2019-12-02 10:08] gokhansolak opened #261 "TFPyEnvironment does not call the actual env._reset()"
I created a custom environment that runs a custom Mujoco session in it. I exposed some custom methods from this environment to get custom attributes, e.g. the sim time. I don't want these attributes to be part of the observation and be used by the agent, but use this for another purpose.  Following the REINFORCE agent tutorial, I created a TFPyEnvironment wrapper with this environment passed.

Aft

[2019-12-02 13:50] andreas-repp commented on #159
@sguada: From looking at the releases on pypi, it looks like you guys fixed this one. Therefore, I think this issue is resolved.

[2019-12-02 13:50] #159 closed, assigned to sguada

[2019-12-02 17:25] sguada commented on #261
Not sure how are you creating the TFEnv and the PyEnv, and how are you passing one to the other.

Also not clear if you are using TF 2.x or TF 1.15, since one is Eager by default but no the other.

But the following should work:

[code]

[2019-12-02 17:30] marconardelli commented on #255
Hi bmac, I will try to describe all steps you have to make to get things working.

First of all you have to change your environment:

Observation spec must be changed so that it includes the definition of the mask:

[code]
Then inside your environment create a function that returns the action mask, for me it was:
[code]
You have to change all the functions that creates the initial observation or g

[2019-12-02 23:37] kuanghuei commented on #259
I think it's probably because you are using tf2 but running the v1 example (enable_resource_variables only exists in the v1 example)? I guess either running v2 examples or pinning tf version to 1.15 should work. Let me know if this solves the issue for you.

[2019-12-03 02:29] gokhansolak commented on #261
Thank you for your response.

My TF version was 1.x. The code you provided gave the same error (the attribute is not found).

After upgrading to TF 2.0, it started to work as I want.

[2019-12-03 22:17] junhyeokahn opened #262 "[Question] call() in ddpg critic network"
I have a question about [call()](https://github.com/tensorflow/agents/blob/0d14c7431cb5ea1dce597e5047ba1ea3fc8ddd37/tf_agents/agents/ddpg/critic_network.py#L145) in ```critic_network.py``` in ddpg example.

In the bellman update, isn't value function at the terminal state are usually 0?
So I was thinking that when the ```step_type``` equals to 2, the call function should return zero.

[2019-12-04 14:52] mauricerad opened #263 "How do I adjust ddpg example to fit my environment?"
I want to adjust this [example](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ddpg/examples/v2/train_eval.py) to BipedalWalker-v2 but the performance is very unsatisfactory.

In fact, the agent does not seem to improve much at all over time. The losses just increase over time and video shows he tries differing strategies but does not significantly improve.

Thanks in advance!

[2019-12-05 01:54] #261 closed, assigned to nobody

[2019-12-05 10:20] michael20at commented on #230
Trying to get TF agents running on windows (with winpython) and tensorflow 2, updated pip to newest version, installed tf-agents-nightly, but still get the contrib is missing error. Any idea how to solve this?

How would I import tensorflow/agents/tf_agents folder as module, as suggested in the first post?

[2019-12-07 14:02] tagomatech commented on #258
FWIW Isn't it a `ArraySpec` (tf_agents\specs\array_spec.py), `TensorSpec` (tensorflow_core\python\framework\tensor_spec.py) conversion of some sort issue?

Is there a specific reason why you are using `TensorSpec` instead of `ArraySpec` or `BoundedArraySpec` to define the observation space in your customized environment (I mean inconsistently with examples provided by the tf-agents team)?

[2019-12-07 14:23] IbraheemNofal commented on #258
It is an array spec in the provided examples, but as far as I understand, the spec doesn't matter much in this case as long as what I'm passing as observations fits the aforementioned spec, no? I experimented with both tensor spec and boundedarrayspec and with different shapes for those specs, all yield the same error. And I'm not certain whether it's a conversion issue or not.

[2019-12-09 14:07] NeoExtended opened #264 "ParallelPyEnvironments do not work on Windows"
Today I was trying to create a PPO agents with a ParallelPyEnvironment. While the example under agent/ppo works well on linux the creation of child processes for the parallel environment fails under windows.
I tried to debug the problem and it seems that the child process creation under Windows calls the modified __getattr__ method, which then blocks forever, because it calls the receive method on

[2019-12-09 20:38] matthew-hsr opened #265 "Clarification on defining discrete, nominal actions"
Hi! I am transitioning from keras-rl to tf_agents and would really appreciate some clarifications on defining discrete action specs.

I am buliding a custom environment in which the 9 possible actions are discrete and nominal (i.e. not ordinal) and I hope to run DQN on it. Does setting the action spec as an integer as follows assume any ordinal relationship?

`self._action_spec = array_spec.Bounde

[2019-12-09 21:37] matthew-hsr opened #266 "A novice question about shape"
Hello! I encountered a shape mismatch error when trying to run `1_dqn_tutorial.ipynb` on my own environment. I defined the observation_spec to be `observation=TensorShape([3, 3, 3])`, but it seems like the random_policy added two extra dimensions, making it `observation=TensorShape([1, 1, 3, 3, 3])`

How may I remedy this mismatch? Below is the code I ran and the error generated.

Thanks in advanc

[2019-12-10 14:29] christianhidber opened #267 "Can we expect a release any time soon ?"
We are currently using tf-agents for prototype-style client project. Results are promising and we would love to head towards production. Can we expect an "official" tf-agents release any time soon ? From our experience clients are not at ease to go to any form of production with a "nightly-build". Currently that's the only thing that's preventing us to go ahead.

[2019-12-10 15:11] sguada commented on #266
The shape in the TensorSpec represents the shape of the observations without any batch or time dimension.
In this case seems to be an error due to having 2 extra dimensions, instead of just the batch dimension.

Could print the following `train_env.time_step_spec()`, `train_env.action_spec()` and `time_step`?

[2019-12-10 15:17] sguada commented on #267
Definitely, we are working hard to get it out today or tomorrow. Check it at https://github.com/tensorflow/agents/tree/r0.3.0

[2019-12-10 15:29] christianhidber commented on #267
Fantastic!

[2019-12-10 15:29] #267 closed, assigned to nobody

[2019-12-10 16:26] sguada commented on #265
`self._action_spec = array_spec.BoundedArraySpec( shape=(), dtype=np.int32, minimum=0, maximum=8, name='action')` is the right way to define discrete or nominal actions, they are assumed independent.

[2019-12-10 20:35] ebrevdo commented on #265
Please reopen if there is still confusion.

[2019-12-10 20:35] #265 closed, assigned to nobody

[2019-12-10 20:36] ebrevdo commented on #264
What kind of environment are you working in?  Is it compute heavy?  If not, you can try BatchedPyEnvironment for now.

[2019-12-10 20:40] matthew-hsr commented on #265
Thanks a lot!

[2019-12-10 23:52] ebrevdo commented on #264
Unfortunately I'm not sure we have many dev boxes for testing on Windows.  Have you had any experience with python subprocess pipes in windows, specifically know any gotchas to look out for when it comes to race conditions, opening pipes, etc?

[2019-12-10 23:53] ebrevdo commented on #263
@oars do you know who would be able to help with this?

@mauricerad do you have a git repo showing your setup?  or are you just checking out tf_agents and modifying the existing ddpg train_eval example?

[2019-12-10 23:53] ebrevdo commented on #263
Assigning Oscar to triage.  Perhaps Sam would be able to help with this?

[2019-12-10 23:54] ebrevdo commented on #262
@kbanoop would know best; I believe he wrote this code.

[2019-12-10 23:56] ebrevdo commented on #259
As @kuanghuei said; you should be instead running the examples from [this directory](https://github.com/tensorflow/agents/tree/master/tf_agents/agents/ddpg/examples/v2).  If those still pose a problem, please reopen this issue.

[2019-12-10 23:56] #259 closed, assigned to nobody

[2019-12-10 23:59] ebrevdo commented on #258
I would like to see a full trace of your code, but I believe the problem is that you're performing training (correct me if I'm wrong), which requires getting *batches* of data from your environment.  So for example, if the observatoin spec is `TensorSpec(..., shape=(16,), dtype=tf.float32)` then at training time you should be passing tensors of shape `[batch_size, 2, 16]`; where the first dimensio

[2019-12-10 23:59] ebrevdo commented on #258
For a better answer, we'd need to look at your copy of the repo; so we can understand the diff.  Also ensure that you can run the original example before you made any changes and that it doesn't lead to an error.

[2019-12-11 00:07] kbanoop commented on #262
Good question, but step_type=2/LAST could mean either it's a terminal state or it could also happen when an episode is terminated early. In the latter case, the value is not 0.

This is currently handled using time_step.discount which is 0 for terminal states:
https://github.com/tensorflow/agents/blob/1c4f2a0dd0abf3795a221dfc8a1771cff0e6ebb9/tf_agents/agents/ddpg/ddpg_agent.py#L311

But we are con

[2019-12-11 00:07] #262 closed, assigned to kbanoop

[2019-12-11 07:40] anandijain commented on #230
I'm getting some different errors when using `pip install tf-agents==0.3.0rc0` which was published to pypi yesterday.
I think that this solved the contrib errors though
@michael20at

[2019-12-11 12:37] NeoExtended commented on #264
I am currently working with the BreakoutNoFrameskip-v4 environment because I started a few experiments with DQN last week and wanted to compare the results to PPO training. I also plan on using a custom environment in the future, but that won't be heavier than Breakout.
The BatchedPyEnvironment seems to work for now, though im now running into a different problem later on =(. Maybe you can suggest

[2019-12-11 17:04] sguada commented on #230
Please open a different issue for other errors.
Re-open this one if you still have contrib troubles with the new release 0.3.0rc0

[2019-12-11 17:04] #230 closed, assigned to sguada

[2019-12-11 18:19] JCMiles commented on #264
Hi, don't know if this can help but I was able to run 8 parallel custom environments on Windows x64  by following the workaround suggested by corypaik here: https://github.com/tensorflow/agents/issues/219

[2019-12-11 18:28] IbraheemNofal commented on #258
The error occurs whenever I request an action from the dqn agent's collect_policy, passing one observation as you stated. As I understood from 1_dqn_tutorial under collab I have to pass only one observation, the current one, from the environment to get an action. I haven't yet gotten to training the agent. This isn't a copy of this repo, it's me attempting to adapt the solution to an entirely diff

[2019-12-11 19:37] ebrevdo commented on #258
Have you tried ensuring that your observations are properly batched?  If right now you're using a single py environment, and wrapping it in a TFPyEnvironment, try adding a batch dimension: first wrap the py environment in a batched env: py_env = BatchedPyEnvironment([py_env]).

[2019-12-11 20:42] IbraheemNofal commented on #258
Batching my observations? So for instance if my batch size is 32, the shape of my observations would become (32,16, ), correct? Can't I just pass a single observation to the agent, when requesting an action and collecting data? I think I wasn't very clear about what I'm doing in the previous comment. In the repo above, what I'm attempting to do is pass a single observation to each DQN agent, each

[2019-12-11 22:31] mhe500 commented on #254
Hi @kbanoop. See here: https://github.com/tensorflow/agents/pull/269.

[2019-12-11 22:59] JCMiles opened #270 "TRAIN SAC AGENT V2 EXAMPLE ON GOOGLE_CLOUD WITH PYTHON 3.5 TENSORFLOW-GPU 2.0"
Hi Team,

I'm trying to run sac v2 example with custom environment on gcloud
after testing all the train pipeline on my local machine (only cpu).
Now, I've created a vm from the deeplearning marketplace
with 16 cpu , 4 tesla p100 CUDA 10, 104 GB RAM
that is mounting the preconfigured tf 2.0 image and gpu drivers.

When i run the script everything start correctly (loading environement, agent ecc...

[2019-12-12 16:53] christianhidber commented on #237
maybe this helps, although it does not answer your question:
on 12/10/19 a new rc version was released (pip install tf-agents)
instead of tf-nightly we are now using this one.

[2019-12-12 17:09] christianhidber opened #271 "Can the call to 'tf.compat.v1.enable_v2_behavior()' be avoided ?"
Is there a way to use tfagents without having to call 'tf.compat.v1.enable_v2_behavior()' ?
If not, are there plans to get rid of it ?

[it interfers with other packages we are using]

[2019-12-12 17:25] oars commented on #271
If you run in 1.15 and want to use eager mode that is required. If you install TF2.0 then it is not required, but it is there in the examples for compatibility with different versions.

[2019-12-12 17:25] #271 closed, assigned to nobody

[2019-12-12 17:38] NeoExtended commented on #264
Thank you very much, thats exactly the same issue! The solution works as well - great 👍 .

[2019-12-12 17:38] NeoExtended commented on #264
Is it best to close the issue, since it is a duplicate now?

[2019-12-13 09:23] mauricerad commented on #263
@ebrevdo
I'm just checking it out, don't have a git repo. Thanks for your reply!

[2019-12-15 17:14] christianhidber commented on #271
Thanks. That actually helped a lot to identify the root cause (another package was calling tf.compat.v1.disable_eager_execution()).

[2019-12-16 19:05] kbanoop commented on #264
That sounds good, let me close the issue.

[2019-12-16 19:05] #264 closed, assigned to nobody

[2019-12-17 00:56] mKay00 commented on #255
+1
I have the same issue that I don't know how observation_and_action_constrain_splitter works and can't get it working. I if I keep the mask logic in the Python part I don't know how to pass it to the network. I am fairly new to RL and tf-agents, so I don't really understand the workarounds above. Do I have to clone the repo, change the code in the class, rebuild it and load the rebuilt tf-agents

[2019-12-17 13:27] bartmaciszewski commented on #255
Hi assuming you got your action space and mask splitter function I think you can try what Marco described or just do as I described [here](https://github.com/tensorflow/agents/issues/255#issuecomment-559870536) and pass the entire observation plus the mask to the network (eg pretend that the mask is part of the observation). After all it’s just some more information that the agent could potentiall

[2019-12-17 15:31] wsun66 opened #273 "is TFUniformReplayBuffer thread safe?"
I am planning to spawn a new thread (process) to collect data from environment during training. Is the replaybuffer thread safe?

[2019-12-17 19:49] kbanoop commented on #273
Not sure about your exact use case, but the uniform replay buffer uses a critical section to allow parallel reads and writes:

https://github.com/tensorflow/agents/blob/45022b764dde8ab351dc737da7c5b0888d656782/tf_agents/replay_buffers/tf_uniform_replay_buffer.py#L154

[2019-12-19 05:04] gokhansolak opened #274 "Wrapping a loaded policy model with PyTFPolicy"
I load a TFPolicy model that I saved using a PolicySaver, and wrap it with PyTFPolicy so that I can use it with numpy types:

[code]
It complains that "Policy should implement tf_policy.Base". Apparently, `tf.saved_model.load(args.policy)` does not return a TFPolicy, although the one I saved was a TFPolicy (specifically a GreedyPolicy). Loaded object is a `saved_model.load.Loader._recreate_base_us

[2019-12-19 18:29] wsun66 commented on #273
Thanks, Kbanoop.
Collecting experiences from our environment is pretty slow. I am trying to parallelize traing SAC agent and collecting experiences from environment. Hope it will speed up training. But I am concerned if the replaybuffer is thread safe. If Critical section allows parallel reads and writes, then my solution should be fine. Thanks,

[2019-12-20 00:43] mKay00 commented on #255
Phew, I finally got it to work. First I tried it with a tuple of (observation, mask), like recommended [here](https://github.com/tensorflow/agents/issues/255#issuecomment-558206434), which resulted in lots of different errors, which had to do with the problem that the tuple is a sequence, thus I need a `preprocessing_combiner` for my `QNetwork` and I tried `tf.keras.layer.Add`, as recommended by t

[2019-12-20 06:18] gokhansolak commented on #274
Actually this doesn't only happen for a loaded policy but also any GreedyPolicy.

When I follow the SAC minitaur tutorial and add these lines following the creation of eval_policy:
[code]

It will give the same error at the creation of PyTFPolicy: "TypeError: policy is not a TFPolicy."

That is unexpected because GreedyPolicy extends tf_policy.Base.

_Edit: Error occurs at the creation of PolicySa

[2019-12-20 06:26] gokhansolak commented on #274
I tried to save the policy as a Py policy so that I can load it as it is, but it doesn't work because PolicySaver expects a TFPolicy.

Is there are way to save/load a py policy?

[2019-12-20 06:42] sguada commented on #274
There a two options relax the check in PyTFPolicy or just use the loaded TFPolicy directly if you are using TF 2.0, since it should work with numpy inputs too.

[2019-12-20 06:42] sguada commented on #273
Have you tried using ParallelEnvironment?

[2019-12-20 06:45] sguada commented on #258
For collect or evaluation, in general your `PyEnvironment` should generate numpy.arrays without `batch_dimension` and define `ArraySpecs`, then the `TFPyEnvironment` would do the appropriate conversion, including adding `batch_size = 1`
You can pass a single observation, but it needs to have `batch_size = 1`. This is different than the `batch_size` used for training.

[2019-12-20 08:49] gokhansolak commented on #274
I tried it by giving np.zeros of desired size, since I was using FlattenEnvironment:
[code]
But fails with the error:
[code]
I will try relaxing PyTFPolicy.

I use TF 2, and tf-agents nightly.

[2019-12-20 15:21] wsun66 commented on #273
No, I have not. I am going to give a try. Thanks, Sguada!

[2019-12-20 16:31] tfboyd commented on #270
I will try to give this a try today.  I only have quota for V100s right now so I will start there, which is not total apples to apples but the GPU type has rarely (rarely but anything is possible for sure) mattered in my experience.

[2019-12-20 18:09] tfboyd commented on #270
@JCMiles  Working on getting a license :-( for uJoCo. I do not normally update things this quickly but wanted you to know I got started.  I was already wanting to setup nightly tests for the examples so this fit nicely into what I was doing.

[2019-12-20 19:16] tfboyd commented on #270
I will get you some more details and a docker you can use as well before I close the ticket. Here is what worked for me.  I will also try on my local GTX-1080 (which is pascal based like the P100).

I am using a V100 in the Cloud on an Ubuntu 18.04 docker image running on an 18.04 host running NVIDIA driver 440.33.01 and tf-agents at git_hash: 63c1c76f16f2068a637b26282c34a8825583e73e

[code]

Some

[2019-12-22 14:51] JCMiles commented on #270
@tfboyd thx for the effort,
Just saw that in the  last days the doc was updated both for tf and tf-agents
I will give it a try and let you know.

[2019-12-22 19:35] pirobot opened #275 "tf-agents SAC 10x slower than stable-baselines on same hardware"
I am running a simple test of SAC using the LunarLanderContinuous-v2 environment.  Training is for 500,000 steps with a replay buffer of size 50,000 (see code below).  tf-agents takes over **10 hours** to complete training whereas the stable-baselines implementation of SAC using the same hyperparameters only takes **39 minutes**.  I've checked and double-check my version of CUDA, tensorflow-gpu, t

[2019-12-23 17:08] tfboyd commented on #275
Hi @pirobot

I am going to run a few experiments. It is the holiday time so my responses make take longer than usual.  This item is important to us and me.  That you for the detailed report and code snippet.  If I need more help reproducing I will ping you.  Thank you again.

[2019-12-25 11:37] JaCoderX opened #276 "Epsilon greedy policy error when generating new action from Dict Action space."
I'm trying to convert a custom gym project (called BTgym) to work as a tf-agent env.
the original observation space and the action space are both `gym.spaces.Dict`.
but for the moment I have simplified the observation space so I can fit the env to run using the same code of DQN tutorial example (as a proof of concept). so the modified spaces are as follows:
[code]

Error occur under **Training the

[2019-12-28 23:54] jeroenherczeg commented on #253
Had the same problem, this also worked for me.

[2019-12-29 13:08] bartmaciszewski commented on #253
Given the number of people that have this issue I’m beginning to think this is indeed a bug.  Anyone interested in working on this with me?

[2019-12-31 06:38] mch5048 opened #279 "Issue with using the combination of TimeLimit wrapper, ParallelPyEnvironment and TfPyEnvironment."
Hi, I'm really enjoying this wonderful API in doing my research.

Currently, I'm building a parallelized learning system based on the custom PythonEnvironment.

Let my custom environment as CustomEnv, then what I'm doing is like below.

'
ctor = functools.partial(CustomEnv, args)

py_env = ParallelPyEnvironment(
[ctor] * num_of_parallel_envs)

py_env = wrappers.TimeLimit(py_env)

tf_Env = TFPyEnvi

[2020-01-02 00:58] ssujr opened #280 "is it possible to convert tf-agents to tf-lite and run on android device"
We want to implement RL on android device. Just wondering if it is possible to run tf-agents on android or to convert tf-agents to tf-lite. It will be great if someone can share some experience. Thank you!

[2020-01-02 13:04] Queeq commented on #266
I have similar problem (also in the code based on 1_dqn_tutorial). In my case traceback is like this:

[code]

The requested `print()` results are this:
[code]

[2020-01-02 14:43] Queeq commented on #266
I think I narrowed down the place where one additional dimension gets added. I convert gym environment to TF one like this:
[code]

When we do `time_step = env.current_time_step()`, it calls `tf_agents.environments.tf_py_environment.TFPyEnvironment._current_time_step()`, which operates on `self._time_step` that is set by `self._env.reset()`. Not sure what's going on there, but `self._time_step` ge

[2020-01-02 15:36] Queeq commented on #266
Digging deeper of what's happening when `_isolated_current_time_step_py()` is called. Here's the stack trace:
[code]
This is how `tf_agents.utils.nest_utils.batch_nested_array()` looks like:
[code]
`nested_array` at this point is this:
[code]
So its shape is still correct. But then `np.expand_dims()` adds additional dimension and `batch_nested_array()` returns `TimeStep` with expanded arrays.

[2020-01-03 15:17] Queeq commented on #266
I am terribly sorry, but it turns out my problem was due to my custom environment spitting observation in the wrong shape ([16, 8] instead of [16, 7]), and this is why it failed here. One additional dimension does not cause any problems. I'll keep my messages above though, maybe they'll help troubleshooting your problem.

[2020-01-05 00:12] jsrhoades commented on #253
I'm hitting a problem with observation_and_action_constraint_splitter in a Python environment. It is a imple TicTacToe game, in which I want to prevent the agent from making illegal moves (moves to occupied spots):

train_py_envx = TictacEnv()
train_env = tf_py_environment.TFPyEnvironment(train_py_envx)

For the agent I provide the following setup code:
# sort of works, but sometimes there is no n

[2020-01-06 05:24] guyk1971 opened #281 "dqn_tutorial - initial_collect_steps is defined to be 1000 but not used anywhere..."
The call to collect_data in Data Collection (section 1.8) should have been:
`collect_data(train_env, random_policy, replay_buffer, initial_collect_steps)`
right ?

[2020-01-06 19:26] #266 closed, assigned to sguada

[2020-01-06 23:47] jsrhoades commented on #253
Oh, I see. Squeeze_3:0 is a tensor within a session. Thus, I must provide a tensor op for the mask. My function is

@tf.function
check_valid_move(obs):
  mask = tf.equal(obs,0) # disallow moves to occupied spots
  return(obs,mask)

and it all just works beautifully.

[2020-01-07 13:10] JaCoderX commented on #276
I'm still not sure on how to add support for Dict action space.

The error occur on trying to get the action from `greedy_action` (greedy_policy is source)
 `action = tf.compat.v1.where(cond, greedy_action.action, random_action.action)`

[2020-01-09 09:45] leroidauphin commented on #279
Do you see the same problem if you wrap each instance of your CustomEnv in the TimeLimit, before batching them together using the ParallelPyEnvironment?

[2020-01-09 11:18] mch5048 commented on #279
@leroidauphin Thank you for the suggestions. I tried to do as you mentioned, but couldn't come up with the way how I can implement in code. Since parallelpyenv wrapper requires the constructor of the env class, could you give me some hints to acquire the callable of timelimit wrapped custom environments ?
Thanks in advance!

[2020-01-09 14:06] LLouice opened #282 "ParallelPyEnvironment doesn't work when subprocess calling a tensorflow model"
Hi, TF_Agents Teams!

I am trianing my agent with SAC. Something different with general situation is that the reward is gived by a neural netwok(implemented by tensorflow 2.0) in some stage.So there is something like this in my custom PyEnvironment.
## platform
Python 3.7.5 / Tensorflow 2.0.0 / tf_agents 0.3.0
[code]
If run this Env parallelly, it complains that:
[code]
I think it's the issue abou

[2020-01-16 14:25] JCMiles commented on #270
@tfboyd
Hi,
I finally got my vm up and running using:
2 Tesla P100
NVIDIA driver 440.33.01
cuda 10.2
tensorflow=2.1.0
tf_agents=0.3.0

I start training a custom model/env based on SAC agent v2 train loop
but only one GPU is used.
My question :
at the moment is tf-agents able to manage distribute training on multiple GPU?
or should I use only one?

[2020-01-16 18:46] guyk1971 opened #283 "Problem when running dqn on FrozenLake"
Hi,
First, Great Work on TF Agents !! :)
I encountered a problem on running train_eval and also the dqn_tutorial colab when changing the environment to FrozenLake .
The code that I tried :
[code]
I got the following error:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-31-9173aae

[2020-01-17 16:42] guyk1971 commented on #283
**Update** : after spending some time debugging it, it turns out that FrozenLake uses the action as a key to a dictionary of transitions. since 'action' is numpy scalar (e.g. array(2) ) it is not hashable and cant be used as index.
as a temporary solution, I have added the following line in `gym_wrapper.GymWrapper._step(action)` method:
[code]
I have tested it on various environments and it seems

[2020-01-17 21:26] kuanghuei commented on #283
Thanks for raising this! The proposed fix looks like the right thing to do. Would you mind to do a pull request so we can review it?

[2020-01-18 06:33] guyk1971 commented on #283
Hi, Kuang-Huei
sure, I'll do it.

Thanks and keep up the great work on TFAgents !
Guy

On Fri, Jan 17, 2020 at 11:26 PM Kuang-Huei Lee <notifications@github.com>
wrote:

[2020-01-19 09:37] guyk1971 commented on #283
Hi, Kuang-Huei
Can you pls guide me how to open the pull request ?

I have already got a fork of tf-agent in my account but I admit wasnt that
organized when making the fix. the commit that include my fix was done to
master that already includes some additional draft files that I'm using.
so I cant propose the master branch of my fork for the pull request.

Given that, what are my options to do pu

[2020-01-20 07:03] #279 closed, assigned to nobody

[2020-01-20 09:31] niklasnolte opened #287 "concatenation layer and replay buffers"
Hi,
I am trying to run a dqn agent with an environment where my `observation_spec` is a collection of specs (list or tuple). my q-network thus needs a `preprocessing_combiner`. First i chose `tf.keras.layers.Concatenate()`, which only works if my `observation_spec` is a list. However, when trying to implement a replaybuffer (as done in https://github.com/tensorflow/agents/blob/master/docs/tutorial

[2020-01-21 00:35] #270 closed, assigned to tfboyd

[2020-01-21 00:36] JCMiles opened #289 "TRAIN TF-AGENTS WITH MULTIPLE GPUs"
Hi,
I finally got my vm up and running using:
2 Tesla P100
NVIDIA driver 440.33.01
cuda 10.2
tensorflow=2.1.0
tf_agents=0.3.0

I start training a custom model/env based on SAC agent v2 train loop
but only one GPU is used.
My question :
at the moment is tf-agents able to manage distribute training on multiple GPU?
or should I use only one?

[2020-01-21 19:00] kuanghuei commented on #283
This should be a Google or stackoverflow question but:
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-01-21 19:06] kuanghuei commented on #289
It should work with multiple GPUs. You can specify that in your training script like you usually would do in other tensorflow training code.

[2020-01-21 19:22] guyk1971 commented on #283
Thanks. I've already done it.

בתאריך יום ג׳, 21 בינו׳ 2020, 21:00, מאת Kuang-Huei Lee ‏<
notifications@github.com>:

[2020-01-21 23:02] tfboyd commented on #275
Sorry about the delay.  I will confirm with the team tomorrow. I wanted to dig into this but I think we will be focusing on other priorities in Q1 with our existing resources.  I will ping back tomorrow and put it on the agenda for our weekly team meeting.

I understand your frustration and need to find a platform that works for your situation.

[2020-01-22 02:01] JCMiles commented on #289
@kuanghuei

if you try sac/examples/v2/train_eval_rnn.py as it is on a vm like the one listed above you'll see only one GPU working.

Could you please provide an example on how to run train_eval_rnn.py on a multigpu?
Wrapping the entire pipeline with MirroredStrategy() doesn't solve the problem.

        tf.debugging.set_log_device_placement(True)
        strategy = tf.distribute.MirroredStrategy(

[2020-01-22 04:48] clockzhong opened #290 "we need install x11-utils for tutorials/1_dqn_tutorial.ipynb"
Hi,

When I run the tutorials/1_dqn_tutorial.ipynb in colab(https://colab.research.google.com/), I found it always report errors that: no xdpyinfo found.

After I installled x11-utils in it, it works. So please change the first section of 1_dqn_tutorial.ipynb from:
[code]
To:
[code]

[2020-01-22 06:32] clockzhong opened #291 "Somthing wrong in tutorials/4_drivers_tutorial.ipynb"
When I execute it in colab, with both python2&python3, it report the following errors:

[code]

[2020-01-22 06:39] clockzhong commented on #291
tutorials/5_replay_buffers_tutorial.ipynb also have problems.
[code]

It seems the tenserflow2.x' driver module has been updated and those tutorials haven't catch up them

[2020-01-22 16:09] ebrevdo commented on #291
What version of tensorflow_probability do you have installed?  @kbanoop can you take a look at the metrics issue?

[2020-01-22 16:11] ebrevdo commented on #290
@adammichaelwood ptal.

[2020-01-22 16:14] ebrevdo commented on #289
@oars any advice for how to make the MirroredStrategy work here?

i wonder if you need to build the iterator inside the MirroredStrategy.

[2020-01-22 16:18] ebrevdo commented on #287
Yes; it's a bit sad that we're forced to use tuples but that's a limitation of tf.data - arrays are not allowed because they get converted to tensors.  Your other options are to add preprocessing_layers which are just tf.keras.layers.Layer() - this will be an identity pass-through, and the resulting tensors passed to the combiner will be an actual list.

Let me know if this doesn't solve the probl

[2020-01-22 16:18] #287 closed, assigned to ebrevdo

[2020-01-22 16:19] ebrevdo commented on #283
Great; were you able to submit the PR?  If so, we can close this bug.

[2020-01-22 16:21] ebrevdo commented on #282
Since you're relying on tensorflow to perform the reward calculation, you get GIL-free multithreading for free.  This means you should be able to get away with using the BatchedPyEnvironment - this uses python multithreading instead of multiprocessing.  Since running TF calls releases the GIL, you won't get any advantage (and only overhead) from using the ParallelPyEnvironment.

[2020-01-22 16:23] ebrevdo commented on #282
The error is pretty opaque though, @oars is it possible there's an error message from the other process that we are missing when this is raised?  and it gets hidden by this error?

[2020-01-22 16:24] ebrevdo commented on #281
Thanks for catching this.  @adammichaelwood could you send a fix?

i guess we also need to set `initial_collect_steps` to `100` so the tutorial stays consistent.

[2020-01-22 16:26] ebrevdo commented on #280
Yes; you should be able to do this.  I'm guessing you care about inference (running a policy) more than training (since tflite doesn't support that anyway).

See the [PolicySaver](https://github.com/tensorflow/agents/blob/master/tf_agents/docs/python/tf_agents/policies/policy_saver/PolicySaver.md) class.  You can use it to export a SavedModel.  You can then use the [TFLite converter](https://www.t

[2020-01-22 16:27] ebrevdo commented on #275
@tfboyd quick ping on this one.

[2020-01-22 16:30] JCMiles commented on #289
@ebrevdo and @oars

do you mean something like this?

        tf.debugging.set_log_device_placement(True)
        strategy = tf.distribute.MirroredStrategy()
        with strategy.scope():

           dataset = replay_buffer.as_dataset(
           num_parallel_calls=3,
           sample_batch_size=batch_size,
           num_steps=train_sequence_length + 1).prefetch(3)
           iterator = iter(da

[2020-01-22 16:30] ebrevdo commented on #276
That line needs to be rewritten as:

[code]

Report back and let us know if this works.  We can patch it on our end.

[2020-01-22 16:32] ebrevdo commented on #274
It's expecting batched inputs with batch_size 1.  Try passing reward=[0], discount=[1.0] and (i think) np.zeros((1, 19)) as inputs.

[2020-01-22 16:36] #273 closed, assigned to nobody

[2020-01-22 16:36] ebrevdo commented on #263
Were you able to resolve this issue?

[2020-01-22 16:37] ebrevdo commented on #258
Does that resolve your issue?

[2020-01-22 17:29] gokhansolak commented on #274
It worked, thank you.

In summary, the solution is saving the policy as a TFPolicy, then load it as it is and use with batched numpy inputs:
[code]

[2020-01-22 17:29] #274 closed, assigned to sguada

[2020-01-22 18:53] guyk1971 commented on #281
Sure, I'll send a fix. Pull request, right ?
Thanks

On Wed, Jan 22, 2020 at 6:24 PM ebrevdo <notifications@github.com> wrote:

[2020-01-22 18:54] guyk1971 commented on #283
yes, I have submitted it.  I guess you need to verify the fix and merge.
Thanks,

Guy

On Wed, Jan 22, 2020 at 6:19 PM ebrevdo <notifications@github.com> wrote:

[2020-01-22 19:14] IbraheemNofal commented on #258
Oh, I apologize. Unfortunately, after messing around with it for a bit, I still couldn't get it to work. I ended up migrating to Tensorforce.

[2020-01-22 19:14] #258 closed, assigned to nobody

[2020-01-22 19:33] tfboyd commented on #275
@kuanghuei  may take a look as the train time seem really long.  Thank you for being reasonable and kind as we work to make improvements.

[2020-01-23 01:04] clockzhong commented on #291
@ebrevdo
It should be 0.7.0 as I print it this way:
[code]
This should be the latest official released version, because I run this tutorial in google's colab environment: https://colab.research.google.com/

[2020-01-23 05:58] clockzhong commented on #290
6_reinforce_tutorial.ipynb also have same problem, and could be resolved with the same solution, adding one line for env setup:
!apt-get install x11-utils

[2020-01-23 08:36] alfoudari opened #292 "observation_and_action_constraint_splitter behavior"
I have been trying to use `observation_and_action_constraint_splitter` to mask illegal actions. This is my function:

[code]

There are two main issues I can't wrap my head around:

### Eager Execution vs Graph Execution

You can see in my function I'm differentiating between the two. The reason is I'm getting the following output when I train my agent:

[code]

`agent.train()` is executing in gra

[2020-01-23 11:52] clockzhong commented on #291
6_reinforce_tutorial.ipynb also have similar problem, after running the following section codes:

[code]
We'll get the following errors:

[code]

[2020-01-23 18:00] JCMiles commented on #289
with this approach, operations are always added on a single GPU

[2020-01-23 22:15] nataliedurgin commented on #137
Perhaps the `suite_gym.load()` default for `max_episode_steps` should be `0` instead of `None` as well to fully eradicate this bug?

When using `suite_gym.load()` on a custom gym environment, for which no `max_episode_steps` is set, I am still getting this `TypeError`.

This works:  `suite_gym.load('registered-custom-env', max_episode_steps=0)`
This does not:  `suite_gym.load('registered-custom-en

[2020-01-24 13:48] clockzhong commented on #291
@kbanoop
According to the error logs I've reported, it seems they are two different issues about modules version mismatch:
1. 'google.protobuf.pyext._message.RepeatedCompositeCo' object has no attribute 'append'
2. AttributeError: module 'tensorflow_probability.python.util' has no attribute 'SeedStream'
  In call to configurable 'DqnAgent' (<function DqnAgent.__init__ at 0x7f09cc7ef9d8>)

Should w

[2020-01-25 03:01] clockzhong commented on #291
After Google's release of tensorflow_probability was upgraded from 0.7.0 to 0.9.0, the 2nd issue was fixed already, it's confirmed in colab.
I'll check the status of the 1 issue, it's about protobuf's version.

[2020-01-25 12:17] mauricerad commented on #263
Sadly not yet, I have further worked on my code though, I added you as a collaborator to view my code if you would like.

[2020-01-26 00:45] clockzhong commented on #291
I've tried to verify the 1st error:
'google.protobuf.pyext._message.RepeatedCompositeCo' object has no attribute 'append'
with 4_drivers_tutorial.ipynb, and found it's also fixed, I couldn't duplicate it now. It seems the line code:
`!pip install --upgrade tensorflow-probability`
fixed two issues. Can I close this issue?

[2020-01-26 02:08] clockzhong commented on #290
With latest version codes, we still face the warning log in colab env:
"xdpyinfo was not found, X start can not be checked! Please install xdpyinfo!"
But the following codes could work very well, I don't know the exact reason, but this issue still could be considered as fixed, I believe.

[2020-01-27 15:44] wsun66 commented on #289
I am having the exactly same problem. Any solutions or work-around? Thanks,

[2020-01-27 17:25] JCMiles commented on #289
I made some progress by combining some snippets  of code from the official tensorflow docs
but I'm not able to complete the train step:

Here what I did so far  based on: https://github.com/tensorflow/agents/blob/master/tf_agents/agents/sac/examples/v2/train_eval_rnn.py but with custom networks and environment.
parallel environments are temporarily disabled.

1. Addat the very beginning of train_e

[2020-01-27 19:26] nataliedurgin opened #293 "suite_gym.load() default for max_episode_steps"
Re: https://github.com/tensorflow/agents/issues/137, perhaps the `suite_gym.load()` default for `max_episode_steps` should be `0` instead of `None` as well to fully eradicate this bug?

When using `suite_gym.load()` on a custom gym environment, for which no `max_episode_steps` is set, I am still getting this `TypeError`.

This works:  `suite_gym.load('registered-custom-env', max_episode_steps=0)`

[2020-01-27 20:53] wsun66 commented on #289
Glad to hear you're making progresses. I'll be grateful if you could share your final solution. In the same time, I am trying to see if I can make it work. I'll share mine here as well if I can find a working one.

[2020-01-29 18:04] ebrevdo commented on #290
thanks!

[2020-01-29 18:04] #290 closed, assigned to adammichaelwood

[2020-01-29 18:05] ebrevdo commented on #292
@nealwu ptal.

[2020-01-29 18:50] nealwu commented on #292
Hi @abstractpaper, glad to hear that you're interested in action masking. In order to reproduce this, are you able to provide a more minimal example where the policy still generates illegal actions? The ideal example would be in the form of a unit test, something similar to https://github.com/tensorflow/agents/blob/master/tf_agents/policies/q_policy_test.py#L202.

One thing worth pointing out is t

[2020-01-30 15:00] marconardelli opened #294 "Decrease learning rate"
Hello!
I'm using DQN with Huber loss, looking at tensorboard, I've seen that the loss decrease sharply in the first few iterations and then increases constantly until a certain point.
I guess this is due to the learning rate value. Is there a way to dynamically change the learning rate based on the value of the loss?

[2020-01-31 11:50] alfoudari opened #295 "Policy's action with an action mask not respecting its min/max bounds"
The following unit test fails by producing actions that are out of the `action_spec` min/max boundaries:

https://github.com/abstractpaper/tf-agents/blob/d06b2fcf4fecb3e052224dd257ad3e1b9ef7d4b0/tf_agents/policies/q_policy_test.py#L234-L269

Running the unit test:

[code]

When I don't specify an action mask by removing `observation_and_action_constraint_splitter`, it passes:

[code]

[code]

Is t

[2020-01-31 11:52] alfoudari commented on #292
@nealwu while attempting to write a unit test for this issue I ran into another issue this unit test depends on #295. One problem at a time :D

[2020-01-31 16:03] marconardelli opened #296 "Error in EncodingNetwork when specifying only 1 convolution layer"
Encoding network returns an error when you specify only one convolution layer:

[code]
in this portion of code the for loop takes the argument of the single layer and returns an error because is not possible to return the len of an integer.

[2020-01-31 16:41] oars commented on #296
The argument is expected to be an iterable, as described in the Args section a list of conv layer parameters.

Closing as WAI.

[2020-01-31 16:41] #296 closed, assigned to oars

[2020-01-31 20:04] kbanoop commented on #291
Yes it seems like this commit fixed the issue: https://github.com/tensorflow/agents/commit/cdb234491c3ef3762084e1d44cf81e7bd11855b0

I think we should make a release that installs the correct tfp version rather than upgrade. But closing the issue for now.

[2020-01-31 20:04] #291 closed, assigned to kbanoop

[2020-02-01 09:43] JaCoderX commented on #276
@ebrevdo,
I tested it on my end and it works well.
thank you :)

[2020-02-01 11:07] JaCoderX opened #297 "DQN loss calculation error when using Dict Action space"
followup issue to #276

as I mentioned in the previous issue, the action space is of type `gym.spaces.Dict`.
[code]

following the DQN tutorial I reached the point for the agent to calculate the loss.
but I get an error that the action space is missing the shape attribute.
tracing the code back to the `gym_wrapper.py` it seems that dict space doesn't have shape attribute

[code]

this is the origi

[2020-02-03 06:15] ssujr commented on #280
Actually, we plan to do both training and inference on device. Do you guys have plan to support training in near future? Thank you for the response.

[2020-02-03 21:09] mjlbach opened #298 "Breaking of episodic replay buffer on tf-nightly"
See https://github.com/tensorflow/tensorflow/issues/36418

Reproduction:
[code]

Also of note, if you move the initialization of the replay buffer under the distributed strategy scope, you get the following error:
[code]

[2020-02-04 16:40] caseyjconger opened #299 "Broken Tutorials - DQN"
I have been trying to work through some of the tutorials provided but I'm finding it a little difficult.

1. I tried cloning and running locally, but the tutorials use xvfb which isn't supported by macOS without workarounds. Ok, so i'll just run it in colab...

2. Get error that xdpyinfo is not installed. But let's keep going... [I do see that this was addressed in another issue, but the warning m

[2020-02-04 23:52] tfboyd commented on #237
Confirming and maybe expanding on @christianhidber answer.

The git repo is updated constantly from our internal head, which means it can drift and not work with the released version of TensorFlow.  We have nightly tests that run against the nightly tensorflow and the head of tf-agents.  It is 100% possible for it not to work but it usually is fine.

If you want something more stable we took a sna

[2020-02-04 23:52] #237 closed, assigned to nobody

[2020-02-04 23:54] tfboyd commented on #254
Looks like this has been added to all of the agents now.  @mhe500 , Thank you for bringing this up and sorry your PR was not accepted; the change was needed.

[2020-02-04 23:54] #254 closed, assigned to kbanoop

[2020-02-05 00:00] tfboyd commented on #289
Assigning to me to identify the multi-gpu example or get one made.  A common problem and we should publish a definitive example to give people a starting point.

[2020-02-05 00:09] kbanoop commented on #294
A few points:
1. I found that using a mean squared loss was more stable than huber loss in some environments (not sure why, purely anecdotal)
2. The loss going up is not necessarily a bad thing. As the agent gets better, the QValues start increasing. The loss measures the error in predicting Q Values. Since both the predicted and actual Q values go up, it is possible that the loss also increases.

[2020-02-05 00:09] #294 closed, assigned to nobody

[2020-02-05 01:09] kbanoop commented on #293
Thanks for raising this, I believe you are right. None seems like a more reasonable default to me, so I will try to send a PR to change the comparison as you suggest.

[2020-02-05 01:24] kbanoop commented on #299
Thanks for raising this! I just tried it on googlecolab, and didn't run into (3). Were you running it locally?

I think the issue is related to a new version of TF Probability, and the "!pip install --upgrade tensorflow-probability" in the colabs was a temporary solution. We will release a new version of TF-Agents with the correct TFP version to fix it properly.

[2020-02-05 01:38] kbanoop commented on #297
Thanks for raising this. I think it is a bug.

https://github.com/tensorflow/agents/blob/9057dd66c9dd88c4a4cd9b89d43df10e2740f678/tf_agents/agents/dqn/dqn_agent.py#L519

has to be changed to something like:

https://github.com/tensorflow/agents/blob/9057dd66c9dd88c4a4cd9b89d43df10e2740f678/tf_agents/agents/dqn/dqn_agent.py#L552

Would you like to submit a PR?

[2020-02-05 02:14] tfboyd commented on #299
Another suggestion is to start with the stable release and branch, which were testing with specific versions of the supporting libraries.  I fully understand it is frustrating; we likely need to push that option harder and respond to issues with that suggestion.

https://github.com/tensorflow/agents#stable

Not an excuse.  There are many moving parts upstream from tf-agents and the best way we can

[2020-02-05 02:35] tfboyd commented on #295
Ok, I feel silly.  This is not a failing unit test.  You created a unit test to illustrate the question regarding some behavior. Eugene will have to handle that question.

[2020-02-05 08:32] JaCoderX commented on #297
@kbanoop, I applied your suggested fix and it seem to work fine.
but when i run the code I crash right on the following line when trying to perform the cast operation, again probably because of the dict action space.

https://github.com/tensorflow/agents/blob/9057dd66c9dd88c4a4cd9b89d43df10e2740f678/tf_agents/agents/dqn/dqn_agent.py#L520-L523

this is the `actions` to be cast
`<class 'dict'>: {'de

[2020-02-05 12:47] marconardelli opened #300 "Epsilon Decay in DQN"
Hello, I've created a custom epsilon_greedy_policy class that supports epsilon decay. I use the exact same class both for collect_policy and eval_policy, in particular I have made those changes:

[code]

So basically every _decay_steps round of x episodes I update the epsilon value.
While this works in eval, this doesn't work during training, if I set the starting epsilon_decay = 1.0, the train al

[2020-02-05 17:56] #293 closed, assigned to kbanoop

[2020-02-05 22:04] caseyjconger commented on #299
@kbanoop I was running it on google colab, but it does seem to be working now, so after some thorough debugging, I've narrowed it down to either:

A) most boring hallucination ever
B) I had tried to install some extra dependency on my colab instance, broke stuff and forgot I did it
C) magic

I'm thinking C).

@tfboyd I've been an open-source lurker for a while now; if I find things I think could b

[2020-02-05 22:04] #299 closed, assigned to nobody

[2020-02-05 22:14] kbanoop commented on #297
Yes that sounds like the same issue. Can you try adding actions = tf.nest.flatten(actions)[0], perhaps at the beginning of the _compute_q_values function?

[2020-02-05 22:25] tfboyd commented on #299
@caseyjconger   I actually have a docker, I used to test the colabs and they are being tested nightly.  The rub is the depenencies they are tested under may not matchup.  What you did was totally valid and ended up doing it at a time where the upstream libraries moved.  I will try to publish the docker build script.  We had a pretty long talk about this as our team sync today.  We 100% heard your

[2020-02-06 13:29] JaCoderX commented on #297
@kbanoop,
I have tested the solution and it works good.
I made a PR for this issue and #276 as they are both addressing the problem of unsupported Dict Action Space.

[2020-02-07 02:57] fcarsten opened #303 "utils.validate_py_environment() should support environment with action constraints"
The function `validate_py_environment ()` in environments/utils.py should support a `observation_and_action_constraint_splitter` argument to avoid failing for environment that require action constraints.

[2020-02-07 18:34] Ako520 opened #305 "Why ParallelPyEnvironment cant work with RandomTFPolicy?"
Hi,

There is a PPO code example in [here](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ppo/examples/v2/train_eval.py)
I tried to collect some random step by RandomTFPolicy:
[code]
 but I got some error:
[code]

The mistake seems to have been caused by this:
[code]

[2020-02-07 19:46] mjlbach commented on #298
I believe this is fixed on the latest nightly, however, initializing the episodic replay buffer under a distributed strategy still elicits the second error above.

[2020-02-08 14:06] LucCADORET commented on #216
Is there any update on this issue ? I have an environment that defines actions as

[code]

And the boundaries of `action_pct` are also violated (going negative mostly) in the TfPyEnvironment, even though it passes the `validate_py_environment` with the PyEnvironment originally. Is setting the `scale_distribution` to `True` a valid workaround ?

[2020-02-10 07:30] mauricerad commented on #263
[This should link you to my depository.](https://github.com/mauricerad/DDPG)
Thanks for the help so far!

[2020-02-12 05:06] bartmaciszewski commented on #121
I came across the same error when trying to write summaries to Tensorboard.
The fix proposed by @ideenfix  to change the step counter fixed the issue.

train_step_counter = tf.Variable(0, dtype=tf.int64)

Thanks!

[2020-02-12 18:22] decodyng opened #307 "Gym Wrapper Converts MultiBinary Space to int8 Data Type Incompatible With Many TF Ops"
In [this line](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/gym_wrapper.py#L97) of `gym_wrapper`, Gym environments with a MultiBinary space have that converted into a BoundedArraySpec with dtype of `np.int8`.  My guess is that this was done for efficiency reasons - obviously you don't need much precision to hold a binary value - but it has the unfortunate side effect of

[2020-02-12 20:20] samfishman commented on #307
Thanks for the issue. I agree this is problematic - we don't tend to use MultiBinary spaces internally so we hadn't yet seen this. I'll push a fix today but in the meantime, you can use the `dtype_map` parameter when instantiating your environment: `dtype_map={gym.spaces.MultiBinary: np.int32}`.

[2020-02-12 20:34] sguada commented on #307
Hi @decodyng you can pass `dtype_map = {gym.spaces.MultiBinary: np.int32}` to overwrite that.

[2020-02-12 21:07] #307 closed, assigned to nobody

[2020-02-13 19:08] #263 closed, assigned to oars

[2020-02-13 22:34] tfboyd commented on #87
There has been a lot of refactoring.  While I did not test it, looking at the code I believe the issue is fixed by this line:
https://github.com/tensorflow/agents/blob/master/tf_agents/networks/lstm_encoding_network.py#L205

This PR to fix this issue was also from a long time ago.  We are trying to do a much better job of handling PRs and int he past two weeks have been much more responsive.  We h

[2020-02-13 22:34] #87 closed, assigned to nobody

[2020-02-14 14:20] Hkorb opened #308 "PPOAgent without value network"
The ppoagent requires a value network, but default is None. First, therefore the default fails, second, the option to use the agent without a value network is useful as well. Of course one can define a "constant" as network, but that is especially for new users at least very unintuitive

[2020-02-14 16:54] JCMiles commented on #289
Hi @tfboyd , any update on this?

[2020-02-14 18:37] samfishman commented on #308
Hi @Hkorb, the value network is an important part of the PPO algorithm and removing it would significantly change the nature of the algorithm. If you are interested in setting something up like that, you would want to subclass the PPO agent.

The reason we don't provide a default value network is that it is very dependent on the domain you are applying the algorithm. For users that want a ready-to

[2020-02-14 21:55] #308 closed, assigned to nobody

[2020-02-17 10:57] karishnu opened #309 "utils.validate_py_environment() does not support environments with batched actions"
validate_py_environment should send multiple batched actions when validating an environment with batched as True.

[2020-02-18 12:53] a-z-e-r-i-l-a commented on #275
I noticed the same problem, any update on it?
Is there also any comparison made other than the speed with Stable_baselines?

[2020-02-18 22:30] caseyjconger opened #310 "Why does the action spec for a DqnAgent require a minimum of 0?"
Perhaps a silly question.

I tried creating a DqnAgent, but I get the following error:

`ValueError: Action specs should have minimum of 0, but saw: [array(-1, dtype=int32)]
  In call to configurable 'DqnAgent' (<function DqnAgent.__init__ at 0x7f43b7d58a70>)
`

Why is there this restriction on the actions? I had defined actions schematically as :
[code]

Thanks!

[2020-02-18 22:34] samfishman commented on #310
This is due to a quirk of how the DQN agent works internally. (We use actions as indexes into a table of Q values.) We have an internal issue open to track this, but in the meantime, I would recommend just incrementing your actions by 1 :). Closing this because it is already being tracked, but we will ping here when it is resolved.

[2020-02-18 22:34] #310 closed, assigned to nobody

[2020-02-18 22:38] oars commented on #310
You can use environments.wrappers.ActionOffsetWrapper to avoid having to change your env.

[2020-02-18 22:58] caseyjconger commented on #310
@samfishman  Thanks for the quick response. I didn't see the comment in the code until after I raised the issue. I was racking my brain trying to think of a theoretical reason for this. So, I'm just glad I'm not crazy.

@oars Excellent! Thanks.

[2020-02-19 20:10] egonina commented on #289
@JCMiles what errors are you getting with your implementation?

One thing you want to make sure is to create your network variables and the dataset iterator within the strategy scope. I am not sure from your code snippets where you create your networks. The only thing that needs to be outside of strategy scope is the replay buffer itself, so it doesn't get replicated on the GPUs.

Something like t

[2020-02-20 14:26] JCMiles commented on #289
@egonina
following your implementation applied to sac agent example v2 I get this error

Traceback (most recent call last):

  File "/home/user/test_agent/train/module.py", line 321, in train_step
    experience = eager_utils.get_next(iterator)
  File "/home/user/.local/lib/python3.6/site-packages/tf_agents/utils/eager_utils.py", line 638, in get_next
    return iterator.get_next()
  File "/home/u

[2020-02-20 19:20] egonina commented on #289
@anj-s , can you PTAL at this use of DistributionStrategy? Thanks!

[2020-02-21 22:57] leroidauphin opened #312 "There should only be one CountingEnv"
There are two environments called `CountingEnv`:one  in `test_envs.py` and one in `wrappers_test.py`.

The first environment is more detailed in that it counts episodes and time steps separately, while the second only counts time steps. The first environment has unit tests but the tests lock down the (incorrect) behaviour that episodes are always of length 10 in observations. The second environmen

[2020-02-25 17:11] caseyjconger opened #314 "C51/Rainbow tutorial not working on Colab"
Issue with xvfb on colab

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/easyprocess/__init__.py in start(self)
    230             self.popen = subprocess.Popen(
--> 231                 cmd, stdout=stdout, stderr=stderr, cwd=self.cwd, env=self.env,
    23

[2020-02-25 18:42] v-sivak opened #315 "add *args to .reset method of PyEnvironment"
Could you add support for passing additional arguments to standard PyEnvironment methods, in particular .reset method?
This is useful if one wants to benchmark some agent properties and needs to reset the custom environment to a particular initial state by calling env.reset(init='some_state')

[2020-02-25 19:32] caseyjconger commented on #314
Maybe going off of an old version of the repo, but I found that just adding:

`!sudo apt-get update`

above the

`!sudo apt-get install ...`

[2020-02-26 17:15] #312 closed, assigned to nobody

[2020-02-26 23:18] kuanghuei commented on #275
I tried to run some experiments on gpu. It seems like the slow down only happens with LunarLanderContinuous-v2 but not on HalfCheetah. Even with a slow down, I was able to run ~80 steps/sec on Titan X, which is probably like 1.38 hours for 500,000 steps.

Did you observe the same slow down on other env or only on lunar lander?

By the way, GPU has higher overhead and is likely to be slower than CP

[2020-02-27 02:46] clockzhong opened #316 "Why the DQN's training loss become bigger and bigger after longer training iterations in docs/tutorials/1_dqn_tutorial.ipynb?"
Hi, I've changed your 1_dqn_tutorial.ipynb a little for better performenct. But I found a strange results, I've only increased num_iterations from 20000 to 160000, nothing else changed. But I found the training loss our program monitored becomes bigger and bigger when more training session happened in in this DQN agent. Can you tell me why? or can you tell me it's normal or not normal? The followi

[2020-02-27 02:56] clockzhong commented on #316
The above log's test is from env: cartpole, even its training loss become larger and larger, we still could get the Average return as 200 if we could increase the times of agent.train() calling, e.g. change the following codes
[code]
to :
[code]
After the above change, we could get the average return as 200 with more training sessions, even the training loss is increasing.

But I've also changed t

[2020-02-27 06:47] clockzhong commented on #314
Yes, this issue's root cause should be in colab's management, not the tensorflow agents project. Its repos server updated,but the colab's hosts didn't do the update. This causes the xvfb installing fails.

[2020-02-27 12:41] yuchen-zhu opened #317 "Different layers saved under the same name"
When creating a q_network with multiple fully connected layers, all layers are saved under the same name. Printing out 'variables_to_train' in Dqn_agent._train gives this output:

'      dtype=float32)>, <tf.Variable 'QNetwork/EncodingNetwork/EncodingNetwork/dense/kernel:0' shape=(10, 15) dtype=float32, numpy=
...
 <tf.Variable 'QNetwork/EncodingNetwork/EncodingNetwork/dense/kernel:0' shape=(15, 2

[2020-02-27 16:00] oars commented on #314
Thanks for the report, this is still useful to have as a reference! Will see if we can reach someone internal to get that done, otherwise we can add a note/update call in the colabs.

[2020-02-27 16:14] oars commented on #317
Thanks for noting this! Overall in TF 2.x variable names are not generally useful (no more collections, etc.), but clearly they matter for the summaries.

Feel free to submit a PR for this, otherwise we'll try to find some time to make this kind of change next week.

[2020-02-27 16:15] oars commented on #316
Here's my hypothesis as to why this happens.

The cartpole environment is fairly easy and the agent is able to learn it really quickly. As the agent now keeps the pole balanced most of the time, the experience being collected into the replay buffer is very skewed. You can see how once the steps reach ~100k the agent begins to do worse. This coincides with the capacity configured in the colab for t

[2020-02-27 16:15] #316 closed, assigned to oars

[2020-02-27 23:48] oars commented on #317
Looking more into this, I think 2d0dcaa555980779af13 fixed this.

Please give a newer nightly a try. Feel free to re-open if it's still an issue for you.

[2020-02-27 23:48] #317 closed, assigned to nobody

[2020-02-28 01:25] clockzhong commented on #316
@oars Thanks for you clear explanation. I'll do some more tests to prove whether your hypothesis is right.
Yes, it's very possible that the replay buffer's capacity is the key factor for this test's failure.
I'll change:
replay_buffer_max_length = 100000
to a bigger numer to verify it. Thanks!

[2020-02-28 01:54] lukepolson opened #318 "Time Step causing memory leak"
Hi all,

I'm creating an agent that plays against past iterations of itself (i.e. it uses past policies). When I create new time steps to use for the past policy predictions, it floods memory. This is my code:

`
self.move_snake(action, 'master')
`
`
enemy_action_step = self.ENEMY_POLICY.action(ts.restart(self.get_enemy_obs(), batch_size=1))
`
`
enemy_action = enemy_action_step.action.numpy()[0]
`

[2020-02-28 07:52] #318 closed, assigned to nobody

[2020-02-28 07:53] lukepolson commented on #318
Apologies, this turned out to be an issue with a saved policy instead.

[2020-02-28 09:05] lukepolson opened #319 "policy.action MEMORY LEAK"
I have an issue where using a policies actions may be introducing a memory leak. I am currently training an environment which consists of a "master" snake (the snake that is being trained) and an "enemy" snake which has a fixed policy in the environment. During the update phase, I need to predict the next action of the enemy snake: I do so as follows

`
TS = ts.TimeStep(...)
`
`
enemy_action_step

[2020-02-28 16:34] oars commented on #319
What kind of policy do you have for `self.ENEMY_POLICY`? From your snippet there's not much that points towards the RB being involved.

[2020-02-28 21:17] lukepolson commented on #319
I am creating a random policy as follows:

First make blank copy of env and tf_env
`
env = SnakeEnv(..., ENEMY_POLICY=None)
`
`
tf_env = tf_py_environment.TFPyEnvironment(env)
`

Use the specs of tf_env to create the random policy
`
initial_enemy_policy = RandomTFPolicy(tf_env.time_step_spec(), tf_env.action_spec())
`

Then redefine the env and tf_env variables using the random policy above.
`
env

[2020-02-29 11:45] leroidauphin commented on #300
It looks like the existing `EpsilonGreedyPolicy` already supports epsilon decay. The constructor parameter `epsilon` can be a `callable` which defines the decay schedule. The Categorical DQN example `train_eval_atari.py` includes an example of a polynomial decay schedule. Would the combination of the keras `PiecewiseConstantDecay` and the existing policy satisfy your requirements?

[2020-02-29 11:52] leroidauphin commented on #319
Is it possible that this issue is related to https://github.com/tensorflow/tensorflow/issues/36164?

[2020-03-01 18:26] niklasnolte opened #320 "action constraints in PPO"
Hi, what is the best way to implement action constraints in a PPOAgent?
For a `QPolicy` i can use `observation_and_action_constraint_splitter`. Is there something equivalent for ppo policies?

[2020-03-02 15:23] #315 closed, assigned to nobody

[2020-03-02 16:48] oars commented on #320
For an environment that has discrete actions you could do a similar pattern. In the case of continuous actions it gets a bit more tricky, you could use truncated normals for the distribution for example.

[2020-03-02 17:08] oars commented on #300
Thanks for adding a pointer @leroidauphin!

@marconardelli The reason why your implementation doesn't work is that it relies on python variables to set what the value of epsilon will be. When the TF computation graph is built this is traced only once.

You need to define epsilon and your step variables as tf.Variables. I assume if you avoid using the `tf.function` in the training (`use_tf_function

[2020-03-02 17:08] #300 closed, assigned to nobody

[2020-03-02 18:57] anj-s commented on #289
From the error message it looks like we are not populating a field which indicates if there is data remaining in the dataset(that has not been processed yet). Given this is a single machine MirroredStrategy example I am not sure why we would not have populated this field. I need a reproducible example to dig into this.

@JCMiles @egonina   Can you provide me with a reproducible example?

[2020-03-02 21:28] JCMiles commented on #289
just add @egonina implementation to agents/sac/examples/v2/train_eval_rnn.py

[2020-03-02 22:09] kuanghuei commented on #320
#216 - for continuous actions

[2020-03-02 22:29] kuanghuei commented on #216
PPO does not respect action boundaries: https://github.com/openai/baselines/issues/121. Environment is expected to clip action values.
DDPG/D4PG clips action values in its policy.
SAC nicely handles this with a tanh squashed action distribution.

If you set scale_distribution to True, it will do tanh-squashing. We are adding action clipping to environment wrapper. Before it happens, you can handle

[2020-03-02 22:31] oars commented on #216
See:
https://github.com/tensorflow/agents/blob/master/tf_agents/environments/wrappers.py#L442

[2020-03-03 23:33] wsun66 commented on #289
I've made the train_eval.py work on multiple GPUs. Attached is the source code. Hope it help
[train_eval_strategy.zip](https://github.com/tensorflow/agents/files/4284155/train_eval_strategy.zip)

[2020-03-04 03:44] fgervais opened #321 "TF-Agents 0.3.0 compatibility with TensorFlow 2.1.0"
The readme says:

release of `TensorFlow Probability` is installed: `pip install tfp-nightly`

But this commit dates back `18 Dec 2019`.

On `18 Dec 2019`, tfp-nightly was version `0.9.0.dev20191218`.

Since TensorFlow Probability 0.9 is stable now, I assume that the readme comment is obsolete. Is it?

[2020-03-04 03:50] lucifer2288 opened #322 "How to use agents/tf_agents/bandits/agents/mixture_agent.py? is there any example?"
How to use /bandits/agents/mixture_agent? Thank you.

[2020-03-04 09:30] bartokg commented on #322
The examples tf_agents/bandits/agents/examples/v2/train_eval_stationary_linear.py and tf_agents/bandits/agents/examples/v2/train_eval_wheel.py have just been updated to use the exp3_mixture_agent. If you would like to understand how to create a new subclass of mixture_agent, have a look at how it's done in tf_agents/bandits/agents/exp3_mixture_agent.py.

[2020-03-04 23:52] JCMiles commented on #289
Hi,
I tested @wsun66 on train_eval.py and worked fine. The key is to place the replay buffer and the dataset outside the mirrored strategy scope under the cpu.
But when I try to implement the same on train_eval_rnn.py I get this error.
Like the previous one a parameter is missing.

  [03-04|23:44:08] [14931] INFO     219   coordinator    | Error reported to Coordinator: batch_reduce() missing 1 re

[2020-03-05 01:34] lucifer2288 commented on #322
Thank you very much!!

[2020-03-05 01:34] #322 closed, assigned to nobody

[2020-03-05 07:39] lukepolson commented on #319
I believe it was, cheers!

[2020-03-05 07:39] #319 closed, assigned to nobody

[2020-03-05 07:42] lukepolson opened #323 "Does DynamicStepDriver take a Reference of the tf_env?"
If I use

`
collect_driver = DynamicStepDriver( tf_env, ...)
`

Does this take in a reference of the tf_env? For example, in the middle of the training loop, could I use

`
tf_env.pyenv.envs[0].change_rewards()
`

or would it not be affected in the Dynamic Step Driver? (i.e. only a copy was passed to the dynamic step driver, not an actual reference to the tf_env).

[2020-03-05 14:10] JCMiles commented on #289
Hello everyone, I found the problem and fixed also in train_eval_rnn.
when I implemented @wsun66 solution in my previous version I declared:

       strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.NcclAllReduce)

I passed as cross_device_ops param the callable. That caused the problem.
remember to pass **tf.distribute.NcclAllReduce()** or whatever ops you decide to impleme

[2020-03-05 17:57] egonina commented on #289
ah, glad you were able to figure it out! and thanks @wsun66 for providing your example!

how many GPUs are you running on? @anj-s can you provide some insight into what IndexSlices are?

[2020-03-05 18:08] JCMiles commented on #289
I'm using 2 Tesla P100, so I suppose IndexSlices are not related to the number of gpus.

Meanwhile I'm running some performance test and I'm facing some unexpected downtime.
Sometimes the training loop get stuck in the first iteration.

Sill investigating ...
Keep you updated if any progress

[2020-03-05 18:35] kuanghuei commented on #323
Yes. Everything in python that is not a primitive is a reference. env is passed in the parent class constructor https://github.com/tensorflow/agents/blob/master/tf_agents/drivers/driver.py

[2020-03-05 18:35] #323 closed, assigned to nobody

[2020-03-05 23:14] kuanghuei commented on #216
So TF-Agents ddpg does clipping in policy:
https://github.com/tensorflow/agents/blob/master/tf_agents/agents/ddpg/ddpg_agent.py#L166
If you are using ddpg, you should be good.

If you are using TF-Agents PPO, you should use the ActionClipWrapper that @oars mentioned above.

[2020-03-06 14:47] jrabary opened #324 "Possible flaws in PPO implementation"
Current implementation of PPO may contains some flaws. We notice that it is nearly impossible to train a policy that uses deep net such as ResNet (18, 34) as a preprocessing layers. Or similar experience works with the the PP02 implementation of openai baseline.

According to this paper https://openreview.net/pdf?id=r1etN1rtPB there are some important optimization not mentioned in the paper but pr

[2020-03-06 23:57] summer-yue commented on #324
Thank you for raising this issue. I agree that it'd be a great idea to have value clipping in TF-Agents' PPO. Would you like to help contribute this feature? This will probably to be the fastest way to get this feature out. Alternatively, I can add this to my list of todos. Thanks!

[2020-03-07 16:31] PeterJaq opened #326 "Shape Error of DQN"
I  ran into problems using a custom environment on DQN demo.

in step:
[code]
I meet error,
[code]

I check my `time_step`, `action_spec()`, `time_step_spec()` as follow,
[code]
I also tested the same code in codelab,

The shapes doesn't seem to be different，as follow，

[code]

[2020-03-07 17:21] niklasnolte commented on #320
i have a discrete pattern case. but i was wondering about the technical part, meaning is there a feature that implements the `observation_and_action_constraint_splitter` functionality for PPOAgents?
Given that you added the label, i guess not yet.

[2020-03-08 08:51] PeterJaq commented on #326
Solved！

[2020-03-08 08:51] #326 closed, assigned to nobody

[2020-03-09 06:16] sdfzz opened #327 "Multiple activation function for ActorDistributionNetwork"
Dear all,

I'm trying to use ActorDistributionNetwork function to create an actor network which consists of multiple fully connected layers.

I can do it by setting 'fc_layer_params' argument of 'ActorDistributionNetwork' function. However, What I want is to be able to assign different activation functions to each layer.

For example, I want to create 3 fully connected layers, and use relu as the

[2020-03-09 15:10] oars commented on #327
You can define your own networks to do whatever you want. The only requirements are that they handle the observations for the environment you are using, and that the outputs of the network match the expectations for the agent (Easiest way to do this is to copy the last layer of the example networks.)

Take a look at the networks colab for more details. There we show how to use the encoding network

[2020-03-09 15:10] #327 closed, assigned to nobody

[2020-03-09 23:00] sdfzz commented on #327
Thank you!!

[2020-03-10 00:26] JCMiles commented on #289
Quick update:

To run a train cycle on multiple GPUs and with "n" parallel environments I found that is necessary
to place parallel environments initialization under the CPU. Otherwise CUDA errors can occur.

        with tf.device('/CPU:0'):
            train_env = ParallelPyEnvironment(...)

Hope this helps.

[2020-03-10 09:51] marconardelli commented on #300
thx @oars for the help, I will try to modify it accordingly

[2020-03-17 05:39] komal-SkyNET opened #329 "Network only supports action_specs with shape in [(), (1,)]) In call to configurable 'QNetwork'"
Google colab here: https://github.com/komal-SkyNET/ai-neural-networks/blob/master/google-colab/dqn_tf_nes_gym.ipynb

[2020-03-17 05:40] komal-SkyNET commented on #329
[code]

[2020-03-18 04:18] tfboyd commented on #321
That is very possible.  As far as being compatible and tested with TensorFlow 2.1.0.  I have version 0.4.0 in RC with not expectation that this will not be come official in 1-2 weeks.  Here is the upload on pypi.

It was tested with:
tensorboard==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
tensorflow-probability==0.9.0

I would not normally list my gast version but in this case:
gast==

[2020-03-18 04:23] tfboyd commented on #321
Looking at the readme and I was the one that did the 0.3 release I think your assumption is true; given the dates and probability now on 0.9.0.  I cannot remember the exact context of why I added the message. I doubt 2.1 was final when I was pushing out that release.

TF 2.2 should be out soon and I hope to finish up 0.4 and then roll right into TF-Agents 0.5.0 and verify it with TF 2.2 as soon as

[2020-03-18 18:34] lukepolson opened #330 "Multiple OBservation with Actor Critic"
I'm training a game that includes an image of a board and the health  as two separate observations. This has worked fine with the DQN since I can use a preprocessing combiner to combine these.

Now I want to use an actor critic network but the critic network can't support more than 1 observation. What is the solution?

[2020-03-18 23:52] v-sivak commented on #330
You can use FlattenObservationsWrapper from environments/wrappers, but they only have it for python environments so far.

[2020-03-18 23:53] komal-SkyNET commented on #326
Facing a similar issue. Do you know what was the problem and what resolved it?

[2020-03-19 00:07] lukepolson commented on #330
I see. So I suppose there's no (direct) support for using a CNN in this case (for the image of the board) since the observation needs to be flattened before being put into the critic network. Is there a reason for this? Ideally, shouldn't one be able to use a preprocessing layers for a critic network?

[2020-03-19 00:09] oars commented on #330
Take a look at [8_networks_tutorial.ipynb](https://github.com/tensorflow/agents/blob/master/docs/tutorials/8_networks_tutorial.ipynb). You can define whatever critic you want which can support multiple inputs.

[2020-03-19 00:12] lukepolson commented on #330
So one can simply override the __init__ and call methods of the critic network? I see... I'll get to it. Thanks for the help! :)

[2020-03-19 00:12] #330 closed, assigned to nobody

[2020-03-19 00:50] kbanoop commented on #326
Not sure about the exact issue, but it could be that the policy is expecting batched time_steps and the environment is providing time_steps without a batch dimension. If that's the case, it could be solved by wrapping the environment in a [BatchedPyEnvironment](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/batched_py_environment.py)

[2020-03-19 11:50] HadiSDev commented on #282
@ebrevdo Is there an example on how to use the BatchedPyEnvironment?

[2020-03-19 16:14] oars commented on #282
YEs, the EOFError is caught and exceptions are logged. @LLouice do you have full logs? There should be a message with:

[code]

`batched_py_environment.BatchedPyEnvironment(envs=[suite.load(...) for _ in range(n)])`

[2020-03-19 17:12] HadiSDev commented on #219
@corypaik I am also having the issue with windows 10, but I where should step 1 and 2 go in my code?

[2020-03-19 19:26] lukepolson opened #331 "Categorical Q Network Performing Worse than Q Network"
I am currently training an agent that receives sparse rewards (a reward of +1 approximately every 5-10 moves). I have the discount factor set to 0.99.

I trained both a Q Network and Categorical Q Network on the environment- for both I used fc_layer_params=[100,100,100] and for the Categorical Q Network I used n_atoms=51, min_q_value=-20, max_q_value=20, and n_step_update=2. The categorical Q netw

[2020-03-19 19:35] sguada commented on #331
You may need to adjust the values of categorical Q-Network, for instance if you never get negative rewards or only -1 when dies you may want to change the min_q_value=-1, also you may need to adjust n_atoms=11 or n_atoms=21.

The default values are those used for Atari.

[2020-03-19 19:40] lukepolson commented on #331
What's the reasoning for adjusting to n_atoms to 11 or 21? Wouldn't that just give a distribution of Q-values that has less resolution? Has this ever been shown to help?

[2020-03-19 19:44] sguada commented on #331
Take a  look at https://arxiv.org/pdf/1707.06887.pdf Figure 3, where they run different n_atoms to find best solution for Atari. 5, 11, 21, 51 were the solutions they tried.

[2020-03-19 19:48] lukepolson commented on #331
I see... so 21 returns seemed to perform better for Asterix. I am making the following changes

trial 1: min_q_value=-1, max_q_value=20, n_atoms=21, n_step_update=2
trial 2: min_q_value=-1, max_q_value=20, n_atoms=11, n_step_update=2

I will come back in 8 hours once my code has finished running and comment on the results.

[2020-03-19 20:19] lukepolson commented on #331
I should also note that I use using an epsilon greedy policy (decayed to eps=0.01 over 500000 steps) for the Q Network **but not** for the Categorical Q Network (my reasoning for not using one was because there was none in tutorial 9). Could this possibly be the reason why the agent is performing poorly?- not enough initial exploration while learning? @sguada

[2020-03-19 22:35] sguada commented on #331
Yeah that could explain the bad performance, you need some extra exploration at the beginning of training, even for Categorical Q-Networks.
The tutorials are intended to show different use cases, don't cover all the aspects in each one.
Try to keep the same exploration policy for both agents.

[2020-03-20 03:40] lukepolson opened #332 "FrameStack for a PyEnvironment"
Is there a wrapper which implements frame stacking for a PyEnvironment on here? I've done some searching and couldn't find one. If not, what is the best way to achieve this?

[2020-03-20 16:15] oars commented on #332
`HistoryWrapper` in `environments/wrappers.py`

[2020-03-20 16:15] #332 closed, assigned to nobody

[2020-03-20 17:47] lukepolson commented on #331
@sguada Here are the results for n_atoms=21 vs n_atoms=51:

![snake](https://user-images.githubusercontent.com/39573086/77191580-62992b80-6a98-11ea-848c-f5481ed665cb.PNG)

Recall that this was trained with a uniform replay buffer with an epsilon greedy policy of 500000 steps.  The initial negative reward is simply because I give the snake -0.5 for running into itself (and then take a different ran

[2020-03-21 01:17] leroidauphin commented on #298
The linked pull request appears to fix the parts of TF-Agents code which contribute to this issue. Having applied that patch, it appears that the TensorFlow `MirroredVariable` still needs to be updated to support `sparse_read` before this issue has been addressed.

[2020-03-23 04:52] lukepolson opened #334 "Correct Way to Implement Frame Stacking"
I currently have an environment where the observation shape is (1,40,40,1) (first element is the batch dimension). I want to frame stack the last few frames so that my observations are (1,40,40,3) but HistoryWrapper makes them (1,3,40,40,1). What is the correct way to frame stack such that the observations are (1,40,40,3)? I've considered using a keras preprocessing_layer that swaps axis=1 and axi

[2020-03-23 05:06] lukepolson commented on #334
My hackish method is to use the following preprocessing layer:

`preprocessing_layer = Sequential([`
`tf.keras.layers.Permute((4,2,3,1)),`
`tf.keras.layers.Lambda(lambda x: x[:,0,:,:,:])`
`])`

This seems to work, but I feel like its not the correct way to use history wrapper

[2020-03-23 15:51] ebrevdo commented on #298
+Katya Gonina <kgonina@google.com> +Anjali Sridhar
<anjalisridhar@google.com>

On Fri, Mar 20, 2020, 6:17 PM leroidauphin <notifications@github.com> wrote:

[2020-03-23 16:45] tfboyd commented on #321
Remove the wording from the README.  The wording might show up on the new tensorflow.org tf-agents sub-site and I will clean that up with the 0.4.0 release.

[2020-03-23 16:45] tfboyd commented on #321
Marking fixed since I updated the README and start the RC.  I hope that seems fair.

[2020-03-23 16:45] #321 closed, assigned to tfboyd, kbanoop

[2020-03-23 18:37] egonina commented on #298
@anj-s do you know if sparse_read will be updated in MirroredVariable soon?

[2020-03-23 22:40] kbanoop commented on #334
Does this work for you? https://github.com/tensorflow/agents/blob/213cc66b0adef6a44231769f77f88bdb80759d1c/tf_agents/environments/atari_wrappers.py#L29

[2020-03-25 01:01] kbanoop commented on #329
DQN doesnt currently support more than one action: https://github.com/tensorflow/agents/blob/3ef63ca150b61d5aecce0abf289fbf0992c4f046/tf_agents/agents/dqn/dqn_agent.py#L265

Contributions are welcome.

A workaround is to wrap the environment and change the actions to be one dimensional, e.g. if you have 2 actions each in {0, 1}, you could turn that into one action taking values in {0, 3} where {0}

[2020-03-25 06:13] lukepolson opened #335 "Question about Collect Driver and Parallel Environment"
Suppose I have an environment creator:

    def get_Snake_Env():
        return MyEnv()

Then create 16 parallel environments using a parallel py environment:

`tf_env=tf_py_environment.TFPyEnvironment(parallel_py_environment.ParallelPyEnvironment([get_Snake_Env]*int(n_envs)))`

Now I create a collect driver:

    collect_driver = DynamicStepDriver(
        tf_env,
        agent.collect_policy,

[2020-03-25 09:25] JCMiles commented on #335
is the sum of all the parallel envs. the same is valide for episodes if you use DynamicEpisodeDriver.

[2020-03-25 18:33] lukepolson commented on #335
@JCMiles Thank you for the speedy response. So how then should the epsilon greedy policy, the "num_steps" parameter in the collect driver, and the "target_update_period" parameter in the DQN agent be updated as the number of parallel environments increases? For example, would

*1 Environment*: num_steps=1, target_update_period=20000
*10 Environments*: num_steps=10, target_update_period=200000

be

[2020-03-25 22:49] lukepolson commented on #81
What was the solution here?

[2020-03-26 01:02] lukepolson opened #336 "Parallel Py Environment Performing Considerably Worse For More Environments"
Hi all. I understand I've posted quite a few questions but I image they'll be useful for future people who want to use this package.

I have a question about the performance of the ParallelPyEnvironment. To do benchmarks I created a parallelpyenvironment with one instance of my environment and another with 16 instances of my environment. These were done in  2 separate jobs. Namely, to create each

[2020-03-26 13:31] mFreezetime opened #337 "Unable to use ActorDistributionRnnNetwork with SAC agent"
my env : gym 'Pendulum-v0'

Observation Spec:
BoundedArraySpec(shape=(3,), dtype=dtype('float32'), name='observation', minimum=[-1. -1. -8.], maximum=[1. 1. 8.])
Action Spec:
BoundedArraySpec(shape=(1,), dtype=dtype('float32'), name='action', minimum=-2.0, maximum=2.0)
Reward Spec:
ArraySpec(shape=(), dtype=dtype('float32'), name='reward')

def normal_projection_net(action_spec, init_means_output_

[2020-03-26 18:36] #170 closed, assigned to nobody

[2020-03-26 20:53] lukepolson commented on #336
Hello everyone. I have the solution about what happened here. I will soon write a detailed reply to this and then close and comment.  This should be useful to many people in the future.

[2020-03-27 11:39] HadiSDev opened #338 "Question about Custom PYEnvironment regarding two inputs"
Hi,

If I want to create a custom PYEnvironment, by the tutorials giving I can only see how to define 1 input, for example a picture or a scalar value, but what If I want both a picture and a value to be part of the observation?

[2020-03-27 18:18] sguada commented on #338
Each environment can define their own set of observations, so you can use dict or a namedtuple. Example:
[code]
The key aspect is that then you need define your own network to handle both observations.

[2020-03-29 16:13] HadiSDev commented on #338
@sguada So I can't use the normal Q-Network? I have to create my own?. I thought I could just use preprocessing_layers parameter to specify each input layer

[2020-03-30 17:45] egonina commented on #298
any updates on this issue? can we link a TF issue here that is blocking this? @anj-s

[2020-03-30 17:54] anj-s commented on #298
@egonina Not yet. I'll look into this and have an update soon. Thanks!

[2020-03-31 07:37] HadiSDev opened #339 "How does epsilon_greedy work for the DQN agent"
How does the parameter **epsilon_greedy** for the DQN agent work since we are not defining **minimum**, **decay** and **start** epsilon?

Normally you would have:
EPSILON_MAX = 1 # Max exploration rate
EPSILON_MIN = 0.1 # Min exploration rate
EPSILON_DECAY_STEPS = 2e5 # How many steps to decay from max exploration to min exploration

[2020-04-02 17:27] anaghagireesan opened #340 "Incompatibilty of Tensorflow version 1.15 with tf-agents version 0.3.0"
Hi,
I am using Tensorflow 1.15 and on installing tf-agents 0.3.0, I still get incompatibility error while using td3 (saying Requirement of tensorflow  probability> 2.1). Shouldn't that work fine with tensorflow 1.15 as per the documentation?

Thanks!

[2020-04-02 22:29] fredcallaway opened #341 "ModuleNotFoundError: No module named 'tf_agents.bandits.specs'"
I get this error importing tf_agents.environment in a fresh install.

### Full stack trace
[code]

### Replication steps
[code]

[2020-04-08 12:24] bartokg commented on #341
Could you please try again? The __init__ should be fixed now.

[2020-04-08 15:39] tfboyd commented on #340
It should, I will try to give this a try today and check back.  The downside is my environment might be totally different, but I will see what happens and maybe we get lucky.  You also may have moved on as 6 days is a long time for an install issue. On the plus side it will give us a data pont oin 0.3.0 and maybe update the README if I learn something.

I realize there is likely a reason you are u

[2020-04-08 15:44] marconardelli commented on #339
The EpsilonGreedyPolicy has not a decay by itself, you have to implement it in your training process.
What you have to do is to define a decay process using for instance a PolinomialDecay like this:

[code]
Then you have to pass the epsilon parameter to the agent:

[code]

[2020-04-08 15:46] HadiSDev commented on #339
Alright thanks :)

[2020-04-08 15:46] #339 closed, assigned to nobody

[2020-04-08 16:19] ffbskt commented on #340
Still not work in my pc. (But in colab is ok)
'from tf_agents import specs'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/denis/anaconda3/envs/tf2/lib/python3.6/site-packages/tf_agents/specs/__init__.py", line 20, in <module>
    from tf_agents.specs.distribution_spec import DistributionSpec
  File "/home/denis/anaconda3/envs/tf2/lib/python3.6/site-package

[2020-04-08 20:51] tfboyd commented on #340
It may seem obvious to you.  The fix is to run:

`pip install tensorflow-probability==0.8.0`

I did a fresh install on a docker image with TF 1.15.0 Docker as the base.
I am looking into how tf-agents installs tensorflow-probability. Should not take long; and I wanted to get this update out ASAP. I do not know if we want to lock the versions for all the libraries.  tf.proability might be an except

[2020-04-08 20:55] tfboyd commented on #340
We do greater than or equal on the tensorflow-probability.  I am not sure we want to change it right now to lock to an exact version.  If this is a problem for future releases that decision may change.  I am also going to ask the team to verify my off the cuff conclusion.  I will close this when I update the README.md .

From setup.py

[code]

[2020-04-09 20:58] leroidauphin opened #342 "Support scalar action spaces in the normal projection network"
The normal projection network class makes use of the `BiasLayer` keras layer. This layer mirrors a similar instance from the TensorFlow `contrib` package. This implementation requires that the tensors passed through the layer are at least of rank 2. This imposes an implicit restriction on the action spaces which may be used with the normal projection network. In particular, it is not possible to u

[2020-04-09 21:06] leroidauphin commented on #342
I encountered this issue when attempting to use the PPO agent with a custom gym environment that uses a scalar action space.

[2020-04-10 18:19] HadiSDev opened #344 "Custom tf metrics for game variables?"
Is it possible to create a custom tf_metric like the AverageReturnMetric, but instead count game variables and not reward? For example ammo, health packs, armor etc.

[2020-04-10 23:55] zhenchangXia opened #345 "How to use agents/tf_agents/behavioral cloning? is there any example?"
There is not an example of behavioral cloning, so I do not know how to use the agent of behavioral cloning. Is there an example of a behavioral cloning agent to help me complete my project. Seek help!!!

[2020-04-13 05:47] vinayjoshi22 commented on #329
This is a good idea however since the output dimension of the Q-network is (1,) I suspect Q-network would not learn well since regression over an output variable of large value could cause problems in generalization.

Also, this limit on the size of action_spec is it because of DQN implementation in TF only supports actions_spec size 1 or only Q-network supports action_spec size (1,). I do not und

[2020-04-13 05:57] vinayjoshi22 commented on #329
I just saw [here](https://github.com/tensorflow/agents/blob/eb3bd090d6c6b4e601cee9be19ff0e834e6fe7bf/tf_agents/agents/dqn/dqn_agent.py#L266) that DQN algorithm implementation in TF only supports one-dimensional action_spec.  I would like to see TF support for multi-dimensional action_spec.

[2020-04-13 21:36] lukepolson opened #346 "Function to Make Predictions From Policy"
Suppose I save some policy:

`
saver = PolicySaver(my_policy, batch_size=None)
`
`
saver.save('my_policy')
`

And then I load this policy

`
policy = tf.saved_model.load('../DATA/Multi/policy_9')
`

Now I _**ONLY**_ want the part of this policy that makes predictions; i.e. I give it a TimeStep object and it returns an action. I understand I can use the entire policy for this, but is there somethin

[2020-04-13 22:50] sguada commented on #346
Take a look at this [examples](https://github.com/tensorflow/agents/blob/93c6b1b40e869e27f6bbaaa1d6cc8d24ff367cb9/tf_agents/policies/policy_saver.py#L91)

[code]

[2020-04-13 23:45] lukepolson commented on #346
Hi @sguada

Thats what I was using, but it does not work. The issue here is non-trivial: I have an environment that consists of a **player** and **enemies**.

* The player's policy is being trained during the training loop.
* During the training loop, the enemy uses a pre trained policy which is borrowed from a previous player policy. However, the very first time the player is trained, the enemies

[2020-04-14 00:16] lukepolson commented on #346
[code]

[2020-04-14 00:16] lukepolson commented on #346
Attached is the error message when trying to run the initial collect driver @sguada

[2020-04-14 00:32] lukepolson commented on #346
Hi, I've done some more digging. This error only props up for

`
env = parallel_py_environment.ParallelPyEnvironment([Snake_Env_Par]*int(16))
`
`
tf_env = tf_py_environment.TFPyEnvironment(env)
`

and not for

`
tf_env = tf_py_environment.TFPyEnvironment(Snake_Env_Par())
`

i.e. it is only an issue for the parallel py environment. Lets summarize what we know so far

* In a **parallel py environmen

[2020-04-14 15:09] DylanCope opened #347 "Multiagent Support"
Is there a suggested way to go about setting up a multiagent RL experiment where the agents have differing reward functions? In `RLlib` there is the `MultiAgentEnv` but I do not see any a natural way to use `PyEnvironment` with multiple agents.

[2020-04-15 17:17] lukepolson opened #348 "Parallel Py Environment and Use of Policy in Environment Crashing"
I have an environment that consists of a **player** and **enemies**. The player and enemies are all snakes on an 11x11 grid.

* The player's policy is being trained during the training loop.
* During the training loop, the enemy uses a pre trained policy which is borrowed from a previous player policy.  During the first cycle of training the enemy takes random actions and there is no problem here.

[2020-04-16 02:03] PeterJaq commented on #326
I do not know your case， but in my case, my observation is a single value. So this single value should be in an array or list when you reference it in ts.restart, ts.transition or ts.termination.

[2020-04-17 18:37] OnTheRicky commented on #324
Hasn't this been added? So should be closed?

[2020-04-17 18:48] OnTheRicky opened #349 "[Feature request] Metrics documentation or tutorial to assist with hyperparameter selection/tuning"
It would be great to get some documentation or a tutorial on metrics and how to add more, or how to monitor/understand training performance of different agents.

This goes hand in hand with picking parameters and how to tune them.

For eg: [https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-PPO.md](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Training-PPO

[2020-04-17 20:20] natashamjaques commented on #347
We are currently working on supporting non-scalar rewards in tf-agents to make this easier. Given this, it's possible to build a meta-agent that initializes several agents. The meta-agent can receive all observations and rewards, split them up appropriately, and invoke the sub-agents. We are currently discussing building support for this. Until then, you could consider passing back the agent's rew

[2020-04-18 04:08] kuanghuei commented on #344
As long as those things are in your observation, I don't see any problem of doing that. Just pass metric observers to the driver, e.g.  https://github.com/tensorflow/agents/blob/master/tf_agents/eval/metric_utils.py#L123

[2020-04-18 04:08] #344 closed, assigned to nobody

[2020-04-18 19:14] Syakyr opened #350 "Linking API documentation in the README"
I have been relying on the API documentation in `tf_agents/docs/python` to use the module better, up until recently that I've found that the documentation is removed in 6a227494648ca25ca8188ef5cc646b40f1c9d841. I would recommend adding the API documentation link (https://www.tensorflow.org/agents/api_docs/python/tf_agents) in the README for future reference.

[2020-04-20 08:35] OnTheRicky commented on #336
Any update on this?

[2020-04-20 15:11] anaghagireesan commented on #340
Yes, tensorflow probability was the issue. Everything works fine after installing tensorflow probability compatible with tensorflow 1.15.
Thanks a lot!

[2020-04-20 18:02] OnTheRicky commented on #347
What are the ETAs for these features?

Are there other libraries that offer this sort of functionality that can be referenced?

[2020-04-20 21:51] summer-yue commented on #324
I think this is still open. I haven't got time to work on this yet. Might get to this in the next 2 weeks or so.

[2020-04-21 22:10] summer-yue commented on #324
This was added earlier today.

[2020-04-21 23:25] #324 closed, assigned to nobody

[2020-04-22 04:17] #348 closed, assigned to nobody

[2020-04-22 04:18] lukepolson opened #351 "Policies Breaking in Parallel Py Environment (Possible Memory Leak??)"
I have an environment that consists of a **player** and **enemies**. The player and enemies are all snakes on an 11x11 grid.

* The player's policy is being trained during the training loop.
* During the training loop, the enemy uses a pre trained policy which is borrowed from a previous player policy.  During the first cycle of training the enemy takes random actions and there is no problem here.

[2020-04-22 18:36] lukepolson commented on #351
For anyone who comes across the future, a workaround is to use the batched py environment instead of the parallel py environment.

[2020-04-22 18:36] #351 closed, assigned to nobody

[2020-04-23 07:22] leroidauphin opened #352 "PPO value clipping seems to have no effect"
The `PPOAgent` includes the option to use value clipping. This is included in the baselines implementation (https://github.com/openai/baselines/blob/ea25b9e8b234e6ee1bca43083f8f3cf974143998/baselines/ppo2/model.py#L67) and is described in https://openreview.net/pdf?id=r1etN1rtPB as a useful optimisation to improve the performance of the algorithm.

However, it appears that the implementation of va

[2020-04-24 11:53] HadiSDev commented on #344
@kuanghuei What if they are not in the observation?

[2020-04-25 13:42] SreeSan262 opened #353 "Create encoder and decoder actor networks"
Hello,
I have no too much experience with tf-agents, but I would like to use it for creating encoder decoder actor networks for td3. Looking at the code, I see its a subclass keras network implementation. So do I need to create two separate classes for Actor encoder network and Actor decoder network to use the td3 agent?
Any help would be appreciated!

Thanks a lot!

[2020-04-25 18:23] lukepolson opened #354 "Speeding up Prediction Time of a Policy"
I currently have a policy which can make predictions on a 33x33 game image in about 0.002 seconds. The neural network has about 1 million parameters. Is there a way to speed up the "policy.action" method? Based on the speed during training, the policy must be executing "policy.action" at a much quicker speed than 0.002 seconds.

[2020-04-26 13:55] josephdereje commented on #237
i know right  !! i don't really know the exact answer but it has more packages than tensorflow

[2020-04-29 13:57] jonabaa opened #355 "Function copy(self) not defined in class policies.py_policy.PyPolicy"
The tutorial "3_policies_tutorial.ipynb" explains that the interface for Python policies defines a method "copy(self)" that is supposed to return a copy of the policy. However I cannot see that this method is defined in the abstract class policies.py_policy.PyPolicy. Neither does any of the policies I'm using that inherits policies.py_policy.PyPolicy implement this function. Will this function be

[2020-04-29 19:23] summer-yue commented on #352
Hey thanks for raising this, good catch. Looks like a bug. I'll rolling out a fix right now.

[2020-04-29 22:00] summer-yue commented on #352
Just submitted the fix to use the cached value prediction instead. Thanks for reporting this!

[2020-04-29 22:00] #352 closed, assigned to summer-yue

[2020-04-29 22:35] summer-yue commented on #341
I verified that this was fixed. Closing this issue. Thanks Fred for reporting and thanks Gabor for the  fix!

[2020-04-29 22:35] #341 closed, assigned to nobody

[2020-04-30 07:30] hohl opened #356 "Do the metrics in the `tf_metrics`-module support batching by design?"
I'm building an experiment upon the [REINFORCE v2 sample](https://github.com/tensorflow/agents/blob/master/tf_agents/agents/reinforce/examples/v2/train_eval.py) with a custom recurrent actor network and custom Python-based environment. Both are implemented to support batching. The `train_eval` is mostly unchanged (besides the usage of the custom environment and network, of course). However, the ex

[2020-04-30 14:43] leroidauphin opened #357 "PPOAgent._train increments the train_step_counter by num_epochs rather than 1"
The docstring for the `TFAgent_train` method states that:
`This method *must* increment self.train_step_counter exactly once.`

The `PPOAgent._train` method increments ` self.train_step_counter` by `self._num_epochs`. This is because the counter in incremented (by one) by the optimizer `apply_gradients` method inside the loop which repeats `self._num_epochs` times:
https://github.com/tensorflow/ag

[2020-04-30 22:36] summer-yue commented on #356
Have you tried

[code]

I think the default batch size is 1 in those metrics.

[2020-04-30 22:37] summer-yue commented on #357
Thanks for the contribution! I responded in the PR, copying it here just in case:

"I have a high level question. We are actually moving away from using epoch_num inside of ppo_agent.train, and handle epochs with tf.Data pipelines outside of the agent. Given that, is there still added benefit in separating train_step_counter and global step here?"

[2020-04-30 22:46] summer-yue commented on #355
Thanks for the raising this! The copy(self) function in the Colab is outdated and is from an early version of TF Agents. I have removed it after seeing your comment.

We don't currently have any plans of implementing the copy function in all the polices. It is not easy to do, and can get very tricky when we have shared variables between networks come into play.

[2020-05-01 06:32] hohl commented on #356
I did check the arguments of `__init__`, but did not find anything like a batch size (see [source](https://github.com/tensorflow/agents/blob/master/tf_agents/metrics/tf_metrics.py#L109)):

[code]

However, I just checked again and figured out that some metrics do have a `batch_size` argument: `AverageReturnMetric` and `AverageEpisodeLengthMetric` have a `batch_size` argument in the constructor, wh

[2020-05-01 07:38] hohl commented on #356
Anyhow, that did not fix the issue, but setting the batch size might have been necessary.

As the source of `AverageReturnMetric` shows, the shape of `_return_accumulator` is set according to the passed `batch_size`:

[code]

...but the execution fails at exactly that `self._return_accumulator.assign(...)` line in `call`. So I guess it must be related to the shape `trajectory`, but that should be

[2020-05-01 11:11] HadiSDev opened #359 "Intel-tensorflow with TF-Agents not working"
When using Intel-Tensorflow 2.1.0 on Linux and using a Q-RNN network with preprocessing layers like:
[code]

I get:
tensorflow.python.framework.errors_impl.InvalidArgumentError: Must provide as many biases as the last dimension of the input tensor: [64] vs. [0,84,84,3] [Op:BiasAdd] name: QRnnNetwork/EncodingNetwork/sequential/conv2d/BiasAdd/

[2020-05-01 19:45] summer-yue commented on #356
Your trajectory shape looked good to me, and if you set the batch size to 32, that shouldn't have caused an issue. Do you mind copying the error message here? It's hard to debug without it.

Could you also look into what "self._return_accumulator" looks like before the assign_add, if that's the line that's erring out.

[2020-05-01 19:51] summer-yue commented on #359
Could you please add more information on the environment you're using, and what you set for input_fc_layer_params, lstm_size and output_fc_layer_params? Thanks!

[2020-05-01 19:57] HadiSDev commented on #359
Environment: python 3.7.7 on Linux server
input_fc_layer_params = None,
lstm_size= (256,)
output_fc_layer_params = (256,)

[2020-05-01 20:10] summer-yue commented on #357
Resolved. See the PR for more detailed discussions.

[2020-05-01 20:10] #357 closed, assigned to nobody

[2020-05-01 22:13] summer-yue commented on #359
You had "input_fc_layer_params = None, " with an extra comma in the end. So input_fc_layer_params is actually (None, ) which evaluates to `True`. This leads the network to parse through input_fc_layer_params as values.

Let me know if this works after you remove the comma.

[2020-05-01 22:15] HadiSDev commented on #359
Oh sorry it is input_fc_layer_params = None without comma. I just mistakenly used it as a sentence seperator:)

[2020-05-01 22:18] summer-yue commented on #359
What did you use as `tf_env`? When I reproduced your code with Cartpole locally it didn't complain.

[2020-05-02 06:47] hohl commented on #356
Tying to post the shape of `self._return_accumulator` made me find the mistake myself, as the shape was still `<tf.Variable 'Accumulator:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>`. I missed, that in the above sample, metric classes were instantiated twice (once as `train_metrics` and `eval_metrics`) and I only added the `batch_size` parameter to one of them not the other.

Tha

[2020-05-02 06:47] #356 closed, assigned to nobody

[2020-05-02 12:07] HadiSDev commented on #359
I used a custom made env for the Vizdoom RL framework:

[code]

[2020-05-02 12:07] HadiSDev commented on #359
I forgot to say that the code works in normal Tensorflow 2.1.0

[2020-05-02 12:18] HadiSDev opened #360 "metric_utils.eager_compute not evaluating "fast""
When I first tried TF-Agents metric_utils.eager_compute would evaluate the eval_env very fast (Speeded up), which was very good. Unfortunately, now it has stopped doing so, it is now running at the same speed as the train_env. My colleagues have run the exact same code, at their eval_env Is speeded up. I have tried reinstalling Windows 10 pro x64, reinstalling drivers, reinstalling pycharm, rewrit

[2020-05-02 12:20] HadiSDev commented on #338
Hi again, So I found out that I could just use the preprocessing layer on the Q-Network to specify each input. Closing

[2020-05-02 12:20] #338 closed, assigned to nobody

[2020-05-03 05:45] jimmy6 opened #361 "1_dqn_tutorial.ipynb compute_avg_return should be in batch"
1_dqn_tutorial.ipynb compute_avg_return method should be in batch.

[2020-05-03 14:00] HadiSDev opened #362 "Question: Is the replay buffer a priority replay buffer?"
Hi
I just want to be sure that the TFUniform Replay buffer is priorities. My assumption is yes, but I can't really confirm it from the API docs.
Thanks in advance

[2020-05-03 16:32] AndreyBulezyuk opened #363 "AttributeError: 'tuple' object has no attribute 'rank'"
Trying out the most basic example on

- Windows 10
- Python 3.7
- tensorflow 2.1.0
- tf-agents 0.4.0

Error i get
[code]

Code i run
[code]

The code in tf agents gets the 'shape' from the action_spec, which is a tuple in my case. Then it tries to retrieve key "rank" from a tuple.

What am i missing?

[2020-05-04 15:55] dvdhfnr commented on #280
Hi!

We tried to do this (using the DqnAgent.). However, we are receiving the following error when trying to convert the saved model (policy):
"ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."

@ebrevdo Any suggestions?
(If required, further details can be provided.)

Thanks!

[2020-05-04 16:08] ebrevdo commented on #280
For "only convert a single ConcreteFunction" this is cause it's trying to use the new MLIR converter.  I suggest filing a repro *separately* with the TensorFlow Issues so they can see this feature is required.  @aselle @jdduke fyi.

Separately; for now you should be able to use the "old-style" converter (it should work fine).  Try passing `--enable_v1_converter` when you call tflite_convert and re

[2020-05-04 16:10] ebrevdo commented on #280
For *training on device* you cannot do this with TFLite.  You must either use the standard TF runtime, or try the (less well supported path) of using the new `saved_model_cli aot_compile_cpu` approach, which does not support dynamic shapes and a lot more manual, but would allow you to train on device.  Unfortunately there's no tutorial (yet) on how to do this.  If you're interested in that, we can

[2020-05-04 16:11] ebrevdo commented on #280
(for aot_compile_cpu; you will need the most recent tf2.2 RC; it's not in TF2.1).

[2020-05-04 16:22] dvdhfnr commented on #280
Thanks for the fast response!

--enable_v1_converter works "better", but leads to a different error:
ValueError: No 'serving_default' in the SavedModel's SignatureDefs. Possible values are 'get_initial_state,__saved_model_init_op,get_train_step,action'.

(We do not require training on the device.)

[2020-05-04 16:22] ebrevdo commented on #280
We can add a TODO to be able to create SavedModels out of the Agent.train()
method; but my comments above still apply...

On Mon, May 4, 2020 at 9:11 AM ebrevdo <notifications@github.com> wrote:

[2020-05-04 16:26] ebrevdo commented on #280
The tflite_convert CLI help doesn't seem to show it, but you can pass a "
--saved_model_signature_key
<https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/tflite_convert.py#L385>"
flag, you probably want to point it to "action".  If you have an RNN in the
model, you'll also want to create a separate TFLite model for
"get_initial_state" which you would use to initialize the

[2020-05-04 16:34] dvdhfnr commented on #280
Great. Thanks.

`tflite_convert --saved_model_dir saveDir --enable_v1_converter --saved_model_signature_key action --output_file out.tflite --allow_custom_ops`
seems to work for the conversion.

(Still need to investigate if this tflite model runs as expected on the Android device. I will try to report back.)

Thanks.

[2020-05-04 18:56] summer-yue commented on #363
From your error message, it looks like it's actually failing at "get_outer_shape(time_step, self._time_step_spec)" - when it was trying to get the rank for the time steps.

Could you print `train_env.time_step_spec()` and `obs` and verify that they match?

[2020-05-04 19:06] summer-yue commented on #362
+kbanoop

I didn't think TFUniformReplayBuffer is prioritized (My impression was sampling from there is entirely uniform). I'm not super sure about this, so I tagged a colleague of mine who knows more.

If you elaborate a bit more on your use case, we can probably give a recommendation on which replay buffer to use.

[2020-05-04 19:47] HadiSDev commented on #362
Well I don't have a lot of RAM, so I want to make sure that the replay experience I select is the one with the highest lost. I wan't to avoid selecting the easy experiences to predict and keep the hard ones

[2020-05-04 20:46] kbanoop commented on #362
Unfortunately the TFUniformReplayBuffer doesn't support priorities. We are working on another replay buffer which will support it, but AFAIK it will be open sourced only towards the end of this month @ebrevdo

[2020-05-04 21:01] #355 closed, assigned to nobody

[2020-05-04 22:17] kbanoop commented on #360
Thanks for reporting this. I am not sure why the Eval environment was faster than the Train environment before. Do you remember an approximate date when it was faster and by how much?

Also does this difference between train and eval environments exist only for your environment, or any of the standard environments from TF-Agents that we can reproduce easily?

[2020-05-04 22:34] ebrevdo commented on #362
Yep; something's gonna be available soon.

On Mon, May 4, 2020 at 1:46 PM Anoop Korattikara <notifications@github.com>
wrote:

[2020-05-04 22:50] tfboyd commented on #350
Sorry about that. PR is being approved that provides the link in the first paragraph and then again under the stable release section.

[2020-05-05 02:45] tfboyd commented on #359
@HadiSDev

I am going to try to repro and then escalate to intel. It has been a year or so since I worked with Intel even remotely close and I thought their TF builds just added some MKL-DNN which should have zero impact on the API.

**If you can send me a github repo with the code to run, it would save me some work** and make it more likely I can escalate. I know it seems easy.

I am not an RL ex

[2020-05-05 09:17] HadiSDev commented on #359
Hi @tfboyd

as far as I can see from the error, testing with an environment which is has the specs:

[code]

It should be enough.

Then use random numpy arrays in the step function :)

[2020-05-05 10:03] HadiSDev commented on #360
Well for my colleagues it has always been fast and still is even after the new update. It only stopped on my PC 2 weeks ago. We started working with TF agents start February.

To give you an example, I was training on a specific scenario for 100000 steps which takes about 1h to train on, when eval Is running fast, and with excellent results. This is on my colleagues pc's.

When I run it on my PC (

[2020-05-05 13:34] AndreyBulezyuk commented on #363
The prints:

[code]

[2020-05-05 14:49] tfboyd commented on #359
A link to working code with repro would be better.  I am going to have to
setup a branch with the example. The goal here is to reproduce it and
package it for Intel.  We normally do a unit test, but running a command
after a basic git clone is good as well.

If I find a bigger time block to setup an example and then test I will come
back. Testing is maybe 30-60min.  Setting up an example from scra

[2020-05-05 15:31] tfboyd commented on #350
Done

[2020-05-05 15:31] #350 closed, assigned to tfboyd

[2020-05-05 15:32] tfboyd commented on #340
Readme is updated.  I forgot to close this.

[2020-05-05 15:32] #340 closed, assigned to tfboyd

[2020-05-05 18:51] HadiSDev commented on #360
Quick update:
* I tried in ubuntu is evaluating fast, which is good ofc :dancers:
* I tried on my laptop which also runs on windows 10 pro, and evaluater is evaluating on the same speed as the trainer

[2020-05-05 21:05] summer-yue commented on #363
Looks like a bug. Simple repo:

[code]

Eugene, could you please take a look?

[2020-05-05 21:10] TomLouisKeller commented on #363
I had a similar problem, that the method `_check_action_spec()` located in `agents/dqn/dqn_agents.py`  on line 264 threw the same error ('tuple' object has no attribute 'rank').

I was able to fix it by wrapping a Python Environment in TensorFlow like this:
[code]

Hope this can help those who look for a quick fix.

[2020-05-05 21:17] Syakyr commented on #350
I saw the link. I would suggest that the link should be placed below the Tutorial header though, so it would be like a natural progression of understanding the package better. Otherwise, thanks!

[2020-05-05 21:51] ebrevdo commented on #363
Thanks for the repro!  Will look at fixing this.

[2020-05-06 00:49] summer-yue commented on #362
Closing this since the question has been addressed. Please feel free to re-open if you have follow-up questions. Will update here when the replay buffer with priorities becomes available.

[2020-05-06 00:49] #362 closed, assigned to ebrevdo, kbanoop

[2020-05-06 00:53] summer-yue commented on #361
Can you please elaborate the issue you ran into? Is this a request to add a batched version of compute_avg_return in the existing Colab?

[2020-05-06 00:55] summer-yue commented on #354
Can you please provide some context on which policy you're using? I'm assuming you're already using graph mode?

[2020-05-06 10:40] AndreyBulezyuk commented on #363
Thanks @TomLouisKeller ,
now getting another Exception, which seems to be unrelated to the current issue.

[2020-05-06 14:43] v-sivak opened #364 "AttributeError: 'dict' object has no attribute 'shape'"
Hi!

It looks like either 'nest_utils.get_outer_shape' or 'common.replicate' might have a bug on batched dictionary actions.

An example: I am creating a policy which is supposed to output zero action

[code]

with 'action_spec'
[code]
and 'time_step_spec'

`TimeStep(step_type=TensorSpec(shape=(), dtype=tf.int32, name='step_type'), reward=TensorSpec(shape=(), dtype=tf.float32, name='reward'), disc

[2020-05-06 14:51] jimmy6 commented on #361
Yes! I want a batched version of compute_avg_return

[2020-05-06 14:54] CoandaEffect commented on #363
Getting the same error running on WSL Ubuntu, same versions as OP. I only get the error if Python Environment is not wrapped. @TomLouisKeller recommendation will work if no specific need for the Python Environment.

To verify, is DqnAgent intended to work with Python Environments or must one wrap in TensorFlow?

[2020-05-07 09:44] ayansengupta17 opened #365 "`AffineScalar` bijector is deprecated"
`AffineScalar` bijector is deprecated; please use `tfb.Shift(loc)(tfb.Scale(...))` instead.

It is used in:
tf_agents\distributions\utils.py:92: AffineScalar.__init__ (from tensorflow_probability.python.bijectors.affine_scalar)

[2020-05-07 12:21] cris4414 opened #366 "Where can I set a random seed in order to obtain the same actions, states and rewards?"
I need to run my TF_agents code multiple times and to obtain the same set of actions, states and rewards and I cannot figure out where and how to set a random seed.
Firstly, I have a collect driver function that collects me data and I'm thinking maybe a random seed should be set in here initially:

    def _init_collect_driver(self):
        self.return_observer = AverageReturnMetric(buffer_size=n

[2020-05-08 16:47] tfboyd opened #367 "TensorFlow 2.2 Support."
I will update this issue until TF-Agents 0.5.0 is the stable release.

TensorFlow 2.2 was released on 07-MAY. The current TF-Agents 0.4.0 should work with TensorFlow 2.2. While testing the [0.4.0 branch](https://github.com/tensorflow/agents/tree/r0.4.0), I found that a single unit test fails for a bandits unit test but it is a value comparison that may be based on some change to random seed. I did

[2020-05-08 20:23] ahafftka opened #368 "AverageReturn appears incorrect in drivers tutorial"
In the drivers tutorial https://github.com/tensorflow/agents/blob/master/docs/tutorials/4_drivers_tutorial.ipynb, the average return in the first example is often calculated to be `0`.  This appears to be incorrect since in `CartPole-v0` the return is `1` per step.  This indicates a possible error in the `AverageReturnMetric` code.  The example is:

[code]

Output:
[code]

[2020-05-08 20:30] ahafftka commented on #368
Never mind, it appears to have been caused by 0 episodes terminating.

[2020-05-08 20:30] #368 closed, assigned to nobody

[2020-05-08 22:18] mjlbach opened #369 "No module name 'tf_agents.typing' on latest nightly"
Just updated today and noticed this error:

[code]

[2020-05-08 23:25] sibyjackgrove commented on #369
I am facing the same issue when trying to import `suite_gym`
[code]

[2020-05-08 23:32] sibyjackgrove commented on #369
I downgraded to this build it worked: `tf-agents-nightly 0.5.0.dev20200506`

[2020-05-08 23:41] mjlbach commented on #369
That's the release I'm on. Guessing this was the commit https://github.com/tensorflow/agents/commit/2f205cd94026c55615a1b949b7724509862a9abc

[2020-05-09 09:37] RossKohler opened #371 "Unable to use ChosenActionHistogram with DynamicStepDriver"
When using TF's tf_agents.metrics.tf_metrics.ChosenActionHistogram with TF's dynamic step driver and my own environment, I encounter the following error:

```ValueError: Shapes must be equal rank, but are 1 and 0 for '{{node ResourceScatterUpdate}} = ResourceScatterUpdate[Tindices=DT_INT32, dtype=DT_INT32](ResourceScatterUpdate/resource, FloorMod, value)' with input shapes: [], [], [1]```

I've at

[2020-05-09 11:30] RossKohler commented on #371
Able to reproduce with the following code that uses the 'CartPole-v0' environment.

[code]
Error Stacktrace:

[code]

Tensorflow Version: 2.2.0rc4
tf_agents Version: 0.4.0
gym Version: 0.10.11
python Version: 3.8.1
OS: MacOS Cataline v10.15.4

[2020-05-10 13:43] mouadouad opened #373 "tensorflow environment"
I am new to q learning and I have a game pretty similar to the cartpole game in openAI , written in python , so I wanted to apply for it the tutorial in tensorflow documentation but I didn't know how to convert my game to a proper environment so that tensorflow agents could work. Thank you!

[2020-05-10 13:44] JThFr commented on #329
Is there currently a wrapper to transform multi-dimensional action_spec into one-dimensional action_spec?
If not I might try to do it.

[2020-05-10 18:43] maslovay commented on #280
@dvdhfnr how are things with implementing your tf agents trained NN on Android? I have this error:

"RuntimeError: Encountered unresolved custom op: BroadcastArgs.Node number 0 (BroadcastArgs) failed to prepare."

Here the case: https://stackoverflow.com/questions/61715154/tflite-model-load-error-runtimeerror-encountered-unresolved-custom-op-broadca

@ebrevdo

[2020-05-10 19:14] ebrevdo commented on #280
@jdduke @raziel any suggestions?

[2020-05-11 06:30] dvdhfnr commented on #280
When converting with the flag "--allow_custom_ops" you need to implement the ops that are not supported by TFLite by yourself: see e.g. https://www.tensorflow.org/lite/guide/ops_custom

Try to convert without "--allow_custom_ops". Then, you will see a list of ops that are not supported. Unfortunately, it seems that we will have to implement those by ourselves.

[2020-05-11 07:17] maslovay commented on #280
@dvdhfnr  you are right, the problem is this ops:

[code]

[2020-05-11 17:42] mahiuchun opened #374 "Bellman optimality equation shown as LaTeX source in "Intro to RL""
https://www.tensorflow.org/agents/tutorials/0_intro_rl

[2020-05-11 17:48] kbanoop commented on #369
Sorry for the inconvenience, are you using Python 2 or 3?

[2020-05-11 17:54] mjlbach commented on #369
Python 3

[2020-05-11 18:07] sibyjackgrove commented on #369
Python 3.7. I thought TF Agents stopped support for Python 2

[2020-05-11 21:54] kbanoop commented on #369
Thanks for confirming. I added an __init__ file in the typing module, which had to be done anyway. But haven't tested if it resolves this issue yet.

[2020-05-12 14:16] dvdhfnr commented on #280
Currently, I am using the following pipeline:
[code]

Since I am actually not interested in saving the policy to a file, I tried to exchange the 2nd and 3rd line with
[code]

I noticed that this changes the order of the input tensors. Do I need to take care of other side-effects or is this method safe to use? Moreover, do I need to use the PolicySaver at all or can I just directly create a concret

[2020-05-12 18:52] DylanCope opened #376 "Error with nested spec"
I have a spec that looks like
[code]
and I'm getting an error when making a call to a `QRnnNetwork`.

[code]
The issue is happening in the `get_outer_rank` utility function: https://github.com/tensorflow/agents/blob/91ad5bed12232027be47bd38b6691324f765f919/tf_agents/utils/nest_utils.py#L400

When I inspect the `spec_shapes` I see:
[code]
`[a, b]` is y's shape and `(c, d)` is x's shape. So the erro

[2020-05-12 19:26] #376 closed, assigned to nobody

[2020-05-12 19:27] DylanCope commented on #376
The problem was not a bug, rather it was that the environment was `PyEnvironment` that had not been wrapped in a Tensorflow environment

[2020-05-13 07:07] hohl commented on #371
I just stumbled over the same issue (just with continuous values, `dtype=tf.float32`, in a custom environment):
[code]

Tensorflow Version: 2.2.0
tf_agents Version: 0.4.0
OS: Ubuntu 20.04

[2020-05-13 12:31] djl11 opened #377 "Better warnings for incorrect batch size in replay buffer"
Here is a minimal example:

[code]

This sometimes runs properly, and other times leads to:

This is hard to debug, and the batch size mismatch could be hard to spot in larger project files.
I think an error should be thrown if you try add add an incorrectly sized batch :)

[2020-05-14 13:39] dvdhfnr opened #378 "Questions about input of policy.action"
The documentation of the policies contains the following statement:

We are currently writing a new policy, and we are wonder why the input to the action method is the _complete_ timestep structure and not only the observation (+ step_type). Is there any policy that requires the discount and reward to decide for a new action, or is there another non-obvious reason?

[2020-05-14 15:28] ormandi commented on #364
Sorry, for the late response. Taking a look, but here is a preliminary question:

Are you sure that `time_step` looks good after the call `time_step = tensor_spec.zero_spec_nest(time_step_spec, outer_dims=(10,))`?

[2020-05-14 15:43] ormandi commented on #366
May I ask that why you want to do this if you don't mind? Is it for testing purpose?

What is the actual policy that you are using here (the one containing the method `_action`)?

[2020-05-14 15:55] v-sivak commented on #364
Yes time_step looks good.

[2020-05-14 15:59] ormandi commented on #371
Thank you for reporting the error, and sorry for the delayed response.

Quickly glancing the `CartPole-v0` repro, is it possible that there is a type mismatch (`int32` vs `int64`) between the `dtype` of the buffer used in the `tf_metrics.ChosenActionHistogram`, and the `dtype` of the action  spec of the env?

Could you please try to set the  `dtype` of `tf_metrics.ChosenActionHistogram` to `int64`

[2020-05-14 16:02] ormandi commented on #373
Thank you so much for your question.

I may start with https://github.com/tensorflow/agents/blob/master/docs/tutorials/2_environments_tutorial.ipynb
Please see the section "Creating your own Python Environment".

[2020-05-14 17:26] ormandi commented on #364
Thanks. How do you exactly create the `policy`? Or even better, could you please put together a runnable minimal repro showing how the components are instantiated, how some sample data is created?

[2020-05-14 17:35] ormandi commented on #364
Ah, please ignore what I wrote above, I think I was able to reproduce it with this using:

[code]

Can you please confirm if this the right repro (just to make sure that I'm on the right track)?

Btw, in your `time_step_spec` there is an extra field `'msmt': TensorSpec(shape=(1, 1), dtype=tf.float32, name=None)`. I assume that it is not critical. It doesn't seem to affect the error at all.

[2020-05-14 17:46] v-sivak commented on #364
Yes this reproduces the same error. It's true -- in the `time_step_spec` that I have provided there is this additional field `'msmt'` because I am combining the action with it and feeding this as observation into my agent. I agree that this shouldn't affect the error.

[2020-05-14 18:16] ormandi commented on #364
Thanks again for reporting this.

Yes, this seems to be an issue in `fixed_policy.FixedPolicy`. It uses `common.replicate` on nested structures, but `common.replicate` doesn't support this. Adding a small utility function to `fixed_policy.FixedPolicy` which calls `common.replicate` respecting the nested structure of the action will handles it. Working on it please bear with me.

[2020-05-14 18:33] v-sivak commented on #364
Great, thank you very much for looking into this!

[2020-05-14 18:58] RossKohler commented on #371
Hi @ormandi , yes that fixed the issue for the CartPole-v0 environment but I just realised the error I got for my own environment didn't include the conversion error. Instantiating `tf_metrics.ChosenActionHistogram(dtype=tf.int64)` didn't fix my issue, and I still get the error in my original post.

```tf_metrics.ChosenActionHistogram(dtype=tf.int32)```

[code]

Here's the complete stacktrace:

[c

[2020-05-14 23:16] mouadouad commented on #373
Thank you so much for your answer, but I already tried doing that and I get an error in time_step_spec().
Thank you again!

[2020-05-14 23:25] #364 closed, assigned to ormandi

[2020-05-17 15:12] DylanCope commented on #378
It helps to dive into the source to answer this question. If we take a look at the implementation of the action method:

https://github.com/tensorflow/agents/blob/d25419cad91b3d46d65b15d74a68dacfe68747f1/tf_agents/policies/tf_policy.py#L260

We see that there is a call to another method, `_maybe_reset_state`:

https://github.com/tensorflow/agents/blob/d25419cad91b3d46d65b15d74a68dacfe68747f1/tf_ag

[2020-05-18 09:38] dvdhfnr commented on #378
Hi DylanCope,

Thanks for your answer.

`step_type` and `policy_state` are totally understandable and fine.

I mainly refer to the data inside the `time_step` structure.
a) The `observation` and `step_type` are needed. That is fine.
b) But why do we need the `discount` and the `reward` as input for the `action` method?

[2020-05-19 00:20] kbanoop commented on #378
Agree this is a little awkward, it was done initially so that it is easy to pass the `time_step` obtained from the environment directly to `policy.action(time_step)`

`discount` and `reward` are usually unused by the policy.

[2020-05-19 00:33] kbanoop commented on #373
Can you please elaborate on the error? And paste some code if possible?

Thanks!

[2020-05-19 06:18] dvdhfnr commented on #378
Ok, thanks a lot for your answer!

[2020-05-19 06:18] #378 closed, assigned to nobody

[2020-05-19 11:16] ayansengupta17 commented on #373
TimeStep is a named tuple of step_type, reward, discount, observation. While you create your own environment, you give some structure to your observation space and action space. Check that they are correct throughout the code.
For example:
[code]

So here observation spec is 1-D array, 1 element long, in one row containg only integers whose minimum values is 0. But later if your observation is a f

[2020-05-19 14:34] cris4414 commented on #366
Yes, it's for testing purpose.
_action is contained in py_policy

[2020-05-20 18:51] #365 closed, assigned to nobody

[2020-05-21 17:48] DylanCope opened #382 "Automatic State Reset for QPolicy"
https://github.com/tensorflow/agents/blob/91ad5bed12232027be47bd38b6691324f765f919/tf_agents/policies/q_policy.py#L95

Is there a reason that `automatic_state_reset` isn't configurable in the init for `QPolicy`?

[2020-05-21 21:45] kteavery commented on #359
Any updates on this thread?

[2020-05-21 21:47] HadiSDev commented on #359
I think I am going to close this since my project is finished and don't need a fix anymore.

[2020-05-21 21:47] #359 closed, assigned to tfboyd

[2020-05-22 15:24] JCMiles opened #383 "Info about non scalar rewards implementation"
I will try to simplify my question with a general example maybe usefull also for other users:

Lets's say we have an agent monitoring 3 different rooms.
In every room we can have 1 or more sensors (e.g tempearature ...)
Assume just one to make this example easy.

so my observation is something like this

	observation = {
		sensor1: [....],
		sensor2: [....],
        	...
		sensorN: [....]
		}

The

[2020-05-22 21:30] Kaushal1011 commented on #359
I am working on a similar project where i have a custom environment and I am using a DQNAgent. I get the same error with tensorflow-cpu but tensorflow-gpu seems to work fine. Any Updates?

[2020-05-25 16:14] vlaskinvlad commented on #363
I got the same error while implementing pure TF-env without python wrappers.

[2020-05-25 20:21] sguada commented on #363
Could you verify that the specs of the environment use TensorSpecs?

[2020-05-25 20:23] sguada commented on #383
So allowing non-scalar rewards is only part of the puzzle, SAC as most RL algorithms are designed for only scalar rewards. So you still need to convert to a single scalar at some point or use use a multi-agent algorithm.

[2020-05-26 17:54] sguada commented on #369
Is still this an issue? closing for now, re-open if needed.

[2020-05-26 17:54] #369 closed, assigned to nobody

[2020-05-27 16:30] #342 closed, assigned to nobody

[2020-05-27 17:59] bazylip opened #384 "Invalid arguments while using QNetwork"
I am implementing Wumpus World in Tensorflow using DQN with discrete action space and encounter following error while trying to collect data using greedy policy
`tensorflow.python.framework.errors_impl.InvalidArgumentError: 'then' and 'else' must have the same size.  but received: [1,1] vs. [1] [Op:Select]`
raised by this line in EpsilonGreedyPolicy
`action = tf.compat.v1.where(cond, greedy_action

[2020-05-27 18:05] RossKohler opened #385 "metric_utils.eager_compute doesn't write metrics to summary writer"
When attempting to apply aspects of this example https://github.com/tensorflow/agents/blob/master/tf_agents/agents/dqn/examples/v2/train_eval.py to my own implementation I'm struggling to metric_utils.eager_compute to behave as expected. Specifically the 'eval' directory for the event logs consists of only an empty events file.

Running the example using the below command behaves as expected (the

[2020-05-27 18:55] sguada commented on #385
You also need to enable the writting of the summaries.

[code]

[2020-05-27 20:30] RossKohler commented on #385
@sguada I modified to include that change but I'm seeing the same result i.e.
[code]
The events file is empty and only contains:

[code]
Any other suggestions?

[2020-05-27 21:08] sguada commented on #385
Can you just remove the loop since it is just overwriting the same results over and over. Also force the flushing of the summaries (since it may take 10 secs to flush)

[code]
If this fails can you capture what print(results) does? and copy below?

[2020-05-27 21:13] RossKohler commented on #385
@sguada loop removed and forced the flushing of the writer:

[code]
Events file is still empty:
[code]

The print of results shows as follows:
`OrderedDict([('AverageReturn', <tf.Tensor: shape=(), dtype=float32, numpy=17.0>)])`

[2020-05-27 22:38] sguada commented on #385
Ok I think I figured it out, it turns out that there is a small bug in [eager_compute](https://github.com/tensorflow/agents/blob/c854d063cb2a5bd275150d46851c99d2a8d4b6c6/tf_agents/eval/metric_utils.py#L169) when train_step is 0 which skips writing the summaries. If you increase `global_step.assing_add(1)` it should work.

I will send a fix for this shortly.

[2020-05-27 22:55] sguada commented on #385
Re-open if still doesn't work

[2020-05-27 22:55] #385 closed, assigned to nobody

[2020-05-28 15:18] ormandi commented on #366
Thank you for your response, and sorry for the delay on this.

If you need the environment to be deterministic, then you're probably better off using a dedicated test environment e.g. [`CountingEnv`](https://github.com/tensorflow/agents/blob/a39f922d5546ffe9cb23a93a3c8c8afa85d9c253/tf_agents/environments/test_envs.py#L33). On the other hand, if you need the the policy to be fixed, you probably wan

[2020-05-28 18:04] ayansengupta17 opened #387 "Deploying RL agents without the training environment"
I want to deploy a trained RL agent in a practical field for testing. Usually with saved policy, we need to provide Time_step to get the next action. It is actually just a named tuple TimeStep(step_type, reward, discount, observation).

So when I don't have an environment, but in the real field, I will only have the observation space. How can I use it with the saved policy? Do I need to manually c

[2020-05-28 19:08] RunningDongxu commented on #363
I got the same error while using the tensorflow2.2 on a ubuntu system, but no problem if using the TensorFlow 1.14

[2020-05-29 07:56] DmitryBe opened #388 "tf_py_environment.TFPyEnvironment `ValueError: cannot select an axis to squeeze out which has size not equal to one`"
Hi all,
I'm getting a `ValueError: cannot select an axis to squeeze out which has a size not equal to one`
for a custom environment if an _action_spec has more than just one dimension.

Packages
[code]

Environment
[code]

Example
[code]

[2020-05-29 08:44] #388 closed, assigned to nobody

[2020-05-29 13:37] cris4414 commented on #366
Thank you.
I will have a look into these

[2020-05-29 14:28] vlaskinvlad opened #389 "Module 'typing' has no attribute '_ForwardRef'"
## Description

Latest nightly version of `tf-agents` seems to have some incompatibility with `tf-nightly` starting  some version I encountered this error during routine `pip install --upgrade`, describing it here, in case it's helpful.

## Steps to reproduce

[code]

Trace:
[code]

## How to fix:

`pip install tf-agents-nightly==0.5.0.dev20200506` (instead of `0.5.0.dev20200528` version above)

[2020-05-30 16:51] FMalerba opened #390 "Driver and boundary trajectories bug"
The current implementation of the drivers feeds to the observers the trajectories even when they are boundaries (i.e. first step is the last step of the previous episode, and next step is the first step of the new episode). These trajectories are almost always meaningless I believe and the issue in particular is that amongst the observers there's the replay buffer, meaning that it will get filled

[2020-06-01 21:09] #389 closed, assigned to nobody

[2020-06-03 00:02] ormandi commented on #366
Thank you. Please feel free to reopen this if anything related comes up.

[2020-06-03 00:02] #366 closed, assigned to nobody

[2020-06-03 08:28] cris4414 commented on #366
I ve looked into what you sent to me. I see that FixedPolicy requires me to give to it a tensor with actions, as well as action_spec and observation_spec. This is not what I want.

I want to have reproducible results in my experiments, which means that, for multiple runs I want the policy to randomly choose points, but for the same points to pick the same actions for all the runs.

[2020-06-04 15:20] #383 closed, assigned to nobody

[2020-06-04 15:44] JCMiles opened #394 "Policy Saver error"
Hi I  just updated to

tf-nightly 2.3.0
tf-agents-nightly 0.6.0
tfp-nightly 11.0

        actor = ActorDistributionRnnNetwork(
        continuous_projection_net=tanh_normal_projection_network. TanhNormalProjectionNetwork)

        agent = SacAgent(.... actor_network=actor)

but when I try to build the Policy Saver as follows:

        saver = policy_saver.PolicySaver(
            policy=agent.poli

[2020-06-05 20:06] leroidauphin commented on #377
This looks like a really interesting problem, so I attempted to reproduce it to see if it could be fixed. I can reproduce this in tf-agents 0.5.0, exactly as you describe, but I cannot reproduce this in the nightly build.
Are you still seeing this SIGSEGV when using the nightly build?

[2020-06-06 17:30] TylerHomer opened #396 "Training custom network throws error"
I followed the recipes in the networks tutorial to create custom DDPG actor and critic networks, but upon reaching `agent.train(experience)`, the critic network throws `ValueError: Q-network should output a tensor of shape (batch,) but shape [64, 1] was returned.`

Full minimal example with trace [here](https://github.com/TylerHomer/tfagents-ddpg-test/blob/master/tf-agents-ddpg-example-custom-netw

[2020-06-06 19:39] RossKohler commented on #371
I've managed to recreate the error using the example environment found here https://github.com/tensorflow/agents/blob/master/tf_agents/environments/examples/tic_tac_toe_environment.py

Instantiating this environment and running in a dynamic step driver using the following code:

[code]
Produces the following error for me:

[code]
tf-agents==0.5.0
tensorflow==2.2.0

Could someone please advise on h

[2020-06-06 22:00] RossKohler commented on #371
Nevermind, I think I figured it out. The issue was I mistakenly set my environment's action_spec to (1,) instead of () i.e. a 1-D vector instead of a scalar. Correcting the action_spec resolved the issue.

[2020-06-06 22:00] #371 closed, assigned to nobody

[2020-06-08 03:32] wes-turner opened #397 "observation_and_action_constraint_splitter doesn't support packed observations in a TFEnvironment per its docstring"
Documentation for `observation_and_action_constraint_splitter` is replicated throughout the `tf-agents` codebase ([RandomTFPolicy](https://www.tensorflow.org/agents/api_docs/python/tf_agents/policies/random_tf_policy/RandomTFPolicy?hl=he) for example) saying:

I think this makes sense for Python environments, but it doesn't work with TF environments (like those necessarily used in a `RandomTFPolic

[2020-06-09 03:25] pierceChinaGfw commented on #309
Yes, I also found the same bug.

My testing code is here:
[code]
The error log is here:
[code]

[2020-06-09 03:26] pierceChinaGfw commented on #309
The following test codes without batchSize works fine
[code]

[2020-06-09 21:09] leroidauphin commented on #396
This looks like a really interesting problem, so I attempted to reproduce it to see if it could be fixed. I can't reproduce this in the latest release (0.5.0) with the same error message, but it is still not possible to train the agent. Comparing this custom critic network to the example critic networks in TF-Agents, it appears that the `value` tensor must indeed have shape `[batch_size,]`.

The e